[2021-04-09 08:03] elbotho commented on #950
Currently this is not possible across browsers because of an Issue with Rocket.Chat and new chrome security settings around third party cookies: https://github.com/RocketChat/Rocket.Chat/issues/15616
Weirdly the issue only occurs for users that are not logged in in Rocket.Chat already.

Since it would probably affect most of the users I don't think a test would be very useful.

[2021-04-09 09:27] kathongi commented on #950
Damn.. What are the next steps now? Do we have to wait for a rocket chat update? Are there any other options for users that are not logged in we could try?

[2021-04-09 09:51] elbotho commented on #950
Yes, we have to wait or do a lot more work than I think is feasible at this point (fix the bug ourselves / do some fancy auto-logging in magic?).

[2021-04-09 13:00] kathongi opened #956 "show edit button for unrevised content"
In "Begleitung" we decided to show an edit button for unrevised content in the reviewer view. The edit button should be visible for all logged in users just like the regular edit button is shown for other (revised) entities. The feature helps reviewers and authors to navigate more easily because it isn't self explanatory that the top left arrow "<" leads to the editing history where you can edit t

[2021-04-09 13:07] kulla commented on #950
How about adding the link to the navigation which opens the url https://community.serlo.org/channel/mathe directly instead of having a page with an iframe? For a mvp this would be already an easy solution and we can fire a simple analytics event whenever the link is opened to get feedback

[2021-04-09 13:11] kathongi commented on #950
@elbotho suggested the same. I will discuss it with Corinna and Anne but for a MVP I think it's ok.

[2021-04-09 14:08] elbotho opened #957 "Spoiler content breaks layout"
Opening first spoiler ("Welches Dateiformat ist das Richtige?") on https://de.serlo.org/90412 breaks layout.

[2021-04-12 09:13] elbotho commented on #958
Is this a frontend or edtr issue?

[2021-04-12 09:27] inyono commented on #958
Since Frontend does its own rendering, this will definitely also be an Frontend issue. IIRC correctly, Edtr.io has the spoiler title as a string (instead of rich text), so this is an Edtr.io feature request, too.

[2021-04-13 12:00] ghost opened #960 "Add noindex meta-tag for trashed content"
Avoid google & co indexing deleted content in the trash bin by adding a noindex meta-tag.

[2021-04-13 12:16] Entkenntnis opened #961 "Check-back zindex values"
tailwind is using z-index values in the range of 0 - 50, so maybe we could adapt our zIndices too into this range.

just changes nprogress to z-50 in the new branch, if it's not working well, revert to previous value of 1031

[2021-04-14 15:27] kathongi commented on #950
We talked about the MVP today. Just a link to the chat channel in the navigation is fine for the first test. Am I right that I can change the navigation in de.serlo.org/backend or is there anything else we need to change?

[2021-04-14 16:47] elbotho commented on #950
Yes I think that should work!
Thanks for the compromise, if the test is successful we can think about a deeper integration again and hopefully the bug is fixed by then or we have a better understanding of it :)

[2021-04-15 10:07] #952 closed, assigned to nobody

[2021-04-15 14:54] #960 closed, assigned to nobody

[2021-04-16 09:48] kathongi commented on #950
I close the issue now and open or reopen it for a deeper integration when the first tests are positive (and the bugs are hopefully fixed)

[2021-04-16 09:49] #950 closed, assigned to elbotho

[2021-04-16 12:44] kulla opened #967 "Error on /user/notifications: Object as react children"
After I logged in as `kathongi` I get the following error on http://localhost:3000/user/notifications for the current staging branch:

![2021-04-16-144341_958x964_scrot](https://user-images.githubusercontent.com/1327215/115025877-282fd700-9ec2-11eb-8c9c-1682c059ceea.png)

[2021-04-16 16:30] #967 closed, assigned to kulla

[2021-04-16 16:36] Entkenntnis opened #970 "Font size problem on mobile"
e.g. https://de.serlo.org/173573. Different zooming levels of text:

![grafik](https://user-images.githubusercontent.com/13507950/115056022-9a181880-9ee2-11eb-8657-cfe682c1fde6.png)

[2021-04-19 11:35] Entkenntnis opened #974 "Load authorization on server and update on client"
Authorization will be loaded on the server with default value for guests. This value will be available through a context and can be used with `useCanDo`.

If the client is logged in, the client reloads the authorization and will update the context - then all components will rerender and use the new value.

This way, we can keep ssr and client-hydration in sync and have a relatively lightwight `use

[2021-04-19 11:38] Entkenntnis commented on #974
Afterwards: Use new hook in components.

[2021-04-19 11:39] Entkenntnis opened #975 "Use authorization for threads"
After #974 (and possibly the new api update) we can add this to threads.

[2021-04-19 11:45] Entkenntnis opened #976 "Implement new landing page"
Design is done, but there are some small follow-ups pending.

[2021-04-19 14:55] Entkenntnis opened #978 "Add server-side authorization loading for all pages"
Currently, pages like user profile or revisions are not supported for authorization yet. Extend fetcher - should be quite straight forward.

- [x] Revision page
- [x] User Profile (because of comments)
- [x] ... (check other pages)

[2021-04-19 15:04] Entkenntnis commented on #978
There will be a warning if SSR is failing - otherwise the client will load authorization

[2021-04-19 15:04] #978 closed, assigned to nobody

[2021-04-19 15:07] Entkenntnis opened #979 "Refactor comments with tailwind"
Fits together with #975.

[2021-04-19 16:00] #974 closed, assigned to Entkenntnis

[2021-04-20 09:04] Entkenntnis commented on #958
It's probably good to put this into https://trello.com/b/M2QlFMxN/serlo-softwarew%C3%BCnsche

[2021-04-20 09:04] #958 closed

[2021-04-20 09:07] Entkenntnis commented on #939
Solution strategy is also not highlighted by edtr-io renderer (and I'm not aware of any design drafts for it)

Maybe another candidate for https://trello.com/b/M2QlFMxN/serlo-softwarew%C3%BCnsche and ask the community about there opinion.
@kathongi @yolo-bird

[2021-04-20 09:07] #939 closed, assigned to nobody

[2021-04-20 09:10] Entkenntnis commented on #956
This feature wouldn't be to hard to add, maybe someone can add to to "Geplant" in https://trello.com/b/M2QlFMxN/serlo-softwarew%C3%BCnsche.

@kathongi @yolo-bird

[2021-04-20 09:32] kathongi commented on #956
finished: https://trello.com/c/mpAMB6Eo/20-editieren-aus-der-reviewansicht-f%C3%BCr-noch-nicht-freigegebene-inhalte

[2021-04-20 09:47] kathongi commented on #939
Why has the issue been closed? We often see that authors use the wrong field to fill in their solution, by mistake. Reviewers (and authors) can't see those mistakes because the strategy isn't highlighted. It's important for our quality management to be able to distinguish between these fields - not only in the editor.

[2021-04-20 09:49] kathongi commented on #958
@yolo-bird what do you think? It's rather a small bug fix than an interesting feature for authors.

[2021-04-20 10:24] Entkenntnis commented on #947
Added the syntaxhighlighter into the frontend: https://frontend-git-add-syntax-highlighting-serlo.vercel.app/59135

@Knorrke @elbotho Do you have feedback? I have mixed up both designs.

[2021-04-20 10:29] Entkenntnis commented on #939
@kathongi At the moment nobody is working on this issue (and it's not a bug) - so I have closed it. But you can add it to the trello board, so we can keep track of it, otherwise it will just linger here. If we start working on it, we can reopen this issue.

[2021-04-21 06:25] #975 closed, assigned to nobody

[2021-04-21 06:25] #979 closed, assigned to Entkenntnis

[2021-04-21 06:25] #947 closed, assigned to nobody

[2021-04-21 13:36] elbotho commented on #947
Did not find many test cases.
But this one looks good 👍 thank you.

[2021-04-22 09:10] Entkenntnis commented on #939
As this issue is somewhat annoying, I have added a (rather simple) quickfix. This is only for the frontend and reusing existing elements, in this case the important plugin, will be live soon.

Note: Not visible in edtr-io and therefore in the legacy system or while reviewing, so limiting the usability of the quickfix. Adding it to the edtr-io is out of the scope of this repo, in this case the issu

[2021-04-22 09:32] kathongi commented on #939
Sounds great @Entkenntnis!

[2021-04-23 10:25] Knorrke commented on #947
@Entkenntnis Thank you! Looks great :-)

For reference here is another test case with java: https://frontend-git-add-syntax-highlighting-serlo.vercel.app/70106 (Solutions to exercises c, e, h, and i)

[2021-04-26 08:58] elbotho commented on #970
can't reproduce. can someone reproduce and add browser/device info?

[2021-04-26 09:14] elbotho commented on #948
Id of injection is [54318](https://de.serlo.org/mathe/54318/54318).
Direct access works flawlessly. Error persists for some weeks now and might not be solved by https://github.com/serlo/api.serlo.org/pull/314. But probably worth the wait to test again after deployment.
(ping @kulla)

[2021-04-26 10:58] kulla commented on #948
It's an error in the source code. The exercise was injected with `>[Aufgabe](/54318 )` (with space in the end of the id) so that https://de.serlo.org/_next/data/BENofr8WfRd9yTMQCVWjV/de/54318%20.json instead of https://de.serlo.org/_next/data/BENofr8WfRd9yTMQCVWjV/de/54318.json (note difference of `%20` in the end) was requested. Source is fixed. @elbotho @Entkenntnis It might be good to trim the

[2021-04-26 10:58] #948 closed, assigned to elbotho

[2021-04-26 11:58] elbotho commented on #948
Thank you!

[2021-04-26 12:10] Entkenntnis opened #988 "Trim path in injections"
It's an error in the source code. The exercise was injected with `>[Aufgabe](/54318 )` (with space in the end of the id) so that https://de.serlo.org/_next/data/BENofr8WfRd9yTMQCVWjV/de/54318%20.json instead of https://de.serlo.org/_next/data/BENofr8WfRd9yTMQCVWjV/de/54318.json (note difference of `%20` in the end) was requested. Source is fixed. @elbotho @Entkenntnis It might be good to trim the

[2021-04-26 13:47] elbotho opened #989 "Content does not load"
https://de.serlo.org/mathe/28296/umrechnen-von-dezimalzahlen-in-br%C3%BCche
works in legacy.

[2021-05-06 07:35] Entkenntnis commented on #472
All permissions are available now.

[2021-05-10 08:18] elbotho opened #998 "Remove query parameters from canonical urls"
`head-tags.tsx` L 19

[2021-05-10 09:03] kulla opened #999 "New API currentUserHasSubscribed()"
In staging the new API is deployed:

[code]

This might be used to shorten some requests in the frontend. See also
![2021-05-10-101102_896x572_scrot](https://user-images.githubusercontent.com/1327215/117634614-60ec6480-b17f-11eb-80b2-b3b3d4dbbb07.png)

[2021-05-10 09:06] kulla commented on #998
ping @yolo-bird so that you get updates about this issues (this is for removing query parameters like `contentOnly` in indexed search results)

[2021-05-10 09:20] #998 closed, assigned to nobody

[2021-05-10 10:57] elbotho commented on #999
Thank you @kulla

[2021-05-10 12:59] kulla commented on #1001
@elbotho @Entkenntnis This is already implemented, right? If so, please close this issue :smile:

[2021-05-10 13:12] kulla commented on #1002
@Entkenntnis @elbotho Is this still an issue in the new frontend?

[2021-05-10 13:27] kulla commented on #1003
@elbotho @Entkenntnis In the new design we only have katex, right? Please close this issue, when it is not relevant any more

[2021-05-10 14:13] elbotho commented on #1003
✅

[2021-05-10 14:13] #1003 closed

[2021-05-10 14:16] elbotho commented on #1002
We are not using iframes for injections any more.

[2021-05-10 14:16] #1002 closed

[2021-05-10 14:24] elbotho commented on #1001
We have icons in place. Not sure how easy it is to create a shortcut.
But I'd group this with considerations to turn Serlo into a PWA (technically not many steps left, but probably some ux work) which is not a priority atm.

(ps: Serlo Sustainability already has a PWA prototype https://plantbuddies.serlo.org/ :)

[2021-05-10 14:24] #1001 closed

[2021-05-10 16:17] Entkenntnis opened #1004 "Respect displaystyle in inline-math"
While converting latex, don't remove displaystyle if it has been added by the user.

Example Use Case: G_f_t in https://frontend.serlo.org/mathe/2589/2589

Notes: check compatibility with \sf, probably make sanitize-latex context-sensitive.

[2021-05-10 16:42] Entkenntnis opened #1006 "latex sanitize: Handle \sf for aligned environment"
This environment is missing from envTag handling.

[2021-05-10 23:47] elbotho commented on #853
[Update](https://github.com/vercel/next.js/discussions/11552#discussioncomment-646963):

[2021-05-11 10:47] #999 closed, assigned to nobody

[2021-05-11 10:59] Entkenntnis opened #1008 "Refactor frontend ISR behavior"
next.js will allow purging SSG-sites programmatically in the future (https://github.com/serlo/frontend/issues/853#issuecomment-837510333). Depending on the concrete implementation, we can explore some further caching strategies.

[2021-05-11 11:15] #472 closed, assigned to Entkenntnis

[2021-05-12 09:37] Entkenntnis commented on #851
List of (imho minor) problems:

- If I log in from a tab, other tabs will sync after reload or navigation, same for logout. I haven't encounter strange states.
- Mutations (e.g. create comment) will fail, but show a message that you need to login

Nothing dramatic. I am not really sure how to fix these cases without actively polling the cookie: For the user, the mutation will fail anyway, the diff

[2021-05-12 09:43] Entkenntnis opened #1013 "Manual reload necessary after updating profile"
If you edit your publish profile (/user/settings) and save, the new frontend needs a manual refresh to show the latest change.

[2021-05-12 11:48] elbotho commented on #851
Currently If I log in in one tab, the other tab just hides the user menu completely.
Reload fixes it, but navigation not. Logout actually works better.
![image](https://user-images.githubusercontent.com/1258870/117970050-7e106700-b328-11eb-9239-abf5f24b763c.png)
Maybe we could solve that particular issue instead, but atm. it's … strange :)

[2021-05-12 12:32] inyono commented on #851
Can look into that after the db layer bug hunting.

[2021-05-12 12:34] inyono commented on #1013
This is currently necessary because of https://github.com/serlo/serlo.org/issues/629. Basically: API rejects the cache update from legacy's listener because the value doesn't include roles yet.

[2021-05-12 15:05] elbotho opened #1015 "Permissions: Trashing content"
Could not find option to trash content in the roles `sysadmin``de_architect` or `de_admin`.

[2021-05-12 15:24] elbotho opened #1016 "Show Comments without login in staging"
Currently comments are hidden for non authed users.

[2021-05-12 15:41] inyono commented on #1013
Should be fixed now (staging & prod).

[2021-05-12 16:13] elbotho commented on #1013
Thank you for the fix.
The redirect is still to fast so the frontend displays the old value at first.
We have this issue in other places as well and "fix" it by e.g. adding a hash to the redirect so we can do a reload.
Long term a mutation will actually fix this :)

[2021-05-12 20:02] Entkenntnis commented on #1015
should be fixed with c11537d88559421f25a6848d2f3c54c314d6943e

[2021-05-12 20:02] #1015 closed, assigned to Entkenntnis

[2021-05-12 20:08] Entkenntnis commented on #1016
Any ideas why this is happening on staging? Can't reproduce in production and locally ---

Note: Ok, it looks like the guard is blocking the comment form: renderContent is within a guard. Is this intended this way?

[2021-05-12 21:41] elbotho commented on #1015
Thank you!

[2021-05-12 21:55] elbotho commented on #1016
See https://github.com/serlo/frontend/commit/697f9ba545a8fd492d6b4d38a72df53257ecaa34#r50743066

[2021-05-13 07:24] Entkenntnis commented on #1016
Fixed with 2a1d071f6cca18e2b9123f5bb5b3fb12e2fab4c6 - alright, I have probably forgot to delete something after a test ^^

[2021-05-13 07:24] #1016 closed, assigned to nobody

[2021-05-13 08:37] elbotho commented on #1016
Seems to be working again, thanks!

[2021-05-13 08:41] elbotho commented on #989
Also works in staging, so probably broken cache entry here.

[2021-05-13 20:09] Entkenntnis opened #1020 "User menu is hidden if logged in from another tab"
Currently If I log in in one tab, the other tab just hides the user menu completely.
Reload fixes it, but navigation not. Logout actually works better.
![image](https://user-images.githubusercontent.com/1258870/117970050-7e106700-b328-11eb-9239-abf5f24b763c.png)
Maybe we could solve that particular issue instead, but atm. it's … strange :)

_Originally posted by @elbotho in https://github.com/serl

[2021-05-13 20:11] Entkenntnis commented on #851
@elbotho Can confirm, this is happening in production - really strange. I have opened a separate issue for this and will close this general discussion.

(Feel free to open new issues for specific UX bugs)

[2021-05-13 20:11] #851 closed, assigned to inyono

[2021-05-13 20:23] Entkenntnis opened #1022 "Id 0 in revision url"
That's an independent frontend issue. Not sure where you get the `0` from but this only happens on frontend.serlo.org (which isn't handled via CF Worker redirects).

_Originally posted by @inyono in https://github.com/serlo/frontend/issues/1010#issuecomment-838714935_

[2021-05-13 20:43] elbotho commented on #1022
Not sure this is really an issue since it works fine with CF in place.

[2021-05-13 20:43] Entkenntnis commented on #954
~This is now live.~

Ups - it's available in the API, but is not yet implemented in the database layer. -> still pending

[2021-05-13 20:44] Entkenntnis commented on #953
~This is now live.~

Ups - it's available in the API, but is not yet implemented in the database layer. -> still pending

[2021-05-13 20:52] Entkenntnis commented on #1022
Have you contructed the url https://frontend-git-fix-license-error-serlo.vercel.app/entity/repository/compare/0/3936 manually? In this case, I do agree, this isn't really an issue.

[2021-05-13 20:54] Entkenntnis commented on #989
I have resaved the page and the issue is resolved.

[2021-05-13 20:54] #989 closed, assigned to nobody

[2021-05-13 20:59] elbotho commented on #1022
No, it's a fallback.
It originates [here](https://github.com/serlo/frontend/blob/6bf7fb78f00b2e50802d49c5288a15e2b900c30d/src/fetcher/request-page.ts#L46) and it is only visible when you enter a revision id directly and CF worker is not active (e.g. https://frontend.serlo.org/162707).
Also the 0 or any other number is not used.

Basically a hack for dev.

[2021-05-13 21:13] Entkenntnis commented on #1022
Alright - in this case we can use the alias to handle it less hacky, see linked PR

[2021-05-13 21:37] Entkenntnis opened #1027 "Test Subscription View and enable in CF"
If the new subscription view is stable enough we can enable it in cf. Can we do this without breaking existing behaviour?

~Related: https://github.com/serlo/api.serlo.org/issues/360~

[2021-05-13 21:43] Entkenntnis opened #1028 "Problems with new revisions (history & compare view)"
Newly created revisions are not found? (imho should work, but better test it again.)

[2021-05-14 07:09] Entkenntnis commented on #1013
Maybe this is related to ISR caching behaviour - anyway, adding a hash would be a solution for the meantime.

[2021-05-14 07:51] #1022 closed, assigned to nobody

[2021-05-14 07:51] elbotho commented on #1022
Nice, obviously way nicer now that we have the alias available. Thanks!

[2021-05-14 07:56] #988 closed, assigned to nobody

[2021-05-14 07:57] elbotho commented on #851
There is also a bug, where I'm logged in but the frontend does not show it.
Not sure how to reproduce it yet.

[2021-05-14 08:05] elbotho commented on #1028
Steps: I edit an article (e.g. 1565) and save a new revision (not accepted).
I see it in the legacy overview no problem.

Bug 1:
In the frontend overview it's way at the bottom (should be on the top). This is an [API bug](https://github.com/serlo/api.serlo.org/issues/369), since the IDs should come ordered.

Bug 2:
The Preview of the revision can't be opened in the frontend. With the new redirect

[2021-05-14 08:11] elbotho commented on #1028
The difference between an old revision and the newly created seems to be the form the alias takes:
- new: `/mathe/210014/sinus-kosinus-und-tangens-neu`
- old: `/entity/repository/compare/1565/121199`

([api issue](https://github.com/serlo/api.serlo.org/issues/370))

[2021-05-14 08:33] #1004 closed, assigned to nobody

[2021-05-14 08:33] #1006 closed, assigned to nobody

[2021-05-14 09:09] elbotho commented on #1027
Apart from the `sendEmail` functions everything should work.
Currently [showing](https://github.com/serlo/api.serlo.org/issues/231)/[editing](https://github.com/serlo/api.serlo.org/issues/360) this setting is not supported by the API.

[2021-05-14 09:58] Entkenntnis opened #1032 ""Unexpected error" message on notification page"
Just let the page open for a bit. On staging, I get "unexpected error" with "m.data.map is not a function" in the console. (data is probably null)

[2021-05-14 10:05] Entkenntnis opened #1033 "Missing notification updates"
Listener are missing, which leads to following behaviour:

1. Login in window 1
2. Use window 2 and login with another account
3. Make change in window 2 for content that the user in window 1 has subscripted
4. Problem: Even after reload, window 1 will not show notification

But if you open legacy in window 1, e.g. while editing, the notification is shown. Afterwards, the notification is visible i

[2021-05-14 10:24] elbotho commented on #1032
Can reproduce (sometimes).
Page not def. has a life of it's own 🦝. After the mutation to set the notifications to read it updates and then sets a new set to read after some time and so on. Why the data comes up empty? No clue.

[2021-05-14 10:52] #894 closed, assigned to nobody

[2021-05-14 10:59] Entkenntnis opened #1034 "Thread form looks misaligned"
The start new thread form looks a bit of (padding-top too much?):

![grafik](https://user-images.githubusercontent.com/13507950/118261595-0e2ee780-b4b4-11eb-84dd-00591fff7451.png)

(I have doubled checked - it's not a regression of the tailwind refactoring)

@elbotho Is this intended? Otherwise, I would like to move the textarea a bit into the middle of the field.

[2021-05-14 11:00] #930 closed, assigned to nobody

[2021-05-14 11:01] Entkenntnis commented on #970
@kathongi Is this still happening for you? It's maybe a one-time glitch.

[2021-05-14 11:01] Entkenntnis commented on #961
looks fine for now.

[2021-05-14 11:01] #961 closed, assigned to nobody

[2021-05-14 11:07] elbotho commented on #1034
Oh dear, was not logged in in Firefox for a while.
If you work on this please use chromium as reference for how it is intended to look.
It's not perfect either, but pretty good. The idea is that the button is centered for the slim version and on the bottom right when the textarea size increases.

[2021-05-14 11:12] Entkenntnis commented on #1034
OK, it looks better in chromium:

![grafik](https://user-images.githubusercontent.com/13507950/118263028-04a67f00-b4b6-11eb-8df6-36c40e61d80f.png)

Will investigate what firefox is mising here.

[2021-05-14 11:24] Entkenntnis commented on #1034
"Web-Dev is a minefield" :)

It looks like a known issue and is a problem of unclear specs, etcs ...: https://github.com/Andarist/react-textarea-autosize/issues/316

Will investigate how this can be worked around.

[2021-05-14 11:30] kulla commented on #954
Yep: https://github.com/serlo/serlo.org-database-layer/issues/84 is the remaining blocker

[2021-05-18 10:59] jakobwes opened #1037 ""Terms of service" and "Privacy policy" in en.serlo.org rerout to German version and not English one"

[2021-05-18 11:40] inyono commented on #1037
For some reason, the footer has the DE links in the new frontend. Not sure why.

[2021-05-18 11:49] #1037 closed, assigned to nobody

[2021-05-18 11:49] elbotho commented on #1037
@jakobwes thanks for reporting, will be fixed with the next deploy.

[2021-05-18 13:44] kathongi commented on #970
I opened the page above just now and it looked perfectly fine. Font sizes seemed normal. Maybe some bugs just need some time to die naturally :D

[2021-05-18 14:57] elbotho commented on #970
That's the kind of evolution we like ;)

[2021-05-18 14:57] #970 closed, assigned to nobody

[2021-05-19 12:45] elbotho commented on #1033
deploy of fix is on the way.

[2021-05-19 14:13] #1034 closed, assigned to elbotho

[2021-05-19 17:27] #1032 closed, assigned to nobody

[2021-05-21 09:11] Entkenntnis opened #1041 "Articles are missing in new frontend"
https://de.serlo.org/chemie/205950/grundlagen

These four articles are not visible in the new frontend:

![grafik](https://user-images.githubusercontent.com/13507950/119113345-4d65b700-ba25-11eb-8902-31a81dbbf129.png)

[2021-05-21 09:15] Entkenntnis commented on #1041
Reason: It's a topic folder.

[2021-05-21 09:16] Entkenntnis commented on #1041
The articles are available through the API

[2021-05-21 09:22] Entkenntnis commented on #1041
Should be fine...

[2021-05-21 09:22] #1041 closed, assigned to nobody

[2021-05-25 08:36] elbotho commented on #1028
Both seem to be fixed! 🎉

[2021-05-25 08:36] #1028 closed, assigned to nobody

[2021-05-25 09:07] elbotho commented on #1033
Mostly fixed ;)

(there seems to be a problem that threads are not registered, in legacy and sometimes notifications are delayed. but good enough for now imho.)

[2021-05-25 09:07] #1033 closed, assigned to nobody

[2021-05-25 12:46] elbotho opened #1044 "Authorization: Login can't create new content"
In Taxonomy users should be able to create a new content (like an article).
Not sure if we have to solve this here or in the API.

[2021-05-25 12:58] Entkenntnis commented on #1044
Good question - should check this.

Creating new articles should be fine (it's something login is already able to do) - and review is still handled by legacy.

[2021-05-25 13:27] elbotho commented on #1044
~I see, I can create new content in staging but not production.
That's the issue here probably.
Authorization should work the same in production and staging, yes? (@inyono)~

[2021-05-25 13:44] inyono commented on #1044
Auth is pretty much the same in prod and staging (i.e. same Hydra setup etc.). Mind that the api version in staging is newer, not sure if the Sentry integration stuff broke something unintentionally.

[2021-05-26 14:20] kulla opened #1049 "Refactor use of StyledModal"
Follow up of #1046: The component `StyledModal` is used in 3 different places and the light-box has its own StyledModal. Thus we can refactor the common behavior in one component (like the close button and the title). Also this might be a way to use tailwind here.

[2021-05-27 21:28] #1049 closed, assigned to nobody

[2021-05-28 07:05] elbotho commented on #956
@kathongi the feature you are talking about is the "Erstelle eine Bearbeitung von dieser Bearbeitung aus" in the revision overview, right?

[2021-05-28 07:32] kathongi commented on #956
Probably. Don't know what the revision overview is. Where can I find it?

[2021-05-28 07:44] elbotho commented on #956
Sorry, "Bearbeitungsverlauf": http://serlo.org/entity/repository/history/1495

[2021-05-28 07:45] elbotho opened #1053 "Authorization: useCanDo is called very often"
Currently useCanDo is called >300 times when navigating e.g. the "Sandkasten". It get's called multiple times for every exercise it seems.
Maybe not a problem because there is no new network request.

[2021-05-28 07:55] kathongi commented on #956
Ah! :D The feature has the same functionality as "Erstelle eine Bearbeitug von dieser Bearbeitung aus" but the button is on a different page visible - not only in the "Bearbeitungsverlauf", also in the unrevised version of the content.

[2021-05-28 07:56] elbotho commented on #1044
Okay, prod and staging have the same behaviour (might have been my error before).
But for role login `canDo(Uuid.create(customTypeToAuthorizationType(data.type)))` returns false for `TaxonomyTerm`s.

[2021-05-28 08:00] elbotho commented on #956
Thank you for clarifying! Should we also show it for the accepted revision (as we do in the overview)?

[2021-05-28 08:03] inyono commented on #1044
That's intended. You need a special role to create TaxonomyTerms.

[2021-05-28 08:05] kathongi commented on #956
Yes, sounds good to me. 👍

I'm not sure about it but I think Wolfgang and Kulla also discussed this feature yesterday. Do you want to add some feature details? @kulla @yolo-bird

[2021-05-28 08:07] elbotho commented on #1044
Than that is the frontend bug I think, because the question here should be: Can the user create Entities inside a TaxonomyTerm?
(currently then only users that can create TaxonomyTerms can create any entities)

[2021-05-28 08:30] inyono commented on #1044
From the point of view of permissions, the "inside a TaxonomyTerm" is not relevant. I.e. the only question is: can you create Entities.

[2021-05-28 08:48] elbotho commented on #956
Okay, feature is on the way! ([Example](https://frontend-git-edit-on-revision-preview-serlo.vercel.app/entity/repository/compare/1555/150196)). But it will take some time before actually use the frontend version of this page for authors.

[2021-05-28 09:09] Entkenntnis commented on #1053
useCanDo is cheap and is intended to be called very often.

[2021-05-28 09:13] elbotho commented on #957
@Entkenntnis could you replicate the changes I did [in staging](https://de.serlo-staging.dev/community/90412/bilder-und-grafiken) (move spoiler and the textline below out of the multimedia box) in production (I don't have the rights)?
I think this manual fix is quite okay in this case (super wide table in half width column is just not a good idea).

[2021-05-28 09:13] Entkenntnis commented on #1044
Yes, I've messed up the semantics here - #1054 contains the correct code.

[2021-05-28 09:13] #1053 closed, assigned to nobody

[2021-05-28 09:17] #1044 closed, assigned to elbotho

[2021-05-28 09:27] Entkenntnis commented on #957
Thanks for the hint - I have fixed this on production.

Agree - flexbox and super-wide content is sometimes messy :)

[2021-05-28 09:27] #957 closed, assigned to nobody

[2021-05-28 09:41] elbotho commented on #1013
Okay, added a hack in above commit that should work for now until we have a mutation.

[2021-05-28 09:41] #1013 closed, assigned to nobody

[2021-05-28 10:01] #956 closed, assigned to nobody

[2021-05-28 10:32] ghost commented on #956
@elbotho In the discussion with @kulla yesterday, it turned out that there are actually some tricky corner cases involved with this button. I'm little short on time today to get all details down in an understable way. Might we talk after the dev meeting next monday about this?

[2021-05-31 08:46] Entkenntnis opened #1059 "Render legacy latex in comments"
Example: http://de.serlo.org/mathe/2193/prozentrechnung-mittels-formeln

Convert %% - %% legacy latex comments into katex spans (for backward compatibility)

Not intended as full math feature.

[2021-05-31 08:48] Entkenntnis opened #1060 "Implement new mutations for revision checkout / rejection"
Use new API mutations for revision checkout / rejection.

[2021-05-31 13:04] #1060 closed, assigned to elbotho

[2021-05-31 13:16] kulla opened #1062 "Menu: Add user profile image instead of icon faUser"
An idea: We can add the user profile image to the top menu bar:

![2021-05-31-151313_213x163_scrot](https://user-images.githubusercontent.com/1327215/120198928-f4670180-c222-11eb-86bc-98d309fdd4ba.png)

A quick investigation showed me that some refactorings need to be done before and thus I didn't directly create a PR. However for a reminder I created this issue.

[2021-05-31 13:24] elbotho commented on #1062
(off topic: is the + and number inside the bell always offset like this for you? what's you browser?)

[2021-05-31 14:20] kulla commented on #1062
Side-Effect from hacking the site with the web inspector of firefox in order to create the image. :smile:

[2021-05-31 15:15] Entkenntnis opened #1066 "Add a link to exercise group for single view of grouped exercise"
If visiting a grouped exercise, you can't navigate back to the exercise group, example: https://frontend.serlo.org/14429

The legacy system has a back arrow to allow this - we can add something similiar in place of the breadcrumbs.

[2021-05-31 20:47] #1066 closed, assigned to Entkenntnis

[2021-06-01 11:27] #1059 closed, assigned to Entkenntnis

[2021-06-01 15:34] Entkenntnis commented on #953
As far as I can see, this is not part of any priority list, so I am closing this.

[2021-06-01 15:34] #953 closed, assigned to nobody

[2021-06-01 15:36] Entkenntnis commented on #954
This looks like a part of https://github.com/serlo/frontend/issues/935,

Beside that, it's not part of our current priority.

[2021-06-01 15:36] #954 closed, assigned to nobody

[2021-06-01 16:06] Entkenntnis opened #1071 "Restore old positions for exercise settings"
![grafik](https://user-images.githubusercontent.com/13507950/120355140-54cd7000-c303-11eb-9714-28ef516b98d4.png)

Move the settings icon to the place it used to be (beside the exercise):

![grafik](https://user-images.githubusercontent.com/13507950/120355908-08366480-c304-11eb-87f7-d417794375d1.png)

[2021-06-01 16:10] Entkenntnis commented on #1071
Old implementation is using a flex-row (11 / 1) for this.

It's hidden on mobile, which is a good idea. Reducing the width of the exercise is imho not problematic. Exercise groups intros are already using this approach.

[2021-06-01 16:38] Entkenntnis opened #1072 "Polishing some translations"
Weitere Tools -> Weitere Optionen

Hast du eine Frage? -> Hast du eine Frage oder Feedback?

Es gab ein Problem beim laden des Inhalts, bitte versuch' es später noch einmal. -> Es gab ein Problem beim Laden des Inhalts. Bitte versuche es später noch einmal.

Bearbeiten -> Überarbeiten

[2021-06-02 10:48] #1072 closed, assigned to nobody

[2021-06-02 14:22] Entkenntnis commented on #1072
Thanks

[2021-06-02 14:35] Entkenntnis commented on #1071
There are also some discussions about adding some more icons (e.g. share link, edit button)

[2021-06-02 14:53] Entkenntnis commented on #1071
See document (3 & 11): https://docs.google.com/document/d/1LFnzSobGkwof4VV7iw-Hv5LMWVmbfn6Usex0y04mwxY/edit#

[2021-06-03 16:35] Entkenntnis opened #1079 "Improve github workflows"
Some ideas:

Caching yarn: https://www.karltarvas.com/2020/12/09/github-actions-cache-yarn-install.html#:~:text=%20Caching%20dependencies%20installed%20by%20Yarn%20in%20Github,will%20still%20pass%20with%20no%20errors...%20More%20

Using artifacts, to reuse build output (useful for tailwind status checker): https://docs.github.com/en/actions/guides/storing-workflow-data-as-artifacts

(I mean, workf

[2021-06-04 10:49] elbotho opened #1080 "Gender "Benutzer" in menus"

[2021-06-04 11:12] #1080 closed, assigned to nobody

[2021-06-04 13:42] #1062 closed, assigned to elbotho

[2021-06-07 17:06] #1071 closed, assigned to elbotho

[2021-06-08 13:29] Entkenntnis opened #1090 "Log out after 2h"
If logged in in the frontend, you will get logged out after 2h.

Needs investigation.

[2021-06-08 14:39] Entkenntnis commented on #1090
The frontend sometimes show that you are logged in, but you can't see the buttons -> authorization request is silently failing.

This often happens after a certain timespan (?) or after deployments. (server? api?)

[2021-06-08 14:45] Entkenntnis opened #1095 "Diff view in wrong direction?"
Looking at https://de.serlo.org/entity/repository/compare/80774/213485, I have the feeling that the diff view is doing the comparison in the wrong direction, e.g. insert/delete are swapped.

@elbotho Can you confirm? Changing this should be straight forward.

[2021-06-08 14:46] Entkenntnis commented on #1079
not important right now ^^

[2021-06-08 14:46] #1079 closed, assigned to nobody

[2021-06-08 14:47] Entkenntnis opened #1096 "Quickwin: Community Wall"
#1085 integrating the community wall into the existing website.

[2021-06-08 14:47] Entkenntnis commented on #976
We have decided to do a step-by-step iterative approach. The current step is #1096

[2021-06-08 14:47] #976 closed, assigned to nobody

[2021-06-08 15:33] elbotho commented on #1090
Does this also happen in production?

[2021-06-08 15:38] elbotho commented on #1095
yes 😅 nice catch.
Will fix.

[2021-06-08 15:39] #1095 closed, assigned to nobody

[2021-06-08 15:47] elbotho commented on #1096
We still need content for that:
- Who should be featured (and is okay with that) – at least 10 ppl
- They than have to add their profile pics
- What roles do we want to show for them?

TODO:
- [x] Randomize positions
- [x] Maybe randomize persons too if we have a bigger pool
- [x] Limit to 7 on mobile

[2021-06-08 16:18] Entkenntnis commented on #1090
Yes, this happened twice for me on production - relogin solves the issue.

[2021-06-08 16:20] Entkenntnis commented on #1096
@kulla As far as I am informed you already have a list of people?

[2021-06-08 17:06] kulla commented on #1096
No, Theresa should have the list. I'll send you a link I got from here some weeks ago via Slack...

[2021-06-08 17:24] Entkenntnis opened #1098 "Restore float behaviour"
I will retake a look at #777 and will try to fix this.

edtr-io is getting this to work, so let's find out what magic it is using :)

[2021-06-08 17:34] kulla opened #1099 "Representation error in math formula with ratios"
See https://de.serlo.org/mathe/2543/2543 in the new design:

![2021-06-08-193245_168x94_scrot](https://user-images.githubusercontent.com/1327215/121231124-51506080-c890-11eb-815f-c83ff473bf5e.png)

LaTeX-Code seem to be right (`f(x)=\frac{1}{\sqrt[3]{e^x}}`) and it should rendered as:

![2021-06-08-193346_120x69_scrot](https://user-images.githubusercontent.com/1327215/121231237-7644d380-c890-11eb-

[2021-06-08 20:00] Entkenntnis opened #1100 "Not able to relogin as another user"
Sometimes it happens that after logout, clicking login is automatically using the last user. This makes it impossible to login as another account.

[2021-06-08 20:03] Entkenntnis commented on #1100
workaround: call https://de.serlo.org/auth/logout directly

[2021-06-09 09:16] Entkenntnis opened #1101 "Add Back-Button for courses"
After multiple request, we will readd the back button to courses:

![grafik](https://user-images.githubusercontent.com/13507950/121327742-011ae200-c914-11eb-9b42-0aaec1752bfd.png)

[2021-06-09 09:32] Entkenntnis commented on #1099
very mysterious, I can reproduce, but I have no idea yet why this is happening - needs investigation

[2021-06-09 09:56] Entkenntnis opened #1103 "Check for own profile is only working for csr"
This line is checking for own profile:

[code]

This line is not active if you are reloading the profile (bypassing csr).

Probably caused by two pass rendering and no render triggered.

[2021-06-09 09:57] Entkenntnis commented on #1100
related to #1090

[2021-06-09 09:58] Entkenntnis commented on #1027
I'm closing this for the moment because we already have enough elements in the current release.

Reopen if we have officially prioritized this element.

[2021-06-09 09:59] Entkenntnis commented on #1008
Maybe next.conf will reveil some new features :grinning: ?

[2021-06-09 13:22] elbotho opened #1104 "Links not rendering"
https://de.serlo.org/nachhaltigkeit
With frontend disabled the graphics (e.g. "Plastik") are linked, in the new frontend not.

[2021-06-09 13:26] Entkenntnis commented on #1104
Interesting - similiar linked images in https://frontend.serlo.org/mathe are rendered.

[2021-06-09 13:31] elbotho commented on #1103
After some looking:
`isOwnProfile` is set correctly (the edit profile link is still there) but the button changes style.

[2021-06-09 14:04] kulla commented on #1103
~Note: It only happens when one loads its own profile page directly (going there by clicking a link works)~

[2021-06-09 14:07] kulla commented on #1103
In the local env I get the error:

[code]

https://stackoverflow.com/a/58984362 might help...

[2021-06-09 14:44] Entkenntnis commented on #1104
Fixed with 4fde53ab4dcd5fb3d0e5a53e2d87146905737efb

[2021-06-09 14:44] #1104 closed, assigned to nobody

[2021-06-09 14:45] #1101 closed, assigned to Entkenntnis

[2021-06-09 14:47] elbotho commented on #1104
Nice, thank you!

[2021-06-09 15:02] elbotho commented on #1103
okay okay, I'll do it right ;)
#1105

[2021-06-09 15:28] #1103 closed, assigned to elbotho

[2021-06-09 20:32] Entkenntnis opened #1108 "Make fetching authorization more robust"
Currently, there is following bug:

If the token is stale, there is a auth-refresh, and notifications are refetched, but authorization is not (it actually should) - this could help with #1090.

[2021-06-09 22:45] elbotho commented on #1108
(basically #851 ?)

[2021-06-10 06:28] Entkenntnis commented on #1108
I found the reason and it's different. The automatic refresh is only working if the query is returning the error "UNAUTHORIZED" - but when the token is invalid, the authorization query simply returns an empty object instead of an error, so the frontend assume everything is fine.

possible solutions: treat an empty object as error and do a refresh? or change the api to return unauthorized? or we ad

[2021-06-10 06:37] Entkenntnis commented on #1090
Botho found a failed refresh:

/auth-refresh -> Status 500 -> Token not valid

[2021-06-10 15:33] kulla opened #1112 "User-profiles: Fix layout for long usernames"
See https://de.serlo.org/user/91335/daniel-flueck and https://de.serlo.org/user/146133/wandapaetzold in chrome:

![image](https://user-images.githubusercontent.com/1327215/121553794-e62e9780-ca11-11eb-959a-3db8f5df4e5c.png)

[2021-06-10 22:08] Entkenntnis commented on #1108
84e3dc5a713bc336811849e8297b687d7c7bc86c is an attempt so solve this: Also fetch notification count to trigger error if token is invalid (and avoid caching of bad response)

[2021-06-10 22:10] #1098 closed, assigned to Entkenntnis

[2021-06-11 07:39] elbotho opened #1114 "/user/public problem"
`/user/me` works fine.
`/user/public` works on localhost but not on staging or production.
-> Results in an cloudflare 502 gateway error

[2021-06-11 07:40] elbotho commented on #1114
Probably at least related to CF-Worker.
We do an redirect from /user/public to /user/me in the frontend.
Maybe the CF-Worker does not like that?

[2021-06-11 09:47] kulla commented on #1114
Yep, see https://github.com/serlo/serlo.org-cloudflare-worker/issues/173 Solution: We implement the redirect in the CF. Shall I do this?

[2021-06-11 10:38] elbotho commented on #1114
Sounds good 👍
We then still have a (client side) redirect from `/user/me` to the `user/profile/username` that works fine and that we want to keep for now because we use it to trigger different behaviour when the user comes back from editing their profile in the legacy ui.

[2021-06-11 12:30] kulla commented on #1114
@elbotho See https://github.com/serlo/serlo.org-cloudflare-worker/pull/209

[2021-06-13 10:09] Entkenntnis commented on #1096
I have all persons that have a suitable image -> we have a pool of 11 persons that are randomly selected for the community wall now.

[2021-06-14 10:06] Entkenntnis opened #1118 "Discussion points about tailwind"
A place to collect problems we encoutered while working with tw.

[2021-06-14 10:08] Entkenntnis commented on #1118
Question 1

Tailwind has no built-in support for `content` and pseudo-elements, but we can add support for it https://smarative.com/blog/learn-pseudo-with-tailwind-css if we want to.

Useful for decorative elements (https://stackoverflow.com/questions/11834112/semantics-empty-div-for-background-image), but is worth it? (alternative: empty div)

[2021-06-14 10:12] elbotho commented on #1118
Question

What are the upsides and downsides to using Tailwind for complex situations and edge cases?
How do we want to deal with those?
(quite complex example `landing-subjects.tsx`)

[2021-06-14 10:15] Entkenntnis commented on #1118
Question

One-off-values, e.g. for very specific width or height.

- Should we add them to the config -> better reuse and consistency
- Use the new jit feature and add them to the class name -> fancy
- Simply use inline styles

[2021-06-14 10:44] inyono commented on #1100
Isn't that what should happen when you press log out? Or what do you mean, when you talk about "after logout"?

[2021-06-14 11:05] inyono commented on #1059
Just a heads up: this feature might break with the new commenting system (and we also haven't discussed in detail how we are going to handle legacy comments).

[2021-06-14 12:18] kulla commented on #1118
Since I am quite new in tailwind I miss understanding in the framework to be able to participate in this discussion. So I am happy with any solutions you find :smile:

[2021-06-14 12:29] elbotho commented on #1118
Thanks @kulla but maybe it's a good starting point for another question:
How easy/hard is it to learn tailwind for newcomers?

[2021-06-14 14:48] Entkenntnis commented on #1059
Yes, math formulas need to be converted. This change was only intended as a "cosmetic" quickfix - there is no official support for math formulas in comments yet.

[2021-06-14 14:57] Entkenntnis commented on #1118
And we shouldn't forget that tailwind has great advantages and features I don't what to miss anymore. This issue is just to make sure we are also handling edge cases properly.

Another factor here at play: removing sc will reduce bundle size by 15+ kb gzip instantly. This is quite a lot of improvement and allows us to utilies this for more interesting features.

Using next.js built-in methods like

[2021-06-14 15:08] Entkenntnis commented on #1100
@inyono The frontend is using `/api/auth/logout` for logout and sometimes, this route is not able to logout the legacy system -> if you click login afterwards, you will get logged in as thw previous user immediately

[2021-06-14 15:36] kulla commented on #1118
Can you point to tutorials / project sites / documentation for those features?

[2021-06-14 15:37] Entkenntnis commented on #1118
Official docs are a good place to get started: https://nextjs.org/docs/basic-features/built-in-css-support

[2021-06-14 15:39] kulla commented on #1118
I only read https://adamwathan.me/css-utility-classes-and-separation-of-concerns/ and this gave me a pretty good introduction (besides the workshop of @Entkenntnis some days ago :smiley:  ). So it's a new concept but a beginner friendly one :smile:

[2021-06-14 16:06] Entkenntnis commented on #1090
/api/auth/auth-refresh is the culprit here: This route is often very slow and fails to refresh to token sometimes, which leads to a messy state in the frontend.

Quickfix for the moment: As long as refresh is not working reliably, don't attempt to refresh, but delete token and refresh window -> avoid invalid states in the frontend and let user relogin.

https://github.com/serlo/frontend/blob/d82e6

[2021-06-14 16:09] Entkenntnis commented on #1100
Also a quickfix here: Call `/auth/logout` manually (as long as new auth system is not working reliably):

https://github.com/serlo/frontend/blob/d82e6527e5a4bad85240b51d10f070be91be772b/src/components/toast-notice.tsx#L32-L35

[2021-06-16 17:05] #1114 closed, assigned to nobody

[2021-06-17 09:41] kulla opened #1125 "User-Profiles: Improvement from feedback"
From the feedback I got:

* [x] Note that the uploaded image need to be quadtratic
* [x] Investigate whether cache updates when profile is edited
* [x] Investigate what happens when new profile pic in rocket chat is uploaded

(ping @simonkoehl so that you get notified when I work on this issue)

[2021-06-17 10:02] elbotho commented on #1125
I might I have some info for point 2 and 3. Reach out if you have questions.

[2021-06-18 18:59] elbotho commented on #1096
Thanks everyone, this is done and now part of #1121.

[2021-06-18 18:59] #1096 closed, assigned to nobody

[2021-06-18 19:03] elbotho commented on #1008
Since nextjs 11 did not address this I will close this until we hear some news, okay?

[2021-06-18 19:03] #1008 closed, assigned to nobody

[2021-06-25 11:01] elbotho opened #1132 "Compare revisions: Possible improvements"
Community feedback and requests as collected by @yolo-bird and discussed with me.

- [x] resolve questions/comments in https://docs.google.com/document/d/1f3BTo6M2n7MNLuXix1kBPcH2mm9cIIrZddZu2jTLVQs/edit

## Backlog

- context quickfix for courses (lower prio)
- compare diff improvements (lower prio, preparations in progress)
- Exercise Groups: marked as connected? (not implemented yet, can't be s

[2021-06-25 13:21] ghost commented on #1132
@elbotho Here is the list of hidden content : https://docs.google.com/document/d/1f3BTo6M2n7MNLuXix1kBPcH2mm9cIIrZddZu2jTLVQs/edit

[2021-06-28 13:32] elbotho commented on #1132
@yolo-bird I implemented everything but the backlog now.
The remaining things are either not so important or a lot more work.
Are you okay with this triage?

[2021-06-30 10:42] #1020 closed, assigned to inyono, Entkenntnis

[2021-06-30 10:42] #1090 closed, assigned to inyono, Entkenntnis

[2021-06-30 10:42] #1100 closed, assigned to inyono, Entkenntnis

[2021-06-30 10:42] #1108 closed, assigned to inyono, Entkenntnis

[2021-06-30 11:00] kulla opened #1143 "Follow ups of Landing page review"
Here I store follow up issues of the landing page review:

- [x] since `/user/public` redirects to `/user/me` we should remove all links like `/user/public` from the codebase
- [ ] Refactor src/components/landing/rework/menu-new.tsx
- [ ] Refactor src/components/pages/landing-de.tsx
- [ ] refactor src/components/landing/rework/search-input-new.tsx
- [x] make shuffleArray not an inplace operation
-

[2021-06-30 11:39] Entkenntnis commented on #1099
another case: https://de.serlo.org/216910

[2021-06-30 11:42] Entkenntnis commented on #1099
Possible fix in #1144 , but needs some more testing

[2021-06-30 12:22] elbotho commented on #1143
I agree.
 It's not really used, but still cleaner to use `/user/me`.

[2021-07-01 10:45] #1099 closed, assigned to nobody

[2021-07-01 10:49] elbotho commented on #1125
it updates immediately but browser cache remembers the old image pretty reliably ;)
I added a fix in #1145 (annoying UX wise, but since this is an interim solution I'm fine with that).

[2021-07-01 10:59] elbotho commented on #1125
yes it updates, but not inside the `4000ms` window I guesstimated.
Moved it up to `6000ms` in #1145 but this is definitely a hack that needs a mutation :)

[2021-07-01 11:08] Entkenntnis opened #1147 "Center math formulas"
Math block formulas are centered in the edtr-io. We should follow this in the frontend, too.

(but we should be careful not to reintroduce #777 again ...)

[2021-07-01 13:53] Entkenntnis opened #1149 "Remove todo comments"
@inyono @kulla Do you remember what the intention was behind eslint warn about todo comments?

Should we convert them into issue or remove them from the code base? Any opinions?

[2021-07-01 15:06] inyono commented on #1149
The idea is just to make them visible. It's easy to add a TODO: comment and forget about it. It makes sense to check which of those TODOs are still relevant and possibly convert them into issues.

[2021-07-01 16:19] kulla commented on #1125
API-Cache get's updated. However due to the second cache in the frontend a reload is necessary. However I am fine with ignoring this and we wait until we have a mutation for it.

[2021-07-01 20:04] #1112 closed, assigned to elbotho, kulla

[2021-07-01 20:04] #1125 closed, assigned to elbotho, kulla

[2021-07-01 20:19] elbotho commented on #1125
Ah I see, so the waiting time can probably be very short, there needs to be another refresh.
We can hack that in.

[2021-07-01 20:42] elbotho commented on #1125
Jup, fixed with #1151 (ping @kulla)

[2021-07-01 20:54] elbotho commented on #1149
Having those spots commented makes sense to me. And I agree, with checking if they are relevant from time to time.
But having warnings about them in every PR and whenever you run `lint` is not helpful for me and actually distracts from the errors.
I'd vote to not display those warnings in the default conf for the frontend.

[2021-07-01 22:45] inyono commented on #1149
If that's an issue (and that's the reason they are warnings and not errors), I'd rather remove them from the codebase and move them into issues (so that the expectation before merging PRs is that one moves TODO comments into issues if they are still relevant). In this case, we could even make them errors to enforce that behavior.

[2021-07-02 05:00] Entkenntnis commented on #1149
Or change them from `todo:` to `note:`

[2021-07-02 05:05] #1147 closed, assigned to Entkenntnis

[2021-07-02 05:17] Entkenntnis opened #1153 "title attribute of ReactTimeAgo is not typed"
In `time-ago.tsx`, there is a problem with typing: The title attribute is not available. There is an open PR for this: https://github.com/hustcc/timeago-react/pull/37

[2021-07-02 05:20] Entkenntnis commented on #1153
I mean, it's ~10 lines of code that is relevant for us from the package. Imho we can just copy the relevant bits (live render, I guess?) into our codebase.

[2021-07-02 05:28] Entkenntnis opened #1154 "check permissions for edit button"
Permissions are not checked for the edit button yet, e.g. createEntityRevision / editTaxonomy / pageRevision .... This way, you could easily get a "Zugriff verboten" warning.

[2021-07-02 05:29] Entkenntnis commented on #1154
Note: guest currently has no permissions set at all. Maybe we need an update there, too.

[2021-07-02 05:34] Entkenntnis commented on #1149
@elbotho Could you take a look at #1155? I have removed all comments that sound outdated or added an issue if it's still relevant.

[2021-07-02 05:41] Entkenntnis commented on #1118
A big factor here is also the personal design workflow: If you write css in the inspector, then it's easier to copy it into styled components. To use tailwind in this case, you need to use tailwind directly in the code.

Beside this, most technical issues are addressed by the evolving jit engine (https://tailwindcss.com/docs/just-in-time-mode) and tailwind is preparing for the next major release.

[2021-07-02 05:41] #1118 closed, assigned to nobody

[2021-07-02 05:43] Entkenntnis commented on #1143
Comment for the last point, see tailwind docs https://tailwindcss.com/docs/responsive-design#targeting-mobile-screens - I belief tailwind has a reason to do that this way, so maybe leave it as it is for now?

[2021-07-02 07:07] elbotho commented on #1149
Okay, I like your suggestion @inyono and I think warnings are enough.
E.g. we often push code to staging to test something.
Thank you @Entkenntnis for triaging 👍

[2021-07-02 07:38] elbotho commented on #1143
Did convert some in fd94051da07fe889899cb6c7ff9ca2a0f087753e. Rest of the divs are ok imo.

[2021-07-02 08:10] elbotho commented on #1143
see b4061462

[2021-07-02 08:27] #1149 closed, assigned to nobody

[2021-07-05 07:43] elbotho commented on #1153
@kulla do you mind if I publish your branch as `@elbotho/ReactTimeAgo`?
Not that it's that important. but than I can learn to publish packages to npm this way :)
(memo for me: https://brandontle.com/writing/forking-modifying-and-publishing-npm-packages/ )

[2021-07-05 08:13] elbotho opened #1157 "subscriptions: don't load all at the same time"
For powerusers loading all subscriptions puts too much load on the server.
Probably replace with pagination ("load more") logic for now.

[2021-07-05 10:29] kulla commented on #1153
That's okay

[2021-07-05 11:33] elbotho commented on #1157
@kulla I added a fix for this in 365b87ce
I use pagination now for all requests (atm. limited to 300 entries) and offer the option to manually load more via a link.
This way we can still use the default view with the content filters but don't crash the server ;)

[2021-07-05 14:17] #1153 closed, assigned to nobody

[2021-07-05 16:35] kulla opened #1161 "Remove "Edit topic assignments" of subexercises"
For subexercises of exercise group there should not be a button "edit topic assignment" since subexercises should not be assigned to a taxonomy element:
![2021-07-05-182943_420x553_scrot](https://user-images.githubusercontent.com/1327215/124500246-b334b500-ddbf-11eb-8b73-7874ef185738.png)

[2021-07-06 06:23] #1161 closed, assigned to elbotho

[2021-07-06 14:59] ghost opened #1163 "Review view: Hide Toolbar for Exercises"
https://www.loom.com/share/9ae78d355d874664a34efa462ce16605

[2021-07-06 15:00] ghost opened #1164 "Review view: possible bug with non standard license"
https://www.loom.com/share/08d52fd578904d31b54c5f4ac2c09227

[2021-07-06 15:01] ghost opened #1165 "Review view: Make feedback non-mandatory"
https://www.loom.com/share/dde47553d3324e89911c0cc679504afe

[2021-07-06 15:16] ghost opened #1166 "Review view: Prerequisite not shown in preview"
https://www.loom.com/share/a4910d09e9f1483eb8b9fc2dbefb060b

[2021-07-06 22:09] elbotho commented on #1164
Hmm weird one!
Can't reproduce or find another example.
Maybe example will be available in staging tomorrow.

([link](http://localhost:3000/entity/repository/compare/218733/218744))

[2021-07-06 22:39] #1163 closed, assigned to nobody

[2021-07-06 22:39] #1165 closed, assigned to nobody

[2021-07-06 22:39] #1166 closed, assigned to nobody

[2021-07-06 22:40] elbotho commented on #1132
Open while in feedback loop.

[2021-07-07 12:44] #1154 closed, assigned to Entkenntnis

[2021-07-07 12:52] #1157 closed, assigned to elbotho

[2021-07-07 20:02] elbotho commented on #1027
This is live and ready for testing in staging.

[2021-07-08 07:19] Entkenntnis opened #1170 "add yellow-200 to theme"
@elbotho yellow is currently not a built-in color, but a custom selected one instead, so `bg-yellow` is supported, but not `bg-yellow-200`. Can you check which hex-value you want for this color? Then we can add it to the theme, e.g. something like

[code]

[2021-07-08 07:21] Entkenntnis commented on #1170
Alternative would be to use tailwinds built-in yellow (https://www.themes.dev/tailwindcss-colors):

[code]

but the hex values are a bit different (there is yellow and amber)

[2021-07-08 07:23] elbotho commented on #1170
I see, I thought custom colors get the `-xxx` shades automatically. Thanks.

[2021-07-08 08:25] #1170 closed, assigned to nobody

[2021-07-10 13:07] ghost commented on #1164
Here's another example: https://de.serlo-staging.dev/entity/repository/compare/219356/219369

Seems to occur in grouped text-exercises...

[2021-07-10 13:18] ghost opened #1173 "Review view: No comparison available for current revision"
For the current revision that is live there is no comparision (diff or plain content view) available.
See: https://www.loom.com/share/d3742236c1e0449ab900af9254d3d837

Examples for content:
https://de.serlo-staging.dev/entity/repository/compare/52035/99983
https://de.serlo-staging.dev/entity/repository/compare/54751/192668

[2021-07-10 13:52] elbotho commented on #1173
@yolo-bird this is the same issue that is discussed [here](https://serlo.slack.com/archives/C0BMSC431/p1625682255005500)
 and should be fixed [here](https://github.com/serlo/frontend/pull/1172) right?

[2021-07-10 14:23] ghost commented on #1173
Ah yes, I think it is the same.

But is the reviewer view for checked out content the same as for non checked out content? (except the accept and not accept button). Like if my examples above were not already checked, I should have the comparisons that I was missing, right?

[2021-07-10 14:35] elbotho commented on #1164
should be fixed in eab9a8b6eeca9448723f49bb964c1c2ab6e68f63

[2021-07-10 14:35] #1164 closed, assigned to nobody

[2021-07-10 14:44] elbotho commented on #1173
we always compare to the currently accepted revision now.
so that's why the view is different.

Examples for article:
- [History](https://frontend-git-small-revision-improvement-serlo.vercel.app/entity/repository/history/1555)
- [Old, not accepted revision](https://frontend-git-small-revision-improvement-serlo.vercel.app/entity/repository/compare/1555/98396)
- [Currently accepted revision](https:/

[2021-07-10 14:46] ghost commented on #1173
Thanks for the clarification. Then the new fix will solve this.

[2021-07-10 14:46] #1173 closed, assigned to nobody

[2021-07-10 17:00] ghost opened #1174 "Do not allow comments to be empty"
Currently empty comments can be saved: https://de.serlo-staging.dev/mathe/1555/zylinder#comment-219412

[2021-07-10 17:06] ghost opened #1175 "More editing options for comments"
Mandatory options:
- latex-formulas
- links
- bold, italic

Nice to haves
- colours
- lists
- ping other authors (more complex and would need more planning)
- Emojis

Btw. can we easily transfer the editing options for the text plug-in of edtr.io to comments?

[2021-07-10 17:08] ghost commented on #1175
As the frontend for comments is already in the current sprint (on lower priority) I thought it would be nice to start the discussion to this issue.

[2021-07-10 20:29] #1174 closed, assigned to nobody

[2021-07-11 10:55] #1132 closed, assigned to elbotho

[2021-07-12 08:10] Entkenntnis commented on #1027
@kulla We can add `/subscriptions/manage` as route for the frontend.

[2021-07-12 08:43] kulla commented on #1027
Is live

[2021-07-12 08:43] #1027 closed, assigned to nobody

[2021-07-12 08:43] elbotho commented on #1175
Infos from inyono:
We currently plan to use the edtr.io text plugin for this so this features would come out of the box:
`bold/italic, links, headings, colors, lists, quote, formula, code`

We can easily deactivate features.
Adding new ones (e.g. pings/emojiis) is a lot more work (but possible).

My suggestion would be pick from the existing features, build it and maybe add more advanced stuff lat

[2021-07-12 08:46] elbotho commented on #1027
that was quick 😮

[2021-07-14 09:31] ghost commented on #1175
- [x] bold/italic
- [x] links
- [ ] headings
- [x] colors
- [x] lists
- [x] quote
- [x] formula
- [x] code

(now?)

[2021-07-15 06:50] ghost commented on #1175
Thx. Now it worked and I ticked the boxes. @elbotho

[2021-07-16 07:41] Entkenntnis opened #1187 "newline with double bashslash in latex not rendered"
Example: https://de.serlo.org/mathe/12315/12315

Katex website and edtr-io are looking fine (with new line).

[2021-07-16 07:51] Entkenntnis commented on #1187
Seems to be related with the sanitizer, which is confusing the output a bit.

[2021-07-16 19:17] elbotho opened #1188 "Events link to encoded threadId"
Events relating to threads link to their encoded id which does not seem to be recognized by cf-worker so we either need to change/remove the link or investigate the cf-worker.

e.g. `dDE1NDY4`

[2021-07-17 18:02] inyono commented on #1188
Sounds like the correct behavior. As an API consumer, you shouldn't even be aware that threads are UUIDs in the background (what they won't be anymore in a not-so-far future, by the way).

[2021-07-17 18:40] elbotho commented on #1188
well yes, from the frontend side this might be correct, but the links don't work.
The frontend has no idea what to do with that string and so does the cloudflare worker it seems.

[2021-07-17 18:42] elbotho commented on #1188
I'll investigate a bit more  and propose a solution.

[2021-07-17 19:08] kulla commented on #1188
@elbotho I guess you link to comments via `serlo.org/:commentId`. Can you directly link to them in the frontend via `serlo.org/:entityId#comment-<commentId>`?

[2021-07-17 21:07] elbotho commented on #1188
I guess we could, since you implemented `legacyObject: AbstractUuid!` [for the cf-worker](https://github.com/serlo/serlo.org-cloudflare-worker/issues/152).
Maybe even better: This only occurs since the event use the Thread-ID, which we don't use anywhere else.
I'll try to use the first comment's id and then everything should be fine until the new commenting system :)

[2021-07-17 21:30] elbotho commented on #1188
done in 7a3ac255

[2021-07-17 21:30] #1188 closed, assigned to elbotho

[2021-07-18 10:42] kulla commented on #1188
@elbotho Actually we can discuss this the next time. I guess now we can remove the redirect from the CF worker since it was just a way to remove the single comment view.

[2021-07-20 12:03] kathongi opened #1190 "up and down arrows in comments"
In the comment field appear "up and down"-arrows with no noticeable function (e.g. here https://de.serlo.org/62055)

![Screenshot 2021-07-20 111057](https://user-images.githubusercontent.com/44167220/126319435-bed51bb1-8245-442d-9421-eb7897f4d996.png)

Browser: Google Chrome
Screen: **only visible on an external screen**, window size variation doesnt't change the appearance of the arrows

[2021-07-21 14:12] #935 closed, assigned to elbotho, kulla

[2021-07-22 14:14] ghost opened #1193 "/entity/unrevised: Changes in the checkout field in edtr.io"
![signal-2021-07-22-160640](https://user-images.githubusercontent.com/46370375/126653219-7be00b36-abe5-4a60-87e5-40e068c03fed.jpeg)

For saving a new revision we would like to have these options in the checkout field for authors with these properties:
- Filling out at least one of the fields of "Rechtschreibung / Design / Neu erstellt / Weiteres is mandatory.
- If one of the boxes Rechtschreibung

[2021-07-22 14:14] ghost commented on #1193
ping @kathongi

[2021-07-22 14:41] ghost opened #1194 "/entity/unrevised: Filtering options for reviewers"
![signal-2021-07-22-162954](https://user-images.githubusercontent.com/46370375/126656792-85d22ddf-7fab-41fe-b759-aad1af96f2db.jpeg)

We would like to have to filter options:

- for type of edit (this is where we take the information from the checkout field)
- for subjects

Default filter is all for each filter options. That is in the beginning you have a overview of all subjects with the first thr

[2021-07-22 14:43] ghost commented on #1194
ping @kathongi

[2021-07-22 14:49] ghost opened #1195 "/entity/unrevised: Smaller UI stuff"
- [x] renamed top sections (remove all the other links)
![Screenshot 2021-07-22 at 16-43-27 Issues · serlo frontend](https://user-images.githubusercontent.com/46370375/126658622-4a6e69f7-593d-4428-9406-46c1dc1fea6b.png)

- ~~Rename "Verfasser" to "Autor*in" and "Zeitstempel" to "Wann?" and "Titel" to "Inhalt"~~ (different solution in current draft)
- ~~swap the columns of the table to "Inhalt | Be

[2021-07-22 14:50] ghost commented on #1195
ping @kathongi

[2021-07-23 08:48] kulla commented on #1193
why is there a different kind of check box field for "Inhalt noch nicht fertig. Bitte nicht überprüfen?" than for the other fields?

[2021-07-23 08:50] kulla commented on #1194
Am I right that one can click on "Neu erstellt" and "Mathematik" at the same time?

[2021-07-23 09:34] kathongi commented on #1194
Yes.

[2021-07-23 09:51] ghost commented on #1193
No particular reason. Can be the standard check box, too. :-)

[2021-07-23 19:05] ghost opened #1196 "Improvements history"
Here some improvements for the history for content: e.g. https://de.serlo.org/entity/repository/history/120628

- [x] name last two columns with "Ansehen" and "bearbeiten"
- [x] add hover text to the eye icon: "Schaue dir diese Bearbeitung an"
- [x] Add a new column "status". This helps authors to see what the history of the revisions is, i.e. which revision have been acceptet, rejected, etc.
Thes

[2021-07-23 19:06] ghost commented on #1196
ping @kathongi

[2021-07-26 14:50] elbotho commented on #1196
we simplified the last point for now.

[2021-07-26 16:39] #1196 closed, assigned to elbotho

[2021-07-26 21:41] elbotho opened #1203 "Edit link for pages and legacy urls"
- ⏳  currently edit links are not shown on pages (not for sysadmins and login at least) ([pending API issue](https://github.com/serlo/api.serlo.org/issues/456))

legacy urls:
- page revision history: https://de.serlo-staging.dev/page/revision/revisions/182154
- revision on top of revision: https://de.serlo-staging.dev/page/revision/create/182154/194720
- checkout revision: https://de.serlo-staging

[2021-07-27 22:02] elbotho opened #1205 "`/page/revision/revisions/{id}` not supported"
`/page/revision/revisions/{id}` route is not supported.

The good new is that `/entity/repository/history/` handles pages alright so we should be able to use that instead.
(atm. the accept /reject mutation [does not support pages](https://github.com/serlo/api.serlo.org/issues/457))

[2021-07-27 22:05] elbotho commented on #1203
split up into other issues

[2021-07-27 22:05] #1203 closed, assigned to nobody

[2021-07-28 11:51] elbotho commented on #1205
first part solved by 5df1b5c8d78c37646e865f03176fc1f31a1d2ea8

[2021-07-28 13:13] Entkenntnis opened #1206 "Add formula macros into new frontend"
Use katex macro option to pass in some common macros (tba). Explore in frontend, if it works well, port it also to edtr-io

[2021-08-01 12:30] elbotho commented on #1190
@kathongi thanks for reporting.
Unfortunately I can't reproduce this in the most current and also older versions of chrome.
Since I already work on the replacement of this comment form for #1175 (which won't have this problem but probably many others ^^) I won't work on this problem.

[2021-08-01 12:30] #1190 closed, assigned to nobody

[2021-08-02 10:34] elbotho opened #1213 "Feature: offer pdf download"

[2021-08-04 13:16] kulla commented on #1195
@kathongi Let's say we have two authors `Alice` and `Bob`. Both have made an unrevised revision for the article "Rectangle" and Alice has made a change for another article `Circle` as well:

| Title     | Author | Uuid |
|-----------|--------|------|
| Circle    | Bob  | 4    |
|           | Alice   | 3   |
| Rectangle | Bob  | 2    |
|           | Alice   | 1    |

When one sorts the table for an

[2021-08-04 14:04] kulla commented on #1194
Here is my idea for how the API interface shall be:

### Hypothesis: Unrevised revisions for one entity shall be grouped:

In `/entity/unrevised` unrevised revisions for one entity are grouped together:
![2021-08-04-150048_917x208_scrot](https://user-images.githubusercontent.com/1327215/128185556-b8886aeb-5d6a-4ac3-8dbe-621a84d464dd.png)

I guess in the new design this shall also be case. (I think

[2021-08-04 14:08] kulla commented on #1194
@kathongi Shall this be the total number of unrevised edits / revisions for this filter or shall it change regarding other filters which are set? Two examples:

* When the filter "newly created" is active, shall the filter "mathematics" show the total number or the number of newly created unrevised revisions?
* When the filter "mathematics" is active, shall filter "newly created" show the total nu

[2021-08-04 14:12] kulla commented on #1193
@kathongi "Rechtschreibung" and "Design" are two different fields here, however they are together in https://github.com/serlo/frontend/issues/1194 Is this right?

[2021-08-04 14:14] kulla commented on #1193
@kathongi Am I right that one can only check one field or can one check multiple fields like "Rechtschreibung" and "new content" together?

[2021-08-04 14:14] kulla commented on #1193
@kathongi "Inhalt neu erstellt" can be determined automatically so we do not want to show it?

[2021-08-04 14:57] kathongi commented on #1194
(@yolo-bird already discussed the open questions. The grouping stays important even if you filtered because of revisions before)

[2021-08-04 14:59] kathongi commented on #1195
(@yolo-bird already discussed the open questions. See also #1194)

[2021-08-05 07:40] kathongi commented on #1193
I would rather separate it.

[2021-08-05 07:42] kathongi commented on #1193
You can check multiple fields. At least one must be chosen.

[2021-08-05 07:47] kathongi commented on #1193
We included this because as an author you need to specify your changes after every edit. If you just created a new article the changes field seems unsuitable because everything is new. Maybe we can automatically check this box, if a content is new.

[2021-08-05 12:59] kulla commented on #1195
Answer: It doesn't matter when the revisions for one entity are not together -> It is only important to see whether there older unrevised revisions before the current one.

[2021-08-10 10:21] #1205 closed, assigned to elbotho

[2021-08-11 13:09] Entkenntnis commented on #1187
Root of the issue: sf and double backslash are not going well together: [bad example](https://katex.org/?data=%7B%22displayMode%22%3Atrue%2C%22leqno%22%3Afalse%2C%22fleqn%22%3Afalse%2C%22throwOnError%22%3Atrue%2C%22errorColor%22%3A%22%23cc0000%22%2C%22strict%22%3A%22warn%22%2C%22output%22%3A%22htmlAndMathml%22%2C%22trust%22%3Afalse%2C%22macros%22%3A%7B%22%5C%5Cf%22%3A%22%231f(%232)%22%7D%2C%22code

[2021-08-11 13:10] Entkenntnis commented on #1187
so yeah, this will need a refactoring of the sanitizer

[2021-08-11 13:39] Entkenntnis commented on #1206
Frontendside is working: https://frontend-git-staging-serlo.vercel.app/202377

edtr-io integration is pending...

[2021-08-11 13:40] Entkenntnis commented on #1206
the relevant commit: c65027232ea87b3eca20fd83ca44c7dda81b468e

[2021-08-12 09:37] Entkenntnis opened #1228 "Move pdf export into separate microservice?"
The current pdf-export strategy is very decoupled from the frontend-repo, it's basicly one file with no dependencies.

I wonder if we can put this into a separate repository with a separate deploymen. This would help keeping the frontend build-times down.

[2021-08-12 09:41] elbotho commented on #1228
I thought about this as well. It would require some infrastructure work, that's why I did not do it yet.

[2021-08-13 09:39] Entkenntnis opened #1231 "Status quo of styling methods"
Some updates und finding of the last 1-2 months researching styling methods (and mini follow-up for https://github.com/serlo/frontend/issues/1118)

### tailwind jit + styled-jsx finally working

Starting today, we can finally write styles like this:

[code]

[styled-jsx v3/v4](https://github.com/vercel/styled-jsx) also has some improvements, so it feels more mature now.

Caveat: dev-server perform

[2021-08-13 09:43] inyono commented on #1231
FYI: Next.js team recommends to enable JIT (even though it's a preview feature) since it works better with Next.js / Vercel.

[2021-08-13 09:46] Entkenntnis commented on #1231
Jup, we are already using the JIT.

I'd like to wait until the 3.0 release (e.g. JIT is stable) and then try again to migrate the remaining styled components either to tailwind or styled-jsx. I'm confident that this approach will give as the same level of flexibility as we have right now.

[2021-08-13 10:14] Entkenntnis commented on #1228
done, see https://pdf.serlo.org

[2021-08-13 10:14] #1228 closed, assigned to nobody

[2021-08-13 10:36] #1213 closed, assigned to elbotho

[2021-08-14 07:08] ghost opened #1236 "Rename "Unterelemente sortieren""
Rename "Unterelemente sortieren" to "Kursseiten sortieren"

![grafik](https://user-images.githubusercontent.com/46370375/129438295-90750859-74c3-4b66-805a-85dc3cdd14a3.png)

[2021-08-14 07:36] elbotho commented on #1236
The other place where this function is used is with exercises:
![image](https://user-images.githubusercontent.com/1258870/129438922-f85e69db-1362-40bf-bdf5-681e6d3187ff.png)

Should this also be renamed?

[2021-08-14 10:30] ghost commented on #1236
This should be renamed to "Teilaufgaben sortieren".

[2021-08-15 06:41] elbotho commented on #1236
solved in 2e3f09b259b392e9b3df760fd76e0b020502bff9.
translations and public probably tomorrow.

[2021-08-15 06:41] #1236 closed, assigned to nobody

[2021-08-16 09:46] elbotho opened #1241 "pdf download"
now that pdf creation is not part of frontend and is hosted at `pdf.serlo.org` the `download` attribute on the `<a` is not working any more (security feature at least in chrome). this way we loose the handy filename and users have to figure out how to download the pdf themselves.

- try to fix with cors headers
- implement with download api

[2021-08-16 23:11] #1241 closed, assigned to nobody

[2021-08-18 14:01] ghost opened #1246 "Rename info text for trashed items"
Rename"Dieser Inhalt wurde zum Löschen markiert." to "Dieser Inhalt wurde gelöscht."
e.g. https://de.serlo.org/90752/

[2021-08-18 14:03] #1246 closed, assigned to nobody

[2021-08-18 14:04] elbotho commented on #1246
@yolo-bird if you like you could have access to crowdin to change minor stuff like this.

[2021-08-18 14:47] ghost commented on #1246
Maybe you can give me a short introduction after our holidays?

[2021-08-20 06:58] elbotho opened #1254 "check broken routes"
[This sentry issues](https://sentry.io/organizations/serlo/issues/2588596441/?environment=production&project=5206333&query=is%3Aunresolved) now collects all csr routes that result in an Error Page. The errors themselves get logged as before.

Todo: Check routes in a few weeks and either
- single or few cases: fix in editor
- fix with db action
- add support in frontend

This is probably related wi

[2021-08-20 18:18] inyono opened #1255 "Check if we can upgrade postcss-nested again"
See https://github.com/postcss/postcss-nested/blob/main/CHANGELOG.md#506

[2021-09-02 13:34] kulla commented on #1231
I question myself, what is the improvement of `<button class="bg-[#1da1f1]">Share on Twitter</button>` instead of `<button style="background-color: '#1da1f1'">Share on Twitter</button>` ?! :thinking:

[2021-09-02 14:21] kulla commented on #1231
Feedback: Used it in https://github.com/serlo/frontend/pull/1262 to remove `styled-components` in the equations plugins. Works really good :smile: :+1: :heart:

[2021-09-03 09:05] inyono opened #1265 "revision history: start from revision not working for pages"
The edit button in the revision history of pages doesn't use the correct link and therefore fails.

[2021-09-06 08:36] Entkenntnis opened #1268 "Investigate bundle size increase"
The bundle size of `[...slug]` has increased. Investigate the reason for this.

[2021-09-13 07:59] Entkenntnis commented on #1255
Fixed with 7685d71bd1102a71ffa907f557d45ebff525d0a9

[2021-09-13 08:00] #1255 closed, assigned to nobody

[2021-09-13 08:19] kulla opened #1271 "Styling bug when there is a code plugin in the page in mobile view"
Example: https://de.serlo.org/informatik/48121/caesar-verschl%C3%BCsselung
![2021-09-13-101809_391x199_scrot](https://user-images.githubusercontent.com/1327215/133048770-16c7dc5d-3e19-43a4-9c9c-21752b268744.png)

[2021-09-13 08:23] kulla opened #1273 "Click on course in taxonomy opens also trashed pages"
Steps to reproduce:

* Go to "https://de.serlo.org/lerntipps/135480/umgang-mit-stress"
* Open the course "Einführung in den Umgang mit Stress"
* On gets a site with the message "Dieser Inhalt wurde gelöscht"

![image (1)](https://user-images.githubusercontent.com/1327215/133049397-47ed307f-4dd9-4d2d-9ec7-90d44743ce99.png)

For the course the first page is marked as trashed. I guess this page inste

[2021-09-13 08:45] #1271 closed, assigned to nobody

[2021-09-13 15:06] kulla opened #1276 "Variable %user% is not replaced in RejectRevisionEvent"
See
![2021-09-13-170552_520x137_scrot](https://user-images.githubusercontent.com/1327215/133108825-043eb354-1cab-47fb-8f47-9a5144d9cd5b.png)

[2021-09-13 15:24] elbotho commented on #1276
thanks, just a "translation" error. just fixed in crowdin.

[2021-09-13 15:27] #1276 closed, assigned to nobody

[2021-09-13 19:14] elbotho commented on #1268
[code]
This seems to be the first PR with ~+10kb.
https://github.com/serlo/frontend/pull/1262

[2021-09-13 20:55] inyono commented on #1268
Kulla added an SVG to the bundle, that might be some kB?

[2021-09-14 07:14] Entkenntnis commented on #1268
Thanks for investigating. The last healthy bundle size seems to be https://github.com/serlo/frontend/commit/bcbef3f6fe710f8f4042177bd6997c74059ec892 with (Aug 13):
[code]

[2021-09-14 07:18] Entkenntnis commented on #1268
This commit is one of the problem: https://github.com/serlo/frontend/commit/edda32b809b5829c3bfbe4df1dae818dd48ebaf7

@elbotho next.js is actually relying on the `typeof window === 'undefined'` to purge code from the client - I know that this is important for frontend-client-base - for the other places it could be fine to use  `isClient`

We should actually add a comment to avoid this in the futur

[2021-09-14 08:02] elbotho commented on #1268
Thanks 👍
I'll revert this change and play around with the SVG.

[2021-09-14 09:44] elbotho commented on #1268
Completely right @Entkenntnis only the change in frontend-client-base did change the size.
But I replaced it everywhere just to make it easier. It's not as nice to read, but quite okay.
With that change we are at:
`├ ● /[...slug]                                            9.8 kB          174 kB`

And without the svg it's:
`├ ● /[...slug]                                            9.81 kB         1

[2021-09-15 11:47] #1265 closed, assigned to elbotho

[2021-09-15 11:47] #1273 closed, assigned to elbotho

[2021-09-16 13:57] Entkenntnis commented on #1187
will be fixed by #1282

[2021-09-17 08:21] Entkenntnis opened #1284 "pdf download redirect is not working"
https://de.serlo.org/api/pdf/2055 is not working atm. The pdf export itself is up and running: https://pdf.serlo.org/api/2055

Maybe support in cf worker is missing? or there is a problem with rewrite.

[2021-09-17 08:30] Entkenntnis commented on #1268
Can confirm after local testing that adding rewrites is increasing the client bundle by 4kb :thinking:

Maybe we can use another solution here, we also have a pending issue for pdf creation: #1284

[2021-09-17 08:39] #1187 closed, assigned to Entkenntnis

[2021-09-17 08:49] Entkenntnis commented on #1143
Closing this issue because remaining tasks are not actionable right now: The refactoring only makes sense if we have a decision about how to proceed with the brand design development.

[2021-09-17 08:49] #1143 closed, assigned to nobody

[2021-09-17 08:58] Entkenntnis commented on #1195
this issue looks completed

[2021-09-17 08:58] #1195 closed, assigned to nobody

[2021-09-17 08:59] Entkenntnis commented on #1206
edtr-io integration will be handled in another repo

[2021-09-17 08:59] #1206 closed, assigned to Entkenntnis

[2021-09-17 09:10] Entkenntnis commented on #1193
This issue is not really actionable right now. I have transfered it into the [backlog](https://docs.google.com/document/d/1rSkFo2JtsSwHHsbosQcgAN4EzeePXLnqi_eCFpUM3u4/edit#) and linked it.

[2021-09-17 09:10] #1193 closed, assigned to nobody

[2021-09-17 09:17] Entkenntnis commented on #1194
Thank you all for the input on this topic. To keep all backlog ideas in one place,  I have moved this topic into the [backlog](https://docs.google.com/document/d/1rSkFo2JtsSwHHsbosQcgAN4EzeePXLnqi_eCFpUM3u4/edit#) and linked it.

[2021-09-17 09:17] #1194 closed, assigned to nobody

[2021-09-17 10:36] elbotho commented on #1284
Works for me if I use the dialog. Can you reproduce?

[2021-09-17 10:38] elbotho commented on #1268
weird!
When I remember correctly the pdf flow uses a redirect because then we can use the [download attribute](https://developer.mozilla.org/de/docs/Web/HTML/Element/a#attr-download) (which is nice 😄).

[2021-09-18 08:48] Entkenntnis commented on #1268
using styled-jsx with postcss-plugin is increasing the client by ~4-6kb, which would explain the remaining increase.

[2021-09-18 09:09] Entkenntnis commented on #1284
It's working for me on localhost, but not in production. I've waited about a minute, but it was still not showing the file.

[2021-09-18 09:12] Entkenntnis commented on #1268
#1285 is converting styled-jsx to pure tailwind - at least for performance critical parts, we should stick to tailwind only.

[2021-09-18 20:52] elbotho commented on #1284
does this work for example (again using the dialog and just pressing the button w/ left mouse)?
https://de.serlo.org/mathe/1565/sinus-kosinus-und-tangens

any console output?
what is the network response?

[2021-09-19 06:34] Entkenntnis commented on #1284
there is no console output, and no network response - but I see a request to https://de.serlo.org/api/pdf/1565 that is stuck forever.

Can you test https://de.serlo.org/api/pdf/1565 directly? Is this working for you? For me, it's just

![grafik](https://user-images.githubusercontent.com/13507950/133917962-9377c61c-6a8b-4e66-bf63-61a19982b986.png)

[2021-09-19 08:18] elbotho commented on #1284
yeah, direct access does not work because it's not redirected via nextjs and we need to add it to cf-worker (or fall back to the subdomain version).
But inside nextjs it works flawlessly for me so that's why i'm confused.

After some testing it seems to be a firefox/chrome thing.

cf issue:
https://github.com/serlo/serlo.org-cloudflare-worker/issues/234

[2021-09-20 08:54] Entkenntnis commented on #1175
this issue is mostly ready, but we need a prioritization before we continue the work here.

[2021-09-21 12:06] ghost commented on #1175
What are the things that still need priorization?

[2021-09-21 12:22] elbotho commented on #1175
@yolo-bird It's currently not in the priorisation so other things will be favored.

[2021-09-21 12:31] ghost commented on #1175
Ok, when is the next priorisation meeting? I'm currently not aware what the other things on the agenda are and how important this would be compared to the other issues?

[2021-09-21 13:26] elbotho commented on #1175
sorry, this is not the place to discuss prios.
as it stands we continue here if we have time. Prio overview: https://docs.google.com/spreadsheets/d/1mFCapHiTzViRlt8mlNUZewC9bEJw_ps9tw0U_3x1208/edit#gid=0

[2021-09-22 07:49] Entkenntnis commented on #1268
with 42fd91688c8fe7243626d63c3fc7322373440a95 all increases are reverted and we are back at 159kb

[2021-09-22 07:49] #1268 closed, assigned to nobody

[2021-09-22 07:50] Entkenntnis commented on #1284
Because cf approach is moving on, 42fd91688c8fe7243626d63c3fc7322373440a95 reverts rewrites and adds a fix for localhost (reason: #1268)

[2021-09-22 08:42] Entkenntnis opened #1292 "react warning"
[code]

on every page with comments.

[2021-09-23 10:02] Entkenntnis commented on #1231
@elbotho here is a bigger example of styled-jsx, which is a solid replacement for styled components:

https://github.com/serlo/frontend/blob/04b24f578c80f66b9174e6daabf15ea99c9bcacf/src/components/pages/landing-de.tsx#L10-L221

This way, you can keep writing css directly in pages outside of [...slug] (but still use tailwind if suitable)

[2021-09-23 12:08] Entkenntnis commented on #1292
another one on profile:

[code]

[2021-09-23 13:24] Entkenntnis commented on #1231
https://github.com/serlo/frontend/pull/1290 completes the main part of the refactoring

[2021-09-23 13:24] #1231 closed, assigned to nobody

[2021-09-23 14:47] elbotho commented on #1231
So this is the end of the SC era?
No fireworks or something? ;)

[2021-09-23 14:54] Entkenntnis commented on #1231
Jup, it is. I expected something big or surprising - but nothing, it just happened ;)

[2021-09-23 15:49] hxwalther commented on #1284
I checked :   https://de.serlo.org/mathe/1565/sinus-kosinus-und-tangens
(Now) It's working for me too  ...
I'll check other Articles , ThaXXX for fix this issue  ....

[2021-09-23 15:53] elbotho commented on #1284
@hxwalther thanks for the feedback,
currently trying to improve it even further so the files get a nice name again.

[2021-09-25 10:45] elbotho opened #1299 "link to comment not working any more"
direct links to comments (e.g. `/mathe/1371/gleichungen#comment-196365`) are not working any more.

[2021-09-25 11:21] elbotho commented on #1254
with one cf-redirect and some content fixes we did not have any more errors here in the last week 🎉

[2021-09-25 11:21] #1254 closed, assigned to nobody

[2021-09-25 13:39] #1292 closed, assigned to nobody

[2021-09-27 09:28] elbotho commented on #1284
now fixed with cf-worker proxy. working as intended again.

[2021-09-27 09:29] #1284 closed, assigned to nobody

[2021-09-27 17:08] Entkenntnis opened #1303 "dynamic imports add up to first load js"
Adding styled jsx to comment form is increasing first load js, but it shouldn't because it's using `next/dynamic`.

There is an open issue for it on next.js - maybe that's related: https://github.com/vercel/next.js/issues/29224

[2021-09-27 17:26] elbotho opened #1304 "Regex lookbehinds not supported in safari"
We use a regex lookbehind in `sanitize-latex.ts`, which only runs server-side atm.
Should we use it in the client we have to find an alternative.

https://caniuse.com/js-regexp-lookbehind

relevant code:
[code]

[2021-09-27 19:42] Entkenntnis commented on #1303
update on this: after checking the difference between importing comment-area vs not importing, I found out that the whole increase is caused by the file `react-dom-server.browser.production.min.js` in the framework bundle.

It looks like that server-side and client-side code got confused somewhere, as react-dom-server should not belong in the client.

Will investigate it further...

[2021-09-27 20:15] Entkenntnis commented on #1303
found the culprit: `slate-html-serializer` has a (hard-coded) dependency on `react-server/dom` - and next.js is irritated by this.

After another test I can confirm that dynamic imports *are* working properly, also with styled-jsx.

The fix would be to find another solution for `slate-html-serializer`, because https://github.com/ianstormtaylor/slate/issues/3899 says that this package is deprecated

[2021-09-27 20:19] Entkenntnis opened #1305 "reduce number of languages bundled"
the code plugin currently loads ALL possible language. this can be optimized, maybe only add some common languages like:

java
javascript
python
html
css

[2021-09-27 20:20] Entkenntnis commented on #1305
@Knorrke do you have some more languages that you would like to support atm?

[2021-09-27 20:26] Entkenntnis commented on #1303
without `@edtr-io/plugin-text`, there is no bundle-size increase.

looks like a bad interaction between these two :(

[2021-09-27 20:53] Knorrke commented on #1305
Aren't the languages lazy loaded if needed? Thought I had implemented that in edtr.io...

Is there a difference between html and xml in the bundle? We use xml e.g. here https://de.serlo.org/informatik/59135/59135
Otherwise, maybe tex for help-pages for LaTeX? That would be it, I guess... It's probably easy to add more, once needed?

[2021-09-27 20:59] Knorrke commented on #1305
just checked [supported languages](https://github.com/highlightjs/highlight.js/blob/main/SUPPORTED_LANGUAGES.md) - xml and html are the same.
So latex / tex would be the only consideration, if it doesn't affect bundle size to heavily :)

[2021-09-28 06:06] Entkenntnis commented on #1305
this is only concerning the frontend implementation

languages are lazy loaded, but the compiler has to create a separate bundle for *every* supported language -> there are some hundred assets that are bloating the build. As we don't need most of them, we can reduce the count -> adding more languages will be very easy.

thanks for the feedback

[2021-09-28 08:00] elbotho commented on #1305
those are the only languages that are suggested in edtr right now:
[code]

[2021-09-28 08:31] Entkenntnis opened #1307 "only load logged-in-components for logged in user"
the auth check got lost somewhere in frontend-client-base -> readd it to avoid unnecessary network bytes.

[2021-09-28 09:44] #1305 closed, assigned to nobody

[2021-09-28 10:16] elbotho commented on #1305
@Entkenntnis did you check if it handles aliases (like xml+html+svg, js+jsx+javascript) ?
Thanks!

[2021-09-28 10:37] Entkenntnis opened #1308 "check code highlight languages in use"
do a quick survey of code plugins in use and find out with languages are actually in use.

[2021-09-28 10:37] Entkenntnis commented on #1305
I will check this as part of https://github.com/serlo/frontend/issues/1308

[2021-09-29 07:07] Entkenntnis commented on #1308
survey of languages in use:

- not set: 167
- java: 91 (e.g. http://de.serlo-staging.dev/222284)
- sql: 68 (e.g. http://de.serlo-staging.dev/160256)
- text: 52
- python: 52 (e.g. http://de.serlo-staging.dev/222018)
- javascript: 40 (e.g. http://de.serlo-staging.dev/194448)
- xml: 5 (e.g. http://de.serlo-staging.dev/59135)
- html: 3 (e.g. http://de.serlo-staging.dev/208376)
- css: 3 (e.g. http://de

[2021-09-29 07:13] Entkenntnis commented on #1308
@Knorrke this could interest you :)

can confirm: xml and html support is built-in

missing languages: sql, bash, latex (make sure string is lowercased)

[2021-09-29 07:14] Entkenntnis commented on #1308
@inyono we could maybe change the languages input into a drop-down menu to only list languages we support? This would also make it easier to discover supported languages.

[2021-09-29 07:15] Entkenntnis commented on #1308
d45b96e5218efe93097f716ef1c0e22b92459f5c adds sql and bash

[2021-09-29 07:46] Entkenntnis commented on #1307
fixed with 6973c7630fbd7b4d97e2d85d8917a85d97e04b4f

[2021-09-29 07:46] #1307 closed, assigned to nobody

[2021-09-29 11:50] elbotho opened #1309 "header nav pos too high"
position to low. might be caused by the move from styled components:
![image](https://user-images.githubusercontent.com/1258870/135262646-a607323b-cd38-4239-9931-3cefe89bbbdb.png)

[2021-09-29 13:32] elbotho opened #1310 "Investigate special chunk split"
This way of making sure we get a seperate tippy bundle for webpack might cause additional [ChunkLoadErrors](https://sentry.io/organizations/serlo/issues/2364241589/?environment=production&project=5206333&query=is%3Aunresolved).
(But could also be just more of the "usual" ChunkLoadErrors.

https://github.com/serlo/frontend/blob/staging/src/components/landing/rework/menu-new.tsx#L35-L57

[code]

[2021-09-29 13:41] Entkenntnis commented on #1309
fixed by 48b168381ab609e3b44104e095b162a73c0158e5

[2021-09-29 13:42] Entkenntnis commented on #1309
nice profile image

[2021-09-29 13:42] #1309 closed, assigned to nobody

[2021-09-29 16:52] Entkenntnis commented on #1310
looking through the error messages of to last days, the chunk loading error happens with all kind of dynamically fetched chunks...

[2021-09-29 16:53] Entkenntnis commented on #1310
the amount of errors also doesn't seem to be related to releases...

[2021-09-29 18:35] elbotho commented on #1310
I agree. Those seem to be different issues.

[2021-09-29 20:45] Knorrke commented on #1308
Thanks @Entkenntnis :) Totally forgot about SQL, incredibly important to have that!

Can you send me a list for the code plugins with language 'text' or not set? Some should be pseudo code (no highlighting for that), but I'm sure there are some just missing the language declaration.

[2021-09-30 07:51] Entkenntnis commented on #1308
sure, here is the list with all code nodes that has no highlighting: https://gist.github.com/Entkenntnis/143794ba12d8745881d9a1da7e0c5de6

(id is added behind the object)

actually, most of them could be highlighted

[2021-10-02 07:23] Entkenntnis commented on #1303
#1212 is using a custom hack to bypass this problem for now

[2021-10-02 08:43] Entkenntnis commented on #1304
7e6993be51d5b1ffc9366d5162dc60959a4974c3 simplifies regex

[2021-10-02 08:43] #1304 closed, assigned to nobody

[2021-10-02 08:45] Entkenntnis commented on #1303
result: build system is working properly, but the text-plugin needs a special hack, details see https://github.com/serlo/frontend/pull/1212/commits/606569d132669ee0d2e24b0234eecf3d20af9f8c

[2021-10-02 08:45] #1303 closed, assigned to nobody

[2021-10-02 08:46] Entkenntnis commented on #1308
work for frontend is done here atm

[2021-10-02 08:46] #1308 closed, assigned to nobody

[2021-10-04 20:35] Entkenntnis opened #1313 "slow diff view for big revision"
interesting find in the wild: https://de.serlo.org/entity/repository/compare/1571/225401 is very slow if you switch to "Quelltext" - at least for me on FF, Linux

[2021-10-04 20:52] elbotho commented on #1313
Can reproduce. Chrome/chromium is a bit quicker. Maybe 4-5s on my laptop?
I think it's quite okay since it's usually a lot faster. Do you see any need to optimize?

[2021-10-05 07:08] sentry[bot] opened #1315 "Safari: SyntaxError: The string did not match the expected pattern."
Opening [this article](https://de.serlo.org/mathe/1585/linearfaktordarstellung-einer-polynomfunktion-beliebigen-grades) in Safari results in an error.
Page seems to function anyway.

Sentry Issue: [FRONTEND-1S](https://sentry.io/organizations/serlo/issues/1729031736/?referrer=github_integration)

[code]

[2021-10-05 07:10] elbotho commented on #1315
Other content was affected, but can't reproduce now.

For some reason it tries to load (and fails) this url before:
`https://de.serlo.org/_next/data/X7iOdBixs0bs9kHZhXGNb/de/.json`

[2021-10-05 08:45] Entkenntnis commented on #1315
reason is article plugin, linked exercises are empty, so injection fails:

![grafik](https://user-images.githubusercontent.com/13507950/135990531-4434b779-2676-4d7f-a279-f899622c2751.png)

I have removed it. Is the error still happening?

[2021-10-05 09:26] elbotho commented on #1315
Error is gone, thanks!
Will this happen with other articles?
Should we catch that it in the frontend?

[2021-10-06 08:49] Entkenntnis commented on #1313
upstream issue: https://github.com/praneshr/react-diff-viewer/issues/25

[2021-10-07 09:46] inyono commented on #1315
This is not checked on saving (and we currently have no way to handle that at the moment, might do that at some point when we have moved Edtr.io to the frontend). So we should probably check those cases when rendering (e.g. filtering out injections without a href or something)

[2021-10-08 21:40] Entkenntnis opened #1321 "filter empty injections"
https://de.serlo.org/174232
https://de.serlo.org/224867

follow up of #1315 : filter empty injections while conversion to avoid errors.

[2021-10-08 21:41] Entkenntnis commented on #1315
follow up: #1321

[2021-10-08 21:41] #1315 closed, assigned to nobody

[2021-10-09 08:08] elbotho opened #1327 "broken course"
fails with "without message":
https://de.serlo.org/informatik/138931/erweiterungskurs-messen-und-bewegen

[2021-10-09 08:33] Entkenntnis commented on #1327
Can confirm, no error message

[2021-10-18 17:01] Entkenntnis commented on #1175
this issue is again not prioritized for the next 3-4 months

[2021-10-18 17:01] #1175 closed, assigned to elbotho

[2021-10-25 11:36] kulla opened #1337 "404 for course in /entity/unrevised with first course page has no current revision yet"
In `/entity/unrevised` there is a link to the course https://de.serlo.org/informatik/227404/versionskontrolle-mit-git which has only one course page without any revised revision yet

[code]

Result:

[code]

Click on the link in `/entity/unrevised` results in a 404 error page. @elbotho Do you have any clue what the desired behavior shall be? Shall I filter out `Course` entities in `unrevisedEntiti

[2021-10-25 14:31] Entkenntnis opened #1339 "margin bottom too big in some places"
the selector in

https://github.com/serlo/frontend/blob/2af01f9a60f7c69b4d76b990ba81accaf3a3beb8/src/components/pages/add-revision.tsx#L51-L53

is a bit too eager, spacing is breaking in e.g. equations or the "related article" section.

[2021-10-25 14:33] Entkenntnis opened #1340 "implement save revision"
todo: load csrf from cookie and post data

reference is here: https://github.com/serlo/serlo.org/blob/main/packages/public/client/src/editor/editor/index.tsx

[2021-10-25 14:34] Entkenntnis opened #1341 "implement image upload"
the csrf-part is missing, but otherwise the code in https://github.com/serlo/frontend/blob/staging/src/components/edtr-io/plugins/image.tsx should be fine. Releated to #1340

[2021-10-25 14:36] Entkenntnis opened #1342 "fix missing fields from API"
cohesive on grouped exercises and position for taxonomy terms is missing. PRs in api are in progress.

[2021-10-25 14:41] Entkenntnis opened #1343 "test all revision types"
test all revision types and investigate if all data is fetched

[2021-10-25 14:43] Entkenntnis opened #1344 "(re-)upload translations"
after switching to the frontend i18n implementation, edtr-io translations need to be uploaded again.

[2021-10-25 15:47] elbotho commented on #1337
hihi 1337

[2021-10-25 15:58] kulla commented on #1337
?

[2021-10-25 16:37] elbotho commented on #1344
done.
let's see if the next crowdin updates work smoothly.

[2021-10-25 16:37] #1344 closed, assigned to nobody

[2021-10-25 17:12] Entkenntnis commented on #1337
elite

[2021-10-25 19:22] elbotho opened #1348 "bootstrap classes in editor"
remove or mock remaining bootstrap classes in editor code.

[2021-10-25 20:20] kulla commented on #1342
Both information are now fetchable in staging (`TaxonomyTerm.position` is actually `TaxonomyTerm.weight` see https://github.com/serlo/serlo.org/blob/main/packages/public/server/src/module/Taxonomy/src/Entity/TaxonomyTerm.php#L273-L276 )

[2021-10-26 06:58] Entkenntnis opened #1350 "add permissions to edtr-io"
the field `mayCheckout` should be populated according to our new permission system

[2021-10-26 07:24] Entkenntnis commented on #1340
implemented with 36a4316407f02c859897492490c8a058663fbb2a

[2021-10-26 07:24] #1340 closed, assigned to nobody

[2021-10-26 07:24] Entkenntnis commented on #1341
implemented with 36a4316407f02c859897492490c8a058663fbb2a

[2021-10-26 07:24] #1341 closed, assigned to nobody

[2021-10-26 11:32] elbotho opened #1351 "Investigate: Are there legacy interactive exercises left?"

[2021-10-27 13:13] Entkenntnis opened #1354 "serlo preview not working after deployment"
After deployment, the bypass prerender cookie value changes, but the cookies remain -> content not up-to-date

Fix: maybe check for build id in client or refresh cookie more often.

[2021-10-29 11:55] #1348 closed, assigned to elbotho

[2021-10-30 00:01] elbotho commented on #1351
last convo update I could find (end of september)

[2021-10-30 12:17] inyono commented on #1351
https://are-we-edtr-io-yet.serlo.org

[2021-10-30 16:46] Entkenntnis commented on #1351
I'm 100% sure that frontend + api are not supporting legacy exercises. (we haven't even got a `__typename` for them)

@kulla And I think we are also filtering them out in the api? Maybe there are some active uuids left over ...

[2021-10-30 18:24] elbotho commented on #1351
those numbers don't differenciate between interactive and and non-interactive exercises.

[2021-10-30 18:31] elbotho commented on #1350
@kulla Is every user with the authorization `Entity.checkoutRevision` able to skip review in the edtr?
Or is that another setting?

[2021-10-30 18:40] elbotho commented on #1343
To make it really save we should:
1. query all fields the api offers for a uuid (or check the db directly)
2. open the uuid in the edtr and add a fixed string to the title/content
3. save and accept a new revision
4. repeat the first step and compare the result

[2021-10-30 18:42] elbotho commented on #1343
first step is probably to find some example for each type.
http://de.serlo-staging.dev/___content and https://are-we-edtr-io-yet.serlo.org/ are resources for that.

[2021-10-31 22:05] elbotho commented on #1343
I prepared a simple playwright setup to automate this

[2021-11-02 08:30] Entkenntnis commented on #1354
0b95e6a0f579563b6a011628b13dd90c9960ce89 adds a quickfix, but a more complete solution would probably have to check the build id ...

[2021-11-02 08:30] #1354 closed, assigned to nobody

[2021-11-02 08:31] Entkenntnis commented on #1327
any results on this one?

[2021-11-02 11:56] elbotho commented on #1337
~Do you know if courses have to be reviewed atm.?~

~If no, filtering is a good idea imo.~
The problem here is that the frontend does not have a course view. We always load to the first course page instead which fails here.

(PR with fix here #1363 )

[2021-11-02 12:01] elbotho commented on #1327
It's a course without pages. We don't support that atm.
Will try to find out where the best place would be to catch that.

[2021-11-02 21:34] #1327 closed, assigned to elbotho

[2021-11-02 21:34] #1337 closed, assigned to elbotho

[2021-11-02 22:04] elbotho commented on #1350
Discussion: https://serlo.slack.com/archives/CEB781NCU/p1635865685002100
API Issue: https://github.com/serlo/api.serlo.org/issues/498

Quickfix in #1364

[2021-11-03 22:02] elbotho commented on #1343
Those tests only check the fields that are used in the new frontend. No idea what else might get lost in the db ^^.

**Converted Entities**
- Events ✅ (first 🐛)
- ~Math Puzzle~
- Videos ✅
- Applets ✅ (another 🐛 👍 )
- CoursePages ✅
- Courses ✅ (two more fixed)
- Articles ✅
- Exercise ✅ (we got some diffs in the content, e.g. equations plugin, but I guess that's unrelated)
- ExerciseGroups ✅ (also c

[2021-11-04 08:23] elbotho opened #1369 "should we hide trashed content from robots?"
They are usually trashed for a reason, so it should make sense to hide them on e.g. google, right? @yolo-bird @kathongi

[2021-11-04 08:42] kathongi commented on #1369
That's right. Let's hide them. Sometimes I come across very old, deleted help sites for authors. It can be confusing.

[2021-11-04 12:53] ghost commented on #1369
Please hide them @elbotho

[2021-11-04 13:04] elbotho commented on #1369
alright, will be merged soon.

[2021-11-04 16:46] #1369 closed, assigned to nobody

[2021-11-04 19:56] #1342 closed, assigned to elbotho

[2021-11-04 19:56] #1350 closed, assigned to elbotho

[2021-11-05 16:51] elbotho commented on #1351
Note: Could not find any Exercises that did not work with our implementation. If we find exercises that need that code (0cc1b7b8e53d337a9bc221c3ef5b7b7f0fa6217f) later, I'll suggest adding a warning and redirect to legacy.

[2021-11-05 16:51] #1351 closed, assigned to Entkenntnis

[2021-11-06 12:28] elbotho commented on #1343
Sooo after quite some effort: I'm pretty sure there are more bugs to be found.
And I hate to test on the community, especially since really frustrating errors could surface, but I don't really think I will find them with automated tests atm (with feasible effort)…
Let's introduce this carefully soon.

[2021-11-06 12:28] #1343 closed, assigned to elbotho

[2021-11-06 12:30] elbotho opened #1384 "Auto checkout not working"
The checkbox is now only visible for users that can skip review and on content that needs review. (shoud be correct)
But autoCheckout is currently not working (need to pass another variable or check in `use-handle-save`)

[2021-11-06 12:31] elbotho opened #1385 "Course Review does not load pages"
Courses work, but on opening a course review the pages do not load.
(probably just missing query)

[2021-11-07 10:15] Entkenntnis opened #1388 "no feedback for single choice exercise"
Try https://de.serlo.org/mathe/7125/7125, there is no feedback shown. maybe add fallback?

[2021-11-07 12:24] kulla opened #1389 "Add tool, that sysadmins can delete profiles without a description"
The tool serlo.org/___bot_or_not can only be used to delete spam accounts with a profile description. However I have found that some spam accounts in our chat do not have a description. Thus we also need a way to delete them (I suspect that some spammers are not native in English / German and just click random edit buttons in the profile page -> therefore they sometimes end in editing the motivati

[2021-11-07 12:31] sentry[bot] opened #1390 "GraphQLError: Variable "$id" of required type "Int!" was not provided."
Sentry Issue: [API-35](https://sentry.io/organizations/serlo/issues/2232742684/?referrer=github_integration)

[code]

[2021-11-07 12:34] kulla commented on #1390
The query is (which should make it easier to find the reason for this event):

[code]

An empty object `{}` is given as the `variable` property. This seems to be a bug in the frontend which is also quite common (3K events in last 14 days)

[2021-11-07 15:39] Entkenntnis opened #1391 "don't cache 500 pages"
I think we are currently generating static pages even for 500 results - better set it to error and don't cache them.

[2021-11-07 19:23] elbotho commented on #1391
what do you mean by `set it to error` ?

[2021-11-07 22:00] elbotho commented on #1390
thanks @kulla. I don't think this generates an error in the frontend atm. and I did not find a page where it happens…
See PR.

[2021-11-08 07:08] Entkenntnis commented on #1391
I was thinking of `notFound` ... but this may not be suitable for our use case.

(https://nextjs.org/docs/basic-features/data-fetching#getstaticprops-static-generation)

[2021-11-08 09:57] elbotho commented on #1391
I think `notFound` is only for 404 pages.
[This](https://nextjs.org/docs/advanced-features/custom-error-page#500-page) might be relevant.

[2021-11-08 10:01] elbotho commented on #1391
Also it seems like we could set `revalidate` to some seconds again if the query results in 50x.

[2021-11-08 12:13] elbotho commented on #1389
@kulla simple proposed solution in https://github.com/serlo/frontend/pull/1395

Ah no preview. So: this would be added to the bot_or_not page:
![image](https://user-images.githubusercontent.com/1258870/140740287-22983412-257f-46a0-a0f6-c387ee70af89.png)

[2021-11-09 10:01] #1384 closed, assigned to nobody

[2021-11-09 10:01] #1385 closed, assigned to nobody

[2021-11-10 08:29] elbotho commented on #1313
I'll close this for now since there is nothing for us to do atm imo.
I hope react-diff or js-diff will choose the faster package and this will be resolved with some updating in the future.
Reopen if you disagree :)

[2021-11-10 08:29] #1313 closed, assigned to nobody

[2021-11-10 08:59] elbotho opened #1401 "Refactor Error handling: use next approach"
Follow up of #1391:

We should probably use the new ['notFound'](https://nextjs.org/docs/basic-features/data-fetching#getstaticprops-static-generation) return and [next's custom error pages](https://nextjs.org/docs/advanced-features/custom-error-page#500-page)
 and maybe implement something like [this](https://victorthadeu-66076.medium.com/how-to-return-404-while-using-fallback-blocking-in-next-js

[2021-11-10 09:29] elbotho opened #1403 "Feedback: editor integration"
[Source](https://serlo.slack.com/archives/CFF72UKJL/p1636456208004000):
- [x] save/undo/redo toolbar should be fixed (Note: that is actually the expected behaviour already, let's reinvestigate when we have examples where this does not work)
- [x] equations plugin: visual difference between editor and rendering (arrow color…?)
- [x] how are quotes styles in editor vs frontend?
- [x] drop downs shou

[2021-11-10 10:22] elbotho commented on #1403
1. that is actually the expected behaviour already, let's reinvestigate when we have examples where this does not work.
2. pending
3. fixed
4. …
5. …

[2021-11-10 11:02] elbotho commented on #1403
Notes:
**toolbar**: that is actually the expected behaviour already, let's reinvestigate when we have examples where this does not work

**equations plugin**: still renders a bit differently. Will be solved when we merge the rendering code.

[2021-11-10 11:52] sentry[bot] opened #1405 "ChunkLoadError on Safari"
Sentry Issue: [FRONTEND-25F](https://sentry.io/organizations/serlo/issues/2676217490/?referrer=github_integration)

[code]

[2021-11-10 11:53] elbotho commented on #1405
notes:
- Might be https://github.com/mjackson/unpkg/issues/107
- https://github.com/webpack/webpack/issues/7502
- another option: `output: { chunkFilename: '[name].[chunkhash].js', }``
- https://github.com/mattlewis92/webpack-retry-chunk-load-plugin

[2021-11-10 12:30] elbotho opened #1408 "pretty links not working any more"
[e.g.](https://de.serlo.org/mathe/1565/sinus-kosinus-und-tangens)

[2021-11-10 12:51] elbotho commented on #1310
follow up in #1405

[2021-11-10 12:51] #1310 closed, assigned to nobody

[2021-11-10 13:01] elbotho opened #1410 "activity log of grouped exercise fails?"
examples:
https://de.serlo.org/event/history/54213
https://de.serlo.org/event/history/61624
https://de.serlo.org/event/history/62976
https://de.serlo.org/event/history/116394
https://de.serlo.org/event/history/98101
https://de.serlo.org/event/history/62976

They are all redirected if we access them directly (probably cf worker then).
But queried directly they return null from the api.

types: `mul

[2021-11-10 17:09] #1321 closed, assigned to nobody

[2021-11-11 10:37] #1388 closed, assigned to nobody

[2021-11-11 10:39] #1391 closed, assigned to nobody

[2021-11-11 10:40] #1403 closed, assigned to nobody

[2021-11-11 10:45] #1408 closed, assigned to nobody

[2021-11-15 09:10] Entkenntnis opened #1413 "toolbar not fixed on smaller screen"
on smaller screens, the toolbar is not fixed on top anymore, related with `lg:overflow-visible`

[2021-11-15 09:14] Entkenntnis commented on #1413
related: https://github.com/serlo/frontend/commit/6d5dd571cf4b432f114e6ee08bc3a02e2e06c561, maybe sm: is enough

[2021-11-15 11:31] #1389 closed, assigned to nobody

[2021-11-16 08:59] Entkenntnis opened #1419 "test-cember"
To build a habit of writing tests, I want to write 1 single e2e test every day from 1st of dec to 24th of dec in https://github.com/Entkenntnis/serlo-codecept for the frontend. Tracking the progress here:

- Day 1:
- Day 2:
- Day 3:
- Day 4:
- Day 5:
- Day 6:
- Day 7:
- Day 8:
- Day 9:
- Day 10:
- Day 11:
- Day 12:
- Day 13:
- Day 14:
- Day 15:
- Day 16:
- Day 17:
- Day 18:
- Day 19:
- Day 20:
- D

[2021-11-18 15:10] kulla opened #1420 "Add JSON-LD with schema.org to uuids"
### Abstract

For the LeNaBi project we should add metadata to our learning resources so that other services (like learning resources) have a better understanding about our data. The data should be stored in in the [JSON-LD](https://json-ld.org/) format (I find the [specification](https://www.w3.org/TR/json-ld/) the best way to understand it). With using the standard https://dini-ag-kim.github.io/

[2021-11-18 16:27] kulla opened #1421 "Add JSON-LD to main page"
Add the main page at "de.serlo.org" we can add the following metadata inside the `<head>` tag (stored in JSON-LD):

[code]

[2021-11-29 16:47] #1420 closed, assigned to elbotho

[2021-11-29 16:47] #1421 closed, assigned to elbotho

[2021-12-09 14:12] elbotho opened #1432 "Refactor Timeago"
Try moving to https://github.com/nmn/react-timeago and check bundle size

[2021-12-09 14:37] #1390 closed, assigned to nobody

[2021-12-09 14:39] elbotho commented on #1390
Only seemed to affect exercises. `solutionId` was not provided but was used to load comment area.
Could not find an actual problem or error in the frontend so I just added a check. Should not happen any more.

[2021-12-11 09:19] elbotho commented on #1432
possible, but bundle difference is quite comparable.

[2021-12-11 09:19] #1432 closed, assigned to nobody

[2021-12-15 09:21] Entkenntnis opened #1436 "exercise numbering beyond z"
after a, ..., z, move on with aa, ab, ...az, - then ba, bb, bc, ..., bz...

[2021-12-15 09:24] Entkenntnis commented on #1419
canceled because of low prio

[2021-12-15 09:24] #1419 closed, assigned to Entkenntnis

[2021-12-15 09:25] ghost commented on #1436
I don't think there is any sense in exercises with more than 26 subexercises. Not sure if we want to allow that. Would suggest splitting up the exercise.

[2021-12-15 09:44] kathongi commented on #1436
I would allow exercises with more than 26 subexercises. I think of exercises of the same kind where I want to practice e.g. an algorithm. The other questions is how we display such huge exercise groups, but that's another point.
Additionally as an author I would be very frustrated if I start a huge exercise and reach exercise z) and can't go on. In https://de.serlo.org/community/222431/aufgaben-zu

[2021-12-15 13:23] elbotho commented on #1436
I added a quick fix for this. It solves the technical problem.
Feel free to further discuss the guidelines etc.

[2021-12-15 15:17] Entkenntnis commented on #1436
@kathongi https://frontend-git-grouped-ex-serlo.vercel.app/222431

[2021-12-17 12:38] #1436 closed, assigned to nobody

[2021-12-23 09:47] kulla opened #1438 "Finalize user-journey"
The backend code for the user-journey is ready (see https://github.com/serlo/api.serlo.org/pull/507). The API can be used as follow:

1. After the SSO create a random `sessionId` (any string is okay)
2. Call `https://api.serlo-staging.dev/enmeshed/init?sessionId=<...>&familyName=<...>&givenName=<...>` (POST-Request) with the given data from the SSO (@elbotho Tell me if we do not have `familyName`

[2021-12-24 12:27] kulla opened #1439 "Direct call to https://de.serlo.org/api/auth/login results in 500er response"
A direct call to https://de.serlo.org/api/auth/login (for example via `curl -I https://de.serlo.org/api/auth/login`) results in a 500er response. It works when a `Referer` is set (`curl -I https://de.serlo.org/api/auth/login -H "Referer: https://de.serlo.org/"`). It would be better if there is a 400er response with an error message.

[2021-12-24 12:45] elbotho commented on #1438
Could we easily switch to the `name` field?
Seems to be `${given_name} ${family_name}`

Can the session ID just be a static string for our prototype?

[2021-12-24 13:34] kulla commented on #1438
Jep

The session ID is used as a key for storing the information about the person (enmeshed ID, attributes of the person, ...). When we reuse the session ID, then at the second time, the connection is already set up and the attributes of the person are already stored. So it is easier when we generate a new sessionID each time https://lenabi.serlo.org/user-joruney is called. Thus we do not need to

[2021-12-24 13:50] kulla commented on #1438
The result of `https://api.serlo-staging.dev/enmeshed/attributes?sessionId=<...>` is currently of the form `{ name: string, value: string }[]`. Will change this to a dictionary... Currently the code `attributes.find(x => x === "Lernstand-Mathe").value` can be used to obtain the current learning status.

[2022-01-11 12:37] inyono opened #1442 "Check for new / old editor for pages"
Pages seem to be always opened in the old editor, even if the content has already been converted, see e.g. https://de.serlo.org/21468.

[2022-01-11 15:50] elbotho commented on #1442
Can't reproduce since this page seems to be blank in staging 😲 and I don't have the necessary rights in production.
And are you refering to the exerimental feature of using the editor in the frontend or the current approach of linking to legacy?

[2022-01-11 16:07] inyono commented on #1442
It's blank in staging because a new editor state was saved via legacy editor. The most recent edits by Wolfgang are broken (see also https://de.serlo.org/entity/repository/history/21468). The most recent edit by LeonieTrautmann works correctly in the new edotr but wrongly links to legacy editor. (See https://de.serlo.org/page/revision/create/21468/226096 respectively https://de.serlo-staging.dev/p

[2022-01-11 16:08] inyono commented on #1442
The latter, it's only about the link for now (since editing of pages isn't really supported in the frontend afaik)

[2022-01-13 09:29] elbotho commented on #1442
So basically we could always link to `/page/revision/create/…` and never use `create-old` and let the editor link to the old editor when needed. Any objections?
![image](https://user-images.githubusercontent.com/1258870/149302870-ac17acd2-67aa-4730-9fd6-46f3165ff86b.png)

[2022-01-19 10:14] kulla opened #1446 "Activate table plugin for testing in staging"
The table plugin (see https://github.com/serlo/frontend/pull/1445 ) shall be activated in staging. ping @kathongi

[2022-01-21 09:10] #1446 closed, assigned to nobody

[2022-01-21 09:11] #1438 closed, assigned to elbotho

[2022-01-24 09:27] elbotho commented on #1442
- the new editor will not be used for editiing pages for now
- we will investigate what we need to convert the pages and keep the needed layout possibilities
- Long term pages should be replaced by nextjs static pages

[2022-02-01 10:33] Entkenntnis opened #1456 "Logout not working on staging and localhost"
Trying to logout on staging results in an error page. It looks like some parameter has changes.

![grafik](https://user-images.githubusercontent.com/13507950/151953075-db7e288d-805d-4de2-9eb5-e2496ee766a8.png)

[2022-02-14 08:30] inyono commented on #1456
Weird stuff, probably an issue with the infrastructure somehow. Will look into this.

[2022-02-18 19:47] Entkenntnis opened #1469 "quickbar should auto-select first entry"
and go to it after pressing enter. It's relative frustrating in the current state.

[2022-02-19 11:57] Entkenntnis commented on #1469
@elbotho this was fast :100:

[2022-03-07 12:59] Entkenntnis commented on #1299
cause of this problem: because we lazy load the comment area, the relevant code is only loaded after you scroll to the comment

[2022-03-07 18:00] #1299 closed, assigned to nobody

[2022-03-07 18:00] Entkenntnis commented on #1339
split this issue into more specific ones in communication with authors

[2022-03-07 18:00] #1339 closed, assigned to nobody

[2022-03-08 07:37] Entkenntnis commented on #1401
I will look into this and see if we can use some of the approaches.

[2022-03-08 07:39] Entkenntnis commented on #1401
So my idea would be to remove the error-type from page data -> throw error instead and use nextjs error page. Hopefully this works ... (not sure yet how to pass the message)

[2022-03-08 08:59] Entkenntnis opened #1478 "fix "No authorization context provided!" while building static pages"
Find out where this happens and see if this is critical

[2022-03-08 09:17] Entkenntnis commented on #1401
Proposed new behaviour in detail (wip):

- `404`: return `notFound: true`, generic message that page is not found (e.g. no custom message)
- `5xx`: throw error in getStaticProps instead of returning, nextjs will catch it, custom error component extracts error code, sets it to response and renders error page, no caching. In development: dev-server will show overlay.
- removing `kind:'error'` from d

[2022-03-08 09:32] Entkenntnis opened #1479 "can't login as another user"
on production, I am not able to login as new user. After clicking "Abmelden", trying to login results in automatically login as my last user.

[2022-03-08 09:35] Entkenntnis commented on #1456
also affects localhost.

Variation of this happens on production: #1479

[2022-03-08 15:51] Entkenntnis commented on #1405
@elbotho Any updates here? If we can't reproduce this error, then I would mark this as stale and close it.

[2022-03-09 09:32] Entkenntnis opened #1483 "empty highlight plugin causes error"
https://de.serlo.org/user/148805/julianbabl -> 500

reason: `{"plugin":"highligh",state:{}}` has empty state ???

![grafik](https://user-images.githubusercontent.com/13507950/157412874-ef4bc494-00a3-4aca-8071-d61cbdd9dd5a.png)

[2022-03-09 09:48] Entkenntnis commented on #1410
These types are not supported anymore. so a 404 response here is correct (the convo team has converted all entities to edtr-io, as far as I know)

[2022-03-09 09:48] #1410 closed, assigned to nobody

[2022-03-09 09:53] Entkenntnis commented on #1413
fixed with aa26ad82c5179b23e51c48df61e81706a2afa7cf

[2022-03-09 09:53] #1413 closed, assigned to nobody

[2022-03-09 09:56] Entkenntnis commented on #1439
@kulla can you elaborate a bit about the error message? The message is "Missing referer header" and I think it's quite clear.

[2022-03-09 10:02] Entkenntnis commented on #1442
Nothing actionable right now. Will open new issues if we have decided how to move on.

[2022-03-09 10:02] #1442 closed, assigned to elbotho

[2022-03-09 16:29] inyono commented on #1483
Not really, looks like a malformed state. Not sure how that happened.

[2022-03-09 20:33] Entkenntnis commented on #1483
hopefully this is just a one-time thing ...

[2022-03-09 20:54] Entkenntnis commented on #1478
fixed with 1b98791964318acfcb640a6722f8feac3aac8c53

[2022-03-09 20:54] #1478 closed, assigned to Entkenntnis

[2022-03-09 21:03] Entkenntnis commented on #1439
the `-I` option of `curl` is suppression the message body. Try `curl https://de.serlo.org/api/auth/login` to see the warning.

[2022-03-09 21:03] #1439 closed, assigned to nobody

[2022-03-09 21:04] Entkenntnis commented on #1405
marking this as stale

[2022-03-09 21:04] #1405 closed, assigned to elbotho

[2022-03-09 21:07] #1483 closed, assigned to nobody

[2022-03-09 22:44] elbotho commented on #1478
Thanks!

[2022-03-10 11:29] elbotho opened #1486 "equations: small display bug"

[2022-03-10 16:16] Entkenntnis opened #1488 "vectors too big"
In the solution of https://de.serlo.org/mathe/13169/13169, vectors are too big.

[2022-03-10 16:19] Entkenntnis opened #1489 "entity not editable"
https://de.serlo.org/entity/repository/add-revision/238139 is not editable, error in browser console

[2022-03-10 16:22] Entkenntnis opened #1490 "inconsistent textstyle / displaystyle with formula in list"
In https://de.serlo.org/mathe/1565/sinus-kosinus-und-tangens at "Folgende Winkelbeziehungen", fractions are shown in different styles.

They should be consistent.

[2022-03-10 17:37] Entkenntnis commented on #1486
for illustration:

![grafik](https://user-images.githubusercontent.com/13507950/157722289-f7416705-9813-4532-a864-1e2c1034dc39.png)

[2022-03-12 21:15] Entkenntnis opened #1491 "add edtr-io integration for taxonomy term"
some results:

- current integration already supports taxonomy terms.
- we need to add new routes `/taxonomy/term/create` and `/taxonomy/term/update`, then the edtr-io POST result to resp. url and we *should* be fine
- testing for save only possible on staging with csr, needs cloudflare support later

wait after merge of #1481

[2022-03-13 08:16] elbotho commented on #1491
sure this is deployed to staging already?

[2022-03-13 16:03] Entkenntnis commented on #1491
see https://frontend-git-staging-serlo.vercel.app/entity/repository/add-revision/200247

[2022-03-13 17:22] elbotho commented on #1491
ahh, now I understand. good catch. maybe we can use the new mutations. Let's check in with hugo tomorrow.

[2022-03-14 07:55] Entkenntnis opened #1492 "deleted discussion from frontend is still visible in /discussions"
Steps:

- delete a discussion in the frontend "Thread löschen" or "Thread archivieren"
- visit "/discussions" (legacy)
- comments are still visible, but they have no settings and can't be deleted (compare first two vs the last one) :

![grafik](https://user-images.githubusercontent.com/13507950/158128426-feea1e79-4ed0-4412-a4e0-2307c7362588.png)

[2022-03-14 08:25] elbotho commented on #1492
I think the best way to solve this would be to migrate `/discussions` then.

[2022-03-14 09:52] Entkenntnis opened #1493 "Migrate Content API"
we need to support (parts of) https://github.com/serlo/serlo.org/wiki/Content-API for edtr-io integration in the frontend

Idea: use CF to redirect to a separate `/embed/[...slug]` route

[2022-03-14 14:11] elbotho opened #1494 "implement `Page.addRevision`"
https://github.com/serlo/api.serlo.org/issues/531

[2022-03-14 14:34] #1401 closed, assigned to nobody

[2022-03-14 16:02] Entkenntnis opened #1495 "link component not respecting new feature flags"
This code seems not to be aware of the new "legacyEditor" cookie:

https://github.com/serlo/frontend/blob/c37831ec941ab3a092f7426bfe9e38be9a58a489/src/components/content/link.tsx#L51-L58

Problem: Uses CSR even if legacyEditor ist activated

[2022-03-14 16:50] elbotho opened #1496 "Course page have article icon"
e.g. https://de.serlo.org/mathe/49747/erweitern-und-k%C3%BCrzen-von-br%C3%BCchen

probably just remove icon there.

[2022-03-14 17:40] elbotho commented on #1495
uh nice catch. not sure how I missed that.

[2022-03-14 19:41] Entkenntnis commented on #1494
Not sure what the intention is here, @elbotho can  you add a small explaination? Just wondering, because we have postponed a lot of details in the discussion today. Do you mean edtr-io support for static pages in the frontend?

[2022-03-14 21:21] elbotho commented on #1494
sorry, got confused.
nevermind. this might or might not be relevant later. def. closed for now.

[2022-03-14 21:21] #1494 closed, assigned to nobody

[2022-03-15 07:42] #1495 closed, assigned to elbotho

[2022-03-15 07:42] #1496 closed, assigned to elbotho

[2022-03-15 07:47] Entkenntnis opened #1499 "next.js eslint plugin"
"The Next.js plugin was not detected in your ESLint configuration. See https://nextjs.org/docs/basic-features/eslint#migrating-existing-config"

Some rules seems useful, other are not relevant for us (e.g. Link or Image component). Check it someday.

[2022-03-15 07:57] Entkenntnis opened #1500 "link to legacy editor not working"
https://de.serlo.org/entity/repository/add-revision-old/1893 is not showing the legacy editor, but redirects to the frontend. Probably more of a CF problem.

[2022-03-15 08:48] elbotho commented on #1500
another great catch…
we use `.startsWith('/entity/repository/add-revision')` to get the `/add-revision/…` links which obviouly also catches `/add-revision-old/…`.
Affects both frontend and CF worker. Fixes in progress.

[2022-03-15 10:23] Entkenntnis opened #1501 "edtr-io is loading trashed exercises"

[2022-03-15 10:24] #1501 closed, assigned to Entkenntnis

[2022-03-15 10:32] Entkenntnis commented on #1489
More specifically, the solution of 239199 is containing "null" in the state:

![grafik](https://user-images.githubusercontent.com/13507950/158358941-895d8573-5ea9-4090-9524-0c63c327cb90.png)

@inyono this is breaking the text-plugin

[2022-03-15 10:35] Entkenntnis opened #1502 "no trashed notice for exercise group and grouped exercise"
Try to trash an exercise: https://de.serlo-staging.dev/mathe/9291/9291

Entity is still visible and you can't restore it either.

[2022-03-15 10:46] Entkenntnis commented on #1489
I have trashed the item 239199 and hope this is a one-time exception.

[2022-03-15 10:46] #1489 closed, assigned to nobody

[2022-03-15 10:50] elbotho commented on #1502
showing notice with 929fb8e14315f61279ca61756bbf397ed4844313

[2022-03-15 10:51] elbotho commented on #1502
currently we don't offer any tools in the menu for single exercises so restoring is still not possible

[2022-03-15 11:03] elbotho commented on #1502
ok #1504 should fix this.

solutions have the same problem but I'm not quite sure if deleting only a solution is something we should offer at all?

[2022-03-15 11:06] Entkenntnis opened #1505 "review use case for deleting solution"
The frontend supports deleting of solutions, but the behaviour is partly not very well defined.

Maybe this feature is not needed at all? Review this.

[2022-03-15 11:06] Entkenntnis commented on #1502
Thank you for the fix! Follow up in https://github.com/serlo/frontend/issues/1505

[2022-03-15 11:07] #1502 closed, assigned to nobody

[2022-03-15 11:12] #1500 closed, assigned to nobody

[2022-03-15 15:12] Entkenntnis commented on #1490
The source of the inconsistency: some list items are with trailing whitespace, other are not.

Options are:

- remove whitespace
- explicitly use `\dfrac`
- make converter more intelligent to handle this special case

[2022-03-15 15:22] Entkenntnis commented on #1499
I am a bit confused why we have `eslintrc.js` and `eslintrc-next.js` in our project and I don't really now with one is in use...

[2022-03-15 15:27] Entkenntnis commented on #1490
I have opted for the first option and edited the article.

Option 3 may be interesting in the future, but it will make the already complicated converter more complicated ...

[2022-03-15 15:27] #1490 closed, assigned to nobody

[2022-03-15 15:43] elbotho commented on #1499
you can use `yarn lint:next` to use `eslintrc-next.js` and `yarn lint:eslint` should use `eslintrc.js` that we basically share with the other repos.

[2022-03-15 15:44] elbotho commented on #1499
next basically just warns about `<img>` and `<a>` at this point so I never added it into our `yarn lint`.

[2022-03-16 07:26] #1491 closed, assigned to nobody

[2022-03-16 07:47] Entkenntnis opened #1511 "create taxonomy term"
final place: `/taxonomy/term/create/[parent]/[id]`

is not reachable from the frontend, so we need cf support to test this

CF issue: https://github.com/serlo/serlo.org-cloudflare-worker/issues/274

[2022-03-16 07:48] Entkenntnis opened #1512 "strange redirect after editing taxonomy description"
it's now possible to edit a taxonomy description, but the redirect is not correct, investigate why this happens

[2022-03-16 09:10] elbotho commented on #1511
but we can develop locally, right?
so should we move this to the cf-worker repo then?

[2022-03-16 09:15] elbotho commented on #1512
legacy actually returns this:
`{"success":true,"redirect":"\/"}`

so frontend behaviour is ok.
not sure if we should work on this now or wait/work on the [endpoints](https://github.com/orgs/serlo/projects/22/views/1).

[2022-03-16 14:10] #1469 closed, assigned to nobody

[2022-03-16 14:36] #1488 closed, assigned to nobody

[2022-03-16 14:37] #1486 closed, assigned to nobody

[2022-03-16 14:38] elbotho commented on #1492
This page should only be available to logged in users, maybe even only moderators.
Then we can still decide if we should show the deleted comments.

[2022-03-16 14:39] elbotho commented on #1492
[API issue](https://github.com/serlo/api.serlo.org/issues/534)

[2022-03-16 17:33] elbotho commented on #1512
okay should be fixed with b05af2b45aedadf758ac5bfca5945f5f5027e39b
we just reload the page now which is okay for now.
now we only need the routes in cloudflare.

[2022-03-16 17:33] #1512 closed, assigned to nobody

[2022-03-17 10:06] Entkenntnis commented on #1511
we will need both parts, so an issue in the cf-worker repo is also needed

[2022-03-17 10:06] Entkenntnis opened #1519 "finish table plugin"
we are waiting for changes in the edtr-io core for this.

[2022-03-17 10:07] Entkenntnis opened #1520 "deploy box plugin for all users"
we are waiting for changes in the edtr-io core for this.

[2022-03-17 13:11] elbotho commented on #1511
Ah, now I understand the purpose of the issue here :)

[2022-03-17 17:44] #1499 closed, assigned to nobody

[2022-03-18 10:08] Entkenntnis opened #1523 "use new mutations for edtr-io add-revision"

[2022-03-21 08:25] Entkenntnis opened #1528 "formulas in equations explainations are not accessible"
![grafik](https://user-images.githubusercontent.com/13507950/159226072-88986ff8-072b-4d27-b03c-0a27f04d5f1a.png)

[2022-03-21 08:26] Entkenntnis commented on #1528
Not a regression of the integration (this is also happening in legacy), but still annoying.

Check if this is a known bug and already in the backlog and/or moving it there ...

[2022-03-21 08:32] elbotho commented on #1528
should be [this one](https://docs.google.com/document/d/1rSkFo2JtsSwHHsbosQcgAN4EzeePXLnqi_eCFpUM3u4/edit#heading=h.8o6gbe3yrbcl)?

[2022-03-21 09:35] Entkenntnis commented on #1528
closing this as it's part of the backlog

[2022-03-21 09:35] #1528 closed, assigned to nobody

[2022-03-21 09:53] Entkenntnis commented on #1511
de.serlo-staging.dev/taxonomy/term/create/[parent]/[id] is now handled in the frontend, so we can move on with implementing the integration

[2022-03-21 10:54] elbotho commented on #1520
related issues/prs:
- https://github.com/edtr-io/edtr-io/issues/369
- https://github.com/edtr-io/edtr-io/issues/359
- https://github.com/edtr-io/edtr-io/pull/368

[2022-03-22 08:02] #1511 closed, assigned to Entkenntnis

[2022-03-22 08:28] Entkenntnis opened #1533 "test create taxonomy"
only https://github.com/serlo/serlo.org-cloudflare-worker/issues/277 missing for this to work with legacy endpoint

[2022-03-22 11:09] Entkenntnis commented on #1533
fix is deployed and saving works - just fix redirect to correct place - or wait for #1523

[2022-03-22 22:14] elbotho opened #1534 "breadcrumbs link to old subject landing pages"
e.g. https://de.serlo.org/19767/mathematik-startseite

[2022-03-24 08:30] Entkenntnis opened #1535 "implement multimedia behaviour "central role""
the frontend is ignoring the "illustrating" property of the multimedia element.

Intended behaviour: image has 100% width and the explaination is below the image.

Example: https://de.serlo.org/entity/repository/compare/48767/241060

[2022-03-24 08:32] Entkenntnis commented on #1535
source: https://community.serlo.org/channel/software-features-and-bugs/thread/fph9SisvmGbHc7z2g

[2022-03-25 09:17] kulla opened #1537 "Equation plugin: No input in visible mode for math equation in explanation"
See https://serlo.slack.com/archives/C0BMSC431/p1648198055919099

Latex-Modus geht.

![image](https://user-images.githubusercontent.com/1327215/160091923-48e0810f-6716-456c-b56b-fd436f29e38c.png)

[2022-03-25 09:54] elbotho commented on #1535
Needs more discussion, closed until actionable.
Added to backlog document.

[2022-03-25 09:54] #1535 closed, assigned to nobody

[2022-03-25 14:26] Entkenntnis commented on #1537
Beim letzten Testen ist dieses Verhalten auch schon in der legacy Integration aufgetreten, also kein regression beim Umzug, sondern ein offener Bug

[2022-03-31 16:34] Entkenntnis opened #1549 "quickbar on subject landing page is not showing all relevant results"
If you search for "gleichung" on the landing page, you will get the article 1717, but you can't find this article if you search on the mathematics landing page.

Interesting, maybe review filtering code - will take a look.

[2022-03-31 16:44] Entkenntnis commented on #1549
source of the problem: the data set is currently trimming the tax depth to reduce file size - so often the root is omitted, so this will need a change in the update script

[2022-04-01 17:30] elbotho opened #1551 "saving does not work on staging"
not sure what the problem is (cf or frontend probably).
investigate or merge #1532 instead.

[2022-04-01 21:41] elbotho commented on #1551
not sure what the actual problem is, but deleting browser cache or using incognito mode to log in fixes it at least for some time.

[2022-04-02 08:29] Entkenntnis opened #1552 "review icon implementation"
Just adding font-awesome is using up 16kb gzipped bundle size, which is huge (and not even includes the icon data of ~10kb) for features we are barely using ...

https://github.com/FortAwesome/react-fontawesome/issues/232 is a start

[2022-04-02 08:30] Entkenntnis commented on #1549
fixed with f08ef6697e8e445707e2642ff38870250a0c33b1

[2022-04-02 08:30] #1549 closed, assigned to nobody

[2022-04-02 08:40] Entkenntnis commented on #1552
another big factor is tailwind: this makes most features obsolete, because we can style icons extensively with tailwind...

[2022-04-02 10:03] elbotho commented on #1552
do we load all icon data or does tree shaking work here?

[2022-04-02 10:07] Entkenntnis commented on #1552
Tree shaking is working for icon data. The size is mainly caused by [fontawesome-svg-core](https://github.com/FortAwesome/Font-Awesome/blob/6.x/js-packages/%40fortawesome/fontawesome-svg-core/index.js)

[2022-04-02 10:20] Entkenntnis commented on #1493
most important two parameters atm are `contentOnly` and `hideTopbar`

[2022-04-03 10:59] elbotho commented on #1493
https://github.com/serlo/serlo.org-cloudflare-worker/pull/280

[2022-04-04 09:28] elbotho commented on #1493
We decided on a **feature set**:
only `?contentOnly` will be supported and no height info will be sent.
Others features/customization we will implement only when requested.

The **route** in the frontend:
`/content-only/[...slug]`

**Links**:
New tab or staying in the iframe: (pending)

[2022-04-04 10:12] elbotho commented on #1534
https://github.com/serlo/api.serlo.org/pull/551

[2022-04-04 14:56] #1523 closed, assigned to elbotho

[2022-04-04 15:17] Entkenntnis opened #1563 "converter crashes"
url: https://de.serlo.org/entity/repository/add-revision/73649

the state is malformed, even legacy is not working for this entity

[2022-04-05 07:48] Entkenntnis opened #1567 "redo not working"
the redo button is having no effect in `add-revision`. Tested on localhost

[2022-04-05 08:20] elbotho commented on #1567
Can reproduce on localhost and staging. Does work in legacy.

[2022-04-05 09:07] #1567 closed, assigned to nobody

[2022-04-05 11:22] Entkenntnis opened #1569 "activity not loading"
My notifications are not loading with this error:

2 loading-error.tsx:26:11

I have edited the entity 193389 (7 Fakten zum Klimawandel) and now the notifications seems to be broken.

[2022-04-05 14:24] #1552 closed, assigned to nobody

[2022-04-05 15:13] #1519 closed, assigned to elbotho

[2022-04-06 11:36] kulla opened #1573 "Implement /discussions in frontend"
The site https://de.serlo.org/discussions (currently rendered in the old system / old design) needs to be implemented in the new frontend.

[2022-04-06 11:51] elbotho commented on #1492
follow up in #1573

[2022-04-06 11:51] #1492 closed, assigned to nobody

[2022-04-06 11:52] elbotho commented on #1573
This page should only be available to logged in users (or probably a certain role).

API Issue: https://github.com/serlo/api.serlo.org/issues/534

[2022-04-06 16:19] Entkenntnis opened #1574 "don't add new revision if there was no change"
the new implementation adds a new revision for every exercise/solution in a exercise-group - even if there was no change.

Do we have enough information to detect this and skip unchanges entites? This will keep the revision history cleaner.

There is also the option to move this check into the API?

[2022-04-06 16:26] Entkenntnis opened #1575 "activity log is off by 2 hours"
Just created a revision and the activity log shows this:

![grafik](https://user-images.githubusercontent.com/13507950/162022317-7913e0b9-2ae4-4ff8-9e41-cb42c48ca673.png)

The time stamp is off by two hours (looks like a timezone thing ...)

[2022-04-06 16:50] elbotho commented on #1575
There is some [discussion on slack](https://serlo.slack.com/archives/CEB781NCU/p1648563369278359).

[2022-04-06 16:56] elbotho commented on #1574
I talked with @kulla  and @hugotiburtino  about this. The API should check it, the frontend can check it to reduce requests.

https://github.com/serlo/frontend/blob/25f5b56f94ee874df7e6449aaaf51538afcafa57/src/helper/mutations/revision.ts#L396

Also the API should create entities for children that don't exist yet. That's why Create*Entity and Add*Entity will be merged.

[2022-04-07 07:58] Entkenntnis commented on #1493
Some thoughts about page types: content-only is available to entities like article, taxonomy or page. For other pages, like the landing page, we will drop support completely, right? In this case the frontend part is done and this can be handled in the cloudflare worker issue.

[2022-04-07 07:59] Entkenntnis commented on #1533
fix for redirect in ea844027e73aacbcf1874677121e371302344ce4

[2022-04-07 07:59] #1533 closed, assigned to nobody

[2022-04-07 08:00] Entkenntnis opened #1576 "Migration: Editing and creating of taxonomyTerms"
staging  is working fine, can also be deployed already. check for cf worker afterwards

[2022-04-07 08:01] elbotho commented on #1493
We did not talk about this on monday, but yes that's my suggestion atm.
Goes well with the choice to handle links in new tabs :)

[2022-04-07 08:01] Entkenntnis commented on #1551
it's working for me atm (using legacy infrastructure). can you check if this is still the case for you?

[2022-04-07 08:03] Entkenntnis commented on #1456
@inyono any progress on this? I have to clear cookies to logout, which is working, but not ideal.

[2022-04-07 08:09] Entkenntnis opened #1577 "edtr-io loads trashed solutions"
if you trash a solution and edit the exercise, than the edtr-io still shows the trashed solution.

The edtr-io should also filter trashed solutions and ignore them.

[2022-04-07 09:18] elbotho commented on #1551
It's been a problem for ppl testing the new plugins, but seems to work atm.
I guess there is still something going on with cookies or smth.
Closing and focusing on the mutation instead.

[2022-04-07 09:18] #1551 closed, assigned to nobody

[2022-04-07 09:27] kulla opened #1578 "Link /jobs in the footer"
Impuls from the current lama meeting

[2022-04-07 10:26] #1578 closed, assigned to elbotho

[2022-04-07 16:47] elbotho opened #1580 "New lines turn into paragraphs in frontend"
e.g. https://de.serlo.org/community/211645/211645

[2022-04-07 17:04] Entkenntnis opened #1581 "remove edtr-io state fixes in the frontend"
we have some code to "normalize" edtr-io content, which includes:

- converting new lines to paragraphs: https://github.com/serlo/frontend/blob/ea14168365352c26803dd8efa0af66ae2ee3447c/src/schema/convert-edtr-io-state.tsx#L457

- converting single paragraph with inline-math to math block: https://github.com/serlo/frontend/blob/ea14168365352c26803dd8efa0af66ae2ee3447c/src/schema/convert-edtr-io-sta

[2022-04-07 17:04] Entkenntnis commented on #1580
see #1581 for context and a solution

[2022-04-07 17:09] Entkenntnis opened #1582 "sources without link are not visible"
e.g. https://de.serlo.org/biologie/40387/der-riesenkalmar-seemannsgarn-oder-realit%C3%A4t

~caused by converter removing empty links~ have to investigate cause

[2022-04-07 21:00] elbotho commented on #1581
do you remember some of the cases that made those fixes useful?

[2022-04-08 07:05] elbotho commented on #1575
[API Issue](https://github.com/serlo/serlo.org-database-layer/issues/204) (closed, but maybe not deployed)

[2022-04-08 07:07] #1537 closed, assigned to elbotho

[2022-04-08 07:29] elbotho commented on #1505
Let's keep this feature for the moment and create more concrete issues when problems come up.

[2022-04-08 07:29] #1505 closed, assigned to nobody

[2022-04-08 07:29] elbotho commented on #1577
closed by 5d863ffd9c523604801f3b754e23adf2e622ae4d

[2022-04-08 07:29] #1577 closed, assigned to nobody

[2022-04-08 07:36] elbotho commented on #1582
fixed by e2b4a1700a7ae9208146a5179d6778c781d91f7f
also added revision for the broken content :)

[2022-04-08 07:36] #1582 closed, assigned to nobody

[2022-04-08 08:08] elbotho commented on #1563
Okay, the legacy converter does trip over the ` ``` ` code blocks.
The revision before the current one does not have them (and works) and also manually removing them works.

We could add a hack (for legacy only) or ignore this.
[code]

@Entkenntnis what do you think?

[2022-04-08 08:17] elbotho commented on #1569
Interesting, on staging your account now has the same problem but with the `1565` article in the error log.

[2022-04-08 08:18] elbotho commented on #1569
Did this happen on production at all?

(maybe related [558](serlo/serlo.org-database-layer#217))

[2022-04-08 10:20] Entkenntnis opened #1584 "infinite redirect"
interesting bug: https://de.serlo.org/46019/biologie

resolution is somehow broken

[2022-04-08 11:20] elbotho commented on #1584
where did you find this link?

[2022-04-08 11:30] Entkenntnis commented on #1584
I was playing around with simpleanalytics logs and stumbled open this

[2022-04-10 12:12] inyono commented on #1456
Should be fixed now.

[2022-04-10 12:12] #1456 closed, assigned to inyono

[2022-04-10 12:16] inyono commented on #1479
Can't reproduce, works fine for me.

[2022-04-10 19:43] hugotiburtino commented on #1479
~Indeed, I had the same problem, but now it is working~.
~Maybe a browser update problem...?~
It ~should have been~ _may be also_ a bug of hydra

[2022-04-11 09:43] Entkenntnis commented on #1479
checked again, it's working now

[2022-04-13 12:19] hugotiburtino commented on #1479
Actually, you can reproduce the bug if you untick the "Eingeloggt bleiben"

[2022-04-13 13:44] elbotho commented on #1493
Can now be tested in staging:
https://de.serlo-staging.dev/mathe/36070/rechtwinkliges-dreieck?contentOnly

[2022-04-14 12:23] kulla opened #1590 "Migration: Editing and creating of entities"
Blocker:

- [x] https://github.com/serlo/api.serlo.org/issues/400
- [x] https://github.com/serlo/api.serlo.org/issues/531
- [x] https://github.com/serlo/api.serlo.org/pull/537
- [x] https://github.com/serlo/api.serlo.org/pull/532
- [x] https://github.com/serlo/api.serlo.org/issues/576
- [x] https://github.com/serlo/api.serlo.org/issues/595

[2022-04-14 12:41] kulla opened #1591 "Migration: Editing of taxonomy terms"
Blocker:

- [x] https://github.com/serlo/api.serlo.org/pull/541

[2022-04-14 13:27] kulla commented on #1591
Not needed :see_no_evil:

[2022-04-14 13:27] #1591 closed, assigned to nobody

[2022-04-14 20:24] kulla opened #1592 "Migration: Changing entity link to taxonomy"
## What shall be created

When clicking on "changing link to taxonomy" on an article:

![2022-04-14-222623_447x308_scrot](https://user-images.githubusercontent.com/1327215/163470012-7d60bace-8a29-4459-bb42-880306a299c0.png)

There shall be a new view with which the links of an entity to the taxonomy can be changed (just technical mockup – you guys will figure out a nice design 😅 ):

![2022-04-14-2

[2022-04-14 21:20] kulla opened #1593 "Migration: Moving entities to taxonomy term"
### Where

After clicking "move item" on a taxonomy term:
![2022-04-14-231828_324x305_scrot](https://user-images.githubusercontent.com/1327215/163478438-9423dcbc-0e4a-4ee9-947f-637081413c14.png)

Link Form: `https://en.serlo-staging.dev/taxonomy/term/move/batch/:taxonomyId`

### Old design

![2022-04-14-233617_933x446_scrot](https://user-images.githubusercontent.com/1327215/163480864-4e51f8c9-ca69

[2022-04-15 16:10] kulla commented on #1479
I remember having bugs with this already 2 years ago. Is a solution to just hide this button so that it is always checked? I would prefer this since this module will be changed with the new design anyways.

[2022-04-15 20:11] kulla opened #1594 "Migration: Copy of entities in taxonomy term"
## Where

When clicking "Other tools > copy items" on a taxonomy term:

![2022-04-15-221222_355x326_scrot](https://user-images.githubusercontent.com/1327215/163627542-13bdcd8c-76b0-4073-b462-4c0f6360b348.png)

Link: `https://en.serlo-staging.dev/taxonomy/term/copy/batch/:taxonomyTermId`

## Old Design

![2022-04-15-221330_1036x646_scrot](https://user-images.githubusercontent.com/1327215/163627617-

[2022-04-15 20:53] kulla opened #1595 "Migration: Sorting children (entities + taxonomy terms) in taxonomy terms"
## where

After click "Other tools > sort content":

![2022-04-15-230614_469x404_scrot](https://user-images.githubusercontent.com/1327215/163631917-636c4beb-a52e-4962-9240-3062e0f5de07.png)

Link `https://en.serlo-staging.dev/taxonomy/term/sort/entities/:taxonomyTermId`

## New behavior

In the overview next to entities also children taxonomy terms shall be able to be sorted. The best solution is

[2022-04-20 06:29] #1574 closed, assigned to nobody

[2022-04-20 10:52] kulla commented on #1576
In order to create a new taxonomy Element the following buttons shall be added (would create a child with `taxonomyType === "topic"` or `taxonomyType === "topicFolder"`):

![2022-04-20-125042_617x398_scrot](https://user-images.githubusercontent.com/1327215/164215518-469539a9-64cf-4ce0-929b-cd6e473b5c8a.png)

[2022-04-20 10:57] kulla opened #1596 "Show warning prompt before deleting an entity"
After clicking "Other tools -> move to recycling bin":
![2022-04-20-125715_414x344_scrot](https://user-images.githubusercontent.com/1327215/164216473-265df237-f45a-421e-8e96-20ac1a5becc1.png)
there shall be a prompt warning the author that the entity shall be deleted. Only after accepting the prompt the mutation shall be executed

[2022-04-20 11:01] kulla opened #1597 "Add button "Move to recycling bin" + "undeleting from recycling bin" for taxonomy terms"
Also for taxonomy terms there shall be a new button "move to recycling bin" similar to entities:
![2022-04-20-125715_414x344_scrot](https://user-images.githubusercontent.com/1327215/164216756-a63648fe-9499-4d91-bc8a-a033254e304b.png)

Also #1596 shall be implemented for this issue.

[2022-04-20 12:57] kulla opened #1598 "Migration: Recycle-Bin"
Create a view listing the recently deleted entities via https://github.com/serlo/api.serlo.org/issues/586 (links are sufficient since on the view of the entity they can be restored...)

Blocker:

- [x] https://github.com/serlo/api.serlo.org/issues/586
- [x] https://github.com/serlo/serlo.org-database-layer/issues/215

[2022-04-21 07:06] Entkenntnis commented on #1479
Here are some results of testing, maybe this helps to find the issue:

#### Working (with persistent cookie):

- visit de.serlo.org, clean browser (no php session)
- click "Anmelden"
- redirect to legacy login page (php session A)
- login with user/pass + "Eingeloggt bleiben", the route de.serlo.org/auth/hydra/login changes page to php session B
- frontend is logged in
- click "Abmelden"
- route d

[2022-04-21 07:10] Entkenntnis commented on #1479
my best guess is that the problem is with `https://hydra.serlo.org/oauth2/sessions/logout`. The redirect should be to the legacy backend, e.g. `https://de.serlo.org/auth/hydra/logout`, but it's not.

@inyono don't know if there is an easy fix for this

[2022-04-21 07:13] Entkenntnis commented on #1479
@kulla can't speak for the users perspective, but from dev-wise, this would fix the issue.

[2022-04-21 07:16] Entkenntnis commented on #1479
closing this issue, as there is nothing the frontend can do to fix this.

[2022-04-21 07:16] #1479 closed, assigned to inyono

[2022-04-21 07:52] Entkenntnis commented on #1493
fixed an issue where csr links are not opened in new tabs: da775aad90f1ca015911196440bae12444bea100

Otherwise, I haven't noticed any technical issues

[2022-04-21 07:58] Entkenntnis commented on #1520
things that are not working yet: adding a formula into the title breaks the plugin for me on staging:

![grafik](https://user-images.githubusercontent.com/13507950/164407653-9728f132-cc00-4988-97d1-6522cbc42866.png)

(not sure if related issues are fixing this)

[2022-04-21 08:24] Entkenntnis commented on #1534
in the mean time the frontend can do this little thing to get it at least working: #1599

[2022-04-21 08:35] Entkenntnis commented on #1563
as this only relates to legacy content, I'm fine with a workaround here :+1:

[2022-04-21 08:46] elbotho commented on #1520
@Entkenntnis I have never seen this behaviour and can't replicate, could you add details?
(type of box, only formula or other things, browser)

[2022-04-21 09:01] Entkenntnis commented on #1520
It's happening on `https://de.serlo-staging.dev/user/settings`, so that could be the reason. added math with strg-m

I tested with `add-revision` and the bug is not happening there

[2022-04-21 09:10] Entkenntnis commented on #1569
activities are working fine on production, so maybe this is a staging only issue? unfortunately the frontend can't do much here either

[2022-04-21 09:10] #1569 closed, assigned to nobody

[2022-04-21 09:11] elbotho commented on #1520
Yeah, after some testing I think it's a problem with math on `user/settings` in general.
On `add-revision` we preload `<MathSpan formula="" />`.

Not sure if we should add this to settings as well or if we should disable math instead…

[2022-04-21 09:11] Entkenntnis commented on #1581
most use cases are related to legacy as far as I remember - edtr-io state is much more reasonably. I will keep the logic for legacy stuff, but remove it for edtr-io

[2022-04-21 09:20] elbotho commented on #1569
cool, if it's only staging it's likely this issue. serlo/serlo.org-database-layer#217

[2022-04-21 09:22] #1563 closed, assigned to nobody

[2022-04-21 09:32] #1534 closed, assigned to nobody

[2022-04-21 10:21] elbotho commented on #1597
@kulla can we savely use the `setUuidState` mutation for that as well?

[2022-04-21 11:15] #1596 closed, assigned to elbotho

[2022-04-21 16:35] Entkenntnis opened #1604 "enable mhchem extension"
katex as some extended chem support: https://mhchem.github.io/MathJax-mhchem/?msclkid=cc156accc18e11ecbdc645558b42d383

It was enabled in legacy, but not anymore in edtr-io.

[2022-04-21 16:41] #1604 closed, assigned to nobody

[2022-04-21 16:50] Entkenntnis opened #1606 "update mhchem after upstream fix"
works surprisingly well in frontend + edtr-io (already in staging):

![grafik](https://user-images.githubusercontent.com/13507950/164510950-eefdd23c-83c0-45f7-9851-2d699b55b49f.png)

[2022-04-21 17:04] Entkenntnis commented on #1584
the uuid is a page revision, the frontend is redirecting to `/entity/compare/...`, but the cloudflare worker is redirecting back to the frontend...

on localhost, frontend opens `http://localhost:3000/entity/repository/compare/0/46019` which is fine.

@kulla do you know why is the cf is redirecting back to the alias?

[2022-04-21 18:53] kulla commented on #1597
Yes.

[2022-04-22 07:09] Entkenntnis commented on #1576
link for Themenbereich (topic): `/taxonomy/term/create/4/[id]`

link for Aufgabenordner (topic folder): `/taxonomy/term/create/9/[id]`

should be doable

[2022-04-22 09:17] #1597 closed, assigned to elbotho

[2022-04-22 11:48] elbotho commented on #1598
**Legacy:**
Current route: https://de.serlo.org/uuid/recycle-bin
View:
![image](https://user-images.githubusercontent.com/1258870/164708689-48252c68-8771-42aa-a35d-aac954866423.png)

[2022-04-22 11:51] Entkenntnis commented on #1580
#1581 is not fixing this - there is more to do here.

[2022-04-22 15:51] elbotho commented on #1575
fixed in API 🎉

[2022-04-22 15:51] #1575 closed, assigned to nobody

[2022-04-25 07:06] Entkenntnis opened #1609 "check height of math span within table"
new: https://frontend-git-1581-remove-edtr-io-state-fixes-in-th-321d1e-serlo.vercel.app/223935

old: https://de.serlo.org/mathe/223935/wahrheitswerttabellen-in-arbeit

(mt had some issues)

[2022-04-25 07:08] Entkenntnis opened #1610 "check new lines in list"
new: https://frontend-git-1581-remove-edtr-io-state-fixes-in-th-321d1e-serlo.vercel.app/223936

old: https://de.serlo.org/mathe/223936/nicht-in-arbeit

(maybe staging is not up to date?)

[2022-04-25 07:44] Entkenntnis commented on #1610
problem was: list items can contain new lines within text nodes (zzz), fixed

[2022-04-25 07:44] #1610 closed, assigned to Entkenntnis

[2022-04-25 08:22] elbotho commented on #1609
Maybe it makes sense to wait for the new table plugin with this one?

[2022-04-25 08:26] Entkenntnis commented on #1609
already fixes (was introduced by another change of mine)

[2022-04-25 08:26] #1609 closed, assigned to Entkenntnis

[2022-04-25 08:39] Entkenntnis opened #1612 "editing taxonomy not possible"
![grafik](https://user-images.githubusercontent.com/13507950/165052611-a3dc60ef-1087-4719-ac7d-d420a4e56123.png)

[2022-04-25 08:42] Entkenntnis commented on #1612
problem introduces with https://github.com/serlo/api.serlo.org/commit/98f59e86f2787ca8aa92acaebea8c387468918ca (probably)

[2022-04-25 08:44] elbotho commented on #1612
The multiple entries only shows on the lowest hierarchy.
e.g. https://de.serlo-staging.dev/mathe/1288/geometrie

-> see #1613

[2022-04-25 08:44] Entkenntnis commented on #1612
and this: https://github.com/serlo/api.serlo.org/commit/5d8fbc6927f24f7d937759b407d3487b24f38016

[2022-04-25 08:45] Entkenntnis commented on #1612
`addChild` renamed to `moveChild` renamed to `change`

[2022-04-25 08:46] Entkenntnis opened #1613 "duplicated entry "Neuer Inhalt""
e.g. https://de.serlo-staging.dev/mathe/1288/geometrie

[2022-04-25 08:47] Entkenntnis commented on #1613
![grafik](https://user-images.githubusercontent.com/13507950/165052611-a3dc60ef-1087-4719-ac7d-d420a4e56123.png)

[2022-04-25 08:58] #1612 closed, assigned to Entkenntnis

[2022-04-25 09:09] Entkenntnis commented on #1613
can not always reproduce ?

[2022-04-25 09:35] Entkenntnis opened #1617 "503 for (probably deleted) user"
link: https://de.serlo.org/user/191656/thesupriyasingh

[2022-04-25 09:40] Entkenntnis commented on #1613
please reopen if you can reproduce this behaviour. for me, it's gone.

[2022-04-25 09:40] #1613 closed, assigned to nobody

[2022-04-25 09:46] elbotho commented on #1617
API response:
[code]

[2022-04-25 09:52] elbotho commented on #1617
So the description is very long (and full of spam links) and just ends. My guess is that it's truncated somewhere and then returns an invalid JSON.

[2022-04-25 09:55] elbotho commented on #1617
Transfering to API

[2022-04-25 09:57] kulla commented on #1493
Live in production.

[2022-04-25 09:57] #1493 closed, assigned to elbotho

[2022-04-25 11:34] Entkenntnis commented on #1606
one bug encountered: https://github.com/KaTeX/KaTeX/issues/3626

edit: wow, fast response of the maintainer, there is already a PR for this

[2022-04-25 11:46] Entkenntnis commented on #1576
@kulla our current translations are "Bereich" and "Aufgabensammlung". Is this fine?

![grafik](https://user-images.githubusercontent.com/13507950/165082775-9541109e-13a5-41dd-a332-637ba46781e9.png)

[2022-04-25 12:02] elbotho commented on #1520
this is not being tested in production

[2022-04-25 12:40] Entkenntnis commented on #1520
about the previous issue, I think adding `<MathSpan formula="" />` is fine and should solve the issue (or move this preloading into the editor component?

[2022-04-25 12:52] elbotho commented on #1520
Good idea. Done in 712f8c3c38755c51828e42c7339c302384f13f05

[2022-04-25 15:36] kulla commented on #1576
Use "Themenbereich" und "Aufgabensammlung"

[2022-04-26 08:20] Entkenntnis commented on #1576
fixed translation in crowd in (the string "folder" was unused)

[2022-04-26 08:20] #1576 closed, assigned to Entkenntnis

[2022-05-02 07:59] Entkenntnis opened #1623 "no redirect after editing profile"
e.g. https://de.serlo.org/user/18981/wolfgang

[2022-05-02 11:46] kulla opened #1624 "Query `license` should return from ~/config"

[2022-05-02 16:56] kulla opened #1625 "Migration: Change license of entity"
For all entities there shall be a page to change the license. Current design:

![2022-05-02-185449_796x247_scrot](https://user-images.githubusercontent.com/1327215/166291129-78f71122-a860-4da1-81bb-907187a0e860.png)

Blocker:

- [x] https://github.com/serlo/serlo.org-database-layer/issues/224
- [x] https://github.com/serlo/api.serlo.org/issues/603

[2022-05-03 10:43] Entkenntnis opened #1627 "setup graphql codegen in frontend repo"
Maintaining graphql query types manually is not a great DX. setup is on the way: #1585

[2022-05-03 11:09] kulla opened #1628 "Migration: Use API-endpoints for creating / editing taxonomy terms"
Currently we are still using the legacy endpoints to create/edit new taxonomy terms. The plan is to move this over to the API soon.

[2022-05-05 13:40] elbotho opened #1630 "Migration: Use setSubscription mutation in notifications view"

[2022-05-06 09:15] #1573 closed, assigned to elbotho

[2022-05-06 09:55] #1580 closed, assigned to nobody

[2022-05-06 09:55] #1581 closed, assigned to Entkenntnis

[2022-05-06 09:57] #1627 closed, assigned to Entkenntnis

[2022-05-06 21:33] kulla opened #1637 "Update license query"
https://github.com/serlo/api.serlo.org/pull/616 introduced a breaking change in the query for the license -> it is now deployed in staging (it should only affect the license page)

[2022-05-07 13:48] #1637 closed, assigned to elbotho

[2022-05-09 06:27] kulla opened #1640 "Migration: Move navigation into frontend"
The main side navigation (see picture) shall be stored in the config of the navigation:
![2022-05-09-082935_251x252_scrot](https://user-images.githubusercontent.com/1327215/167352802-583ce693-d2a3-4eb8-81c1-48fcdeb4a08d.png)

[2022-05-09 07:45] elbotho opened #1641 "SVGs not visible in lightbox"
https://de.serlo.org/19880/neu-hier
(needs a width set, problably in `vw` since they can scale)

[2022-05-09 07:47] kulla opened #1642 "Add image captions"

[2022-05-09 07:47] kulla opened #1643 "Static pages: Add column layout plugin"

[2022-05-09 07:47] kulla opened #1644 "Static pages: Add team page plugin"

[2022-05-09 07:49] elbotho commented on #1642
https://github.com/edtr-io/edtr-io/pull/383

[2022-05-09 08:18] Entkenntnis opened #1645 "remove /discussions from legacy CSR"
removing the line in `link.tsx`

[2022-05-09 08:23] Entkenntnis commented on #1645
fixed with e14f746da54c0d728339a320c6e7e23645791727

[2022-05-09 08:23] #1645 closed, assigned to nobody

[2022-05-09 08:26] elbotho commented on #1645
thanks

[2022-05-09 09:12] Entkenntnis commented on #1623
fixed with a65a4e49b191be2747375de1bc588e582e48b22d

[2022-05-09 09:12] #1623 closed, assigned to nobody

[2022-05-09 09:29] Entkenntnis commented on #1584
the source of this issue is related to the cf-worker and page revisions: https://github.com/serlo/serlo.org-cloudflare-worker/issues/290

the frontend is working fine

[2022-05-09 09:29] #1584 closed, assigned to nobody

[2022-05-09 09:31] Entkenntnis commented on #1520
As far as I see all recent feedback is deployed in production already for testing. Only remaining task is to deploy this for all users. (will to this after testing is done)

[2022-05-09 09:54] Entkenntnis commented on #1590
code is deployed in staging and ready for testing.

[2022-05-09 12:39] Entkenntnis commented on #1606
currently little activity in the community. pause this issue until there is more need for it

[2022-05-09 12:39] #1606 closed, assigned to nobody

[2022-05-09 14:56] kulla opened #1647 "Migration: /backend"
We also need to migrate the /backend page:
![2022-05-09-165239_908x683_scrot](https://user-images.githubusercontent.com/1327215/167437196-4f41534b-5393-4e2f-97d0-4246c515dac8.png)

The following links shall be added:

* Statische Seiten
* Rechtevergabe
* Navigation (@elbotho wenn you start working on it we can delete the link)
* Papierkorb

[2022-05-09 19:40] kulla commented on #1642
@elbotho Added in `2.5.2` (https://github.com/edtr-io/edtr-io/commit/bcd3d7344bf646ada7de6974602ad71cd6dcf32b) -> Can be added in the editor so that it can be tested in staging

[2022-05-10 12:51] Entkenntnis opened #1648 "editor not loading"
see https://de.serlo.org/entity/repository/add-revision/94593/94594
and
https://de.serlo.org/entity/repository/add-revision/132836/133894

[2022-05-10 13:01] elbotho commented on #1648
all ids in those links return

[code]

where did you find those links?

[2022-05-10 17:55] #1641 closed, assigned to nobody

[2022-05-11 09:31] Entkenntnis commented on #1648
server side log of vercel - very weird behaviour - they don't even have a typename ...

maybe added a handler for this case and show a message like "this uuid does not exist" is the best why to handle this.

[2022-05-11 09:36] Entkenntnis opened #1652 "use codegen for fetch editor data query"
next up for refactoring

[2022-05-11 09:44] Entkenntnis opened #1653 "typing in save modal is slow"
probably the edtr-io is rerendered on every keystroke? can we fix this from the frontend?

[2022-05-11 09:50] elbotho commented on #1653
Note: This is also true in the legacy version.

[2022-05-11 09:54] Entkenntnis commented on #1653
unfixed since 3 years :cry:

[2022-05-11 15:25] #1653 closed, assigned to nobody

[2022-05-11 15:27] #1630 closed, assigned to nobody

[2022-05-11 17:31] elbotho commented on #1653
* fixed after 8 hours

[2022-05-11 19:56] Entkenntnis commented on #1648
404 will work out for the moment

[2022-05-11 19:56] #1648 closed, assigned to Entkenntnis

[2022-05-12 05:22] ghost opened #1656 "Edit button for user not logged in"
Button for all pages with content.

Additionally: Serlowide tracking how many people click this button

[2022-05-12 16:38] Entkenntnis opened #1662 "use codegen for unrevised revisions"
after refactoring this part, we can remove quite a lot of manual types

-> some subtypes are still used in certain places ...

[2022-05-14 11:04] #1643 closed, assigned to elbotho

[2022-05-15 20:01] elbotho commented on #1598
blocker:
- serlo/serlo.org-database-layer#257

nice to have:
- https://github.com/serlo/api.serlo.org/issues/627

[2022-05-16 07:47] elbotho commented on #1640
waiting for https://github.com/orgs/serlo/projects/21#card-81669970

[2022-05-16 08:08] #1642 closed, assigned to elbotho

[2022-05-16 08:14] #1520 closed, assigned to elbotho

[2022-05-16 08:48] Entkenntnis opened #1672 "404 for some empty uuids"
uuids: 127596, 127455 (found on sentry)

results in 404, content is empty

I would expect an empty page instead if content is empty

[2022-05-16 08:58] #1647 closed, assigned to elbotho

[2022-05-16 09:03] elbotho commented on #1672
@Entkenntnis very weird, because it shows corrently on localhost.

![image](https://user-images.githubusercontent.com/1258870/168557369-c6ed3c91-c5bf-4a64-a609-ad72a309dfb1.png)

But the content is definitely incorrect in those cases.

Link to report: https://community.serlo.org/channel/software-features-and-bugs?msg=zvYrSffxbi7naeqsn
ping @CarolinJaser

[2022-05-16 09:07] Entkenntnis opened #1673 "adding exercise folder in language versions is not working"
video: https://www.loom.com/share/51039928afab449ab53debc37ae37a1b

the current implementation still uses legacy endpoints to save. Investigate why this bug happens.

[2022-05-16 09:12] elbotho commented on #1673
(ping @CarolinJaser)
report in https://docs.google.com/document/d/1XtbBHgp9zarJUBQHaSA_tXtwtebaxVCFMJqeVZbVDb0/edit#

[2022-05-16 09:28] #1652 closed, assigned to Entkenntnis

[2022-05-16 09:28] Entkenntnis commented on #1673
best fix is implementing #1628 - legacy endpoint behaviour is deprecated

[2022-05-16 10:17] elbotho commented on #1590
Saving pages is currently not supported.

[2022-05-16 10:20] hugotiburtino commented on #1590
Do you mean: saving in browser for later? Or the new page  endpoints are buggy?

[2022-05-16 10:58] elbotho commented on #1590
@hugotiburtino
- The endpoints we not implemented in the frontend.
- The endpoints are probably also buggy, but I'll create API issues for that :)

[2022-05-16 11:37] kulla commented on #1673
Here is the full table

[code]

[2022-05-16 11:43] kulla commented on #1673
BTW: The bug needs to be fixed also in DB layer https://github.com/serlo/serlo.org-database-layer/issues/258 However https://github.com/serlo/frontend/issues/1628 indeed will be a fix for the frontend

[2022-05-16 15:09] #1662 closed, assigned to Entkenntnis

[2022-05-16 20:04] #1644 closed, assigned to elbotho

[2022-05-16 21:48] Entkenntnis opened #1676 "visual regression in sc-mc exercises"
@CarolinJaser
original message: https://serlo.slack.com/archives/C0BMSC431/p1652716458225049

Example: https://de.serlo.org/biologie/241354/241354

Check answer. There are big gaps.

Cause: This check is failing because of a recent refactoring.

https://github.com/serlo/frontend/blob/ba635e9a0bc1a114b701be270543da43867f339d/src/components/content/exercises/sc-mc-exercise.tsx#L127-L129

todo: add h

[2022-05-17 08:33] Entkenntnis commented on #1628
Some context and thoughs:

The url for adding a taxonomy term is: `/taxonomy/term/create/4/200247`

the parent id is `200247`, and type is `4` (the naming of the folders is unfortunately wrong, because I didn't understood it correctly)

Things get a bit hairy in a situation like this:

![grafik](https://user-images.githubusercontent.com/13507950/168766626-298d6324-1b5f-481d-9c97-1b07e83627e1.png)

[2022-05-17 08:42] Entkenntnis commented on #1673
after some digging, the fastest solution is to disable the buttons in other language versions, which I have done in b9b0c619db7767c84104df9bc5f815a48d92fa71

Moving to API will need a bigger rework of how taxonomy term types are handled.

[2022-05-17 08:42] #1673 closed, assigned to nobody

[2022-05-17 08:42] Entkenntnis commented on #1628
The table for reference:

[code]

(info: there are many for types, e.g. locale, curriculum, etc...)

[2022-05-17 10:51] kulla commented on #1640
@elbotho Here is the first data for the pages (will do the taxonomy terms next). Do you have any wishes in which form you want to have the data? https://github.com/serlo/evaluations/blob/962243abde4cb0f08b6cd64d7699d34c029dcc65/src/2022/2022-05-16%20Navigation-Export.ipynb

[2022-05-17 11:15] kulla commented on #1628
Yes, my idea is that there is only "topic" and "topicFolder" in the future. With https://github.com/serlo/serlo.org-database-layer/issues/258 this is mapped to the right instance version before saving into the DB. In the past the different are used to help authors to create proper taxonomies (with some rules like "curriculum" must be a child of "local"). However those rules are complicated and mad

[2022-05-17 11:51] kulla commented on #1640
@elbotho Here is the script also with the data for all subjects: https://nbviewer.org/github/serlo/evaluations/blob/fbe62bc3e1c979af6529188edc534e530d9e63ad/src/2022/2022-05-16%20Navigation-Export.ipynb Do you need something more / else?

[2022-05-17 12:03] kulla commented on #1647
@elbotho I tested it in staging -> it can be deployed with the next frontend deploy. Nice job! :+1:

[2022-05-17 12:35] elbotho commented on #1640
I'll try and let you know. Thank you!

[2022-05-17 15:49] CarolinJaser commented on #1656
@CarolinJaser

[2022-05-18 06:34] hugotiburtino opened #1679 "Migration: Static pages: View of all static pages"
In backend there should be a place to list all static pages (they can be filtered by instance), so that admins can find them.

Current design:
![Image](https://user-images.githubusercontent.com/45924645/168973475-78ba6149-25f8-4b1e-af94-9a2e3857f414.png)

Blockers:
- [x] https://github.com/serlo/api.serlo.org/issues/623
- [x] https://github.com/serlo/serlo.org-database-layer/issues/241

[2022-05-18 06:40] elbotho commented on #1679
legacy url: `/pages` ([Link](https://de.serlo-staging.dev/pages))

[2022-05-18 07:32] #1598 closed, assigned to elbotho

[2022-05-18 07:50] Entkenntnis commented on #1676
the other place is equations, reusing implementation in 1e19862b9f2fafb33a01892264da9083bb8542c0

[2022-05-18 07:50] #1676 closed, assigned to Entkenntnis

[2022-05-18 07:53] Entkenntnis commented on #1672
this is fixed contentwise (title added) + edtr-io is not allowing empty titles, sooo I think we a fine for the moment

[2022-05-18 07:53] #1672 closed, assigned to nobody

[2022-05-18 18:26] elbotho opened #1682 "Footer showing twice"
Example:
- https://de.serlo.org/lerntipps/186900/lernen-mit-eselsbr%C3%BCcken
- https://frontend-git-navigation-data-frontend-serlo.vercel.app/community/neue-f%C3%A4cher-themen

I did not see it first, now it's on all pages.

@Entkenntnis I looked into it a bit already but have no clue what is happening.
It's probably something in the last deploy?
Do you have an idea?

![image](https://user-images

[2022-05-19 09:48] Entkenntnis commented on #1682
Can confirm. It's not on every page, but on most. My guesses: hydration is failing? duplicated keys? I don't know how this can happen

[2022-05-20 07:05] elbotho commented on #1682
I can confirm that this does not happen when js is disabled and probably happens when hydrating.

[2022-05-20 07:56] elbotho commented on #1682
more results:
- the second component is outside of the `__next` wrapper 😲
- any component or tag I put into the footers place in `header-footer` get's duplicated
- notification wrapper from ToastNotice is also in the dom twice

[2022-05-20 08:03] #1640 closed, assigned to elbotho

[2022-05-20 08:31] #1625 closed, assigned to elbotho

[2022-05-20 08:42] Entkenntnis commented on #1590
The initial implementation is complete, so there is nothing to do in this issue anymore :tada:

For bugs, etc. we can open follow-up issues

[2022-05-20 08:42] #1590 closed, assigned to nobody

[2022-05-20 08:43] Entkenntnis commented on #1628
https://github.com/serlo/frontend/pull/1674 adds an initial implementation fo this feature.

[2022-05-20 08:43] #1628 closed, assigned to elbotho

[2022-05-20 08:44] #1593 closed, assigned to elbotho

[2022-05-20 08:44] #1594 closed, assigned to elbotho

[2022-05-20 08:44] #1592 closed, assigned to elbotho

[2022-05-20 13:38] elbotho commented on #1595
@kulla just to make sure: I have provide a list of all uuids in the term to the mutations in the order I want to display them.
This way `Applets` will always be before `Courses`, because I display the category first, right?

[2022-05-20 14:29] elbotho commented on #1656
@yolo-bird if you had the data on which entities click this, would you use it? ;)
Just tracking how many times the button is clicked in general is obviosly the easiest options.

[2022-05-20 14:50] ghost commented on #1656
For the first iteration the total number of clicks is totally sufficient.
:-)

But it would we very interesting to also count to number of clicks for the
pop-up. E.g. how many people click register or sign up, etc. If this is not
too time consuming, that would be very nice.

Am Fr., 20. Mai 2022 um 16:29 Uhr schrieb Botho ***@***.***>:

--
*Wolfgang Schmid* | Mitgründer
***@***.***

Hauptsitz: Ser

[2022-05-21 08:56] #1682 closed, assigned to elbotho

[2022-05-21 10:58] #1656 closed, assigned to elbotho

[2022-05-23 07:55] Entkenntnis opened #1695 "Hide solution strategy if content is only whitespace"

[2022-05-23 08:03] CarolinJaser commented on #1695
@CarolinJaser

[2022-05-23 09:00] Entkenntnis opened #1696 "non-uniform flex behaviour"
chromium only: https://de.serlo.org/entity/repository/compare/2027/245765 (within solution at the end)

flex boxes are not splitted 50/50: (only legacy content?)

![grafik](https://user-images.githubusercontent.com/13507950/169783305-8ce46e1a-8c74-467d-85bf-e25c38a90546.png)

[2022-05-23 12:08] Entkenntnis commented on #1696
The problem is not appearing in the content directly: https://de.serlo.org/mathe/14023/14023

not high prio but an interesting edge case ...

[2022-05-23 12:33] elbotho commented on #1696
looks like the added url-notes (orange) might change the layout because of their length?

[2022-05-23 15:22] #1695 closed, assigned to nobody

[2022-05-23 17:04] Entkenntnis commented on #1696
yeah, it's because of the long urls, a `break-all` seems to solve the issue. Any objections?

[2022-05-23 18:10] elbotho commented on #1696
No, thats great. Thank you.

[2022-05-23 18:10] #1696 closed, assigned to nobody

[2022-05-30 08:28] Entkenntnis opened #1712 "unify styling of inline code"
edtr-io has a different styling than the frontend:

edtr-io:

![grafik](https://user-images.githubusercontent.com/13507950/170950591-4e47f43b-f8f1-4b14-956d-8078a41a5be4.png)

frontend:

![grafik](https://user-images.githubusercontent.com/13507950/170950744-0ace8d87-7996-453e-8e20-ce857da58b94.png)

we can probably choose one and add it to the edtr-io styling.

[2022-05-30 08:58] #1595 closed, assigned to elbotho

[2022-05-30 17:16] elbotho opened #1715 "spoilers: rich text in titles"
- change edtr code (https://github.com/edtr-io/edtr-io/pull/390)
- change frontend code
- run db migration (… might cause problems)

[2022-05-31 11:47] kulla opened #1716 "Backend: Create help page for serlo community admins"
Create a help page at the wiki ( https://github.com/serlo/frontend/wiki ) with instructions for Serlo community admins for

- [x] What to do when a new license shall be created or updated?
- [x] how to create a new taxonomy term below root / a new subject (write in #meta-software-requests)
- [x] What shall be done, when navigation, footer & co shall be updated?
- [x] How to make URL of entity (art

[2022-06-04 23:02] Entkenntnis commented on #1712
@elbotho I have added the frontend styles to the edtr-io integration, I hope this is fine.

[2022-06-04 23:10] Entkenntnis commented on #1716
I am wondering if this is the scope of the frontend repo? Some of the above config's aren't frontend only. Maybe a google doc within the software unit is a better place for this documentation?

License short titles: https://github.com/serlo/frontend/blob/staging/src/fetcher/create-inline-license.tsx
All other data (+ managed by crowdin): https://github.com/serlo/frontend/tree/staging/src/data

[2022-06-05 09:09] #1712 closed, assigned to nobody

[2022-06-05 10:36] elbotho commented on #1716
I created this document. I agree that a doc might be more suiteable. This way other people like Wolfgang can also update it.
https://docs.google.com/document/d/1pwrFtnKYE7SuQVl4RkGENj-lWLtxnir11aJIecJwYBc/edit?usp=sharing

It's not a thrilling read since it call for #meta-software-requests for most things, but it's a start :D

[2022-06-05 12:56] #1716 closed, assigned to nobody

[2022-06-07 09:02] elbotho commented on #1716
@yolo-bird what would you say is a good folder to save this file in and where should we link to it?

[2022-06-07 09:55] ghost commented on #1716
Actually the best place to put it, would be the help page here: https://de.serlo.org/140475

If it is too much wip to put it out on serlo.org, the folder of the Begleitungs-Unit, would be a good place.
Since it is community related, I think the better place to direct them is https://community.serlo.org/channel/software-features-and-bugs instead of slack.
Can you give me edit rights for the documen

[2022-06-07 10:11] elbotho commented on #1716
Thanks!

are there community admins that are not team members?

[2022-06-07 10:15] elbotho commented on #1716
Maybe for now we do that. I don't have the rights to move it there. Can you do that as an editor?

[2022-06-07 11:58] ghost commented on #1716
I think at the moment they are, but in future it won't be the case anylonger. So I think it makes sense to do community related stuff in Rocket Chat instead of Slack...

[2022-06-07 12:01] ghost commented on #1716
Done. Who does the communication to the admins that this document does exist?

[2022-06-07 12:43] kulla commented on #1716
U Begleitung -> you :smile:

[2022-06-07 14:40] kulla commented on #1716
That's a decision U Begleitung can do. Inform us, when you have moved the document.

[2022-06-09 08:46] hugotiburtino opened #1727 "User management: add/remove role"
Admins may add or remove a role to/from a user

We can imitate the current implementation:
![image](https://user-images.githubusercontent.com/45924645/172801527-70048c5f-06c2-498e-afd9-08db44e2171d.png)

Notes:
- Use authorization `user:addRole` and `user:removeRole`
- We can't - like in the current implementation - list all the permissions from a role, that may have to be implemented yet.
- Diffe

[2022-06-09 09:04] Entkenntnis opened #1729 "improve session check in add-revision"
this code is making a connection:

https://github.com/serlo/frontend/blob/ba635e9a0bc1a114b701be270543da43867f339d/src/components/pages/add-revision.tsx#L36

we should also check if the page is actually logged in (e.g. with regex)

[2022-06-09 09:17] hugotiburtino opened #1784 "Implement user flows with Kratos"
edit: this issue was changed to have a much bigger scope.

_note: we are doing gradual user management migration, that's why some flows have some extra specifications_

# Flows
## Login flow
Conditions:
- users were migrated to the user management system (kratos)
- users maintain a legacy_id

## Logout flow

## Registration flow
1. Create user in user management system (kratos)
2. Call endpoint in

[2022-06-09 09:21] elbotho opened #1730 "Sort entities in taxonomy"
- [x] check if it works as exprected now
- [x] let kathi and melli test it again

[2022-06-10 12:47] kulla opened #1735 "Updates for subjects"
After investigating https://github.com/serlo/api.serlo.org/issues/642 the following changes should be done:

- [ ] In root folders like https://serlo.org/3 instead of displaying `Add topic folder` the string in the menu shall be `Add subject`
- ~[ ] In the metadata title of subjects one can can change the logic which folder is a subject to: `taxonomy_term.type === "subject" || (taxonomy_term.type

[2022-06-10 13:42] kulla opened #1736 "Sort children of ExerciseGroup and Course"
ping @kulla

old route: `/entity/link/order/{exerciseGroupId}/link`

[2022-06-11 07:58] elbotho commented on #1735
@kulla just to make sure: Are you planning to you remove `taxonomyTerm.type`s  `subject` and `root` in the API?

(see https://github.com/serlo/api.serlo.org/issues/642#issuecomment-1152881186)

[2022-06-11 10:03] elbotho opened #1738 "Creating and saving Taxonomy via API"
Does this work now?

related stuff:
https://github.com/serlo/api.serlo.org/issues/642

- [x] creating subject in root
- [x] creating topic in subject
- [x] creating topic or exerciseCollection in topic
- [x] other instances

notes:
- new subjects are created as `topic`
- of course same name is still not allowed

[testing results](https://docs.google.com/document/d/1XtbBHgp9zarJUBQHaSA_tXtwtebaxVCF

[2022-06-11 10:28] elbotho commented on #1738
when  #1737 is merged we can begin testing

[2022-06-12 20:17] #1679 closed, assigned to elbotho

[2022-06-13 21:19] elbotho commented on #1735
- [x] for now we rely on root and subject being provided by the api
- [x] prepare for `folder` to be renamed to `exerciseFolder` (make sure it works for both while we transition)
- [x] for creating taxonomy terms we don't have to change anything

[2022-06-18 19:39] elbotho opened #1749 "support `/entity/create/`"
e.g. https://de.serlo-staging.dev/entity/create/Applet?taxonomy%5Bterm%5D=200247

[2022-06-18 19:41] #1730 closed, assigned to elbotho

[2022-06-20 12:28] #1735 closed, assigned to elbotho

[2022-06-20 13:42] #1738 closed, assigned to elbotho

[2022-06-20 20:53] #1729 closed, assigned to elbotho

[2022-06-21 07:35] #1736 closed, assigned to nobody

[2022-06-27 11:07] elbotho opened #1766 "Edit invitation for exercises and solutions as well"

[2022-06-27 16:18] elbotho commented on #1766
(not actionable rn. needs more input. closed until then.)
([source](https://community.serlo.org/channel/software-features-and-bugs/thread/NRhXqN4NJmyuyzngK?jump=kEdaDYTut7QRxuLyo))

[2022-06-27 16:18] #1766 closed, assigned to nobody

[2022-06-29 09:03] elbotho opened #1770 "convert `table` to `serloTable` automatically"
- [x] use fixed edtr version [when available](https://github.com/edtr-io/edtr-io/pull/395)
- [x] fix hidden formula overlay bug (part 1 done, [part 2 pending](https://github.com/edtr-io/edtr-io/pull/396))
- [x] next round of tests
- [x] prepare mutation
- [ ] test mutated data in edtr
- [ ] run and test mutation results

===

[Uuid links and convo status](https://docs.google.com/spreadsheets/d/1Rb

[2022-07-04 08:05] Entkenntnis commented on #1749
basically a redirect to an add-revision route with a new ID

[2022-07-04 08:36] elbotho commented on #1749
actually the new endpoints just create a new id when we don't provide one ✨

[2022-07-04 11:53] Entkenntnis opened #1776 ""Boxen ohne Inhalt werden nicht angezeigt" when content is only a formula"
minor issue: somehow the hint is shown even if there is content (formula):

![grafik](https://user-images.githubusercontent.com/13507950/177149585-57c61cb9-c6a5-46f9-84ab-9e44834c4fb1.png)

[2022-07-04 15:09] kulla opened #1777 "migration: Upload of images"
Use https://github.com/serlo/api.serlo.org/issues/690 in upload of images. Blocker:

- [x] https://github.com/serlo/api.serlo.org/issues/690

[2022-07-11 08:18] Entkenntnis opened #1781 "breadcrumbs missing in "Fächer im Aufbau""
e.g. https://de.serlo.org/f%C3%A4cher-im-aufbau/100130/klimadiagramme-auswerten

breadcrumbs should be "Fächer im Aufbau"

[2022-07-11 09:01] elbotho commented on #1781
I investigated this and move this issue to API (might also be db-layer).

When I query the relevant data I get `"navigation": null` instead of the data we need to build the breadcrumbs.

[code]

[code]

[2022-07-11 10:45] #1749 closed, assigned to elbotho

[2022-07-11 15:54] kulla opened #1783 "Migration: Find a way that frontend does not use `Navigation.path` anymore"
Currently the frontend still uses `Navigation.path` from the API in order to render the side navigation / breadcrumbs. This leads to bugs like https://github.com/serlo/api.serlo.org/issues/701 -> We still need to change the legacy navigation when we make changes in the DB (like adding a new subject). We need to find a way that the navigation can be rendered without using the legacy navigation info

[2022-07-12 19:26] elbotho commented on #1727
@hugotiburtino listing users by their role is also not possible atm. right?

[2022-07-12 19:54] hugotiburtino commented on #1727
No it isn't, let us do it first

[2022-07-13 14:58] elbotho opened #1785 "semantic image filenames"
Currently we use image names like:
`https://assets.serlo.org/${uuidv4}.png`

But the CF-Worker makes sure this link would also work:
`https://assets.serlo.org/${uuidv4}/semantic-name.png`

(see: https://github.com/serlo/serlo.org-cloudflare-worker/blob/main/__tests__/assets.ts#L64)

This would be a small but easy benefit for users and SEO. I suggest we either use the current entity title or parts

[2022-07-18 09:57] elbotho commented on #1783
followed up in https://github.com/serlo/api.serlo.org/issues/703

[2022-07-18 09:57] #1783 closed, assigned to nobody

[2022-07-25 10:45] elbotho opened #1793 "custom job page"
mockup:
https://app.moqups.com/4RQxAnGA8x7RFHQFOBTjqqi7IZoXV3pz/view/page/acbea4f9b

[2022-07-25 14:16] kulla commented on #1785
Together with https://github.com/serlo/api.serlo.org/pull/709 the url can be constructed via

[code]

BTW: Currently we need to update CF worker to support this

[2022-07-25 14:20] elbotho commented on #1785
`semanticName` is still something we make up in the frontend in this case?

[2022-07-25 14:50] kulla commented on #1785
Yep, can be any string which is stripped by the CF-Worker -> can also change any time

(BTW: Issue in CF is fixed with https://github.com/serlo/serlo.org-cloudflare-worker/pull/309)

[2022-07-25 19:29] hugotiburtino commented on #1727
Ok, @elbotho it is done: now you can list users by role.
We've done it very strict, only admins can list them. Please let us know if we have to make it available for other roles.

[2022-08-18 08:09] elbotho commented on #1793
now deployed

[2022-08-18 08:09] #1793 closed, assigned to elbotho

[2022-08-18 08:11] elbotho commented on #1770
deployed in production, up next: migrating the old plugins

[2022-08-18 08:12] elbotho commented on #1727
waiting for https://github.com/serlo/api.serlo.org/pull/712

[2022-08-18 08:12] elbotho opened #1808 "support create/entity in frontend"

[2022-08-18 19:58] hugotiburtino commented on #1727
https://github.com/serlo/api.serlo.org/pull/712 was finally deployed

[2022-08-22 13:43] elbotho opened #1811 "Creating new pages"
`/page/create` is currently not supported in the new frontend.

[2022-08-23 09:41] elbotho opened #1813 "remove blur hack"
we rely on a blur hack atm `onPointerUp={(e) => e.currentTarget.blur()}` but the support for https://caniuse.com/#feat=css-focus-visible is okay now so we should remove the hack and use the new feature.

[2022-08-23 14:43] #1813 closed, assigned to nobody

[2022-08-24 19:50] kulla opened #1816 "Don't display "Assign to taxonomy" for GroupedExercise"
The GroupedExercise (aka "Teilaufgabe") https://de.serlo.org/mathe/207169/207169 has the menu entry "Zuweisung zu Themen und Lehrplan zuordnen" which shall not be visible since those uuids shall not be assignable to a taxonomy, see https://de.serlo.org/mathe/207169/207169

[2022-08-26 09:39] elbotho commented on #1816
Hmm, this is not as easy to fix as I thought.
Since GroupedExercises won't exist any more after refactoring I'm inclined to not fix this and focus on migration stuff instead. (also this is quite an old bug that was reported now for the first time)
Reopen if you object.

[2022-08-26 09:39] #1816 closed, assigned to nobody

[2022-08-27 08:33] #1808 closed, assigned to nobody

[2022-08-27 08:40] elbotho commented on #1776
Since we rely on a editor function here I'll close this in the frontend.

[code]

[2022-08-27 08:40] #1776 closed, assigned to nobody

[2022-08-30 09:32] #1777 closed, assigned to nobody

[2022-08-30 09:32] #1785 closed, assigned to nobody

[2022-08-31 09:09] #1811 closed, assigned to nobody

[2022-09-06 13:56] inyono opened #1823 "Wrong link on /mathe"
"Quadratische Ergänzung" bei "Beliebte Themen" verlinkt auf den falschen Inhalt.

[2022-09-06 13:56] inyono opened #1824 "Typo on /jobs"
"Hauptamptlich" > "Hauptamtlich"

[2022-09-06 13:58] elbotho commented on #1824
already fixed two weeks ago but not deployed yet…
https://github.com/serlo/frontend/pull/1806/commits/b8924d95bb2871ee32afa6ea30f7f4ae1f5bbdef

[2022-09-06 13:59] #1824 closed, assigned to nobody

[2022-09-06 14:00] elbotho commented on #1823
thanks, will be fixed in next deploy

[2022-09-06 14:00] #1823 closed, assigned to nobody

[2022-09-06 14:38] inyono opened #1825 "Editing on en.serlo.org broken"
https://en.serlo.org/entity/repository/add-revision/138148 doesn't work for me (de.serlo.org works).

[2022-09-08 13:41] kulla commented on #1825
I also cannot reproduce it...

[2022-09-08 13:41] #1825 closed, assigned to nobody

[2022-09-08 13:46] kulla opened #1826 "Wrong indent for headings in some articles in rendering mode"
In https://de.serlo.org/mathe/229014/zwei-kugeln-mit-gemeinsamen-inneren-ber%C3%BChrpunkt a heading is rendered with an indent in the normal view:
![read](https://user-images.githubusercontent.com/1327215/191037345-3373be99-2ee8-4aa7-aa87-266f44c6a459.png)

In the editing view there is no such bug:
![write](https://user-images.githubusercontent.com/1327215/191037510-bac0f665-79f9-444a-8d35-ef1727b

[2022-09-19 08:20] #1727 closed, assigned to elbotho

[2022-09-19 14:17] kulla opened #1838 "Wrong gap after formula in https://de.serlo.org/chemie/26371/polykondensation"
In https://de.serlo.org/chemie/26371/polykondensation there is a wrong gap after the formula `H2O`:
![read](https://user-images.githubusercontent.com/1327215/191038965-4d372775-78e7-4bfd-9cdd-89c45cebbb40.png)
In the editing mode there is no such gap:
![write](https://user-images.githubusercontent.com/1327215/191039021-a99c88e1-332d-4b84-a642-8a7b9a132f3a.png)

[2022-09-19 14:19] kulla opened #1839 "Wrong margins in article https://de.serlo.org/mathe/2057/sinussatz-und-kosinussatz-im-allgemeinen-dreieck"
In the rendering mode of https://de.serlo.org/mathe/2057/sinussatz-und-kosinussatz-im-allgemeinen-dreieck there are strange margins:
![read](https://user-images.githubusercontent.com/1327215/191039581-82bbbec2-40ba-4edd-878d-2c1c817afccd.png)
There is no such bug in the editing mode:
![write](https://user-images.githubusercontent.com/1327215/191039650-0334a3f3-4ec9-4990-9502-41cc9acac452.png)
Mayb

[2022-09-19 14:29] kulla opened #1840 "Implement mockup for task overview"
Currently new authors have a hard to find a suitable task for them on serlo.org. Thus we want to mark comments under articles, courses, etc as "to-do comments" which represent a task to do (like you can create to-do comments in Google docs). Then there shall be a special page per subject which lists those to do-tasks so that new authors can find a start for them what they can do.

In order to prep

[2022-09-23 12:06] kulla opened #1844 "Move legal pages to frontend"
Currently our legal pages are rendered by the CF-Worker. These are the sites:

* https://de.serlo.org/imprint
* https://de.serlo.org/privacy
* https://de.serlo.org/terms

It would be great when we move those sites to the frontend. The rendering is done by the module https://github.com/serlo/serlo.org-cloudflare-worker/tree/main/src/legal-pages Refactoring of the source code there would be also nic

[2022-09-23 16:19] elbotho commented on #1844
ping @inyono since I remember you were against this change in the past.

[2022-09-23 16:38] kulla commented on #1844
I already have asked him: He is okay with it :smile:

[2022-09-26 09:50] elbotho opened #1846 "Not possible to delete empty courses"
Workarounds:
- legacy
- add course page and then remove

Actual fix: add menu even if course is empty

[2022-10-05 15:10] kulla opened #1852 "Create mockup for a new comment feature"
In editors like Google Docs and Onlyoffice there is a comment feature with which one can select a portion of the content and insert a comment for this portion. Here is a screenshot of this feature in Onlyoffice:

![comment feature](https://api.onlyoffice.com/content/img/editor/commenting.png)

It would be great if we can integrate this feature in the future. Thus a mockup for inserting comments to

[2022-10-06 08:45] kulla opened #1853 "kratos: No authentication in /___graphql"
With the new authentication [`/___graphql`](https://de.serlo-staging.dev/___graphql) does not work any more (executing mutations which need a login fire a `you are not logged in error`):

[code]

results in

[code]

[2022-10-06 09:29] kulla opened #1854 "kratos: Error message after signing in"
Steps to reproduce:

1. https://de.serlo-staging.dev/ in a private window
2. Log in with `kulla` and `123456`
3. A screen occurs with `Auch Webseiten machen mal Fehler…`

After going to the main page it seems that I am logged in though. However with https://github.com/serlo/frontend/issues/1853 there might be issues regarding this.

[2022-10-06 19:17] hugotiburtino commented on #1854
At the moment, we are supposed to be testing the new user management (see beta-testing doc, heading User Management, and [this](https://serlo.slack.com/archives/C0BMSC431/p1664836901027239) and [this](https://serlo.slack.com/archives/CEB781NCU/p1664837407845079) slack posts), and that should occur in a custom staging domain. If you need regular staging, please follow the instructions of the slack

[2022-10-06 19:17] #1854 closed, assigned to nobody

[2022-10-06 19:22] hugotiburtino commented on #1853
At the moment, you should be testing it in https://\<beta-testing-custom-domain-for-user-management\>/___graphql
(for the custom domain, see beta-testing doc).
I've tested with your staging account and it works. So, closing it because it isn't a real issue.

[2022-10-06 19:22] #1853 closed, assigned to nobody

[2022-11-03 10:24] #1846 closed, assigned to nobody

[2022-11-08 17:08] elbotho opened #1885 "kratos: add show/hide password toggle"

[2022-11-08 17:21] elbotho opened #1886 "kratos: improve mail templates"
@hugotiburtino:

[2022-11-08 17:23] elbotho opened #1887 "kratos: auth/* pages don't update"

[2022-11-09 15:38] elbotho opened #1888 "donation plugin: load automatically when consent is already given"

[2022-11-10 09:51] elbotho opened #1891 "bug: subjects in breadcrumbs link to old landing pages"
since this is an unusual case I'm unsure where and how to solve it (api/db-layer or frontend).
maybe related: https://github.com/serlo/api.serlo.org/issues/703

Simplest way would be to hardcode the ids and replace the links.

[2022-11-10 12:10] #1891 closed, assigned to nobody

[2022-11-10 12:11] #1888 closed, assigned to elbotho

[2022-11-18 08:54] #1885 closed, assigned to elbotho

[2022-11-18 21:48] hugotiburtino commented on #1887
While testing #1898, I noticed this bug occurs also in other paths.
We lost this feature in some of the past refactorings.
That means: I'm logged in two tabs in any path, I log out in one of them, the other remains the same.

[2022-11-18 22:14] elbotho commented on #1887
I'm pretty sure this never worked. This is also the case in the current (legacy) implementation.
The logged in state updates on the next route change but not before.
I worked on this a little bit already but have not found a great solution yet. I'd argue it's not a blocker.

[2022-11-21 11:41] elbotho commented on #1886
closing for now until further test results

[2022-11-21 11:41] #1886 closed, assigned to elbotho

[2022-11-21 13:59] elbotho opened #1901 "author menu: tweak line height"
make line height of entries smaller while keeping the margins between entries.