[2020-08-13 09:30] inyono commented on #468
Seems like intended stale-while-revalidate behaviour. There might be a couple of ways we can work around that (Brain storming):
- When user is logged in, refetch newer content on client (e.g. using https://swr.vercel.app/ so it gets also revalidated on tab focus). Might run into a race condition (e.g. when the content is refetched before background request is done).
- Ignore the issue: since most

[2020-08-13 09:36] inyono commented on #452
Might be a bug in the API, then. Going to investigate.

[2020-08-13 10:41] Entkenntnis commented on #468
Fortunately, this is not a blocker for the current milestone, as the "normal" flow is through review - and we can always say something like "will be live shortly".

[2020-08-13 11:13] Entkenntnis opened #471 "Add translations to Author Menus"
This file https://github.com/serlo/frontend/blob/staging/src/components/navigation/author-tools-hover-menu.tsx contains some untranslated string.

Wait for #445 before working on this.

[2020-08-13 11:14] Entkenntnis opened #472 "Author Menu: Show entries depending on role [api]"
The Author Menus are complete now (all possible entries are visible).

The next step is to hide all entries (also in user tools) that are not accessible to less priviledged users. The only additional information necessary is the role of the user.

[2020-08-13 11:15] Entkenntnis commented on #461
Splitted into #471 and #472.

[2020-08-13 11:15] #461 closed, assigned to nobody

[2020-08-13 11:23] Entkenntnis opened #473 "Some alias are not loading (while editing)"
There are some hrefs like this: https://de.serlo-staging.dev/mathe/geometrie/dreiecke,-vierecke,-kreise-andere-ebene-figuren/kreise-kreisteile/aufgaben-kreisen-kreisteilen/60763/173809 (appears while editing entities)

They are pointing to a specific revision. Currently, the frontend is not able to handle such paths.

It's probably good to add them to the frontend.

[2020-08-13 12:53] #452 closed, assigned to inyono

[2020-08-13 13:06] inyono commented on #452
Well, this is fixed in staging but the wrong values are still cached. For improved loading times in Dev, I don't want to purge the cache again. This will soon be solved by https://github.com/serlo/api.serlo.org/issues/41

[2020-08-13 20:51] elbotho commented on #471
@Entkenntnis ready now!

[2020-08-13 21:06] elbotho commented on #466
ping @Entkenntnis
Okay, moved design.
Functionality need some work, but it's probably useful to wait and see how the API will work.

- we also wait for #472
- and translations could be done.

[2020-08-13 21:06] #466 closed, assigned to elbotho

[2020-08-13 21:07] elbotho commented on #472
Menu in the comments also needs this info.

[2020-08-13 21:12] elbotho commented on #434
Okay, translations are done, but we keep coming up with new stuff so we also need translations for:

- [x] notifications (ready for translation now)
- [x] authed menus (ready for translation now)
- [x] comment system (ready for translation now)

[2020-08-17 08:27] Entkenntnis commented on #473
OK, this is not a special route, it's a normal alias. Investigate why this is not loading.

[2020-08-17 12:19] elbotho commented on #453
That's what I'd so:

- We currently use `@svgr/webpack` for many svgs. So for them we should create a e.g. `/src/files` folder.
- Also our font css are `imported` from `/public` so we _could_ also move them out of there (but in this case I'd leave them to have all the font stuff in one place and they are tiny)
- There are also some SVGs that we directly access via their urls in `/public/_assets` o

[2020-08-17 12:25] inyono commented on #453
Yes, except maybe the second one:
- Can we also import the font families (in the CSS we import) so that we can move the fonts together into `src/fonts` or something?

[2020-08-17 12:27] inyono commented on #453
Actually, if I understand https://webpack.js.org/guides/asset-management/#loading-fonts correctly, this should already be the case, i.e. the fonts should already be processed by webpack, anyways.

[2020-08-17 12:33] elbotho commented on #453
nice, will test.
thanks!

[2020-08-17 17:04] kulla opened #479 "Features from P Community Upgrade"
The following features should be implemented from the project "Community Upgrade".

### General information

Users of Serlo can be active authors / active reviewers / active donors. Whether they are included in these communities can be requested from the API. Thus the type `User` has the following additional properties:

[code]

The features shall only be available in the German version.

### Badg

[2020-08-17 19:20] Entkenntnis commented on #289
Done :tada:

[2020-08-17 19:20] #289 closed

[2020-08-17 19:21] #471 closed, assigned to elbotho

[2020-08-17 19:24] Entkenntnis opened #480 "add babel to peer dependencies and readme"

[2020-08-17 20:11] elbotho opened #483 "Add i18n workflow to readme"

[2020-08-17 20:12] elbotho commented on #434
Okay, I'll close this, because Crowdin is set up now and the workflow seems to work okay.
Now we need to wait for the translations and need to keep i18n in mind for new features.
Follow up in #483.

[2020-08-17 20:12] #434 closed, assigned to elbotho, jakobwes

[2020-08-18 11:28] #453 closed, assigned to elbotho

[2020-08-18 12:20] Entkenntnis commented on #472
Let's collect this information in a document:

https://docs.google.com/document/d/1WVES9v9rlWjMB-NXAeO4ZOxJ3EbEbt1H254D4bpkLrE/edit?usp=sharing

[2020-08-18 13:12] ghost opened #502 "Show button "neuen Inhalt hinzufügen" only on the lowest topic level"
We want articles, course, etc. only to be created in the "topic" which is on the lowest taxonomy level.
We want exercises and exercise-groups only to be created in a topic folder.

Thus it would be nice to have the corresponding buttons shown only in the respective folders.

[2020-08-18 14:00] kulla commented on #502
@yolo-bird It is okay to only implement it in the new frontend?

[2020-08-18 14:00] sentry[bot] opened #484 "CSR from /mathe to / fails"
Sentry Issue: [FRONTEND-37](https://sentry.io/organizations/serlo/issues/1846738067/?referrer=github_integration)

[code]

[2020-08-18 14:01] inyono commented on #484
Seems to be an regression in dev / staging, works in prod.

[2020-08-18 14:14] ghost commented on #502
Sure!

[2020-08-18 14:25] elbotho commented on #484
works on localhost.

This seems to be the error?
```Access to fetch at 'https://frontend-git-staging.serlo.vercel.app/api/frontend/de/' from origin 'https://de.serlo-staging.dev' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource. If an opaque response serves your needs, set the request's mode to 'no-cors' to fetch the resource with CORS d

[2020-08-18 14:31] elbotho commented on #483
solved in 4b3f8d33c9966970081d1d7d093741f3d1c2a1bb

[2020-08-18 14:31] #483 closed, assigned to elbotho

[2020-08-18 14:57] inyono commented on #484
Might be an issue with the Cloudflare Worker, then, since we remove trailing slashes I guess? cc @kulla

[2020-08-18 15:33] Entkenntnis commented on #484
Cloudflare worker should be fine, the problem is the trailing slash in `https://frontend-git-staging.serlo.vercel.app/api/frontend/de/`. This results in a 308 redirect that has no CORS set.

I will investige why this request is happening at all...

[2020-08-18 15:47] Entkenntnis commented on #484
Let's see if #485 solves the issue.

[2020-08-18 15:52] Entkenntnis commented on #484
Ok, it's working now.

[2020-08-18 15:52] #484 closed, assigned to nobody

[2020-08-18 16:21] #480 closed, assigned to Entkenntnis

[2020-08-18 20:35] elbotho commented on #484
@Entkenntnis  thanks for investigating 🔍 👍

[2020-08-20 09:36] elbotho commented on #261
https://github.com/nicolewhite/algebra.js is archived and not updated since three years.
Any objections to continue using it, or any small alternatives that come to mind?

For now I'll go ahead with it.

other options that might work:
- https://mathjs.org/ and hope tree shaking makes the size manageable
- https://github.com/bylexus/fparse
- https://www.npmjs.com/package/math-expression-evaluator
-

[2020-08-20 10:37] elbotho opened #489 "Error 500 when loading this ex group"
https://de.serlo.org/mathe/funktionen/ableitung-funktionen/produktregel,-quotientenregel-kettenregel/aufgaben-quotientenregel
works on localhost and [staging](https://de.serlo-staging.dev/mathe/funktionen/ableitung-funktionen/produktregel,-quotientenregel-kettenregel/aufgaben-quotientenregel).

[2020-08-20 10:42] elbotho commented on #436
@yolo-bird okay so we especially mark content that is not CC-BY-SA und also content where the license is CC-BY-SA but Serlo is not the source to be attributed. Good for you?

@simonkoehl there were no real objections so far, what do you think about this?

[2020-08-20 11:10] Entkenntnis commented on #401
We have `yarn test` now.

[2020-08-20 11:10] #401 closed, assigned to inyono, Entkenntnis

[2020-08-20 12:55] Entkenntnis commented on #468
related to #355

[2020-08-20 12:57] Entkenntnis commented on #404
edtr-io integration is not part of the current milestone. Let's revisit this on the next milestone.

[2020-08-20 13:03] Entkenntnis commented on #489
This bug is fixed by #467, which causes some exercises with empty prerequisites to throw a graphql error. The link will work after the next deployment.

[2020-08-20 13:03] #489 closed, assigned to nobody

[2020-08-20 13:54] #261 closed

[2020-08-20 14:11] Entkenntnis commented on #473
I can't reproduce this special case, so closing this issue

[2020-08-20 14:11] #473 closed, assigned to nobody

[2020-08-20 14:15] Entkenntnis commented on #355
If a revision is accepted, it takes two reloads for the page to show the new content. This works quite reliably, so I hope this will not annoy users.

Let's create separate issues if we encouter annoying situations in our test runs...

[2020-08-20 14:15] #355 closed

[2020-08-20 14:19] Entkenntnis opened #490 "Load text exercises with new frontend [cf-worker]"
On staging, currently all exercises are loaded with the legacy backend, e.g. https://de.serlo-staging.dev/mathe/funktionen/ableitung-funktionen/tangente-normale/aufgaben-tangente/13799

@kulla Could you please take a look at this and update the cloudflare worker? Thanks!

[2020-08-20 14:21] Entkenntnis opened #491 "Load number of unrevised revisions"
The legacy system is showing the number of unrevised revisions:

![grafik](https://user-images.githubusercontent.com/13507950/90784104-2f85ed00-e301-11ea-960e-9b6322083a0e.png)

We would need a API query to get this information.

[2020-08-20 14:24] Entkenntnis commented on #490
Localhost is not affected, but #410 will not work on staging (yet).

[2020-08-20 14:29] Entkenntnis opened #492 "Load comments"
We need to fetch comments from the server, so we can show them in #465.

[2020-08-20 14:29] elbotho commented on #490
should work because of CSR, but I'll create a PR in minute so we can test.

[2020-08-20 14:31] Entkenntnis opened #493 "Submit comments [api]"
The new comments UI will use a graphql mutation to submit new comments.

[2020-08-20 14:34] Entkenntnis commented on #490
This occurs if you are editing exercises: If you switch from legacy system (e.g. editor) to an exercise, the exercise is shown in the legacy system.

But you have a point: If we are using CSR, this will not happen.

[2020-08-20 14:34] Entkenntnis commented on #427
Follow up in #465, #492 and #493.

[2020-08-20 14:34] #427 closed, assigned to nobody

[2020-08-20 14:37] Entkenntnis commented on #479
Thank you @kulla for writing this up!

[2020-08-20 15:24] Entkenntnis commented on #237
@simonkoehl Is this still relevant in the current version of the frontend? We now have explicit labels for every content type, e.g "Artikel" vs "Bereich".

[2020-08-20 19:59] Entkenntnis opened #495 "Last breadcrumbs entry points to same page"
In the topic folder https://frontend-git-add-link-to-exes.serlo.vercel.app/mathe/geometrie/dreiecke,-vierecke,-kreise-andere-ebene-figuren/kreise-kreisteile/aufgaben-kreisen-kreisteilen, the last entry of the breadcrumbs points to the same page again.

Is there any special reason why we are excluding topic folders from this compat case?

https://github.com/serlo/frontend/blob/70e9042a0d381a1559af8

[2020-08-20 20:14] Entkenntnis opened #496 "Breadcrumbs are not pointing to topic folder for exercises"
If you open an exercise, the breadcrumbs are not pointing to the topic folder, which is a bit irritating: https://frontend-git-add-link-to-exes.serlo.vercel.app/mathe/geometrie/dreiecke,-vierecke,-kreise-andere-ebene-figuren/kreise-kreisteile/aufgaben-umfang-fl%C3%A4che-kreises/121180

This is probably the case where we want to opt-out from the compat case mentioned in #495

[2020-08-20 21:04] Entkenntnis opened #497 "Additional grouped exercises showing up (trashed?)"
This exercise https://frontend-q7vf9o8qj.vercel.app/mathe/geometrie/dreiecke,-vierecke,-kreise-andere-ebene-figuren/kreise-kreisteile/aufgaben-umfang-fl%C3%A4che-kreises/121180 has three grouped exercises in the legacy system, but the new frontend shows six. The first three are empty:

![grafik](https://user-images.githubusercontent.com/13507950/90825659-83acc380-e339-11ea-9acd-3ab55ad4b4f9.png)

[2020-08-20 21:30] #200 closed

[2020-08-20 21:30] #410 closed, assigned to elbotho

[2020-08-21 07:20] #237 closed

[2020-08-21 07:25] Entkenntnis commented on #169
@elbotho @simonkoehl Any progress on this one? I have no strong opinion in either direction. I am fine with the border.

More annoying is the big scrollbar on desktop, but this another issue.

[2020-08-21 07:40] Entkenntnis commented on #358
Ok, lets close this issue as there is no work for the frontend here at the moment.

[2020-08-21 07:40] #358 closed, assigned to nobody

[2020-08-21 07:47] Entkenntnis commented on #359
Let's see if I can reproduce this error reliably...

[2020-08-21 08:14] Entkenntnis commented on #359
@elbotho Can you reproduce this issue? I have clicked a lot and could only trigger an error once.

[2020-08-21 08:15] Entkenntnis commented on #359
Anyway, I'm adding a catch for the privacy fetcher: #498

[2020-08-21 08:25] Entkenntnis commented on #436
If there is no objection, I would suggest that we start trying this with topic folders: In a "topicFolder" or "curriculumTopicFolder", we add a CC-BY-SA license notice to the bottom (equals our license id 1) and remove all other license notices with id 1 within the exercises. All other license will stay visible.

@elbotho This feels straight forward to implement, do you want to create a PR for it?

[2020-08-21 08:29] Entkenntnis opened #499 "Topic folders: Show default license at the bottom"
First step for #436

@yolo-bird @simonkoehl If there is no objection, I would suggest that we start trying reducing the license notices with topic folders: In a "topicFolder" or "curriculumTopicFolder", we add a CC-BY-SA license notice to the bottom (equals our license id 1) and remove all other license notices with id 1 within the exercises. All other license will stay visible.

@elbotho This fee

[2020-08-21 08:56] Entkenntnis commented on #497
Looking up the ids:

![grafik](https://user-images.githubusercontent.com/13507950/90872487-00bd5480-e39d-11ea-83f4-1067130df290.png)

[2020-08-21 09:40] #497 closed, assigned to nobody

[2020-08-21 09:51] #495 closed, assigned to nobody

[2020-08-21 09:51] #496 closed, assigned to nobody

[2020-08-21 11:59] kulla commented on #490
The type `Exercise` is not in the list of allowed types for the frontend. See https://github.com/serlo/serlo.org-cloudflare-worker/blob/master/wrangler.toml#L41

@Entkenntnis What is the current list of types which are supported?

[2020-08-21 13:31] Entkenntnis commented on #490
We can add Exercise and ExerciseGroup to the list of allowed types, they are fully supported now.

Maybe we can test it on staging?

[2020-08-21 13:38] elbotho commented on #490
a little aside, but I thought its interesting what other types are therefore not supported atm:
With your addition @Entkenntnis that leaves:
- Event (✔️ )
- GroupedExercise (✔️ )
- Solution (in progress ✔️ ))
- User _(#476 )_

and the revisions: AppletRevision, ArticleRevision, CourseRevision, CoursePageRevision, EventRevision, ExerciseRevision, ExerciseGroupRevision, GroupedExerciseRevision, Page

[2020-08-21 15:23] ghost commented on #436
@elbotho this sounds great!

[2020-08-22 07:42] Entkenntnis opened #504 "Topic folders not visible in frontend"
The page https://frontend.serlo.org/mathe/deutschland/bayern/mittelschule/klasse-8/regelklasse/prozentrechnung is empty, but should show four topic folders, e.g. https://frontend.serlo.org/mathe/deutschland/bayern/mittelschule/klasse-8/regelklasse/prozentrechnung/aufgaben-promillerechnung

[2020-08-22 07:53] Entkenntnis commented on #490
Event and GroupedExercise will work, but are rarely link to. We can add them to the allowed types.

Solutions are not supported.

[2020-08-22 10:32] Entkenntnis opened #505 "Author Menu: Sort elements in taxonomy has wrong link"
Taxonomy > "Weitere Tools" > "Unterelemente sortieren" should be replaces with "Inhalt sortieren" (`/taxonomy/term/sort/entities/<id>`)

[2020-08-22 10:35] Entkenntnis opened #506 "Hiding trashed and empty grouped exercises should not affect numbering"
The number is messed up:

![grafik](https://user-images.githubusercontent.com/13507950/90954364-f9b54580-e473-11ea-8527-8201bdf086ed.png)

[2020-08-22 10:40] Entkenntnis commented on #504
It's visible in on staging, though.

[2020-08-22 10:42] Entkenntnis opened #507 ""Neuer Inhalt" entry not visible in taxonomy"
e.g. here: https://de.serlo-staging.dev/mathe/deutschland/bayern/mittelschule/klasse-8/regelklasse/prozentrechnung

[2020-08-22 11:07] Entkenntnis commented on #504
If I add or edit elements in "Baumstruktur bearbeiten", then they are not visible, even after several reloads.

Workaround: Edit taxonomy term once, save, then changes are visible.

[2020-08-23 16:29] inyono commented on #504
This was fixed in serlo.org recently. Depends on a newer API version, though, so this is only live in dev/prod.

[2020-08-23 16:29] #504 closed, assigned to nobody

[2020-08-23 16:44] inyono commented on #404
Just for clarification: this is prerequisite work for any "major" changes to the converter, independent of Edtr.io integration. I'm fine with delaying this as long as we don't have any major changes in the current milestone.

[2020-08-23 22:13] Entkenntnis opened #509 "Adding new topics in "Baumstruktur bearbeiten" not visible [api]"
If I add or edit elements in "Baumstruktur bearbeiten", then they are not visible, even after several reloads.

According to https://github.com/serlo/frontend/issues/504#issuecomment-678795217, this should work in development and production, but unfortunately its still an issue on staging.

Keep this issue as an reminder and close it when its working on staging.

[2020-08-24 07:27] #506 closed, assigned to nobody

[2020-08-24 07:38] Entkenntnis opened #512 "Show highlighted breadcrumbs also in topic folders"
The highlight of the parent is missing in topic folders, because they are treated as taxonomy elements:

![grafik](https://user-images.githubusercontent.com/13507950/91016643-5be58600-e5ed-11ea-96cd-53ac98ecdb3a.png)

I would add the highlighting here, too.

[2020-08-24 08:15] kulla commented on #490
Staging & dev: Event, Exercise, ExerciseGroup

[2020-08-24 08:29] Entkenntnis commented on #509
Related fix in serlo.org: https://github.com/serlo/serlo.org/commit/2d4d5163a19069e127842730d4a1be31ee80649f

[2020-08-24 09:57] Entkenntnis commented on #169
Latest update: We would need some testing with users here, before we can come to an decision.

[2020-08-24 10:10] kulla commented on #490
See https://github.com/serlo/serlo.org-cloudflare-worker/pull/48 for the fix. In Staging and Dev this is already deployed. See

* Exercise: https://de.serlo-staging.dev/mathe/funktionen/ableitung-funktionen/tangente-normale/aufgaben-tangente/13799
* ExerciseGroup: https://de.serlo-staging.dev/mathe/analysis/ableitung/quotientenregel/6763

[2020-08-24 16:20] elbotho opened #513 "Lots of 500 errors"
I often discover 500 errors while testing.
Also I found a lot of them while checking the pages where #359 (or to be more exact [FRONTEND-6](https://sentry.io/organizations/serlo/issues/?groupStatsPeriod=14d&project=5206333&query=is%3Aunresolved&statsPeriod=14d)) occurs.
I'm not quite sure how they relate, but it seems odd how many of the pages turned out to be 500ers.

I checked some and they seem

[2020-08-24 16:39] elbotho opened #514 "Implement `Solution`"
As in #513 I discovered those via sentry.

https://de.serlo.org/mathe/universitaet/grundlagen-mathematik/relationen/aequivalenzrelationen
- injection /56990 _(▾ Verständnisfrage: Wie viele lineare Äquivalenzrelationen auf einer Grundmenge MM gibt es?)_
- injection /57015 _▾ Beweis: (Äquivalenzrelationen induzieren eine Zerlegung)_
- injection /57020 _▾ Beweis: (Jede Zerlegung induziert eine Äquiva

[2020-08-24 16:52] Entkenntnis commented on #513
#464: most tables resulted in 500, fixed (in staging). If you look at https://de.serlo.org/api/frontend/mathe/sonstiges/zahlensysteme/zahlensysteme, you see "Error while fetching data: Cannot read property 'text' of undefined"

#467: solutions that has an empty prereq id resulted in 500, fixed in staging. If you look at the API route there is a graphql validation error.

[2020-08-24 16:57] elbotho commented on #514
might be because api does not allow the frontend to load grouped exercises?
#490

[2020-08-24 17:01] Entkenntnis commented on #514
Hm, these injections are failing because the are not matching any knowing type:

https://github.com/serlo/frontend/blob/cf6f565e0a9fed5f582036dd2207c60150a6fa36/src/fetcher/fetch-page-data.ts#L341

@elbotho Could you look at the uuid and see what's happening? Maybe its a new, unknown content type?

[2020-08-24 17:07] elbotho commented on #514
:D okay, we found type `Solution` in the wild.
Don't know how often that happens, but we should probably just implement it I guess.
What do you think @Entkenntnis ?

[2020-08-24 17:18] Entkenntnis commented on #514
Ah, makes sense, yes, we should just implement them.

[2020-08-24 18:48] elbotho commented on #490
if #515 is merged, solutions can be added, too.

[2020-08-25 13:06] simonkoehl commented on #436
I like the suggestion @elbotho . Imo we even don't have to include something like "sofern nicht anders angegeben" on every page because it is the linked ("Was bedeutet das") more detailed agreement that counts. Behind the link as well as in our terms&conditions we should point out, that our open licences only apply where not noted different.

[2020-08-25 21:33] elbotho opened #518 "Implement license details page"
https://de.serlo-staging.dev/license/detail/1
should also work in the new frontend directly.
The data is already available in the API.

[2020-08-27 04:42] inyono opened #519 "Navigating back / forward doesn't work sometimes"
To reproduce:
- Enable frontend
- Open a new tab with https://de.serlo.org
- Navigate to https://de.serlo.org/mathe
- Use the browser's back button to navigate back to / (an unexpected error occurs)
- Use the browser's forward button to navigate back to /mathe (another unexpected error occurs)

[2020-08-27 06:29] elbotho commented on #519
Can't reproduce on localhost, but occurs on staging.

First error on back:
```TypeError: n.join is not a function at get-initial-props.ts:21 …```

Second error on forward:
```TypeError: Cannot read property 'lang' of undefined at jt ([[...slug]].tsx:88) …```

[2020-08-27 06:33] elbotho commented on #519
Also works fine on [branch previews](https://frontend-git-less-license-notices.serlo.vercel.app/) so it might be related to cf-worker, but I don't really see how. needs more 🔍 .

[2020-08-27 09:26] elbotho commented on #513
Okay, with the new updates live we could reduce the list quite a bit 😄

Those three are currently left:

**`Error while fetching data: Syntax Error: Cannot parse the unexpected character \"/\".`**
- https://de.serlo.org/mathe/deutschland/bayern/mittelschule/klasse-6/fl%C3%A4cheninhalt---oberfl%C3%A4cheninhalt-quadern/aufgaben-oberfl%C3%A4che-volumen-w%C3%BCrfel-quader
- https://de.serlo.org/mathe/

[2020-08-27 09:38] jakobwes opened #520 "License-information leads to "Schwerwiegender Fehler" or 500 error"
In es.serlo.org the "Informacion"-button for the license under an article redirects to https://de.serlo.org/license/detail/14 where "Ein Schwerwiegender Fehler ist aufgetreten" is shown. Also in the german-version it the button leads to https://de.serlo.org/license/detail/1 what gives out a 500-error

[2020-08-27 09:45] elbotho commented on #520
thanks for reporting.
Relates to #518.

es license link should probably target https://es.serlo.org/license/detail/14 that kind of works (no content, but side loads).

[2020-08-27 10:28] elbotho opened #521 "translate error page"

[2020-08-27 14:57] inyono commented on #513
Also: https://de.serlo.org/mathe/funktionen/wichtige-funktionstypen-eigenschaften/lineare-funktionen---geraden

[2020-08-27 15:59] sentry[bot] opened #523 "TypeError: Cross-origin redirection to https://frontend.serlo.org/api/frontend/de/https:/assets.serlo.org/le..."
Sentry Issue: [FRONTEND-3R](https://sentry.io/organizations/serlo/issues/1862273421/?referrer=github_integration)

[code]

Not sure why we even have a link to https://frontend.serlo.org/api/frontend/de/https:/assets.serlo.org/legacy/541827b992915_a6939af75e1532d9027d2bc2e7a8d6721f73beeb.jpg

[2020-08-27 16:35] inyono commented on #514
Hm... I'm not sure if we want to support that, to be honest. The linked example is definitely an anti-pattern. There should be no reason to inject the solution itself (without the exercise) and instead of an extra view for the solution, we can just redirect to the exercise itself.

[2020-08-27 16:42] inyono commented on #436
cc @kulla regarding image source plugin. Might need to touch the "global" license notice in the footer so that it's clear where the license information for the images is.

[2020-08-28 07:04] Entkenntnis commented on #359
With the latest deployment, the amount of errors *should* reduce a bit, follow up in #513

[2020-08-28 07:04] #359 closed, assigned to nobody

[2020-08-28 07:27] Entkenntnis commented on #514
I have asked @kathongi what she thinks about it.

[2020-08-28 07:45] Entkenntnis commented on #514
Result: We don't need to inject solutions, because there are other possibilities to achieve the same effect, e.g. injecting the exercise and removing the spoiler, etc..

I will adapt #515 for this.

[2020-08-28 07:54] Entkenntnis commented on #490
@kulla Can you also add `GroupedExercise` to staging for the moment? Thanks! (e.g. https://de.serlo-staging.dev/mathe/geometrie/dreiecke,-vierecke,-kreise-andere-ebene-figuren/kreise-kreisteile/aufgaben-kreisen-kreisteilen/54749/54799)

[2020-08-28 08:12] #505 closed, assigned to nobody

[2020-08-28 08:12] #507 closed, assigned to nobody

[2020-08-28 08:13] #514 closed, assigned to elbotho

[2020-08-28 08:38] Entkenntnis commented on #436
~~We could also add "Lizenz" to the footer to make sure everybody can find the relevant information.~~

Edit 1: Ups, we already have a global license page: https://de.serlo-staging.dev/terms (and it looks ok, we already say (kind a) that all content is under cc except otherwise noted.

[2020-08-28 08:55] Entkenntnis commented on #499
fixes by #517

[2020-08-28 08:55] #499 closed, assigned to nobody

[2020-08-28 08:55] #518 closed, assigned to elbotho

[2020-08-28 08:55] #520 closed, assigned to nobody

[2020-08-28 11:24] Entkenntnis commented on #436
implemented in #517

[2020-08-28 11:24] #436 closed, assigned to elbotho

[2020-08-28 11:47] Entkenntnis opened #525 "URI malformed error [api]"
This page: de.serlo.org/mathe/funktionen/wichtige-funktionstypen-eigenschaften/lineare-funktionen---geraden

![grafik](https://user-images.githubusercontent.com/13507950/91557485-d76c6d80-e934-11ea-8bf7-7d3d3e545903.png)

Accessing it through the API, I can get the data, but also some errors. Looking up the location, its a video element with alias "null".

[2020-08-28 11:57] Entkenntnis commented on #523
Happens on this page: https://frontend.serlo.org/de/mathe/zahlen-gr%C3%B6%C3%9Fen/bruchrechnen-dezimalzahlen/dezimalbr%C3%BCche/dezimalbruch

It's an image, that is stored as an injection. Bad.

[2020-08-28 12:06] Entkenntnis commented on #513
@elbotho Your three links are fixed by #526
@inyono I have opened a separate issue for your link (#525)

[2020-08-28 12:07] #513 closed, assigned to nobody

[2020-08-28 12:08] Entkenntnis commented on #523
I have edited the content to fix this issue.

[2020-08-28 12:08] #523 closed, assigned to nobody

[2020-08-28 12:09] Entkenntnis commented on #519
Can reproduce, will investigate this.

[2020-08-28 13:43] Entkenntnis commented on #519
The problem was, that a slug with a single entry is passed as string (and not string[]), and that causes the join function to fail.

Fixed by 0e38759a9c4cdfe51e1a2e326922770240219d7a

[2020-08-28 13:53] Entkenntnis commented on #519
There is still another problem with this...

[2020-08-28 14:03] Entkenntnis commented on #519
Should be fixed by 59399ece99f24866860f00e450025f16a70a00c5 now.

[2020-08-28 14:03] #519 closed, assigned to Entkenntnis

[2020-08-28 22:25] elbotho commented on #502
@yolo-bird or @kathongi:
Just to be sure I understand it correctly.
_Only_ in topic (topic or curriculumTopic) we show:
- Artikel
- Kurs
- Video
- Applet
- Ereignis

_Only_ in folders (topicFolder and curriculumTopicFolder)
- exercises
- exercise-groups

Therefore there are no content types to add anythere else.
So e.g. on `/mathe` there is option in the menu to add new content entities.

Correct

[2020-08-29 15:58] elbotho commented on #404
Ah sorry, didn't see the grab and was eager to hone my new testing skills ;)

[2020-08-30 13:27] elbotho opened #531 "improve timeago i18n"
Find a solution for react timeago to dynamically load only language info for current instance. At the moment I just import all the language files. ~and build into reusable component. Currently we use it for comments, notifications and revisions.~

[2020-08-30 13:29] elbotho opened #532 "Refactor buttons"
there are some places where we use a very similar button style that would be worth putting into a small component by now

[2020-08-30 13:35] #490 closed, assigned to kulla

[2020-08-31 09:52] Entkenntnis opened #537 "Anchor and Mailto links break"
Visit https://frontend.serlo.org/mathe/geometrie/dreiecke,-vierecke,-kreise-andere-ebene-figuren/kreise-kreisteile/berechnungen-kreis

Click on one of the links.

Expected: Page jumps to position.

Actual: 500 Error Page.

[2020-08-31 10:07] elbotho commented on #169
Okay, I redesigned it to make it more clear that is interactive (also removed the border).
Since I prefer the new version, I will close this.
Please open new issue for further feedback.

(ping @simonkoehl)

[2020-08-31 10:07] #169 closed

[2020-08-31 18:31] elbotho commented on #537
link to mailto:de@serlo.org also results in 500

[2020-08-31 18:43] elbotho commented on #537
mailto fixed in 4d1ff3b …

[2020-09-01 08:10] #521 closed, assigned to nobody

[2020-09-01 08:54] kathongi commented on #502
Almost right. The button to create events/Veranstaltung should only be showed in /community. (If possible more specific only in /community/veranstaltungen)

---
It's also correct that authors could add articles etc. at the second level. That's fine.

[2020-09-01 09:00] kathongi commented on #502
What option do you mean?

![image](https://user-images.githubusercontent.com/44167220/91829825-3c300c80-ec42-11ea-8d7b-f0f0e6fd1592.png)

[2020-09-01 15:16] elbotho opened #542 "list events in community taxonomy"
http://localhost:3000/community/veranstaltungen does not list events currently

[2020-09-01 15:28] elbotho commented on #502
@kathongi thanks!
Sorry about the last one, that way a typo. No option to add anything on `/mathe`. Check.
Added special case for Events. On `de.serlo.org` they will only be visible on `/community/veranstaltungen` and only inside of `/community` for other languages.

[2020-09-02 18:52] kulla commented on #525
The reason was a title of a video with a `%` character. I have deleted this character in the title of this entity (and of all entities with a `%` character). -> After my edit was reviewed this error should not reoccured.

[2020-09-03 08:21] Entkenntnis commented on #403
If some request is failing, e.g. alias not existing, than the data in this line is null:

https://github.com/serlo/api.serlo.org/blob/0f512ab809301777e890b5264b51cc8b50fbc1ae/src/graphql/data-sources/serlo.ts#L291

This will lead to a very generic `property ... of null is undefined...` exception further down in the code. If would be great if the server would throw an error with a clear message, li

[2020-09-03 09:16] elbotho commented on #403
~@Entkenntnis probably worth an issue in https://github.com/serlo/api.serlo.org~

This is probably the same as https://github.com/serlo/api.serlo.org/issues/50, right?

[2020-09-03 11:53] #537 closed, assigned to elbotho

[2020-09-03 12:00] #502 closed, assigned to elbotho

[2020-09-03 14:16] Entkenntnis opened #546 "Alias with special characters (%, &, +) are broken [cf]"
~~An ampersand in the alias is causing pages to break. Investigate where this can be fixed, e.g. api, cf-worker or frontend.~~

Update: Special charaters are not encoded by the API (other characters are encoded). This causes problems with the frontend and the url that the cloudflare worker redirects to.

Broken URLs:
~~https://de.serlo-staging.dev/chemie/stoffe-&-stoffeigenschaften/stoffeigenschaf

[2020-09-03 14:50] metzgaria opened #548 "Image Magnific Plugin: Broken in new content"
Images don't maximize on click
(reported by author hxwalther)

[2020-09-03 21:27] Entkenntnis opened #549 "Try out KaTeX with sans-serif font"
Students are sometimes confused by serif font, especially the `x`.

We could try to default all math formulas to sans-serif and see it this brings an improvement.

[2020-09-03 21:29] Entkenntnis opened #550 "Implement floating behaviour for multimedia-plugin"
The implementation of the multimedia-plugin was I bit rushed by me, so it is currently missing support for floating (it actually just reuse the row node).

We should probably add a new node type `multimedia` and use the same implementation as edtr-io.

Example: https://de.serlo.org/community/sandkasten/politik/bundestag/abgeordnete

[2020-09-03 21:38] Entkenntnis opened #551 "Remove nested paragraphs from list items"
We have some list items, where paragraphs are nested, e.g. at https://de.serlo-staging.dev/mathe/zahlen-gr%C3%B6%C3%9Fen/grundrechenarten/addition/addition:

![grafik](https://user-images.githubusercontent.com/13507950/92176260-61896a00-ee3e-11ea-9e59-893b756821ee.png)

"schriftliche Addition" is in a paragraph within a paragraph, therefore the extra padding.

This would be a good case to add a te

[2020-09-03 21:45] Entkenntnis commented on #548
We had a draft here: https://github.com/serlo/frontend/pull/242

But it was postponed...

[2020-09-03 21:46] Entkenntnis commented on #404
Off-topic: Best issue number of all.

[2020-09-03 21:48] Entkenntnis opened #552 "Import edtr-io types"
Final follow up of #404, draft is already working in #545, where we are bascially importing the whole edtr-io.

There are still some rough edges (some types are not working yet, are wrong), but this is a good groudwork for the up-coming edtr-io integration.

[2020-09-03 21:49] Entkenntnis commented on #404
Follow up in #552.

[2020-09-03 21:49] #404 closed, assigned to elbotho, inyono

[2020-09-03 21:51] Entkenntnis commented on #479
The next step would be to extract the relevant features (e.g. blockers) for the current milestone.

[2020-09-03 21:55] Entkenntnis opened #553 "Double logout"
After logout, we have `#auth` two times in the url:

![grafik](https://user-images.githubusercontent.com/13507950/92177526-f5f4cc00-ee40-11ea-9c28-e8080b1644ee.png)

Not causing harm (yet), but we should investigate this.

[2020-09-04 08:05] Entkenntnis opened #554 "Add title to exercises"
If you are viewing an exercise, the title bar shows `Serlo`, example: https://de.serlo.org/informatik/klassen-objekte/aufgaben-objekten/175701

In the legacy system, we show a generic title like `Informatik Textaufgabe`.

[2020-09-04 08:07] Entkenntnis commented on #551
Another example page: https://de.serlo.org/informatik (breaks content in legacy system...)

[2020-09-04 08:12] Entkenntnis commented on #546
Ok, the API is currently returning unescaped aliases (it should encode it according to https://github.com/serlo/frontend/pull/288, but it isn't in the staging).

The cloudflare-worker is therefore redirecting to an not-encoded URL and as soon as a special character is encountered (&, +), the frontend gets a broken alias.

This is unfortunately breaking a lot of pages, e.g. https://de.serlo-staging

[2020-09-04 08:18] Entkenntnis opened #555 "Fix display of "Lösungsplan""
https://de.serlo.org/mathe/funktionen/anwendungszusammenh%C3%A4nge-anderes/anwendungsaufgaben-differential--integralrechnung/anwendungsaufgaben-differential--integralrechnung/162734.

Expected (legacy):

![grafik](https://user-images.githubusercontent.com/13507950/92217399-f1a7cd80-ee97-11ea-89ba-c592d359a881.png)

Actual (frontend):

![grafik](https://user-images.githubusercontent.com/13507950/92

[2020-09-04 08:44] Entkenntnis commented on #546
Update: Umlaute are encoded and working.

[2020-09-04 12:30] Entkenntnis opened #557 "Breadcrumbs too short"
Visit this video: https://de.serlo.org/nachhaltigkeit/globaler-wandel/foodsharing:-klak-interview-michaela-neumann

The breadcrumbs are only consisting of "Angewandte Nachhaltigkeit" and are not very helpful. The legacy system is also displaying "Globaler Wandel".

[2020-09-04 12:47] Entkenntnis commented on #557
Also happens here: https://de.serlo.org/informatik/baustelle/webseite-selbst-erstellen-html-5-css/%C3%9Cbersicht (Baustelle is missing)

[2020-09-04 12:48] Entkenntnis opened #558 "Translations are missing"
#533 added some new strings that are (yet) missing, adding them to crowdin should work out.

![grafik](https://user-images.githubusercontent.com/13507950/92240964-bae4ae00-eebd-11ea-8b32-8625e88e65e5.png)

[2020-09-04 13:17] #512 closed, assigned to nobody

[2020-09-04 13:17] #557 closed, assigned to Entkenntnis

[2020-09-04 13:40] #551 closed, assigned to elbotho

[2020-09-04 15:49] elbotho commented on #558
Translated now. PR will be updated soon (any hopefully the merge conflict will disappear :)

(sidenode: it's expected behaviour. New features have to wait in staging to be translated before merging currently.)

[2020-09-04 16:00] elbotho commented on #558
Merged new german translations

[2020-09-04 16:00] #558 closed, assigned to elbotho

[2020-09-04 16:07] elbotho commented on #555
content problem, was no real list just looked like one 😉

[2020-09-04 16:07] #555 closed, assigned to nobody

[2020-09-04 16:27] #553 closed, assigned to nobody

[2020-09-04 16:30] elbotho commented on #553
not sure what changed, but works again now.
(no `#auth` persisting and notification on logout)

[2020-09-04 17:14] Entkenntnis commented on #555
tricky :grinning:

[2020-09-04 17:21] #554 closed, assigned to elbotho

[2020-09-05 08:30] elbotho commented on #549
okay, I researched this a bit.
completely switching fonts [won't really work with KaTeX](https://github.com/KaTeX/KaTeX/issues/123).

But KaTeX comes with a sans-serif font [that can be activated using](https://github.com/KaTeX/KaTeX/issues/1702#issuecomment-419237980) using `\sf`, `\mathsf{example}` or `\textsf{example}`. All should result in the same output.

The result… is not great. If it uses

[2020-09-05 11:44] elbotho commented on #532
Okay no component after all, but some cleanup and simpler helpers in #566

[2020-09-05 11:45] elbotho commented on #548
~will start this when #564 is done~ added to #564.
This should be the only place (for edtr-io content) where images are not full width, right?

[2020-09-05 13:08] elbotho opened #567 "folder with events does not display events"
example:
https://de.serlo.org/community/veranstaltungen/templates-veranstaltungen

looks like a exercise collection therefore it does not list events I guess :)
works in old frontend.

[2020-09-05 13:09] elbotho commented on #542
small follow up in #567

[2020-09-05 13:11] #542 closed, assigned to nobody

[2020-09-05 13:22] #567 closed, assigned to nobody

[2020-09-05 20:51] #548 closed, assigned to elbotho

[2020-09-05 20:51] #550 closed, assigned to elbotho

[2020-09-05 20:54] #532 closed, assigned to nobody

[2020-09-06 07:48] Entkenntnis opened #569 "Redirection to solution while editing"
If you are editing a solution, e.g. https://de.serlo-staging.dev/entity/repository/add-revision/168352, and you save it, you will get redirected to a page with a solution entity. As the frontend is not supporting solutions, this leads to a 404.

Some ideas:

- The cf-worker redirects to the corresponding exercise
- The legacy system is redirection to the exercise directly
- The frontend supports s

[2020-09-06 07:50] Entkenntnis opened #570 "Remove external link indicator for images"
https://de.serlo.org/abc:

![grafik](https://user-images.githubusercontent.com/13507950/92320997-585af180-f026-11ea-9c5a-da83c0358475.png)

[2020-09-06 07:56] Entkenntnis opened #571 "Horizon is missing"
Is it intended that we hide the horizon for taxonomy?

![grafik](https://user-images.githubusercontent.com/13507950/92321050-ff3f8d80-f026-11ea-8bc5-3d71630ec544.png)

There is an issue here that the content is just to small and the secondary navigation is hidden by the footer.

[2020-09-06 08:06] elbotho commented on #571
jup is intended, will add an min-height somewhere

[2020-09-06 08:07] elbotho commented on #569
imo it should not be possible to just edit an solution anyway. that should solve this problem as well.

[2020-09-06 11:55] elbotho commented on #479
So the parts are:
- [x] Badges next to username-links (done in #572)
- [x] public user profiles (done in #573)
- [x] own user profile (done in #573)

[2020-09-06 13:27] #570 closed, assigned to nobody

[2020-09-06 13:34] #571 closed, assigned to nobody

[2020-09-06 15:18] elbotho commented on #479
Information currently not supported, frontend auth only provides username. I guess it's okay to always display the CTA until we need to expand the auth info for some other feature anyway. Okay @kulla ?

Also, we provide the user id to the donation form atm.
[code]
How important is this (since usernames are unique i guess)? (again currently this information is not available)

[2020-09-06 21:25] kulla commented on #548
Is this implemented? When I click on a image at https://de.serlo-staging.dev/mathe/zahlen-gr%C3%B6%C3%9Fen/grundrechenarten/addition/addition it does not maximize... Am I missing something?

[2020-09-06 21:43] elbotho commented on #548
@kulla jup, this is only implemented for the "Multimedia-Explanations" because in the edtr there is currently no other way to display images smaller than full width. I chose not to open a lightbox for those images, would not make sense most of the time. [Working example](https://de.serlo-staging.dev/community/sandkasten/politik/bundestag/abgeordnete)

[2020-09-06 21:50] kulla commented on #548
:+1: (for displaying sources to images I need them to other images as well -> however this has time since I am still planing this feature)

[2020-09-07 07:38] Entkenntnis opened #575 "Show User Tools on medium devices"
Currenty, we show the "Inhalt überarbeiten"-Button and "Weitere Tools" only on large devices. This could be problematic for some medium devices, like tablets or chromebooks, or a split screen on desktops.

I would suggest to show theses two buttons also on medium devices and use the same breakpoint as the main menu.

[2020-09-07 07:40] Entkenntnis commented on #569
@elbotho This sounds like a good idea, I will think about it.

[2020-09-07 10:10] kathongi commented on #549
I don't understand the problem to be honest. I think it looks quite good with the new font. Not worse than the standard LaTeX font.
I also asked some authors from the academy and got positive feedback. They said it looks more modern and less threatening :D

[2020-09-07 10:32] elbotho commented on #549
@kathongi
Mostly things like this put me off, where same variables (a,b) are displayed in two different ways.
You can definitely judge this betten than me … isn't this confusing for learners?
![image](https://user-images.githubusercontent.com/1258870/92378209-bad6ef00-f105-11ea-95f2-f654b29c8af8.png)
(left vs right)

[2020-09-07 10:55] Entkenntnis commented on #549
@elbotho After some investigation all cases of serif fonts are content problems: Your example on the left is using serif fonts explicitly in the latex code (huch?), and the on the page with logarithms, some formulas are not correctly inserted (not using math environment), somehow causing the frontend converter to ignore them (only happen in legacy content).

@kathongi Thank you for the feedback, I

[2020-09-07 11:03] elbotho commented on #549
@Entkenntnis nice, thanks for investigating 👍
It was super easy to find those examples, how should we handle those cases?

(In general im not against merging this :)

**Forced serifs:** What code is used to archive that, could we re `replace` to automatically get rid of it in the meantime?

[2020-09-07 11:08] Entkenntnis commented on #549
@elbotho As long as an article is not converted (see https://are-we-edtr-io-yet.serlo.org/), we can assume that project convo will work through these cases.

Otherwise, if we encouter such code in converted content, I would probably talk with the authors. Its mostly not necessary to write such code

[2020-09-07 11:09] #549 closed, assigned to elbotho

[2020-09-07 13:46] kulla commented on #479
This is okay to have it this way. Can you create a follow up issue with the missing stuff.

How can I have a look at a profile. https://frontend-git-community-features-for-profiles.serlo.vercel.app/user/profile/kulla does not seem to work...

[2020-09-07 13:51] kulla commented on #546
@Entkenntnis Do you expect the alias in the frontend to be decoded or not decoded? In api.serlo.org I have added code like https://github.com/serlo/api.serlo.org/compare/decode-path-catch-error?expand=1#diff-a64e0f65b8c72d89b36834c8d75d8032R23-R32 so that it works regardless whether the legacy systems returns encoded or not encoded strings...

[2020-09-07 13:54] elbotho commented on #479
e.g. [/user/profile/18981](https://frontend-git-community-features-for-profiles.serlo.vercel.app/user/profile/18981) works.
I focused on the frontend, not sure if we implement routing (usernames, /me …) in the frontend or in the SW.
Let's discuss this tonight maybe.

[2020-09-07 14:52] elbotho opened #576 "maybe add more info to auth"
For community features (#479) we maybe need some more information about the user.

We should evaluate if we need this information in other places as well, so we can decide if we should add an api call to auth (e.g. after logging in).

The information in question is the user id and activeDonor, activeReviewer and activeAuthor fields.

[2020-09-07 14:53] Entkenntnis commented on #546
I would expect the API to encode the alias, e.g. & -> %26, + -> %2B

The cloudflare worker should then also redirect to an encoded path, then the frontend should render the page properly.

[2020-09-07 15:33] Entkenntnis opened #577 "Sans-serif font not working within array environment"
We are achieving sans serif font with `\sf`. This is somehow not working for arrays: [KaTeX Example](https://katex.org/?data=%7B%22displayMode%22%3Atrue%2C%22leqno%22%3Afalse%2C%22fleqn%22%3Afalse%2C%22throwOnError%22%3Atrue%2C%22errorColor%22%3A%22%23cc0000%22%2C%22strict%22%3A%22warn%22%2C%22output%22%3A%22htmlAndMathml%22%2C%22trust%22%3Afalse%2C%22code%22%3A%22%5C%5Csf%5Cn%5C%5Cbegin%7Barray%7

[2020-09-07 15:37] Entkenntnis commented on #577
This works, though: [Example, 2](https://katex.org/?data=%7B%22displayMode%22%3Atrue%2C%22leqno%22%3Afalse%2C%22fleqn%22%3Afalse%2C%22throwOnError%22%3Atrue%2C%22errorColor%22%3A%22%23cc0000%22%2C%22strict%22%3A%22warn%22%2C%22output%22%3A%22htmlAndMathml%22%2C%22trust%22%3Afalse%2C%22macros%22%3A%7B%22%5C%5Cf%22%3A%22%231f(%232)%22%7D%2C%22code%22%3A%22%5C%5Csf%5Cn%5C%5Cbegin%7Barray%7D%7Brrcl%7D

[2020-09-07 16:08] Entkenntnis opened #578 "Fix link for editing pages that are converted"
Editing e.g. https://de.serlo-staging.dev/chemie points to the old editor, although the content is using edtr-io. The correct link would be https://de.serlo-staging.dev/page/revision/create/24706/162211

[2020-09-07 16:09] Entkenntnis opened #579 "Compat case for nested paragraphs"
This is happening on https://de.serlo-staging.dev/chemie:

![grafik](https://user-images.githubusercontent.com/13507950/92405125-42882200-f135-11ea-8c6d-03a3f69ff757.png)

(edtr-io, p within p, unnesting would fix layout)

[2020-09-07 17:40] elbotho commented on #531
@Entkenntnis do you have an idea how we should approach this?

[2020-09-07 18:00] Entkenntnis commented on #531
Not really, yet. The language file consists of js-function, so we can't pass it around as json. Maybe we can use the async `import()` statement to handle this? https://webpack.js.org/api/module-methods/#import-1

[2020-09-07 18:13] elbotho commented on #576
memo: user id should be accessible through profile data

[2020-09-07 18:47] Entkenntnis opened #580 "Staging cache for 82429 broken"
We had some issues with https://de.serlo.org/82429 recently (% in title, URI malformed error), now the `%`-sign is removed from the title, but the staging cache still contains the old entry:

![grafik](https://user-images.githubusercontent.com/13507950/92412108-e7f9c080-f14a-11ea-93ca-b7d4e669a21d.png)

It seems that updating the cache failed. A fix for the underlying issue is on the way (https://

[2020-09-07 21:13] elbotho commented on #479
Okay, I found a simple way to get the user id and use it for the donation form.

[2020-09-08 09:16] elbotho commented on #579
would make layout a bit better – ps within a Li element looks awkward anyway :)

[2020-09-08 09:27] #579 closed, assigned to elbotho

[2020-09-08 09:27] elbotho commented on #579
In a66e807 I now don't use the p element when there is any child that is a p. Let's see if that works out.

[2020-09-08 16:30] Entkenntnis commented on #579
Works now - and I agree that this looks a bit awkward :grin:

[2020-09-09 08:21] Entkenntnis opened #582 "Set correct language to html tag"
Just noticed that our html tag always has `lang="de"`. Find solution to adapt this.

[2020-09-09 20:26] Entkenntnis opened #583 "rfc: using events to measure user activity"
Most analytic tools (ga, sa, ...) allow us to define custom events and collect this data. Page views alone aren't a very accurate measure of how much a learner is actually interacting with the content. Maybe we can add some custom events to enrich our data, e.g.

- Open a solution
- Open a spoiler
- Submit an interactive exercise
- Share content

[2020-09-09 21:10] elbotho commented on #583
What we currently track are some custom conversion goals:
- User Registrierung
- Lernpfad (4 Seiten)
- Bearbeitung eines Lerninhalts
- Aktivierung
- Besuchsdauer 5 Minuten
- Lernpfad (2 Seiten)
- Lernpfad (3 Seiten)
- Zielseite: Spenden
- /Mitmachen-> Register
- Besuchsdauer 10 Minuten
- Besuchsdauer 20 Minuten

I like the way to defining goals like this, new goals could also include the events yo

[2020-09-10 07:49] Entkenntnis commented on #583
I have noticed the goals and I like there definition. Here are some stats (for reference):

Lernpfad (2 Seiten): 20%
Besuchdauer 5 Minuten: 10%
Lernpfad (3 Seiten): 10%
Besuchdauer 10 Minuten: 7%

Anyway, as we are probably moving away from google analytics, we could rework these goals in the process...

[2020-09-10 12:42] Entkenntnis commented on #582
fixed by 03df907aa7694c7f95fb59e3ce7a0cb92d8de9c4

[2020-09-10 12:42] #582 closed, assigned to nobody

[2020-09-11 09:03] jakobwes opened #585 "Deleted pages in course get still shown in new frontend"
Affected course: https://en.serlo.org/community/organise-serlo-community/start-new-language-community/welcome!

If I stay on one of the affected course-pages and log in (switch to new frontend), then it says as it should "content is marked for deletion".

[2020-09-11 09:20] Entkenntnis commented on #585
Thank you for reporting this, looks like a bug in our fetcher. We'll investigate this.

[2020-09-14 09:48] elbotho commented on #585
okay with cfd43b1 the course navigation gets filtered and all trashed entities that are directly accessed have a warning.
![image](https://user-images.githubusercontent.com/1258870/93071116-fe8aa500-f67f-11ea-85f3-f813cc281b42.png)

[2020-09-14 09:50] elbotho commented on #585
@Entkenntnis maybe you can have a look at cfd43b1 was ment as a PR but commited to staging directly.

[2020-09-14 12:38] Entkenntnis commented on #585
I noticed that the 'next' - button has some wrong links, e.g. https://en.serlo-staging.dev/community/organise-serlo-community/start-new-language-community/find-first-team-member(s) is skipping page 4 and 5

[2020-09-15 11:06] inyono opened #589 "Optimize print stylesheet"
Compared with the legacy system, the print stylesheet still needs some optimization (e.g. don't show navigation, don't show hroizon, ...)

[2020-09-15 12:08] elbotho commented on #589
Sounded easy, but I realised that with our heavy use of lazy loading (which is a good thing) we have a problem providing this.
e.g. https://stackoverflow.com/questions/43707762/how-to-lazy-load-images-and-make-them-available-for-print

Basically there is not a great way to go about this. We might offer a dedicated printable version using a flag.

[2020-09-15 13:03] kulla opened #590 "Update InputChallgene"
The improvements of https://github.com/edtr-io/edtr-io/pull/320 need to be added to https://github.com/serlo/frontend/blob/89666b9a24ccfc36919b1a1193ea515386512e42/src/components/content/exercises/input-exercise.tsx#L50-L74 (unit tests should also be written for this component).

@elbotho @Entkenntnis I want to give this task to one of the new developers in our team so please let this issue open :

[2020-09-15 18:27] kulla opened #591 "Update fetcher for not existing uuids"
Follow up when https://github.com/serlo/api.serlo.org/pull/83 got merged (it fixes https://github.com/serlo/api.serlo.org/issues/50): The api returns `{ data: { uuid: null } }` when the uuid does not exist (i.e. a 404 should be shown). This can be implemented in the fetcher. The line https://github.com/serlo/frontend/blob/staging/src/fetcher/fetch-page-data.ts#L44 should not be necessary

[2020-09-16 07:29] Entkenntnis commented on #589
Ups, that's a feature that we somehow forgot until now.

I would suggest, that we start with adding some print-media query, e.g. to hide navigation and horizon.

@elbotho: As far as I see, if you scroll through the page once before you print, you will get all content. We can start with show a warning in the print version, like "Please scroll once here before print to include this image."

For the

[2020-09-16 07:30] #585 closed, assigned to elbotho

[2020-09-16 09:55] ghost commented on #502
Just a quick note:
@elbotho regarding your first post. This is almost correct except for curriculum topic folders.

Actually the only subelements there should be topic and topic folders.

[2020-09-17 12:51] #531 closed, assigned to elbotho

[2020-09-23 19:41] Entkenntnis opened #594 "Add support for blockquote plugin"
The block "Unsere Vision ist freie Bildung, die von einer offenen und unabhängigen Gemeinschaft [...]" is missing in the new frontend, probably a legacy node that we currently do not support.

If it's not too much work, we can add support for this.

[2020-09-28 08:18] Entkenntnis commented on #594
de.serlo.org/presse

[2020-09-28 08:20] Entkenntnis commented on #591
follow up of #403

[2020-09-28 09:13] elbotho commented on #594
It's the currently unsupported blockquote plugin.
Should be easy to implement, but I'll start on it after #545 is merged to avoid further conflicts.

[2020-09-28 10:13] kulla opened #595 "Show number of unrevised revisions"
Follow up when https://github.com/serlo/api.serlo.org/pull/87 is merged: The number of unrevised revisions can be shown for all types implementing `AbstractRepository` (type of `AbstractEntity` like `Article`, `Video`, ... and `Page`):

![grafik](https://user-images.githubusercontent.com/13507950/90784104-2f85ed00-e301-11ea-960e-9b6322083a0e.png)

The api query will be:

[code]

[2020-10-05 13:54] Entkenntnis commented on #580
page is working again

[2020-10-05 13:54] #580 closed, assigned to nobody

[2020-10-06 13:14] kulla opened #596 "Add support for free licenses compatible to the serlo license"
We have licenses like https://de.serlo.org/license/detail/7 which are compatible to the serlo CC-BY-SA license but where we need to attribute the original author. In order to support those licenses the following should be implemented:

### 1. Link to license details

Whenever a non serlo license is shown the icon shall link to the license detail page at `/license/detail/:license-id`:

![2020-10-06

[2020-10-06 15:18] elbotho opened #597 "Check implementation for "important" plugin from edtr-io"
`test('plugin: important', () => {` …

we have some implementation in the frontend, at least with old content it works.
just need to check if it also works with edtr content.

[2020-10-07 15:26] #597 closed, assigned to elbotho

[2020-10-07 16:13] #594 closed, assigned to elbotho

[2020-10-08 09:28] elbotho commented on #591
ran into api-errors when requesting unknown paths and certain ids. will test again when https://github.com/serlo/api.serlo.org/pull/83 and https://github.com/serlo/api.serlo.org/pull/84 is merged and deployed.

[2020-10-09 09:53] elbotho opened #602 "Improve printing experience"
(follow up of #589)

Problems:
- Lazy loaded stuff does not display if user did not scroll
- Link URLs should show as footnotes

Ideas:
**Try onbeforeprint**

**Extend lazyload implementation**

**Add a printversion using a flag**

[2020-10-12 08:03] elbotho opened #603 "Randomize multiple choice answers"
This is the line which needs to be changed: https://github.com/serlo/frontend/blob/staging/src/components/content/exercises/sc-mc-exercise.tsx#L34 (For example with https://stackoverflow.com/questions/2450954/how-to-randomize-shuffle-a-javascript-array )

Ping for notifications: @kathongi @metzgaria

[2020-10-12 16:25] kulla commented on #603
This is the line which needs to be changed: https://github.com/serlo/frontend/blob/staging/src/components/content/exercises/sc-mc-exercise.tsx#L34 (For example with https://stackoverflow.com/questions/2450954/how-to-randomize-shuffle-a-javascript-array )

[2020-10-12 16:32] elbotho commented on #603
With this kind of preparation you might as well change it @kulla 😄

[2020-10-12 16:41] kulla commented on #603
Sorry, wrong button... :see_no_evil: I have three other PRs open which I need to finish first :-)

[2020-10-13 10:53] jakobwes opened #604 "Topic Matemáticas on es.serlo.org starting page with icon."
It would be amazing, if we could have the topic Matemáticas on the es.serlo.org-starting-page (with the same icon as in de.serlo.org), so the starting page would look similar to the german one.

[2020-10-13 11:09] jakobwes opened #605 "Topic Chemie on de.serlo.org starting-page with icon"
Todos:

- [x] Create icon
- [x] convert to SVG
- [x] add animation

[2020-10-13 12:48] kulla commented on #604
@jakobwes What is the url of the Icon? https://es.serlo.org/matem%C3%A1ticas ? What shall be the title? "Matemáticas"?

[2020-10-13 12:51] kulla commented on #605
@kathongi:

* What is the subtitle?
* What shall be the target of the link?

[2020-10-13 13:34] elbotho commented on #604
SVG is directly embedded. no url public.
@jakobwes we currently have the exact same layout all instances but the german one (as discussed).
You sure that you want a special solution for one instance?
Should other parts of the page then also look more similar to the de or just the icon?

[2020-10-13 22:32] jakobwes commented on #604
This instance is already fairly big and the matematicas-topic is quite developed, so we discussed with the LC that it could be useful to have also the topic on the starting-page to link users directly to the content (like we do it in de.serlo.org with the icons). I think the rest of the page can stay more or less the same, only that change would be really good to give users a better impression wha

[2020-10-14 07:34] kathongi commented on #605
Subtitle: Chemie lernen
Target of the link: https://de.serlo.org/chemie

[2020-10-18 18:13] jakobwes opened #608 "Navigation in spanish-page not right"
On here https://es.serlo.org/matem%C3%A1ticas (and in the whole matematicas-topic) the navigation does not include the point " "¿Eres nuevo aquí?" which is implemented in the backend and shown in the old frontend.

[2020-10-18 18:17] jakobwes opened #609 "In hi.serlo.org english navigation is shown"
The navigation is implemented in the backend, shown in the old design, but in the new one the english-navigation is presented to the user.

[2020-10-19 07:33] Entkenntnis commented on #458
Update: We can now get a list of all subscribed contents with

[code]

[2020-10-19 08:00] elbotho commented on #589
Follow up here: #602

[2020-10-19 08:00] #589 closed, assigned to nobody

[2020-10-19 13:00] kulla commented on #546
I have found the bug: https://community.cloudflare.com/t/possible-bug-new-url-changes-url-by-decoding-2b-and-26/214961 (which is a bug in the cloudflare worker)

[2020-10-19 13:29] kulla commented on #609
This seems to be a duplicate of https://github.com/serlo/api.serlo.org/issues/76 There is a fix for it, however it is not deployed in production yet.

Have you fixed https://serlo.slack.com/archives/C94A2UXN1/p1598875428001600 in the meanwhile? Afterwards you should see the Hindi navigation in the frontend.

[2020-10-19 13:32] kulla commented on #608
My first guess: A listener is missing in the serlo.org backend when the navigation was edited.

[2020-10-19 19:02] jakobwes commented on #609
I can't log in via browser into the slack-workspace at the moment (for whatever reasons and it won't let me reset my password). But if you mean the problems that there are no uris: this is fixed since a bit. Could then be a similar problem of like #608

[2020-10-20 08:23] inyono commented on #608
We (intentionally) don't have a listener for the navigation since the navigation API request is quite expensive and a listener would trigger a couple of times (since even adding a single page to the navigation has quite some changes in the background). Since we don't change the navigation as often anyways (and think of removing the navigation backend later), we decided to leave it like that for no

[2020-10-20 09:41] elbotho commented on #608
@inyono could we (easily) provide a link that resets the cache?

[2020-10-20 09:49] inyono commented on #608
Not yet, no. We have a GraphQL mutation for that and we could give specific users / user groups access to that.

[2020-10-20 09:54] jakobwes commented on #608
Thank you for resetting the cache. Now it works!

[2020-10-20 09:58] jakobwes opened #612 "Google custom-search is in German."
Is it possible to adapt the Google Custom- ("Serlo")-search to the different language-versions? At the moment it is still shown in German everywhere.

[2020-10-20 10:07] jakobwes opened #613 "Embedded YouTube-video has playing-error in new frontend"
In https://es.serlo.org/serlo the embedded YouTube-video works fine in the old frontend, but not in the new one. Is this related to the fact that the static page is created with the old editor?

[2020-10-20 11:23] elbotho commented on #613
@jakobwes Thank you for reporting – weird, will need investigation… 🔍

[2020-10-21 10:19] jakobwes opened #614 "Page can't be viewed in the new frontend"
This page here: https://es.serlo.org/matematicas-nuevo-aqui can for whatever reason not be shown in the new frontend (I get an error-message or when visiting it directly redirected to the old frontend).

[2020-10-22 15:29] kulla commented on #546
@Entkenntnis At staging and development there is a fix online. Can you test it? See for example

* https://de.serlo-development.dev/153302
* https://de.serlo-development.dev/154087

[2020-10-22 19:49] Entkenntnis commented on #546
Thank you, looks good!

[2020-10-23 07:31] Entkenntnis opened #616 "Fix dependency vulnerability"
See https://github.com/vercel/next.js/issues/18044

[2020-10-26 07:37] inyono opened #618 "ErrorPage: pass information to Sentry"
Currently any 500 error code will be tracked as a combined issue in Sentry, which makes it hard to see if we have any new issues arising and if we solved some. Instead: we should pass some additional differentiating information to Sentry (e.g. alias or ID) so that Sentry can split up the issues better.

[2020-10-26 09:20] #596 closed, assigned to elbotho

[2020-10-27 11:15] #603 closed, assigned to elbotho

[2020-10-27 16:20] Entkenntnis commented on #616
Next.js 10 released

[2020-11-02 10:41] Entkenntnis commented on #616
fixed in 0457c28ec2b57c548ec055fb07348af1c21ad3df

[2020-11-02 10:41] #616 closed, assigned to nobody

[2020-11-04 09:01] elbotho commented on #605
Status: Waiting.
I requested a change from Vasiliki.

[2020-11-04 13:18] Entkenntnis commented on #595
@kulla

I am currently trying this out and have stumbled across an error:

![image](https://user-images.githubusercontent.com/13507950/98116388-7e770380-1ea8-11eb-8c1a-8d72a782a496.png)

Am I doing something wrong here? The article is supposed to have 3 unrevised revisions.

Edit: Adding `(unrevised:true)` leads to the same error message.

[2020-11-04 14:25] Entkenntnis commented on #458
@kulla
This is working, but I was wondering about the caching: If I add new subscription, when can I expect it to show up?

[2020-11-04 14:25] #604 closed, assigned to elbotho

[2020-11-04 16:09] Entkenntnis commented on #403
4b7a7741f0ee7c4efe02aa5f5cb33e1a921c7657 now handles 404 from the API properly.

[2020-11-04 16:09] #403 closed, assigned to nobody

[2020-11-04 16:11] Entkenntnis commented on #459
Interim solution with 02a252556ce6f51405e12e57c1de5e58e84f7c97, using CSRF token from cookie, so we can lower the priority of this.

[2020-11-04 17:37] Entkenntnis commented on #591
23e8f0b951b4d3737217ec9a22f2d4b439912ca1 solves this issue

[2020-11-04 17:37] #591 closed, assigned to elbotho

[2020-11-05 21:28] elbotho opened #631 "Add privacy wrapper for video and applets"
### TODO 🏁
- [ ] Implement CF Worker Magic 🧙([tracked here](https://github.com/serlo/serlo.org-cloudflare-worker/issues/66))
- [ ] Add real wording for notice (@inyono ?)
- [ ] Internationalize component (@elbotho)

### How it should work

<details>
<summary>Steps</summary>

- Lazy load the whole thing
- Then get some preview image proxied by the CF Worker
- Display preview Image with play button

[2020-11-06 08:09] Entkenntnis commented on #631
Just stumbled upon a page that is using exactly this method (https://soundofmunichnow.de/):

![grafik](https://user-images.githubusercontent.com/13507950/98341679-856c5600-200f-11eb-9d54-a294bafe495d.png)

Maybe we can take a look at their implementation.

[2020-11-06 09:06] kulla commented on #595
Have you tested it at https://api.serlo-staging.dev/___graphql? There I do not get an error:

![2020-11-06-100613_929x589_scrot](https://user-images.githubusercontent.com/1327215/98347462-b781b600-2017-11eb-8878-36cbc48feefb.png)

[2020-11-06 12:03] kulla commented on #458
When https://github.com/serlo/serlo.org/issues/514 got implemented -> after the subscription the cache will be updated. Currently there is no update. However with https://github.com/serlo/api.serlo.org/pull/115 we have an update in the background each hour.

[2020-11-06 12:31] elbotho commented on #631
memo, removed youtube image fallback for now to simplify:
[code]

[2020-11-06 14:48] inyono commented on #631
Nice. I'll look into the CF Worker stuff (or discuss on Monday, if someone else wants to do that).

Regarding cookies: I don't really care. It doesn't negatively affect the UX either way IMHO. So feel free to do what you prefer.

[2020-11-07 16:12] elbotho commented on #631
@inyono nice, added it to the local storage to at least hide the warning. looks nicer this way and does not add a lot of code.
In theory we could then also go ahead and add preconnect stuff back in, but I'm not sure if the benefits are noticable.

[2020-11-07 22:54] Entkenntnis commented on #595
Thanks for checking, it now works!

[2020-11-08 15:22] jakobwes opened #633 "Page not rendered in new frontend"
This one here: https://de.serlo.org/chemie-community-neu-hier

ping @kathongi : this page is linked directly from the /chemie starting-page. If /chemie goes on the starting-page, maybe it is then better to take this page out of the navigation for now (if no easy fix is available)?

[2020-11-08 16:03] elbotho commented on #633
@jakobwes Weird!
But if you convert the page (build in old editor currently) it works. Just checked in staging, but don't have the rights in production.

[2020-11-09 08:39] kathongi commented on #633
I just converted the "Neu hier" page. Now it works.
I also checked the other "Neu hier" pages. Looks like we also have a bug on [https://de.serlo.org/permakultur-community-neu-hier](https://de.serlo.org/permakultur-community-neu-hier).

Should I leave it this way to find the bug or correct it @elbotho ?

[2020-11-09 09:19] elbotho opened #634 "Investigate last Crowdin PR"
Maybe the change in the en file resulted in already translated strings being empty.

[2020-11-09 09:47] elbotho commented on #633
@kathongi If it's solved by converting, I'm fine with it :) Thank you.

[2020-11-09 10:22] elbotho commented on #634
Contacted Crowdin support…
Damn, if we can't do something about that we actually need to redo this, move everything to json and hope that everything works with our approach.

[2020-11-09 10:44] Entkenntnis commented on #634
Thank you for contacting crowdin, hope they have something planned.

[2020-11-09 12:44] elbotho commented on #634
Okay…
They suggested that they improved some thing and a reupload of the `ts` file might solve the problem.
I did that, had to manually rework some translations, but all in all it went ok.
Let's see what the next change brings…

[2020-11-09 12:44] #634 closed, assigned to elbotho

[2020-11-09 13:01] elbotho commented on #633
@kathongi thanks!

[2020-11-09 13:01] #633 closed, assigned to elbotho

[2020-11-09 14:29] #605 closed, assigned to elbotho

[2020-11-10 12:23] #608 closed, assigned to nobody

[2020-11-10 12:23] #609 closed, assigned to nobody

[2020-11-10 14:33] Entkenntnis commented on #595
@kulla
`revisions` is working for 1781 now, but I got an exception again on another article. I have added a revision to de.serlo-staging.dev/1619 just now, and requesting the API is giving a `map of undefined...` exception. :roll_eyes:

In addition, I have this error (is this related?):

![grafik](https://user-images.githubusercontent.com/13507950/98687508-1a51b500-236a-11eb-81fe-83de82122dc1.png)

[2020-11-10 16:05] kulla commented on #595
I need to investigate it... See https://github.com/serlo/api.serlo.org/issues/119 for tracking it.

After two hours you need to reload the playground because afterwards the login token expires...

[2020-11-11 12:50] elbotho commented on #631
@inyono could you provide those? (You're deeper in the topic right now I think, but I can also go ahead and try a draft)

[2020-11-12 14:04] inyono opened #636 "Review UI of sub licenses"
If there is some sub content (e.g. video, ...) that has a different license, it is currently not clear which part of the content has the different license. Furthermore, I'd even advocate to highlight more restrictive licenses.

[2020-11-12 15:35] #631 closed, assigned to elbotho, inyono

[2020-11-16 09:53] elbotho commented on #613
@jakobwes okay, found the problem.
In the new frontend we extract the youtube id from the given url and build our own share url with all the features we want.
There was an error in that code that is now fixed (e798bfe6b394063ca608ce1d17a9d9e2886f7ab4) (will deploy later today).

So there is currently no support for additional parameters any more (like the subtitle activation and language setting o

[2020-11-16 09:53] #613 closed, assigned to elbotho

[2020-11-16 10:58] #618 closed, assigned to nobody

[2020-11-16 11:02] elbotho commented on #552
This should be done.

[2020-11-16 11:02] #552 closed, assigned to nobody

[2020-11-16 11:12] elbotho commented on #575
I agree. Needs some rewriting of `UserTools`.

[2020-11-16 11:22] elbotho commented on #576
status: waiting for api to support querying by username

[2020-11-16 11:37] jakobwes opened #640 "Allow support for additional parameters in YouTube-Urls"
Follow up on #613. For the internationalization and cross-platform work it is fairly important for us to at least be able to use a subtitle and language-setting-parameter in the embedding of YouTube-videos. One usecase the video in here, currently showing a playing-error: https://es.serlo.org/serlo

[2020-11-16 11:54] elbotho commented on #578
currently edit link is fixed to`/page/revision/create-old/${data.id}/${data.revisionId || ''}`
but should be `/page/revision/create/${data.id}/${data.revisionId || ''}`

Should be fixed in 7f9fa6e1f41a98a7415df5265c9a3e2445a8131c

[2020-11-16 11:54] #578 closed, assigned to elbotho

[2020-11-16 11:56] elbotho commented on #640
@jakobwes is the language setting always set to the language of the instance?

[2020-11-16 13:05] elbotho commented on #614
Seems to be an API problem. ([issue](https://github.com/serlo/api.serlo.org/issues/120)).

@jakobwes is it a relatively new page or did you change the title/path recently?

[2020-11-16 13:11] elbotho commented on #612
@jakobwes So the best case would be to have the interface and the results only in the instance-language right?
In that case we need an extra engine for each instance at https://programmablesearchengine.google.com

[2020-11-16 13:13] elbotho opened #641 "Privacy: Google custom search"
In new frontend we want to get rid of the cookie banner,
but currently the Google custom Search (now called "Programmable Search Engine" it seems) is loaded without any any extra acceptance click.

[2020-11-16 14:14] inyono commented on #640
Can we solve that without having the authors to do anything? I.e. when video language != instance, then show subtitles?

[2020-11-16 14:25] jakobwes commented on #614
I don't think so @elbotho . We created the page a month ago and there have been no edits on it since.

[2020-11-16 14:28] jakobwes commented on #612
@elbotho yes that would be the absolutely ideal case!

[2020-11-16 14:50] inyono commented on #576
That's already implemented:
[code]

[2020-11-16 15:36] elbotho commented on #576
ah nice, thanks @inyono.
would `use-auth.ts` be a good place to query and add additional user data?

[2020-11-16 15:40] inyono commented on #576
I'd add an extra hook for that, maybe `use-user-data` or something. Reason: we want `useAuth` to be fast (to decide whether the user is logged in or not), so we don't want to have an API call there.

For your specific use case, you might even think about putting the logic into a `UserLink` component or something since you probably want to do that not only for the logged in user, but also for arbit

[2020-11-16 15:49] elbotho commented on #640
@inyono  Thought about this as well. But without a lot more effort (namely youtube api implementation) I don't think we can get the video language (and it seems it's also not always set …)

Those are the relevant settings ([source](https://developers.google.com/youtube/player_parameters?csw=1)):
cc_lang_pref | This parameter specifies the default language that the player will use to display captio

[2020-11-16 16:54] inyono commented on #640
Mh... Well, we need to think about if / when we want to support that in Edtr.io content, too ("luckily", since this is a static page this is content still created with the legacy editor). While this makes sense for this specific use case, I'd like to avoid adding this as an option to every video... (especially since this would be different per video platform).

[2020-11-16 17:00] elbotho commented on #640
@inyono how about just not disallowing additional url parameters (status quo)?
This way we can cherry pick what we want to support in the frontend (and keep ignoring the rest).

[2020-11-16 17:01] inyono commented on #640
That's pretty much the case at the moment for Edtr.io-created content. But doesn't solve this use case.

Edit: or do you mean we shouldn't remove all URL parameters (which we basically do now) and instead have an (undocumented) feature that we save the stuff including url parameters and then normalize it somewhere (while allowing some parameters)?

[2020-11-16 17:03] elbotho commented on #640
I think it does. Please explain.

[2020-11-16 17:06] elbotho commented on #640
Ah yes, that's what I mean. Because of the legacy way the frontend extracts the YouTube ids atm. so this should work.

and yes, undocumented. Or documented in the serlo guidelines would be enough for this special use case imho.

[2020-11-16 17:11] inyono commented on #640
Okay, just checked what we currently do in Edtr.io: Basically, we do the same as we do in the legacy system / frontend: we persist the URL but when rendering, we only extract the video ID from the URL. So if we want to support this, we'd definitely need to change the Edtr.io plugin, too, so that one can customize the normalize behavior.

[2020-11-16 17:13] inyono commented on #640
Edtr.io follow up issue: https://github.com/edtr-io/edtr-io/issues/330. We need to keep that in mind when we switch static pages to Edtr.io content and/or add Edtr.io to the frontend. But for now, your solution should be good enough.

[2020-11-17 14:27] #640 closed, assigned to elbotho

[2020-11-17 15:44] jakobwes commented on #640
Thank you so much for the fix/feature @elbotho, @inyono. This is gonna motivate the spanish team!

[2020-11-18 17:56] Entkenntnis commented on #509
Now we have SWR in the API, and https://de.serlo.org/mathe/deutschland/bayern/realschule/abschlusspr%C3%BCfungen-l%C3%B6sung,-zweig is finally showing the entry for 2020, thanks for this fix. :tada:

I am wondering why this is not working on staging: https://de.serlo-staging.dev/mathe/deutschland/bayern/realschule/abschlusspr%C3%BCfungen-l%C3%B6sung,-zweig is missing 2020, regardless of how often

[2020-11-18 20:22] elbotho commented on #509
@Entkenntnis If it helps: I can see it in production:
https://de.serlo.org/mathe/deutschland/bayern/realschule/abschlusspr%C3%BCfungen-l%C3%B6sung,-zweig

[2020-11-19 10:14] inyono commented on #509
It's visible now. The `maxAge` is rather long at the moment. It worked in production earlier because I purged some of the cache for other reasons.

[2020-11-19 10:47] Entkenntnis opened #645 "Adding new topics not immediately visible [api]"
There is currently no listener for parents of newly created topics, so it takes a while for SWR to update the entries (see #509).

@inyono Are you planning to add a listener to this?

[2020-11-19 10:48] Entkenntnis commented on #509
Changing priority, updated issue: #645

[2020-11-19 10:48] #509 closed, assigned to kulla

[2020-11-19 10:50] Entkenntnis commented on #492
API is updated, current progress in #644

[2020-11-19 18:19] sentry[bot] opened #646 "Links are broken in this article [content]"
On the first paragraph all links are broken (in weird ways).
https://de.serlo.org/mathe/funktionen/stammfunktion-integral-flaechenberechnung/integrale/integral
(work fine in the frontend)

Maybe it's just the unsupported 'ref' link again, but should be solved anyway.

---

Sentry Issue: [FRONTEND-6S](https://sentry.io/organizations/serlo/issues/1948917368/?referrer=github_integration)

[code]

[2020-11-19 18:34] elbotho commented on #646
@inyono are hrefs like this `\ref\1829` and `\1795` valid in the old editor (backslashes)?
Currently it just breaks everything in the new frontend, should I ~fix~ handle this in the frontend, or inform the community?

[2020-11-20 07:53] Entkenntnis opened #647 "Show subscription state in menu after subscribe"
Follow up of #458: Subscriptions are updated, but slowly, so subscribing content is not immediately visible in the frontend ui.

API Issue on the way: https://github.com/serlo/serlo.org/issues/514

[2020-11-20 07:53] Entkenntnis commented on #458
follow up in #647

[2020-11-20 07:53] #458 closed, assigned to nobody

[2020-11-20 07:58] Entkenntnis commented on #468
Closing, because this is inactive atm.

[2020-11-20 07:58] #468 closed, assigned to nobody

[2020-11-20 08:02] Entkenntnis commented on #577
Closing this, becaues new equations plugin is not relying on the array environment.

[2020-11-20 08:02] #577 closed, assigned to nobody

[2020-11-20 08:05] Entkenntnis commented on #614
@jakobwes It's working for me now. Feel free to reopen if it persists for you.

[2020-11-20 08:05] #614 closed, assigned to elbotho

[2020-11-20 08:07] Entkenntnis commented on #641
Uff... any ideas how to handle this?

Idea: Maybe showing a modal when the user clicks the search bar the first time, and asking "with autocomplete" or "without autocomplete" - and then saving the choice ...

[2020-11-20 08:14] Entkenntnis commented on #646
The article is not converted yet, so we can assume that this links will get fixed by project convo. I would advise against supporting this in the frontend, because this is clearly invalid.

I have added it to slack.

[2020-11-20 10:21] elbotho commented on #646
@Entkenntnis my question is how likely we are to run into this currently. Then I would find a quick fix like not using the new FE for those links or smth.
Just to make is usable for now

[2020-11-20 12:06] elbotho opened #648 "robots.txt"
@inyono would you agree, that coping the old robots.txt would make sense?
Any important changes/updates?

current version:
[code]

old design:
[code]

[2020-11-20 12:53] Entkenntnis commented on #648
As far as I know the robots.txt in this repo is only in effect for preview deployments. Access through de.serlo.org will result in the existing robots.txt

[2020-11-20 12:54] Entkenntnis commented on #648
But we could check if there are any new paths we should add/remove from that list ... (e.g. /api/frontend/, etc... )

[2020-11-20 13:52] elbotho commented on #648
… right, forgot about that. sorry.

[2020-11-20 14:20] Entkenntnis commented on #646
@elbotho I can see your point. Feel free to add a compat case in https://github.com/serlo/frontend/blob/1ef0b512fcf23ad7cd1eb7e56de5828b3176acd8/src/schema/convert-legacy-state.tsx#L456 for the urls you encounter!

[2020-11-20 14:49] inyono commented on #646
If they work in the legacy system, it is because we have some workaround. The only internal links to entities you really have to support is `/<id>`, neither `/ref/<id>` or anything with `\` are supported. I'll look into serlo.org to understand why those work and possible remove the workaround (with a db migration that fixes those links).

[2020-11-20 14:51] inyono commented on #648
Well, this will still become relevant when we have 100% frontend. So we should handle that at some point.

[2020-11-20 15:03] inyono commented on #641
Good question. The consent shouldn't be too hard (e.g. show a modal the first time a user clicks the search bar and have them consent similar to our privacy wrapper). I'm not sure where we should place a way to revoke the consent later again...

Maybe it would make sense to have some kind of global options buttons in one of the corners? Where you can view and change your current settings for exter

[2020-11-20 16:48] Entkenntnis opened #649 "MathJax in Comments: How to handle this?"
Therr are some comments that contain mathjax formulas. These formulas are not rendered in the frontend. Is this a feature we should support or is it ok to regress here? We probably need to talk with authors, too.

[2020-11-20 18:18] inyono commented on #649
Not supported, it only works at the moment because MathJax works globally. We'll address that with the new commenting system.

[2020-11-20 20:29] #649 closed, assigned to nobody

[2020-11-23 10:12] elbotho commented on #641
Thanks for your suggestions.
@inyono since revoking is not really a feature that I think anybody will use:
Could we put that in out privacy page?

**Simplest Implementation** I can think of:
#651 uses session storage, I guess this way we can circumvent a revoke option for now

**Simple Implementation with revoke**: A link on the privacy page that resets all the saved consents in localstorage.
(Cur

[2020-11-25 19:01] jakobwes opened #653 "In hi.serlo.org english navigation is shown"
For some reason I can't reopen the issue, but basically the same as #609. The english-navigation is shown on the page, which makes navigating the site in the new frontend impossible via the menu (it reroutes to the english-pages).

[2020-11-26 08:38] Entkenntnis commented on #653
Thank you for keeping this up. It looks like we have completely forget to translate the hindi menu (ups).

The translation is stored in this file: https://github.com/serlo/frontend/blob/staging/src/data/hi/menu-data.ts, but is not accessible through crowdin.

I can copy the strings from the backend today to fix this. Can you confirm that this are the intended versions?

Top-Menu (left):
![grafik](

[2020-11-26 09:26] #595 closed, assigned to Entkenntnis

[2020-11-26 10:28] #492 closed, assigned to nobody

[2020-11-26 10:33] Entkenntnis opened #655 "Twingle and data privacy"
We are loading twingle on the donation page, which is a third-party application.

I have kept the cookiebar on this page, but it feels like we have to add the privacy wrapper here, too.

[2020-11-26 10:46] elbotho commented on #655
the gift that keeps on giving 🎁
I'll look into it.

[2020-11-26 10:48] Entkenntnis commented on #653
@jakobwes Preview: https://frontend-git-add-hi-menu-data.serlo.vercel.app/hi

[2020-11-26 11:46] Entkenntnis commented on #546
The links in this issue are still loaded from the old alias system. I would expect them to change to the shorter version.

[2020-11-26 12:15] Entkenntnis opened #659 "Applet not loading"
This applet is not loading in the frontend: https://de.serlo-staging.dev/124913

[2020-11-26 12:57] Entkenntnis opened #660 "Aspect ratio of applets broken"
The aspect ratio of applet is currently not working: https://de.serlo-staging.dev/mathe/geometrie/dreiecke,-vierecke,-kreise-andere-ebene-figuren/viereck/parallelogramm,-raute,-drachenviereck-trapez/herleitung-fl%C3%A4chenformel-parallelogramms

[2020-11-26 13:28] #655 closed, assigned to elbotho

[2020-11-26 14:07] elbotho commented on #659
component gets full url instead of id 👀

[2020-11-26 14:23] jakobwes commented on #653
Just had a look at it. It looks really good now! Ty

[2020-11-26 14:25] #653 closed, assigned to nobody

[2020-11-26 14:27] elbotho commented on #612
@jakobwes added spanish search in #661.
**Testlinks:**
https://frontend-git-spanish-search.serlo.now.sh/es/search?q=sobre
https://frontend-git-spanish-search.serlo.now.sh/es

What will not work yet:
- [x] Autocomplete will probably take some time to have any or good suggestions
- [ ] Currently it will display ads, hopefully Google switches this search over to NGO status as well
- [x] When using th

[2020-11-26 14:31] inyono commented on #546
This is the case (modulo caching), see also the API responses that report the correct alias, e.g.:
- https://de.serlo-staging.dev/153302 -> https://de.serlo-staging.dev/community/153302/2014-06-29-f%C3%B6rderung-hans-sauer-stiftung-zeidler-foschungs-stiftung
- https://de.serlo-staging.dev/154087 > https://de.serlo-staging.dev/community/154087/2013-10-01-scrum-entwicklung-form-code

[2020-11-26 15:01] inyono commented on #612
We have 6 supported instances at the moment:
[code]
I'd say, either add a version for each of those or at least fall back to an English one if we don't have one yet.

[2020-11-26 19:20] jakobwes commented on #612
Thank you for implementing. That looks amazing @elbotho (and btw. I also really love the consent-banner for the search: that's a cool solution to the data-privacy problem) :+1:

[2020-11-26 20:58] elbotho commented on #612
@jakobwes thanks for the praise 😊
~what do you say to the "what other languages?" question?~
nevermind, since it takes some days (& possibly searches) to unlock ngo and populate autocomplete I created all missing instance search engines now.

### Memo for future @elbotho
Hope you're still awesome. 🍵
For a new search engine:
- Just [create it](https://programmablesearchengine.google.com/) choosing

[2020-11-26 22:13] kulla commented on #546
The fix of @inyono overwrite my fix for this issue I still work on. Now I have finished my PR and staging has the fix of inyono from today + the fix of this PR. Links like https://de.serlo-staging.dev/153302 now work as expected.

[2020-11-26 22:13] Entkenntnis opened #663 "Many 500 errors [api]"
Today, after adding revisions, there were many 500 errors, across entities. It got better throughout the day, so I think it's a caching issue. Will test it tomorrow again.

[2020-11-26 22:15] Entkenntnis commented on #546
Thank you two! It's working now.

[2020-11-26 22:15] kulla commented on #663
Can you post a screenshot of give an example query?

[2020-11-26 22:18] Entkenntnis commented on #663
It seems that most queries are working again now.

[2020-11-26 22:59] kulla commented on #546
Let's wait until the PR got merged into master :smiley:

[2020-11-26 23:15] #663 closed, assigned to nobody

[2020-11-26 23:16] Entkenntnis opened #664 "Comments are not loading for these pages"
See https://de.serlo-staging.dev/mathe/77998/zeiteinheiten, there should be two threads, but we get an error in the console.

[2020-11-27 08:08] #659 closed, assigned to elbotho

[2020-11-27 08:08] #660 closed, assigned to elbotho

[2020-11-27 08:13] Entkenntnis opened #665 "Many formulas are still shown in serif font"
Example: https://de.serlo-staging.dev/mathe/77998/zeiteinheiten, will investigate it.

[2020-11-27 08:44] Entkenntnis commented on #665
improved in c1415de944f1f46f3e413d16443e992138c6e3f0

[2020-11-27 08:44] #665 closed, assigned to Entkenntnis

[2020-11-27 08:45] Entkenntnis commented on #646
Ok, so this issue wont be fixed in the frontend - but by convo or with a db migration.

[2020-11-27 08:45] #646 closed, assigned to inyono

[2020-11-27 09:41] Entkenntnis opened #666 "Failing to load injection"
"map of undefined": https://de.serlo-staging.dev/community/167497/beispielartikel-hier-kommt-euer-titel-hin

[2020-11-27 09:41] Entkenntnis commented on #666
Devilish Issue :smiling_imp:

[2020-11-27 11:54] Entkenntnis opened #667 "Video not loading"
This exercise has a video solution https://de.serlo-staging.dev/mathe/78513/78513, but the video fails to load in the new frontend.

The same video is loading in the legacy system: https://de.serlo.org/78513.

[2020-11-27 11:54] Entkenntnis commented on #664
Also here in the solution: https://de.serlo-staging.dev/mathe/78513/78513
and here: https://de.serlo-staging.dev/mathe/169858/169858
and here (solution): https://de.serlo-staging.dev/chemie/25361/optische-aktivit%C3%A4t

[2020-11-27 12:59] #667 closed, assigned to nobody

[2020-11-27 13:00] elbotho commented on #667
youtube regex to extract id failed in certain cases, when the url used additional parameters (`?list=` in this case)

[2020-11-27 13:05] Entkenntnis opened #668 "Move randomization into fetcher"
Small refactoring task for rainy days: Move randomization of sc/mc into the fetcher to avoid react warning about mismatching tags.

[2020-11-27 13:14] elbotho commented on #666
Can't reproduce?
But it seems we don't have a fallback image if no image is used in `<Multimedia>`

[2020-11-27 13:21] Entkenntnis opened #669 "Test run on staging"
FYI

There are 4614 uuids on `are-we-edtr-io-yet` that are already converted. A script is requesting every entity with `https://de.serlo-staging.dev/<id>` and records the status.

Results (partial):

200
(4448x sucess)

502
https://de.serlo-staging.dev/142396

520
https://de.serlo-staging.dev/153243

500
https://de.serlo-staging.dev/167497
https://de.serlo-staging.dev/11163
https://de.serlo-stagin

[2020-11-27 13:24] Entkenntnis commented on #669
Edit: Some errors still occur, but not systematically ...

[2020-11-27 13:27] Entkenntnis commented on #666
Ok, I can not reproduce it, too. Probably another cache issue.

[2020-11-27 13:27] #666 closed, assigned to nobody

[2020-11-27 13:41] elbotho opened #670 ""There are no comments yet""
Visible error message on :
https://de.serlo-staging.dev/nachhaltigkeit

[code]

[2020-11-27 13:57] inyono commented on #663
Are we talking about staging or production here?

[2020-11-27 13:58] Entkenntnis commented on #670
Hm, I am not seeing this message anymore.

[2020-11-27 13:59] Entkenntnis commented on #663
Staging, it got a lot better, see #669

[2020-11-27 13:59] inyono commented on #641
Gonna reopen because of the revoke part. Haven't thought too much about that, yet.

[2020-11-27 14:01] inyono commented on #663
Okay, that's probably fine then. Because of the alias changes, I removed the API cache of aliases, (temporarily) deactivated the Cache from CF Worker's side and deployed new versions with fixes a couple of times.

[2020-11-27 14:32] inyono opened #672 "Add canonical tag"
So that query parameters aren't indexed by Google.

[2020-11-27 14:47] Entkenntnis opened #673 "Support Content API in the frontend?"
The frontend is currently not supporting options to hide navigational elements described here: https://github.com/serlo/serlo.org/wiki/Content-API.

[2020-11-27 14:50] inyono commented on #673
IMHO: let's approach that when we are nearly 100% because there might be a better way to do that in the frontend.

Currently, content API works because CF Worker maps those requests to the legacy system at all times.

[2020-11-27 17:01] elbotho commented on #670
Gone here too.

[2020-11-27 17:01] #670 closed, assigned to nobody

[2020-11-27 17:56] #668 closed, assigned to nobody

[2020-11-27 19:59] #672 closed, assigned to elbotho

[2020-11-27 20:03] Entkenntnis opened #675 "Remove language prefix from canonical url"
The CF worker is adding a language subfolder for internationalization:

[code]

We would like to strip this from the path.

[2020-11-27 20:57] elbotho commented on #675
I see, thought this would happen only on localhost etc.

new code:
[code]

[2020-11-27 20:58] #675 closed, assigned to elbotho

[2020-11-27 21:07] Entkenntnis opened #676 "Overview of use cases for logged in users"
I will use https://docs.google.com/document/d/16NHGKrMkV7626jClv3xwlCa4T0f10qISPeKvvEkh-_M/edit to track our progress on features for logged in users and therefore all relevant tasks for the 100% frontend milestone.

[2020-11-28 10:03] elbotho opened #677 "Finish profiles prototype"
PR is here: #679  ~#573~
- [x] rebase to staging
- [x] add / check comments
- [x] activities are not done api wise, so ignore for now
- [x] routing: check `/user/profile/{username}` (some info here: #576)
- [x] routing: decide where `/user/me` and `/user/public` are handled
- [x] create issue for CFWorker to allow type user to be displayed in new FE ([issue](https://github.com/serlo/serlo.org-clou

[2020-11-28 10:14] elbotho opened #678 "Comments: Visible errors"
From time to time I see an API-Error response instead of the comments,
I presume those are temporary server problems, but we should display a user friendly notice instead.

**Example:**
[code]

[2020-11-28 17:05] elbotho commented on #576
@inyono thank you, `use-user-data` sound like a great idea.

We have a UserLink already. This question arose while working on the profiles and relates to the logged in users info only.
I will close this, then we can dig it up again if it becomes relevant someplace else.

[2020-11-28 17:05] #576 closed, assigned to nobody

[2020-11-28 21:37] elbotho commented on #677
@inyono will discuss with @kulla on monday, but maybe you can already pitch in:
Where (Worker, API or Frontend) should we resolve `/user/me` and `/user/public`?
The difficulty is, that we need the auth info to query the correct user data.

[2020-11-30 07:44] #546 closed, assigned to kulla

[2020-11-30 08:38] #612 closed, assigned to elbotho

[2020-11-30 09:58] Entkenntnis opened #680 "Improve UX of author menu"
Some UX issues with author hovering menu:

- Long entries have strange hover style
- Sometimes menu closes unexpected

[2020-11-30 13:25] Entkenntnis opened #681 "Render license details in the new frontend [cf]"
See https://de.serlo-staging.dev/license/detail/1, the frontend should be ready, but it's somehow not working yet, also need to check CF worker.

[2020-11-30 15:37] elbotho commented on #681
Jup, works fine with CSR even on production. So this is most likely just the worker. Moving issue.

[2020-11-30 18:03] #680 closed, assigned to elbotho

[2020-11-30 18:18] inyono opened #683 "Proxy threads query"
Either via new API route (if we want to do it client-side) or in our existing fetcher.

[2020-12-01 10:16] Entkenntnis commented on #677
I am thinking about replacing the href `/user/public/` in the menu directly with `/user/profile/{username}` while rendering. We have the information at hand and don't need to use `/user/me` or `/user/public`

[2020-12-01 10:36] elbotho commented on #677
@Entkenntnis damn, great idea 👍

[2020-12-01 11:01] #673 closed, assigned to nobody

[2020-12-01 13:13] elbotho opened #686 "hide AuthorTools on mobile"

[2020-12-01 13:22] #677 closed, assigned to elbotho

[2020-12-02 09:28] Entkenntnis opened #689 "Handling archived threads"
The legacy system is collapsing archived threads:

![grafik](https://user-images.githubusercontent.com/13507950/100854138-e3625100-3488-11eb-9274-ef3de1d5b33b.png)

(note the green tick and the click handler in the top right)

This feature is not implemented yet, archived threads are just hidden.

[2020-12-02 09:30] Entkenntnis commented on #689
Some thought:

Ich könnte mir schon vorstellen, dass
vor allem Autor:innen bedarfsorientiert entscheiden können, ob sie die Kommentare sehen wollen.
Angenommen über einen Inhalte wurde schon einmal ausführlich diskutiert, ob man eher A oder B noch mit reinnimmt. Am Ende wurde sich für A entschieden und die Diskussion archiviert. Dann wäre es schon super, wenn ich auch ohne Moderatorenrechte die Di

[2020-12-02 10:29] Entkenntnis opened #690 "Loading routing information dynamically"
Some links are handled by the frontend and can use CSR, other links need to be loaded from the legacy system - the handling of these links is currently hard-coded in the frontend and has to be kept in sync with the CF worker. (see previous discussion in https://github.com/serlo/frontend/issues/328)

I can offer following idea: The CF worker (or the API) provides a route where you can request a lis

[2020-12-02 10:35] Entkenntnis commented on #690
How such a configuration may look like:

[code]

(and so on)

[2020-12-02 17:01] elbotho commented on #690
Just an idea:
Could we also have this file in the frontend – since it "knows" what paths it currently supports – and have it be fetched by the CF-worker periodically or at build/deploy time?
(ping @kulla)

[2020-12-02 17:06] elbotho commented on #689
I like it. This seems unintrusive and easy to implement.
I propose a text link ("Show archived ▾")  under the comment section if there are archived threads.

[2020-12-04 08:22] #689 closed, assigned to elbotho

[2020-12-07 13:27] Entkenntnis commented on #479
Implemented in staging

[2020-12-07 13:27] #479 closed, assigned to elbotho

[2020-12-08 08:36] Entkenntnis commented on #645
See https://github.com/serlo/serlo.org/issues/560

[2020-12-09 21:41] Entkenntnis commented on #669
Another test run was successful (> 99% 200)

[2020-12-09 21:41] #669 closed, assigned to nobody

[2020-12-15 14:01] elbotho opened #699 "link color in search consent popover"
![image](https://user-images.githubusercontent.com/1258870/102224512-57b7de00-3ee6-11eb-9b95-74f31659f977.png)

[2020-12-15 14:04] elbotho opened #700 "add infobox on last course page"
"end of course" or content overview again.

[2020-12-15 14:05] elbotho opened #701 "Comments: should we markup links?"
e.g.
![image](https://user-images.githubusercontent.com/1258870/102224943-e593c900-3ee6-11eb-9f06-6168e4a35359.png)

[2020-12-15 14:12] elbotho opened #702 "broken course 73000"
https://de.serlo-staging.dev/informatik/73000/der-roboter-klassenkarte
fails with
`Error while fetching data: Abstract type "AbstractUuid" was resolve to a type "SingleChoiceWrongAnswerRevision" that does not exist inside schema.: {"response":{"errors":[{"message":"Abstract type \"AbstractUuid\" was resolve to a type \"SingleChoiceWrongAnswerRevision\" that does not exist inside schema.","location

[2020-12-16 12:31] jakobwes opened #703 "Button "Archivierte Diskussionen anzeigen" also visible if there are no archived discussions"
Examples:
- https://de.serlo.org/mathe/1501/ergebnismenge
- https://de.serlo.org/mathe/1497/kleinstes-gemeinsames-vielfaches

Nothing happens if you click on the button, since there are no archived discussions to be shown. That feels irritating and contra-intuitive. Probably better to not show this button, if there is nothing to show/nothing that happens when clicking on it.

[2020-12-16 12:37] jakobwes opened #704 "Some profile-content gets rendered in the new frontend, some doesn't"
If in here: https://de.serlo.org/mathe/1771/direkte-proportionalit%C3%A4t I click on "Nish" the content in the profile gets rendered as it should, whilst if i click on "Wolfgang" only the name and the comments in the profile get shown, but not Wolfgang's self-description.

Not sure if bug or just not yet implemented feature, so feel free to close the issue if it's the latter.

[2020-12-16 13:42] Entkenntnis opened #705 "MathPuzzle not handled"
See https://de.serlo.org/mathe/1322/gemischte-aufgaben-zum-bruchrechnen
(e.g. look at https://de.serlo.org/api/frontend/mathe/1322/gemischte-aufgaben-zum-bruchrechnen)

[2020-12-16 13:44] Entkenntnis opened #706 "Injection is trying to load absolute path"
See https://de.serlo.org/mathe/134992/aufgaben-zum-exkurs

Injections fail to load because the path is absolute.

[2020-12-16 13:46] Entkenntnis opened #707 "Fetch error because image is created as injection"
I suspect that there are some images that are created as injections. Instead of a warning (like in the legacy system), we get a CORS errors, e.g. here: https://de.serlo.org/mathe/stochastik/zufallsgr%C3%B6%C3%9Fen/erwartungswert

[2020-12-16 13:51] Entkenntnis commented on #704
Yes, this is a bug. I think we have digged up some splish-me content the frontend is not handling:

![grafik](https://user-images.githubusercontent.com/13507950/102357000-2e628500-3fae-11eb-8642-669365acb899.png)

[2020-12-17 13:29] inyono commented on #707
I can look whether I can add a db migration for that (at least for injections containing assets.serlo.org).

[2020-12-17 13:30] inyono commented on #706
Again, I try to create a db migration for such cases.

[2020-12-17 13:31] inyono commented on #705
Didn't we decide to ignore math puzzles in the new frontend? We probably should make sure that this doesn't error, though.

[2020-12-17 13:35] inyono commented on #702
The problem is the uuid 57209 (which is linked to and this is probably a wrong link). We should probably cover the this case in the API though so that this returns `null` correctly (as `SingleChoiceWrongAnswerRevision` is not supported).

[2020-12-17 13:38] inyono commented on #701
Fine by me, might need changes for the new commenting system later, though (since we might add rich-text support there).

[2020-12-17 15:33] inyono commented on #664
Can't reproduce, can you check if this is still an issue?

[2020-12-17 16:30] elbotho commented on #664
Works in staging & production for me.

[2020-12-17 16:30] #664 closed, assigned to nobody

[2020-12-17 19:29] #703 closed, assigned to elbotho

[2020-12-18 08:56] elbotho opened #709 "Some static pages should not display comments [api]"

[2020-12-18 15:27] #704 closed, assigned to inyono

[2020-12-18 20:38] Entkenntnis commented on #678
User friendly notice would be great.

[2020-12-18 20:43] Entkenntnis opened #710 "User profiles not redirected to frontend yet [cf]"
I think we can enable user profiles in the new frontend now. CSR is working, but cf is not updated yet. (related?: https://github.com/serlo/serlo.org-cloudflare-worker/issues/99)

[2020-12-18 21:47] elbotho commented on #699
fixed in 30201ba

[2020-12-18 21:47] #699 closed, assigned to elbotho

[2020-12-19 09:42] Entkenntnis commented on #705
I can't reproduce this error anymore, so closing it.

[2020-12-19 09:42] #705 closed, assigned to nobody

[2020-12-21 09:13] elbotho commented on #709
Quickfix for 25%: Disable comments on pages
Backlog: Solve issue in API/serlo.org

[2020-12-21 10:08] Entkenntnis commented on #709
quickfix in f33c278f0888006d8fed999a04e1dd675f55dc10

[2020-12-21 16:18] #710 closed, assigned to elbotho

[2020-12-23 09:50] elbotho opened #713 "Set notifications to read when displaying them"
In the long run we might want to give users the option to set individual notifications to read/unread,
but for now we just want to set all to read that we display.

See API-PR for upcoming changes to the mutation.
https://github.com/serlo/api.serlo.org/pull/165

(status: waiting for deploy of api changes)

[2020-12-23 09:59] elbotho opened #714 "Subscribe und unsubscribe actions don't update UI"
We need to check if the actions work and find a way to reliably show both a toast notice and make sure the tool menu reflects the change.

([related PR](https://github.com/serlo/frontend/pull/692))

[2020-12-23 10:09] elbotho opened #715 "use mutations to trash/restore content"
(waiting for api-issue: https://github.com/serlo/api.serlo.org/issues/53)

[2020-12-23 10:13] elbotho commented on #715
duplicate of #459

[2020-12-23 10:13] #715 closed, assigned to nobody

[2020-12-23 10:15] elbotho commented on #714
duplicate of #647 …

[2020-12-23 10:15] #714 closed, assigned to nobody

[2020-12-23 10:16] elbotho commented on #647
We should also show a toast notice.
([related PR](https://github.com/serlo/frontend/pull/692))

[2020-12-23 10:20] elbotho commented on #709
related api issue: https://github.com/serlo/api.serlo.org/issues/162

[2020-12-23 10:27] elbotho commented on #590
@kulla just a reminder that this still exists :)

[2020-12-23 18:58] Entkenntnis opened #719 "Handle missing navigation"
If you load an entity without navigation, there is an error:

https://de.serlo.org/api/frontend/27286/27286

[2020-12-23 18:59] Entkenntnis opened #720 "Strange failure"
This looks funny: https://de.serlo.org/api/frontend/97880

[2020-12-23 19:34] inyono commented on #720
Caused by wrong link in https://de.serlo.org/98615.

[2020-12-29 20:36] elbotho commented on #647
Current state (far from perfect but close to okay 😄):
- uses fetch
- shows toast notice on success
- refreshes page (still too quickly so UI is in old state most of the times)

Todo:
- [x] ~Bug: fetch reports success even if user is not authenticated~
- [x] Question: Should we delay the refresh even longer, hope for the production server to be faster or manually change the menu display on reported

[2020-12-29 21:08] elbotho commented on #719
@Entkenntnis this should be an API-issue, right?

[2020-12-29 21:45] elbotho opened #722 "comment input overlays author tools menu"
![image](https://user-images.githubusercontent.com/1258870/103316001-76aa8a00-4a27-11eb-8bb6-31e5315775a4.png)

[2020-12-30 11:27] #575 closed, assigned to elbotho

[2020-12-30 11:29] #686 closed, assigned to elbotho

[2020-12-30 11:53] elbotho commented on #493
this got merged: https://github.com/serlo/api.serlo.org/pull/166

[2020-12-31 00:04] elbotho commented on #472
@Entkenntnis could you list what needs to happen to make this work?

[2021-01-01 20:55] Entkenntnis commented on #472
Serlo.org issue: https://github.com/serlo/serlo.org/issues/451

@inyono can probably give more information about this.

[2021-01-01 21:14] Entkenntnis commented on #645
Currently, we have a delay of about 5 minutes. Not perfect, but we can probably work with this.

[2021-01-01 21:21] Entkenntnis commented on #647
Very nice, this is getting better :+1:

More me, it would be ok if we are not doing any refresh, just let the user refresh the page manually.

[2021-01-01 21:22] Entkenntnis commented on #676
This link is now available in the milestone description: https://github.com/serlo/frontend/milestone/4

[2021-01-01 21:22] #676 closed, assigned to nobody

[2021-01-01 21:25] Entkenntnis commented on #701
Do you mean: Fine by me -> no need for markup? :grin:

Reopen if you meant: fine by me -> go ahead and implement this :)

[2021-01-01 21:25] #701 closed, assigned to nobody

[2021-01-01 21:29] Entkenntnis commented on #706
I will investigate how often this happen. If this is rare, than we will mark it as content problem.

[2021-01-01 21:32] Entkenntnis commented on #707
Same here, checking how often this happens ...

[2021-01-01 21:35] Entkenntnis commented on #719
fixed in b2f789cfc6a3a5b34e3fb75f0b62943035a0e49e

[2021-01-01 21:35] #719 closed, assigned to nobody

[2021-01-01 21:38] Entkenntnis commented on #720
Fixed in f20191d3fc38638496d9c8a5718a0d2724452918

[2021-01-01 21:38] #720 closed, assigned to nobody

[2021-01-01 21:41] Entkenntnis opened #727 "Hide author tools if there are no entries"
If you are viewing a single exercise, like https://de.serlo-staging.dev/mathe/12341/12341, the "Weitere Tools" button has no menu. In this case, we can hide the menu completely.

[2021-01-01 21:42] Entkenntnis opened #728 "Add space if breadcrumbs are missing."
Add a little bit space in https://de.serlo-staging.dev/27286/27286:

![grafik](https://user-images.githubusercontent.com/13507950/103446667-92f63300-4c82-11eb-868f-6b3ef784b373.png)

[2021-01-01 21:46] Entkenntnis opened #729 "Add functionality to comment admin menu [api]"
The UI is ready, but the functionality for trash / restore /  archive comments is not implemented yet.

[2021-01-01 21:53] Entkenntnis commented on #707
This is only happening once in converted entities, so we regard this as content bug.

[2021-01-01 21:53] #707 closed, assigned to inyono

[2021-01-01 21:55] Entkenntnis commented on #706
This is not happening in converted content, so we will assume that the new editor is preventing this error.

[2021-01-01 21:55] #706 closed, assigned to inyono

[2021-01-02 14:10] #727 closed, assigned to nobody

[2021-01-02 14:12] #569 closed, assigned to Entkenntnis

[2021-01-02 14:23] #728 closed, assigned to nobody

[2021-01-02 14:58] #722 closed, assigned to elbotho

[2021-01-02 15:44] elbotho commented on #647
okay, last 3 commits (including 50ccdfc) set the state directly, so the menu reflects the change immediately.
Imo this is quite alright until we use a mutation in the long term.

[2021-01-02 15:44] #647 closed, assigned to nobody

[2021-01-02 20:05] elbotho commented on #576
(added in 0dcc273)

[2021-01-03 20:55] elbotho opened #730 "Use new edtr redirect hashes to display notices [legacy]"
~If https://github.com/serlo/serlo.org/issues/553 is merged we can use the hashes to display notices in the frontend and maybe purge the cache and reload.~

**Status**: There seems to be a bug in staging prevents us from testing this.

[2021-01-04 09:19] inyono commented on #720
I'd change that logic so that it is future-proof (i.e. instead of checking the length, I'd check if this is a 32bit signed integer).

[2021-01-04 09:22] inyono commented on #701
This is basically an "I don't care either way" because we'll discuss that again with the new commenting system but it won't affect us. So implement it if you want, or don't 😛

[2021-01-04 09:30] elbotho commented on #472
User roles will be provided via auth (@inyono will add this) but we can get started on the code to adapt the menus.

[2021-01-04 10:28] elbotho commented on #472
possible roles, would suggest following strings for now:
[code]

note: multiple roles possible!

[2021-01-04 10:43] inyono commented on #472
Looks good at first glance. Please add an enum for that so we can easily change that later.

[2021-01-04 11:06] Entkenntnis opened #731 "Make proper 32-int check for ids"
Follow up of #720.

Only prettify ids that are valid 32-bit signed ints.

[2021-01-05 14:10] Entkenntnis opened #734 "Small follow ups for math formulas"
- move "bigger"-heuristic into fetcher
- increase arraystretch
- Remove \text tag (without curly braces, like in 2055)

[2021-01-05 14:11] Entkenntnis commented on #683
I will make some timing tests API vs vercel cache and decide how to handle this.

[2021-01-05 14:12] Entkenntnis commented on #709
decided as wontfix

[2021-01-05 14:12] #709 closed, assigned to Entkenntnis

[2021-01-05 14:19] Entkenntnis opened #735 "Add min height for search page"
When you are using the search bar and submit, the page will collapse completely before the search results are loaded -> a bit irritating.

We can probably just add a min height.

[2021-01-05 18:05] Entkenntnis opened #737 "Client-side cache for comment queries"
Add a session storage cache for client-side comments to reduce server load. (probably with swr for authenticated users)

[2021-01-05 18:06] Entkenntnis commented on #683
The cache is not really faster than api request, but I will add #737

[2021-01-06 06:30] inyono commented on #683
Mh, that's weird. Did you also check if this is the case if both are cached? There should be a difference: If you proxy the query, Vercel can cache the GraphQL response on the edge (which is also where Vercel's SSR stuff happens). This is not the case for the non-proxied route (which will always go through the GraphQL server). So basically:
[code]

Did you pass an authorization header or didn't se

[2021-01-06 10:10] Entkenntnis commented on #683
I have underestimated the effect of the cf worker, now I have explicitly used the cache with following results:

[code]

So testcase 3 is as fast as testcase 2, which is interesting, but the fastest is still testcase 1, which means a proxy would make sense (and the frontend is bypassing cf worker, so this would work as in testcase 1)

[2021-01-06 10:20] inyono commented on #683
Thanks for rechecking 👍

True, if you talk with frontend.serlo.org/api, you even save the CF Worker roundtrip (only SWR should do need the round trip from Vercel's perspective).

[2021-01-06 10:24] Entkenntnis commented on #683
With this results, a request like this:

[code]

should be as fast as vercel cache? But currently, the GraphQL Server is not publicly exposed, right?

[2021-01-06 10:32] inyono commented on #683
It should be slightly faster compared to Testcase 3, but not as fast as Testcase 1. The difference is that Testcase 1 is a cacheable HTTP request (e.g. client makes a GET request to frontend.serlo.org/api/whatever where we set the corresponding cache headers for Vercel's cache), while Testcase 4 would still need to execute the GraphQL query, so:
[code]

[2021-01-06 10:51] Entkenntnis opened #739 "Always fetch by id if possible + refactor caching"
If we load page data, try to always use id (e.g. CSR and Injections) - this way, we can maximize the utility of the cache.

Edit: We have currently many separate caches. It's probably time to put them into one shared cache.

[2021-01-06 11:36] #735 closed, assigned to elbotho

[2021-01-06 12:12] elbotho commented on #731
@Entkenntnis sorry, didn't see your assignment.
Learned something about Ints though :)
could you check if https://github.com/serlo/frontend/pull/740 makes sense?

[2021-01-06 12:50] #731 closed, assigned to elbotho, Entkenntnis

[2021-01-06 12:59] kulla commented on #690
Then we have it the other way around: The frontend determines which routes are supported. We have something similar at https://github.com/serlo/serlo.org-cloudflare-worker/blob/master/src/utils/url.ts#L37-L42 To define the non frontend-urls might be easier. Let's discuss it at Monday.

[2021-01-06 13:15] Entkenntnis commented on #690
Exactly such a list, either whitelist or blacklist, depending which is easier.

[2021-01-06 14:15] elbotho commented on #159
another option that is somewhat similar to karmilla but a little bit better developed: https://frontend-git-font-chooser.dal123.now.sh/1707?font=DM+Sans&spacing=0.01 .

closing this because:

[2021-01-06 14:15] #159 closed

[2021-01-06 14:21] elbotho commented on #328
follow up here #690

[2021-01-06 14:21] #328 closed

[2021-01-06 14:46] Entkenntnis opened #741 "Try out DM Sans"
Follow-up of https://github.com/serlo/frontend/issues/159#issuecomment-755323032

I really like the DM Sans and would be interested in how this looks like in our current frontend.

@elbotho Maybe you can create a demo PR for this?

[2021-01-06 15:20] elbotho commented on #741
Sorry, tbh I'm reluctant to spend time on design right now (that's why I closed the old one).
For me [this is enough](https://frontend-git-font-chooser.dal123.now.sh/1707?font=DM+Sans&spacing=0.01) of a prototype.
(you can add the ?font=DM+Sans&spacing=0.01 to any url in https://frontend-git-font-chooser.dal123.now.sh)

[2021-01-06 16:04] Entkenntnis commented on #741
Ok, that alright. I was still curious and created a up-to-date prototype to see how it looks like (#742).

@simonkoehl I can remember that you had some opinions about the font. Do you want to take a look at https://frontend-git-dm-sans-test.serlo.now.sh/ to see if this font would solve these issues?

[2021-01-06 16:34] Entkenntnis commented on #741
Closing this issue for now, because its low priority, but it's good to know that we have a fallback option.

[2021-01-06 16:34] #741 closed, assigned to nobody

[2021-01-06 17:48] Entkenntnis opened #743 "Replace getInitialProps with newer methods"
I will try to move away from getInitialProps and use newer methods like getServerSideProps, getStaticPaths, etc.

[2021-01-06 19:13] elbotho commented on #743
Nice, very interested to see.

[2021-01-07 10:22] Entkenntnis opened #744 "Get origin from environment"
It's not necessary to use dynamic code to determine the origin as we are doing it, because we can probably get it from the environment.

[2021-01-07 10:24] Entkenntnis opened #745 "Use shallow routing for caches pages"
This is more in line with next/link and reduces the need for getInitialProps: For cached pages, we set shallow to true. The page can then load the data from cache.

[2021-01-07 10:26] Entkenntnis opened #746 "Investigate chunk optimization"
next.js has changed their chunk optimization in the latest release. But an analysis of our chunks revealed that they are not optimal.

The reason could be that we are loading all pages, static and dynamic, from one catch-all page. Maybe this is irritating the optimizer. Idea: Use separate pages for static pages to give optimizer better hints.

[2021-01-07 10:28] Entkenntnis commented on #743
These issues should be handled first before we can move on with this: #744, #745, #746

[2021-01-07 10:58] elbotho opened #747 "Very little padding on search results (mobile)"

[2021-01-07 11:02] elbotho opened #748 "Discussion: Go to 100% for mobile users?"
Reasoning:
- UX is better on mobile with frontend enabled.
- Features for logged in users are currently in development or testing, but we don't need them on mobile anyway
- Since we don't collect in depth data (analytics) any more we don't really need a reference group.
- -> Better for users to go to 100% on devices that the CFWorker can identify as mobile / small screen

Opinions?
Something not w

[2021-01-07 11:10] elbotho commented on #748
CF offers [this](https://developers.cloudflare.com/workers/examples/conditional-response) for enterprise plans:
[code]

[2021-01-08 09:43] #678 closed, assigned to elbotho

[2021-01-08 09:59] #713 closed, assigned to elbotho

[2021-01-08 10:02] Entkenntnis commented on #748
Supporting this. I think we can do this check right beforce setting the cookie: Mobile user will not get a random number, but 0 instead.

[2021-01-08 10:04] elbotho commented on #493
(leaving this open since it's implemented, but api endpoint will change soonish and legacy endpoint does not work atm)

[2021-01-08 11:10] inyono commented on #748
FYI: we are not on the enterprise plan, so `CF-Device-Type` won't work. We could add some other kind of detection, though.

[2021-01-09 14:03] Entkenntnis commented on #734
fixed in 100ed582d2f23cd8d728e9fc80684697fc084aee

[2021-01-09 14:03] #734 closed, assigned to Entkenntnis

[2021-01-10 14:38] elbotho commented on #748
(note)
okay then something super simplified that should work _sometimes_:
`userAgent.match(/iPhone|Android|webOS/i) ? 'Yes' : 'No';` ([source](https://gist.github.com/vdbelt/083207890e9ce6ed543a29545fea98ff))
or something bigger like https://github.com/faisalman/ua-parser-js or https://github.com/lancedikson/bowser

[2021-01-11 09:26] kulla opened #753 "New changes in api.serlo.org: Can query be optimized"
There are some changes in api.serlo.org with which the query might be changed or can be optimized:

* `alias` is now a property of `AbstractUuid`: https://github.com/serlo/api.serlo.org/blob/master/src/schema/uuid/abstract-uuid/types.graphql#L1-L5
* `threads` is moved from interface `AbstractUuid` to `ThreadAware`: https://github.com/serlo/api.serlo.org/blob/master/src/schema/uuid/thread/types.gra

[2021-01-11 09:30] inyono commented on #753
~`ThreadAware` isn't live yet (since this is also a breaking change). Will come in the next deployment and then probably in staging first with a corresponding PR in frontend that resolves the breaking change.~ It's live now.

[2021-01-11 15:28] #744 closed, assigned to Entkenntnis

[2021-01-12 08:40] Entkenntnis commented on #746
After some testing it seems that splitting into separate pages is the only way to improve chunking.

[2021-01-12 08:47] elbotho commented on #746
How do we handle routing/catchall then?

[2021-01-12 08:54] Entkenntnis commented on #746
preferably with default next.js tools like filesystem routing + static page generation. Still a lot work in progress

[2021-01-12 21:41] Entkenntnis commented on #745
Nope, this is not gonna work out: https://nextjs.org/docs/routing/shallow-routing#caveats

[2021-01-12 21:41] #745 closed, assigned to Entkenntnis

[2021-01-13 07:28] Entkenntnis opened #756 "Let injections use static props"
Injection can load the page props from `/_next/data` as json so they can share the same cache.

[2021-01-13 07:28] Entkenntnis commented on #739
Outdated, because we are not handling CSR manually anymore. Caching is done by next.js. Follow up in #756

[2021-01-13 07:28] #739 closed, assigned to Entkenntnis

[2021-01-13 07:29] #743 closed, assigned to nobody

[2021-01-13 07:29] #746 closed, assigned to Entkenntnis

[2021-01-13 15:06] Entkenntnis commented on #459
The linked PR is merged and it's available in staging, so I think we can start working on this.

[2021-01-13 15:07] Entkenntnis commented on #493
Waiting for https://github.com/serlo/api.serlo.org/issues/191

[2021-01-13 15:09] Entkenntnis commented on #648
Note: We should add `Disallow: /api/*` to hide nextjs api routes from search engines.

[2021-01-14 10:34] Entkenntnis opened #762 "Add min-height to main container"
While loading, sometimes the header and footer are collapsing.

[2021-01-14 10:35] #756 closed, assigned to nobody

[2021-01-14 10:55] elbotho commented on #762
thanks!

[2021-01-14 14:09] elbotho opened #766 "add placeholder image for donation form, improve privacy wrapper mobile layout"
(maybe even think about a popup for mobile users that has the info and consent button, because currently the info covers most of the images…)

[2021-01-14 15:21] simonkoehl commented on #766
Would this be an option:
- rebuild the first level of the form (actually only buttons, we are planning to get rid of the slider)
- only ask for consent, if users click on our first level
- deliver this information to the form for further steps
?

[2021-01-14 15:28] elbotho commented on #766
@simonkoehl  is the concept ready how you want to change the first level?
I need to check but adding info to the form should/could work.

[2021-01-15 17:35] elbotho opened #767 "course page numbering increases on hidden entries"
aside from the double numbering (content problem) our numbering starts at 4.
https://frontend.serlo.org/18872

[2021-01-15 17:42] elbotho opened #768 "Links to activity log fail"
Opening a link like https://frontend.serlo.org/event/history/user/15478 results in 404
(Should not use csr)

You can find those links via search: e.g. https://de.serlo.org/search?q=Kurse
(we should probably just hide them in the search?)

[2021-01-15 17:50] elbotho opened #769 "Search: Restore view if returning to search results"
There was some setting that allows the search to alter the url that might allow history navigation.
I deactivated that for some reason. Investigate again.

[2021-01-15 18:10] elbotho opened #770 "long link in comment breaks layout on mobile"
example:
https://de.serlo.org/mathe/29577/gesetz-der-gro%C3%9Fen-zahlen

(we should probably shorten links via js, and make sure that they can't break the layout with css)

[2021-01-16 09:24] elbotho commented on #769
Okay, `data-enablehistory="true"` is actually set and should work.
Unfortunately I can't figure out why it does not work any more and there are no errors.
Closing for now.

[2021-01-16 09:24] #769 closed, assigned to elbotho

[2021-01-16 10:23] elbotho commented on #702
Okay, content seems to be fixed (works in frontend now).
API issue is open.

[2021-01-16 10:23] #702 closed, assigned to nobody

[2021-01-16 10:35] elbotho commented on #748
**Update**
(wow, what a week 🎉)

- Mobile testing didn't show any bigger problems with new frontend (mostly content problems and latex rendering stuff).
- CFWorker [can now change probabilities for mobile separately](https://github.com/serlo/serlo.org-cloudflare-worker/pull/130).
- New database layer is deployed and SWR Queue seems to be stable.

[2021-01-16 10:36] #768 closed, assigned to nobody

[2021-01-16 10:36] #700 closed, assigned to elbotho

[2021-01-16 10:36] #747 closed, assigned to elbotho

[2021-01-16 10:36] #762 closed, assigned to nobody

[2021-01-16 10:36] #767 closed, assigned to nobody

[2021-01-16 17:19] elbotho commented on #459
Had a go at this, but mutation does not work at this point.

Will probably wait for https://github.com/serlo/api.serlo.org/pull/189 and check again.

[2021-01-16 18:57] #766 closed, assigned to nobody

[2021-01-16 19:04] elbotho commented on #766
@simonkoehl I made some [improvements for mobile](https://de.serlo-staging.dev/serlo) and added [a quick fix](https://de.serlo-staging.dev/spenden) for the donation page.
Will probably not work on this until our next milestone, but feel free to add the infos etc.

[2021-01-16 20:04] elbotho commented on #737
What are the downsides to using SWR for all users?
test pr at #774

[2021-01-17 22:51] elbotho commented on #753
We have `ThreadAware` now ([see here](https://github.com/serlo/frontend/blob/staging/src/components/comments/comments.tsx)), thanks @inyono.
@Entkenntnis I don't see any other changes/improvements atm. Do you?

[2021-01-18 07:35] Entkenntnis commented on #737
Anyway, with all the refactoring this week, I have to rethink our caching approach, but feel free to use SWR, it looks like a solid and small lib.

[2021-01-18 08:28] #770 closed, assigned to nobody

[2021-01-18 08:51] Entkenntnis commented on #753
Our query looks fine.

[2021-01-18 08:51] #753 closed, assigned to nobody

[2021-01-18 09:58] Entkenntnis commented on #645
In review: https://github.com/serlo/serlo.org/pull/580

hopefully fixed soon!

[2021-01-18 10:29] Entkenntnis commented on #472
We plan to add an API query to get the list of permissions
todo: link related issue

[2021-01-18 10:37] Entkenntnis opened #777 "Multimedia block looks strange"
https://de.serlo.org/mathe/1553/berechnungen-am-kreis in the new frontend:

![grafik](https://user-images.githubusercontent.com/13507950/104904536-8c093900-5981-11eb-94dc-b1c1edfe18e7.png)

[2021-01-18 10:39] Entkenntnis commented on #602
Compared to the legacy system, the frontend isn't too bad.

Some missing features I have noticed:

- links are written out (an interesting idea)
- Serlo-Logo added

Anyway, maybe we can find a way to hide the printing warning after the user scrolled to the bottom.

Just some ideas, priority is low.

[2021-01-18 11:00] Entkenntnis opened #778 "Remember privacy consent and adding revoke option"
We are currently not persisting the privacy conset, so closing the tab or opening a new tab will reset this information.

A slightly improved way to do this would be to store the consent on the client and add some information in our privacy agreement how to reset it, e.g. a special link

Edit: E.g. in localStorage for 14 days?

[2021-01-18 11:01] Entkenntnis commented on #641
The current implementation is fine, but maybe we want to improve it as described in #778

[2021-01-18 11:01] #641 closed, assigned to inyono

[2021-01-18 11:04] Entkenntnis commented on #730
Waiting for staging fix for editing content before we can integrate this.

[2021-01-18 11:11] Entkenntnis commented on #729
Work in: https://github.com/serlo/api.serlo.org/pull/189

[2021-01-18 11:13] Entkenntnis opened #779 "Math issues on mobile"
- [x] https://frontend.serlo.org/mathe/177495/177495
- [x] https://frontend.serlo.org/1503
- [x] ~https://frontend.serlo.org/25634~   -> bitte Gleichungsplugin nutzen
- [x] ~https://frontend.serlo.org/mathe/9701/9701 (Lösung, Teilaufgabe 4)~   (nicht schön, aber inhaltlich ok)
- [x] ~https://frontend.serlo.org/mathe/3133/3133 (Lösung a)~ (nicht schön, aber inhaltlich ok)
~In der Lösung: Formeln br

[2021-01-18 11:14] Entkenntnis commented on #748
Timeline:

-> 25/01: 100% for mobile users
-> 01/02: 100% for all non logged in users

[2021-01-18 11:15] Entkenntnis opened #780 "Rollout"
Timeline:

-> 25/01: 100% for mobile users
-> 01/02: 100% for all non logged in users

[2021-01-18 11:15] Entkenntnis commented on #748
Decided, see #780

[2021-01-18 11:15] #748 closed, assigned to nobody

[2021-01-18 11:18] Entkenntnis commented on #683
Let's see how well #774 is working out.

[2021-01-18 11:19] Entkenntnis commented on #737
#774 will solve this issue

[2021-01-18 11:23] Entkenntnis opened #781 "Move license details into separate page"
As far as I can see the license details page is not fetched as uuid, so we can move it to a separate page.

[2021-01-18 11:26] Entkenntnis opened #782 "Frontend logged-in, but not in legacy"
It happens regularly that I am logged-in in the frontend, but not on the legacy server, so if I edit a page, I have to log in first. Also, notifications are not loading.

Steps to reproduce:

- Log in on staging (frontend + legacy).
- Come back after a day.
- Frontend is logged-in, but not legacy anymore.

[2021-01-18 12:12] elbotho commented on #602
(hide comments)

[2021-01-18 13:50] simonkoehl commented on #766
great temporary solution @elbotho thank you!

[2021-01-18 18:36] elbotho commented on #778
For search we currently save it to `sessionStorage` at least.
@inyono did you think about this solution? Do you consider it okay as an interim solution?

If yes, I'd suggest adding this logic to the privacy wrapper as well. That would be a easy next step towards the real feature.

[2021-01-18 21:59] Entkenntnis opened #783 "Use next.config.js strict mode"
We can switch to https://nextjs.org/docs/api-reference/next.config.js/react-strict-mode.

[2021-01-18 23:01] Knorrke opened #784 "Hyphenization of comments not working"
Hey :-)
The content does display correctly hyphenized, but in the comments it doesn't work.
E.g. see the comments of https://de.serlo.org/mathe/9535/9535
Example screen shot:
![grafik](https://user-images.githubusercontent.com/11499926/104969466-c659f100-59e8-11eb-80d6-c76014bcce05.png)

`hyphens:auto;` is set in the css, so I don't really know why this is happening.... But for mobile users it wou

[2021-01-18 23:38] elbotho commented on #784
Damn, fixed something just last week that obviously broke this.
Thanks for reporting and the praise 😊

[2021-01-19 07:45] Entkenntnis opened #785 "Secondary menu shown on content page"
The secondary menu is shown on this page: https://de.serlo.org/59284, but it shouldn't.

[2021-01-19 07:46] Entkenntnis commented on #785
Looks like a content problem, though ...

[2021-01-19 07:48] Entkenntnis opened #786 "hline breaks after latex sanitization"
In the solution https://de.serlo.org/75792 the latex code fails.

`\sf \hline` is not valid, so sanitizer has to be more careful here.

[2021-01-19 10:43] Entkenntnis opened #787 "Sometimes, language subpath is accessed"
In some cases (~100 times in the last 4 days), users land on a page with language subpath, e.g. `https://de.serlo.org/de/mathe/1324/exponential-und-logarithmusfunktion`.

Maybe we can find a way to reproduce this bug.

[2021-01-19 11:45] #785 closed, assigned to nobody

[2021-01-19 11:46] inyono commented on #787
Were did you get that information from? E.g. in Sentry, you could check out the `Referer` header.

[2021-01-19 11:52] inyono commented on #778
Remembering the consent is fine as long as users have an easy way to revoke their consent later:

Maybe https://www.privacypolicies.com/blog/gdpr-consent-examples/#The_Sixth_Element_Of_Consent_Easily_Withdrawn is  also helpful.

[2021-01-19 12:02] Entkenntnis commented on #787
Reported by simple analytics, referrer and all else looks fine

[2021-01-19 12:17] inyono commented on #782
Mh... Did you check the "remember me" box when logging in? IIRC, the current behavior is:
- Legacy: If you check "remember me", your session will last 28 days (legacy system) by setting a cookie that expires after 28 days. If you don't, your session will only persisted in a session cookie.
- Hydra will issue an refresh token that expires after 30 days. This will be used to refresh your id token (w

[2021-01-19 16:14] jakobwes opened #789 "Latex not rendered"
In the exercises here the latex is not properly rendered in the frontend https://de.serlo.org/mathe/59284/rechenfertigkeiten-%C3%BCben

[2021-01-19 16:55] Entkenntnis commented on #789
Fixed in #788 and will be live soon

[2021-01-20 09:45] Entkenntnis opened #790 "Remove quickfix for removing undefined values"
next.js is strictly checking props and is not allowing the value undefined. We have a lot of optional props, so we should delete the attribute. A quick way to do this was:

https://github.com/serlo/frontend/blob/60caceee9619ffc5992f6d8cdee2b94e17f3bb35/src/pages/%5B...slug%5D.tsx#L89

Replace with a better method.

[2021-01-20 09:48] Entkenntnis commented on #790
This would suffice: https://stackoverflow.com/a/38340730

[2021-01-20 11:20] Entkenntnis opened #791 "Some formulas are cut off"
This is a strange and tricky issue: Some formulas are somehow just a little bit too high, so they get cut off, like https://frontend.serlo.org/4409:

![grafik](https://user-images.githubusercontent.com/13507950/105167394-f1dbf900-5b18-11eb-8212-3558fc947105.png)

Preferable we can find a real fix for it, otherwise, we have to do some heuristics and add som padding to the wrapper.

[2021-01-20 11:26] Entkenntnis commented on #782
Production is working fine. Only on staging, I get logged out regularly.

[2021-01-20 11:57] elbotho commented on #791
This case can be solved by adding `padding-top: 2px;` to the wrapper… that's fine if we do it globally imo.

[2021-01-20 11:59] inyono commented on #782
Ah, that's not a bug then. Remember that we reset the staging database every night (and therefore invalidate all sessions).

[2021-01-20 12:06] Entkenntnis commented on #791
In the case of https://frontend.serlo.org/96285, adding padding would make the choices look misaligned, e.g. it looks way better if there is no padding. But generally, formulas in multiple-choice look a bit off, like here (https://frontend.serlo.org/88987):

![grafik](https://user-images.githubusercontent.com/13507950/105172669-4040c600-5b20-11eb-8375-016135adfdb4.png)

Is there an easy fix to mak

[2021-01-20 12:07] Entkenntnis commented on #782
Makes sense!

[2021-01-20 12:07] #782 closed, assigned to nobody

[2021-01-20 12:30] elbotho commented on #791
`align-items: center;` to StyledLabel should do the trick,

[2021-01-20 13:19] #786 closed, assigned to nobody

[2021-01-21 08:27] Entkenntnis commented on #778
We have a special situation with the search, because we already have an extra layer of protection: The search is only loaded when the user clicks it. This behaviour will not change if the user has given consent.

So: The purpose of our banner is just to give notice that the search is powered by an external provider. The "actual" consent it giving by actively using the search. Revoke in this sense

[2021-01-21 08:42] elbotho commented on #778
@Entkenntnis I get your point, and the same could be said for the embeds (they also don't load before click).
But imo having a feature for revoking consent is a good idea anyway to be on the safe side.
I think the option to revoke is no disadvantage ux wise and not overly complex if we handle it only in the frontend and we should just write that code :)

(I maybe should be doing other things, but

[2021-01-21 08:50] inyono commented on #778
Not sure if I understand your correctly, but: we need a button that says "Zustimmen" or something like that. The pattern "By using the search you agree you consent to the privacy policy" is explicitly not enough (which is the reason for all the horrendous cookie banners).

Same as for embed: as long as we don't ask for the consent each time and persist the consent instead, we need an easy way for

[2021-01-21 08:59] Entkenntnis commented on #778
The banner is still shown the first time, if the user clicks "Zustimmen", the banner wil not show again. But the search is still not loaded automatically, but only if the user clicks it.

@elbotho Feel free to add a draft. We may how no third-party cookies now, but may use them in the future.

[2021-01-21 08:59] elbotho commented on #730
Merged it to staging yesterday, @Entkenntnis if you want to check out the code it's [this PR](https://github.com/serlo/frontend/pull/792) and some [ugly direct commits](https://github.com/serlo/frontend/commits/staging) to staging late last night to try out different redirects.
UI is not perfect (mutations will obviously be nicer, no reload etc.) but works quite well.

Short note for testing, sinc

[2021-01-21 08:59] #730 closed, assigned to elbotho

[2021-01-21 09:01] inyono commented on #778
Still: if you don't ask for _explicit_ consent each time, we need a revoke option.

[2021-01-21 10:56] #784 closed, assigned to elbotho

[2021-01-21 11:27] #789 closed, assigned to nobody

[2021-01-21 14:17] elbotho commented on #781
Would you use a dynamic route at `license/detail/[id].tsx` and fetch the data in the page?

[2021-01-21 15:39] Entkenntnis commented on #781
Exactly.

[2021-01-21 16:56] #791 closed, assigned to Entkenntnis

[2021-01-21 21:04] elbotho commented on #790
@Entkenntnis after looking at this and may solutions I'm not convinced that others are better than your hack. at least it's simple :) I think in the future this will change in nextjs.
Possible optimisation would be to apply this filter only to the fields where we actually might need it in `fetch-page-data` directly. but that also error prone…

Are you mostly concerned with performance?

[2021-01-21 22:50] Entkenntnis commented on #790
Reference https://github.com/vercel/next.js/issues/17215

The current hack is probable fine, at least in the current situation.

[2021-01-21 22:50] #790 closed, assigned to nobody

[2021-01-22 11:33] #737 closed, assigned to nobody

[2021-01-22 12:15] #781 closed, assigned to nobody

[2021-01-22 13:33] elbotho commented on #787
This sometimes happens to me while developing, but I thought that's probably unrelated (hot-)reload stuff.

[2021-01-22 13:43] inyono commented on #787
It occurred to me once after some API deployment (which also lead to a long response for the very first request) where I got redirected to `/de/biologie`. Might be CF Worker related for some weird edge cases / timeouts.

[2021-01-22 14:05] Entkenntnis commented on #787
Thanks for finding this 👍

[2021-01-22 14:40] Entkenntnis commented on #783
The double call should indicate it's working:

![grafik](https://user-images.githubusercontent.com/13507950/105504459-13c7ae00-5cc8-11eb-9993-7f3b3b8b424e.png)

Source:

[code]

(true, difficult to tell :grinning:)

[2021-01-22 14:40] #783 closed, assigned to nobody

[2021-01-22 17:59] #778 closed, assigned to elbotho

[2021-01-22 18:02] Entkenntnis opened #799 "Do we want to support single comment view?"
Just noticed that urls like https://de.serlo.org/191548 are not implemented at all.

Is this something that we want to add - or just let legacy handle this?

[2021-01-22 18:03] Entkenntnis opened #800 "Show single comment?"
Just noticed that urls like https://de.serlo.org/191548 are not implemented at all.

Is this something that we want to add - or just let legacy handle this?

[2021-01-22 18:03] Entkenntnis commented on #800
ups

[2021-01-22 18:03] #800 closed, assigned to nobody

[2021-01-22 18:12] Entkenntnis opened #802 "Enable revisions in production"
The new revision view is ready (and as good as the existing view). Todo: Take a look that everything is fine and then enable in production (-> create cf issue)

[2021-01-22 19:04] elbotho commented on #799
Okay, not sure what the use case is here thb. Where do those links occur?

 I'd prefer a link to the comment in context (under the relevant content, just as an anchor link), that would be a nice enhancement.

 Might be a bit tricky with lazy loading…

[2021-01-22 19:59] elbotho commented on #802
see https://github.com/serlo/serlo.org-cloudflare-worker/pull/151 as preparation (while we test).

[2021-01-23 17:58] kulla commented on #799
We have decided that it makes no sense to display single comments (currently there is also no possibility to get a single comment from the api - when you request the `uuid` endpoint with the id of a comment `null` is always returned).

My suggestion: We add a redirect from the comment view to the article as we redirect solutions to its exercise. All right?

[2021-01-23 19:34] elbotho commented on #799
@kulla ~could you also redirect to `article#comment-{commentId}` ?~
Nevermind, jup I like your suggestion. We can generate and use the version with anchor links inside the frontend.
(see https://github.com/serlo/frontend/pull/803)

[2021-01-23 19:35] kulla commented on #802
https://github.com/serlo/serlo.org-cloudflare-worker/pull/151 is merged in deployed at staging. Happy testing :smile:

[2021-01-23 19:41] kulla commented on #799
Okay, here is the follow up issue: https://github.com/serlo/serlo.org-cloudflare-worker/issues/152

[2021-01-23 19:41] #799 closed, assigned to nobody

[2021-01-23 19:43] elbotho commented on #802
Thank you!

[2021-01-23 23:50] elbotho commented on #645
Works 🎉
Thanks @kulla !

[2021-01-23 23:50] #645 closed, assigned to nobody

[2021-01-24 00:05] elbotho opened #807 "Add revision history view"
Should be possible with the data we have.

e.g. https://de.serlo-staging.dev/entity/repository/history/1565

example query
[code]

[2021-01-24 18:56] Entkenntnis opened #809 "Use separate page for user profiles"
We can add a page like `/user/[id]/[name].tsx` to handle user profiles and moving them out of slug to improve bundle size optimization.

[2021-01-24 21:19] Entkenntnis opened #810 "Investigate dynamic imports and only make non-trival modules dynamic"
Dynamic imports have their overhead I I think we are overusing them in some places ...

[2021-01-24 23:24] elbotho opened #812 "Revision path and separate page"
revisions usually use links like `/entity/repository/compare/{entityId}/{revisionId}`.
Those links do not work atm.

Direct links to `/{revisionId}` should probably be handled by the CFWorker?

Like #809 we could put revisions into their separate page, to improve bundle sizes and simplify the main query.

[2021-01-25 09:54] elbotho opened #815 "Notification count behaviour"
Test notification count. The display never seems to be right…

[2021-01-25 13:20] #807 closed, assigned to elbotho

[2021-01-25 13:27] #812 closed, assigned to elbotho

[2021-01-25 13:52] Entkenntnis opened #817 "Exercise has no breadcrumbs"
This https://frontend.serlo.org/mathe/139124/139124 has no breadcrumbs, but it should be part of

 Mathematik Abitur Bayern 2019 Geometrie, Teil B, Aufgabengruppe 1 Textaufgabe.

[2021-01-25 14:32] Entkenntnis commented on #690
Closing this issue, as we are not coming to a definite conclusion how to handle this (there seems to be no silver bullet)

[2021-01-25 14:32] #690 closed, assigned to nobody

[2021-01-25 15:53] kulla opened #818 "Display topic groups in taxonomy view"
In legacy serlo.org viewing a taxonomy lists topic groups next to entities:

![Screenshot from 2021-01-22 10-50-06](https://user-images.githubusercontent.com/1327215/105729696-c64c7a80-5f2d-11eb-8c72-349ac7ba2e97.png)

It's about

![2021-01-21-173402_301x81_scrot](https://user-images.githubusercontent.com/1327215/105729721-cc425b80-5f2d-11eb-8ff4-1331c64e6957.png)

In the new frontend it is not sh

[2021-01-25 16:02] Entkenntnis commented on #818
I remember a discussion that we don't want to mix content and taxonomy, e.g. we don't want to have exercises within topics, only in topicFolders.

[2021-01-25 16:08] kulla commented on #818
That's true. This is about displaying a link to the topic group inside the taxonomy (the topic group has exercises, though).

[2021-01-25 16:15] Entkenntnis commented on #818
The taxonomy can be confusing sometimes! What do you mean by "topic group"? Fracciones is a topic and should have no exercises (but it has, in this case) - and the link is pointing to "Fracciones".

The issue can be solved by adding a topicFolder inside of "Fracciones" and move the exercises there. This will show up in the taxonomy. Would this work in this case?

[2021-01-25 16:17] Entkenntnis commented on #810
For reference: the real weight of all our routes:

![grafik](https://user-images.githubusercontent.com/13507950/105732752-14af4880-5f31-11eb-843b-4aa7bf514bc5.png)

(this is closer to the amount of js users will load)

[2021-01-25 16:21] Entkenntnis commented on #810
And this entangles mess is our dependancy graph :)

![grafik](https://user-images.githubusercontent.com/13507950/105733356-c3538900-5f31-11eb-9b41-868f3fc01dc0.png)

[2021-01-25 16:39] kulla commented on #818
Yeah, that's the issue. Ping @jakobwes for the solution (create a new topic folder where you store the exercises in)

[2021-01-25 16:39] #818 closed, assigned to nobody

[2021-01-25 17:33] elbotho commented on #810
pretty nice looking mess :)
Is that the output of `yarn analyze` or did you change something?

[2021-01-25 17:55] Entkenntnis commented on #810
I have temporary disabled all dynamic components, so this is the upper bound - will readd them step by step and see when we arrive at a good level.

[2021-01-25 18:08] Entkenntnis commented on #810
#809 is definitively helpful here.

[2021-01-25 18:21] elbotho commented on #810
already on it 👍

[2021-01-25 20:09] elbotho commented on #815
Will continue working on this after https://github.com/serlo/api.serlo.org/issues/167 is fixed.
Manually revalidating the SWR cache  for the notification count after setting notifs to read is probably enough.

[code]

[2021-01-26 07:06] #809 closed, assigned to elbotho

[2021-01-26 10:07] Entkenntnis commented on #810
So, I have learned alot about what webpack and the chunk optimizations it is doing (and how to debug this). I will try to apply my new knowledge. Places our code base could improve:

- Reduce split points and make them more "expressive", so that the optimizer can help us better.
- Prioritize use cases better and decide which modules can load async (without e.g. layout shift, etc.)

All in all: A l

[2021-01-26 11:24] Entkenntnis opened #823 "Persistent layouts with static property on page"
Ups, after reading this https://adamwathan.me/2019/10/17/persistent-layout-patterns-in-nextjs/ (again) I think the best solution for us would be Option 3 or 4 with a static property on the component.

[2021-01-26 11:52] elbotho commented on #810
Could you share your insights in a short meet session?

[2021-01-26 12:35] Entkenntnis commented on #810
See slack :)

[2021-01-26 17:35] Entkenntnis opened #825 "Pass render function to content"
Use case: generate deterministic ids for nodes, helps generating and matching events.

Also make sure this way that we are not adding multiple special-css divs.

[2021-01-26 17:37] Entkenntnis opened #826 "Clean up auth/setMounted logic"
In the old way, we have used a state to check if we can render the second pass. Now, we have a context that contains logged-in components and it suffice to check this context. The old logic can be removed.

[2021-01-26 17:37] Entkenntnis opened #827 "update readme"
There happened a lot recently, maybe thinking about updating the readme to reflect the latest status quo.

[2021-01-26 17:42] Entkenntnis opened #828 "move adding displaystyle out of math component"
Non-inlined math components get a `\displaystyle` prefix, we add it in the component, but we can move it to the converter.

[2021-01-26 17:44] Entkenntnis opened #829 "rework data-types"
Instead of initialprops, we now have a lot of different routes (with different props). Adapt the data types to reflect the new architecture.

[2021-01-26 20:50] #810 closed, assigned to nobody

[2021-01-27 08:53] #828 closed, assigned to Entkenntnis

[2021-01-27 09:45] Entkenntnis opened #833 "Reconsider line-breaks in math formulas and tables"
Often, breaking a formula with an array environment or breaking in tables lead to unreadable results.

We may add `white-space: nowrap` to tables and formulas with array environment to prevent these cases (and fall back to size scrolling on smaller screens)

[2021-01-27 09:46] Entkenntnis commented on #779
Most Issues can be solved by #833

[2021-01-27 09:53] Entkenntnis commented on #833
1f9fbe3ee98d33d951bb6159b4ab3593355cf960 fixes the issue for tables.

[2021-01-27 11:21] Entkenntnis commented on #833
solved in staging

[2021-01-27 11:21] #833 closed, assigned to nobody

[2021-01-27 11:21] Entkenntnis commented on #779
The last url is depending on https://github.com/serlo/api.serlo.org/issues/215

[2021-01-27 12:54] #779 closed, assigned to Entkenntnis

[2021-01-27 15:44] Entkenntnis opened #834 "Overlong title is overflowing"
On mobile, this page https://de.serlo-staging.dev/community/145470/veranstaltungs%C3%BCbersicht has a title that overflows the page.

[2021-01-27 15:45] Entkenntnis opened #835 "Also add padding to bottom of math wrapper"
I have seen cases where letters are cut off from below, so the padding is needed.

[2021-01-27 18:16] elbotho commented on #779
Nice! Thanks for investigating and fixing those 👍

[2021-01-27 18:19] elbotho commented on #834
Can't reproduce, could you add details / a screenshot?

[2021-01-27 18:42] Entkenntnis commented on #834
Firefox (Desktop + Mobile):

![grafik](https://user-images.githubusercontent.com/13507950/106038067-c1c3c580-60d7-11eb-8420-d6eb5f109c58.png)

[2021-01-27 18:55] #823 closed, assigned to Entkenntnis

[2021-01-27 18:55] #829 closed, assigned to nobody

[2021-01-27 21:37] Entkenntnis opened #836 "ordering of comments"
I have just written my first comment in the new design 🚀 .

A question: Do we sort comments by date? Because at some places, e.g. user profiles, the comments seem to be in a different order.

[2021-01-27 21:39] elbotho commented on #836
Yeah, it's off. Especially threads are weird. API should order imo. Will follow up there.

[2021-01-28 08:48] Entkenntnis commented on #802
Some weird behavior when opening this page: https://de.serlo-staging.dev/32769

[2021-01-28 08:50] Entkenntnis commented on #802
Can we maybe hide meta-changes (title, description) if they are empty? Because I'm not seeing this fields in legacy very often?

[2021-01-28 08:52] Entkenntnis commented on #835
fixed in 703584841df97640574cb61524b19ca7c63cb44a

[2021-01-28 08:52] #835 closed, assigned to nobody

[2021-01-28 09:01] elbotho commented on #802
Yeah good idea

[2021-01-28 10:46] Entkenntnis opened #839 "Div can't appear as descendant of p"
See here: http://localhost:3000/1697, related to lists, paragraphs and a math wrapper.

[2021-01-28 10:56] inyono commented on #815
You probably want to use the unread filter here: https://github.com/serlo/frontend/blob/7abf7cf647df1548ac73e447ba87c4a7b6242ca4/src/components/user-tools/unread-notifications-count.tsx#L18.

[2021-01-28 10:57] inyono commented on #815
Since this is already handled using `swr`, I'd be surprised if you actually have to do any cache invalidation yourself.

[2021-01-28 11:11] elbotho commented on #815
Will check. Afaik requests with different keys don't trigger each.

[2021-01-28 11:12] inyono opened #841 "Fix `PleaseLogIn`"
The current `PleaseLoginIn` component doesn't work. I suspect the reason for that is that it handles /api/auth/login via CSR, which doesn't work.

[2021-01-28 11:13] inyono commented on #815
True. If the 60s invalidation is not enough, you'd might to invalidate it manually.

[2021-01-28 11:14] kulla commented on #841
@inyono I guess https://github.com/serlo/frontend is the right repo for this issue, am I right?

[2021-01-28 11:16] inyono commented on #841
Yes, too many open tabs 😅

[2021-01-28 11:22] #841 closed, assigned to nobody

[2021-01-28 11:26] #825 closed, assigned to nobody

[2021-01-28 11:27] #780 closed, assigned to nobody

[2021-01-28 11:31] elbotho commented on #780
What?!
 💯 !!!

[2021-01-28 16:45] Entkenntnis opened #845 "Add message: Log in to write commet"
Add a message to the commets that only logged in users can write comments, like "Melde dich an um einen Kommentar zu schreiben".

Also show the heading "Kommentare" if no comments are present.

[2021-01-29 12:10] jakobwes opened #847 "Serlo-logo on /spenden-page not clickable"
Just a minor thing, but everywhere else on the page clicking on the Serlo-logo brings you to the homepage. I think for the sake of consistency this should also be the case on serlo.org/spenden.

[2021-01-29 12:14] elbotho commented on #847
This is actually a "feature". The spenden page was once intentionally designed to make it a little bit hard to navigate away from.
I'm very open to change that but you should discuss this with @simonkoehl first.

[2021-01-29 12:15] elbotho commented on #847
Closing this until there is an actionable todo :)

[2021-01-29 12:15] #847 closed, assigned to nobody

[2021-01-29 23:01] elbotho commented on #815
Phew, was not as stupid as I thought :) I use the filter, that was just the type up there…

[2021-01-30 00:36] elbotho opened #848 "Default React import not needed any more"
According to [this](https://reactjs.org/blog/2020/09/22/introducing-the-new-jsx-transform.html) we could kick some `import React from 'react'` if we update some of our deps and config.

We might get `performance improvements and simplifications` 🚀 💥

---

Also in future versions there will not be a default export any more, so changing to `import * as React from 'react'` or the (preferred) `import

[2021-01-30 12:33] Entkenntnis commented on #848
![grafik](https://user-images.githubusercontent.com/13507950/106356421-be128780-62ff-11eb-89b3-c45c71ec1df9.png)

We are good to go.

[2021-01-30 12:36] #848 closed, assigned to nobody

[2021-01-30 12:37] inyono opened #851 "Review auth"
- [ ] When using multiple tabs, the actually used token may be stale (e.g. if it is was refreshed in another tab earlier). We should probably sync it with the current cookie value before doing the request.
- [ ] The login state itself should be a state instead of a ref (so that changes to it trigger a React update)

[2021-01-31 23:30] elbotho commented on #493
This is more or less done in the Frontend.
Sorting will be fixed soon: https://github.com/serlo/api.serlo.org/pull/233
Performance would hopefully be ok in production and soonish even in staging: https://github.com/serlo/serlo.org-database-layer/pull/67

[2021-01-31 23:49] elbotho opened #853 "Figure out how to best handle revalidation on mutations"
We currently use `getStaticProps` with the shortest `revalidate` setting of 1s.
This is too short for almost all situations but mutations where it actually delays instant revalidation.

Vercel will probably release a feature soon, that will allow us to manually revalidate:

But we could also think about fixes/compromises in the meantime since this is causing some UX problems.

[2021-01-31 23:50] elbotho commented on #459
Follow up in #853

[2021-02-01 00:09] elbotho opened #854 "Add option to unarchive threads"

[2021-02-01 00:09] elbotho commented on #729
Follow up in #854

[2021-02-01 09:16] inyono commented on #853
Just an FYI: this is done intentionally since a higher SWR cache time wouldn't improve the situation for the end user. So there is no reason to increase `revalidate`.

First ideas for approaches for the actual issue:
- We could have a local storage of the data that we fill when we do API requests and update accordingly when the user does a mutation. This way, we shouldn't need to hard reload.
- We

[2021-02-02 20:39] Entkenntnis opened #856 "Streamline FrontendContentNode format"
The FrontendContentNode format is a good starting point for several (upcoming) data processing use cases and I have found some places where I can make the format more streamlined and easier to handle. No big changes, just small improvements here and there (no definite list yet)

And maybe it would be nice to have a validator that can check that a FrontendContentNode[] is valid to our semantic defi

[2021-02-03 10:15] kathongi opened #958 "formulas in spoiler heading"
We need formulas in spoiler headings for subjects like math, chemistry and physics. At the moment it's only possible to write text in the heading.

[2021-02-03 10:26] #459 closed, assigned to elbotho

[2021-02-03 10:26] #729 closed, assigned to elbotho

[2021-02-03 10:26] #834 closed, assigned to elbotho

[2021-02-03 10:26] #854 closed, assigned to elbotho

[2021-02-03 13:49] elbotho commented on #839
I'm confused, shouldn't it be rendered as inline `Math` anyway?

[2021-02-03 13:55] elbotho commented on #836
Okay, threads are ordered again.

[2021-02-03 13:55] #836 closed, assigned to nobody

[2021-02-03 13:59] elbotho commented on #493
Okay, comments work pretty nicely.
Ordering is fixed in API.
Threads are for some reason very slow. But work as well.
🎉

[2021-02-03 13:59] #493 closed, assigned to elbotho

[2021-02-03 15:09] elbotho commented on #815
probably caused by https://github.com/serlo/api.serlo.org/issues/235

[2021-02-03 15:09] #815 closed, assigned to elbotho

[2021-02-03 15:11] elbotho opened #858 "Notifications: Handle unread and read differently"
currently we often encounter old unread notifications.
this results in users expecting new notifications but only seeing read ones.

[2021-02-03 17:02] Entkenntnis commented on #839
I have a new branch where this issue is fixed (some buggy edge case of the converter)

[2021-02-03 17:04] Entkenntnis commented on #839
This one is very bad: http://localhost:3000/1907, though

[2021-02-03 17:09] Entkenntnis commented on #839
(also fixed on that branch)

[2021-02-03 21:56] Entkenntnis commented on #590
Another thing: I have forgot to pass the feedback value down to the component. This will be fixed soon (#860) and we can show the feedback that is stored in the exercise.

[2021-02-03 22:09] Entkenntnis opened #859 "Check urls"
We have a lot of:

- dead urls
- internal urls that are absolute
- internal urls that are using old alias
- internal urls with weird syntax
- external urls without protocol
- ...

Maybe we can clean this up one day (and fix it in the content)?

[2021-02-03 22:30] Entkenntnis commented on #777
The reason is that the math wrapper is set to 100% width and will only display below the float on the right.

[2021-02-04 12:11] #858 closed, assigned to nobody

[2021-02-04 12:12] #845 closed, assigned to nobody

[2021-02-04 12:35] #839 closed, assigned to nobody

[2021-02-04 12:35] #856 closed, assigned to Entkenntnis

[2021-02-05 10:14] elbotho commented on #493
Now uses db layer - much better response time! 🚀

[2021-02-05 10:36] elbotho opened #865 "Lazy component not loading when element is visible on page load"
Placeholder visible after page load, only loads after scrolling.

e.g.
https://de.serlo-staging.dev/mathe/1565/sinus-kosinus-und-tangens
![image](https://user-images.githubusercontent.com/1258870/107023001-539d9380-67a6-11eb-86d8-a1f1c16e5fd8.png)

[2021-02-05 11:20] Entkenntnis commented on #865
The reason is that the placeholder for math is 200px high (much higher most formulas). So if math wrappers load, the layout shift is quite big and the formulas below are not triggered for rendering.

A quickfix would be to reduce the height of the placeholder for math formulas so less shifting occurs?

[2021-02-05 11:25] elbotho commented on #853
Thoughts:
- A point for reloading (btw. a very soft reload :) is that we don't have to implement any query or data mutation logic in the frontend, it's just the same logic that was used to display the page the first time.

- For threads we use Vercel SWR and that works pretty nicely, even tough we fetch all data again on a mutation.

[2021-02-05 11:26] elbotho commented on #865
Jup, probably a good idea.

[2021-02-05 11:29] elbotho commented on #865
maybe we should increase the `offset` of react-lazyload a bit as well.

And as a last resort there is [`forceCheck`](https://www.npmjs.com/package/react-lazyload#forcecheck).

[2021-02-06 09:01] elbotho commented on #865
@Entkenntnis can't reproduce locally. interesting!

[2021-02-06 10:08] Entkenntnis commented on #865
I can reproduce it locally. interesting..

[2021-02-06 12:48] Entkenntnis commented on #160
Closing, because of inactivity.

[2021-02-06 12:48] #160 closed

[2021-02-06 13:46] Entkenntnis commented on #602
Hiding comments is doable, see #869, but the rest is - as far as I can see - not achievable without a separate print version of the page - which would be a bigger feature and I'm not sure if this is currently needed.

For more context, see https://github.com/serlo/serlo.org-rfcs/issues/18

[2021-02-06 13:46] #602 closed, assigned to nobody

[2021-02-06 14:00] Entkenntnis commented on #636
It took a while to find a video without cc license :) so, here it is: https://frontend.serlo.org/mathe/1515/satz-des-pythagoras

![grafik](https://user-images.githubusercontent.com/13507950/107120027-68a02280-688b-11eb-88b1-3cc8fa90b5d9.png)

and an injection for an exercise with a different license:

![grafik](https://user-images.githubusercontent.com/13507950/107120058-9edda200-688b-11eb-96a3-33

[2021-02-06 14:01] Entkenntnis commented on #636
@inyono More restrictive licenses are highlighted (the cc is crossed) - in addition, on hover the title is saying which content type the license is belonging to. This should make clear with part of the content is covered by that license.

So I think we can close this issue.

[2021-02-06 14:01] #636 closed, assigned to nobody

[2021-02-06 14:04] Entkenntnis commented on #590
@kulla Is is ok if we fix this issue now? I don't want to keep this too long around. I think we can surely find some other good first issues in this repo :)

[2021-02-06 14:25] inyono commented on #636
To be honest, I'm still not quite happy with the current solution. Especially the second example is confusing: Does the license refer to the exercise or the solution? If the exercise, only the last exercise or all exercises in this block?

Without knowing how Serlo injections etc. work, I have no idea where some content starts and ends. Hovering also doesn't work on mobile.

[2021-02-06 15:47] Entkenntnis commented on #636
The current solution is not perfect, but it's still much clearer then the solution in the legacy system:

![grafik](https://user-images.githubusercontent.com/13507950/107122682-6f359680-6899-11eb-8043-1cfa11b03d45.png)

The license is hidden in the context menu - and even on hover you don't see the name.

[2021-02-06 15:49] Entkenntnis opened #870 "Add more information to license icon"
The license icon alone is not showing enough information, specially in the situation of injections. It may be necessary to add some more text to it, like this:

![grafik](https://user-images.githubusercontent.com/13507950/107122991-604fe380-689b-11eb-8d76-9fd97408334d.png)

or this:

![grafik](https://user-images.githubusercontent.com/13507950/107122974-431b1500-689b-11eb-99c1-489bc7013268.png)

s

[2021-02-06 15:52] Entkenntnis commented on #636
We can add a new feature for this, though, see #870

[2021-02-06 15:57] kulla commented on #590
Yes of course :-) For the future: It's okay for me when you fix any issue for a community developer when it is older than 2-3 weeks and nothing have been done.

[2021-02-06 15:58] Entkenntnis commented on #870
This would need some support from the API, because the title of the license is not suitable for this place (we need something shorter)

[2021-02-06 16:00] inyono commented on #636
True for the exercises (for some reason we apparently only show the license of solutions in legacy). What I like better in legacy, though (not that this is a perfect solution in any way), is how licenses are handled around injections:

<img width="751" alt="Screen Shot 2021-02-06 at 16 55 05" src="https://user-images.githubusercontent.com/1508477/107123161-482c9400-689c-11eb-9c21-e7e506e3b62b.png"

[2021-02-06 16:11] Entkenntnis commented on #636
Ok, right now I'm not even sure that we need the license information at all in case of a youtube embed. The source of the video is made very clear in the player, right? Anyway, I've never seen any page where a youtube embed has an additional license notice.

So in the case of a youtube video we can even left out the notice?

[2021-02-06 16:15] inyono commented on #636
Personally, I don't think so. Since we claim that the learning content (that contains the video) is licensed under CC-BY SA (created by Serlo), we should be clear about anything that differs from that. In fact, we have some YouTube videos that are still licensed under CC-BY SA.

Most pages don't claim that their content is freely licensed. Wikipedia, for example, doesn't embed YouTube videos and i

[2021-02-06 16:18] Entkenntnis commented on #636
It's an interesting topic, let's discuss it further in a dev meeting.

[2021-02-07 09:35] Entkenntnis opened #873 "Let video node handle license info"
Currently, the license of a video is handles by injections - this prevents us from building some finer grained solutions. To solve this, we can add the license information to the video directly (in the fetcher, similiar to exercises). This way, injections don't need to handle licenses in general - and videos can show a more clearer notice.

[2021-02-07 14:38] #865 closed, assigned to Entkenntnis

[2021-02-07 15:28] #777 closed, assigned to nobody

[2021-02-07 17:47] Entkenntnis opened #877 "Show feedback for input challenges"
Small incompatibility: the frontend implementation is missing the feedback field. The fetcher is now adding the feedback and we can add it to InputExercise.

[2021-02-07 17:48] #590 closed, assigned to elbotho

[2021-02-07 18:51] elbotho commented on #877
added in 8ba21a7330a78f5a716dd8f0dfbf18c27ef866f8

[2021-02-07 18:51] #877 closed, assigned to elbotho

[2021-02-07 20:30] elbotho commented on #873
Would also be solved by #879 I believe.

[2021-02-07 21:37] elbotho commented on #817
Did some digging.
Data arrives.
Gets filtered out by this compat case:
https://github.com/serlo/frontend/blob/8ba21a7330a78f5a716dd8f0dfbf18c27ef866f8/src/fetcher/create-breadcrumbs.tsx#L33-L39

Not quite sure what is does so I'd leave the fix to you if that's alright :)

[2021-02-07 21:43] elbotho commented on #683
@Entkenntnis what's your verdict? :)

[2021-02-08 12:48] Entkenntnis commented on #817
Ah yes, I remember that special case. I will investige this and see if it's still relevant.

[2021-02-08 15:35] kulla opened #882 "Include the complete cohesive exercise groups"
After https://github.com/serlo/serlo.org/pull/595 got merged and deployed: When an cohesive exercise group is included via an injection not only the exercise but also its subtasks and their solutions.

[2021-02-08 16:27] Entkenntnis commented on #882
Nice! Do you also need some kind of visual indicator that the exercise group is cohesive?

[2021-02-08 17:07] Entkenntnis commented on #817
The compat case is still necessary - but in case the breadcrumbs are empty, use this value instead of showing nothing.

[2021-02-08 17:13] Entkenntnis commented on #683
Undecided yet. I want to wait after we have tested threads more and decide then. (there is a small performance benefit, yes - but it would split our code apart between client and server)

[2021-02-08 17:21] kulla commented on #882
Yes, we end up with changing the ordering from `<ul>` to `<ol>` in the subtasks

[2021-02-08 20:08] Entkenntnis opened #884 "Fix special css"
I should use the direct child selector to avoid strange layout failures, in the solution before the spoiler: frontend.serlo.org/9415

[2021-02-09 08:25] #817 closed, assigned to Entkenntnis

[2021-02-09 08:34] Entkenntnis commented on #884
Fixed in 02a37004a795fd53adbab2ff3e6e53f62a83689a

[2021-02-09 08:34] #884 closed, assigned to nobody

[2021-02-09 08:40] Entkenntnis commented on #683
So, after some more consideration: I will close this issue, because the situation has changed a lot - we are using swr on the client and will soon enable commenting for all users. In this case, a swr-waterfall (client + proxy) is not nice to have (or at least not worth the small performance improvement).

I haven't seen any other benefit besides a latency reduction of ~0,2s to this (at the cost of

[2021-02-09 08:40] #683 closed, assigned to nobody

[2021-02-09 09:45] Entkenntnis commented on #802
Not working for grouped exercises: https://frontend.serlo.org/entity/repository/compare/0/193382
and solutions: https://frontend.serlo.org/entity/repository/compare/0/193383

[2021-02-09 09:45] Entkenntnis opened #885 "History view crashes if currentRevision is not present"
It currently happens here: https://frontend.serlo.org/entity/repository/history/3407 (see console.log)

[2021-02-09 10:51] elbotho commented on #802
@Entkenntnis thanks for checking this! This means all other content types work?

[2021-02-09 11:57] elbotho commented on #802
what a goose chase… `convert-edtr-io-state` does not support `exercise`. -_-

[2021-02-09 12:13] Entkenntnis commented on #802
Oh right, there is a separate create-exercise handler for this because exercises are complex.

[2021-02-09 12:21] Entkenntnis commented on #802
A side note: Showing the revision of solution is not very useful without the exercise, but if you change the exercise and the solution, the solution revision can't find the corresponding exercise revision (because it's not accepted yet) ... which makes reviewing exercises at times annoying. But this is also happening on legacy now...

Quickfix: Maybe we can at least link to the exercise in a solut

[2021-02-09 15:16] Entkenntnis opened #886 "When to use new auth in frontend"
Currently, the frontend only allows using the old auth system in production. Now, we want to use the new auth also in production.

The frontend needs to know whether the user should get the old auth or the new auth, because the routes are different. We will probably use a placeholder for ssr and then check on the client if the frontend-cookie is available.

[2021-02-09 15:16] Entkenntnis commented on #826
Actually nothing to do here anymore, but one follow up: #886

[2021-02-09 15:16] #826 closed, assigned to nobody

[2021-02-09 17:00] Entkenntnis opened #888 "Horizontal scroll on mobile"
This can happen in almost all unexpected places, like here: https://frontend.serlo.org/163111

[2021-02-09 18:08] Entkenntnis commented on #859
Added a report for this: https://arrrg.de/serlo-content-checker/reports/malformedurls.html

[2021-02-09 18:08] #859 closed, assigned to nobody

[2021-02-09 18:40] elbotho commented on #802
@Entkenntnis I have a vage memory that we wanted to only support editing exercise and solution at the same time?

[2021-02-10 13:08] inyono commented on #886
You should actually be able to use the new auth (even in production) since logging in via Hydra also logs you in via legacy auth.

[2021-02-10 16:33] Entkenntnis commented on #886
Oh, I was probably a bit unclear ... the issue is about the `shouldUseNewAuth` feature flag that is controlling which auth system we are using. It's currently hard-coded to be false in production, we will need to add some more logic there. Otherwise I think the new auth system will work out fine in production.

[2021-02-10 19:21] #870 closed, assigned to elbotho

[2021-02-10 19:21] #873 closed, assigned to nobody

[2021-02-11 08:32] Entkenntnis opened #890 "Comments are not immediately visible"
Starting threads is working very well know, but writing comments is not yet perfect: If you add a new comment, the answer is not immediately visible, but you have to reload to page (or trigger any other update). Happens consistently on staging for me.

[2021-02-11 09:00] #827 closed, assigned to nobody

[2021-02-11 10:22] elbotho commented on #890
~wow, never saw that behaviour, will test as well.~
Hmm, can't reproduce... it's surprisingly fast for me. Random staging lag maybe? Could you try again?

[2021-02-11 10:26] elbotho commented on #827
Love it, thank you!

[2021-02-11 10:47] Entkenntnis commented on #890
It's not happening now for me anymore - looks like a random lag.

[2021-02-11 10:47] #890 closed, assigned to nobody

[2021-02-11 22:31] Entkenntnis opened #892 "Invisible content and SEO"
At the moment, content that is not visible is also not rendered to html, e.g. solutions and spoilers.

This is very good for performance, but I am wondering if problems arise for SEO?

An alternative would be to render the content in the background, but hide it with css, so that crawlers can index all content.

Are there opinions about this?

[2021-02-12 08:10] Entkenntnis opened #893 "Bug in feedback rendering"
I think one of my refactoring has led to a regression at https://frontend.serlo.org/mathe/25621/aufgaben-zur-kombinatorik-im-typischen-sinn:

![grafik](https://user-images.githubusercontent.com/13507950/107743916-0ffcd980-6d12-11eb-9952-3c5e92b4efec.png)

Feedback is rendered as Paragraph, but is expected to be more span-like.

[2021-02-12 08:13] Entkenntnis commented on #893
@elbotho The feedback can be any content I think, so can we modify `feedback.tsx` so that it also works for block content?

[2021-02-12 11:11] elbotho commented on #893
Thb I'd prefer some restrictions in edtr.io here. This should be a single line.
Maybe with a link, but def. nothing else.

[2021-02-12 14:26] kulla opened #894 "New filter for course pages"
After https://github.com/serlo/api.serlo.org/pull/249 got merged and deployed there will be filter on the property `pages` of `Course` to filter those pages which are visible. This might be used to refactor the query and to avoid some filters in the frontend. There might be also some changes. See thread https://serlo.slack.com/archives/C0BMSC431/p1613138064001300

[2021-02-12 15:04] Entkenntnis commented on #893
Sometimes math formulas or images can be useful, though - I think atm there is no restriction.

[2021-02-12 21:05] elbotho commented on #893
I think the feedback should emotional (funny, encouraging, motivating) first of all. Maybe a little hint on wrong answers.
But then is probably not the right place for this discussion.

[2021-02-13 08:06] Entkenntnis commented on #893
I checked again, the feedback is limited to a text-block already in the new edtr-io, so we are good to go here.

Edit: Ok, sadly not quite, because the text-plugin allows multi-line content.

[2021-02-13 12:37] elbotho commented on #893
Alright, I can work with that 😄  👍

[2021-02-16 10:30] jakobwes opened #898 "When clicking on profile-links on the /team-page I get an error"
On here https://de.serlo.org/team I get an error "This page (https://de.serlo.org/de/user/profile/Adrian_B) is currently offline. However, because the site uses Cloudflare's Always Online™ technology you can continue to surf a snapshot of the site." and get rerouted to the old frontend. If I click on "Retry for a live version" then it works, but I only get the old frontend.

[2021-02-16 11:44] inyono commented on #898
Either frontend or Cloudflare Worker issue. The`de/` part is definitely wrong.

[2021-02-16 14:18] inyono commented on #894
This is now live.

[2021-02-16 14:47] Entkenntnis commented on #898
This is the reproducable edge case we have been searching for 👍

[2021-02-16 17:14] inyono commented on #898
Some findings:
- API seems to work correctly, see e.g.
[code]
on staging

- Cloudflare Worker also seems to handle that URL correctly

So most likely a bug in `pages/user/[...userslug.tsx]` (which doesn't use the alias, for example. Locally, even `/user/profile/:id` doesn't work as expected).

[2021-02-18 21:27] Entkenntnis opened #900 "No horizontal scroll for table in exercise-intro"
Example: http://frontend.serlo.org/6063

The table is not scrolling. The reason is related to display: flex. I think we have to add overflow: auto to IntroWrapper, but I am not 100% sure.

[2021-02-19 08:51] elbotho commented on #900
in 8973731 i try to fix it in the table-wrapper. hopefully this catches more unexpected cases like this.

[2021-02-19 09:01] elbotho commented on #892
At this point I'd actually prefer the current behaviour. As I said in the call, I think we usually have enough keywords/content.
I guess the real question here is how many some users want to end up in exercise folders directly and not in articles for example.

[2021-02-19 09:06] elbotho commented on #888
Do you want to find a global solution for all of those cases or just fix them one by one?

[2021-02-19 09:20] elbotho commented on #888
(in any case: particular case quickfixed in #901)

[2021-02-19 09:28] elbotho commented on #885
This content is deleted and trying to see the revision history of it also fails in legacy.
https://de.serlo.org/entity/repository/history/3405
So I guess the correct way to handle this is: Hide the button on deleted stuff?

[2021-02-19 09:29] elbotho commented on #885
Can you remember how you got to that link?
In legacy I get redirected to https://de.serlo.org/mathe/3405/3405 (which is deleted).

[2021-02-19 09:36] #888 closed, assigned to nobody

[2021-02-19 09:36] #893 closed, assigned to elbotho

[2021-02-19 09:36] #900 closed, assigned to elbotho

[2021-02-19 09:37] Entkenntnis commented on #885
I have constructed it manually because the history view is not yet activated.

[2021-02-19 09:38] Entkenntnis commented on #885
Yeah, I have been working on this content, so the content is probably deleted now...

[2021-02-19 09:42] elbotho commented on #885
I see! Could you add another id where this happens when you stumble upon one?

[2021-02-19 10:56] elbotho commented on #898
`/user/profile/:id` is not supported by the frontend. Currently we only support the new aliases:
e.g. `/user/10/simon` or `/user/10`.

`user/profile/…` links are redirected to legacy frontend by our `<Link>` component (expected behaviour).
The redirect to `de/user/profile…` is maybe a [CF-Worker bug](https://github.com/serlo/serlo.org-cloudflare-worker/issues/153).

### Options

- use new aliases

[2021-02-19 11:25] inyono commented on #898
The redirect looks correctly from Cloudflare Worker:
[code]
You even have the `de` behavior on frontend.serlo.org, which works w/o CF Worker, see https://frontend.serlo.org/team. So might be a bug in the Link component.

Independent from that: we can probably just query by alias in `pages/user/[...userslug].tsx` so that frontend isn't depending on the actual way we do canonical aliases for user at

[2021-02-19 12:14] Entkenntnis opened #902 "Allow math as explanation"
After the latest converter fixes, the equation plugin has to be adapted so that a single math block is accepted as explanation.

[2021-02-19 17:30] Entkenntnis commented on #902
Fixed in 4dbb378ddc6577264c5f4cbcf0b0c3d55168f943

[2021-02-19 17:30] #902 closed, assigned to Entkenntnis

[2021-02-21 10:29] jakobwes opened #904 "Implement "Einstieg für Lehrkräfte" and "Einstieg für Eltern"-buttons on es.serlo.org starting-page (similar to de.serlo-org-one)"
- "Einstieg für Eltern": "Información para los padres" - page: ~~https://es.serlo.org/19504~~ https://es.serlo.org/195616/p%C3%A1gina-de-inicio-para-padres
- "Einstieg für Lehrer:innen": "Información para docentes" - page: ~~https://es.serlo.org/195043~~ https://es.serlo.org/195618/p%C3%A1gina-de-inicio-para-docentes

Pages are ~~nearly~~ ready ~~and will be finalized in the next days~~.

[2021-02-22 13:17] kulla commented on #898
When you click on a link at `/team` you see for short time the page loading animation of the frontend. Afterwards a link like https://de.serlo.org/de/user/profile/anbestCL with an additional `de` is loaded instead of https://de.serlo.org/user/profile/anbestCL Since CF cannot get the current alias of `/de/user/profile/anbestCL` it sends the request to the legacy backend which can resolve the link (

[2021-02-22 13:27] kulla commented on #898
How about deleting https://github.com/serlo/frontend/blob/staging/src/components/content/link.tsx#L36 so that `/user/profile/` is not handled client side?!

[2021-02-23 08:13] ghost opened #911 "Bug: Input Exercise does not accept right answer"
https://de.serlo.org/188902 Teilaufgabe d)

In the legacy system the answer gets accepted
![Screenshot_2021-02-23 Die Länge](https://user-images.githubusercontent.com/46370375/108816913-54f8f980-75b7-11eb-90e6-536b452dd1a8.png)

The now frontend does not
![Screenshot_2021-02-23 Die Länge - lernen mit Serlo ](https://user-images.githubusercontent.com/46370375/108816932-5f1af800-75b7-11eb-94bc-c85bd

[2021-02-23 08:40] Entkenntnis commented on #911
Yes, confirmed.

[2021-02-24 08:19] Entkenntnis commented on #898
I will look at it the next days (still quite busy right now)

Edit: #912 could be a possible fix for this.

[2021-02-24 17:02] elbotho commented on #911
@yolo-bird thanks for reporting this.
there are answers for both "2,5" and "2,50" which is:
- unnecessary
- confuses our implementation
but obviously:
- should not confuse our implementation ;)
- will be fixed soon.

[2021-02-24 19:13] elbotho opened #915 "Article does not work in frontend"
https://frontend.serlo.org/68137

[code]
also it seems that it does not have an alias.

[2021-02-25 10:08] Entkenntnis opened #916 "Exercise is empty"
Stumbled upon this exercise: https://frontend.serlo.org/mathe/37820/37820.

The task is missing, but is available in legacy.

[2021-02-25 12:37] #898 closed, assigned to nobody

[2021-02-25 12:47] #904 closed, assigned to elbotho

[2021-02-25 12:53] Entkenntnis commented on #911
is fixed: https://de.serlo-staging.dev/mathe/188902/188902

[2021-02-25 12:53] #911 closed, assigned to elbotho

[2021-02-25 19:57] Entkenntnis opened #919 "Add support for solution revisions"
We are missing support for solution revisions yet, e.g. https://frontend.serlo.org/195817 (it's just empty right now).

Hopefully easy to add to our revisions page.

[2021-02-25 20:01] Entkenntnis commented on #802
Immediate follow-up issue is #919.

[2021-02-25 20:01] #802 closed, assigned to nobody

[2021-02-25 20:04] Entkenntnis commented on #892
I agree, the current solution has very good performance, especially for large topic folders (and we still have meta descriptions, etc...) - so let's leave it this way.

[2021-02-25 20:04] #892 closed, assigned to nobody

[2021-02-26 10:12] Entkenntnis commented on #472
Another update: We plan to use a npm package that provides a interface to query permissions. This way, the frontend doesn't need to know the actually implementations.

[2021-02-26 10:46] Entkenntnis opened #922 "Update sentry"
A new version 6 is available, I will update it.

[2021-02-26 11:29] Entkenntnis commented on #922
Trying to change versions results in "failed to save", as described here:

![grafik](https://user-images.githubusercontent.com/13507950/109294915-29337900-782e-11eb-8307-a53f62ec8203.png)

(maybe somebody else has luck?)

[2021-02-26 11:29] Entkenntnis commented on #922
probably not strictly necessary...

[2021-02-26 11:45] Entkenntnis commented on #922
Should work now with 96f5272abcb3b06bb970c344035a61c2bc734c4c, let's take a look next week.

[2021-02-26 11:45] #922 closed, assigned to Entkenntnis

[2021-02-26 17:00] Entkenntnis commented on #886
Fixed with d2536a37e88a44799e89bf2f7cd3a65f1807b956

[2021-02-26 17:00] #886 closed, assigned to nobody

[2021-02-27 11:21] #919 closed, assigned to nobody

[2021-03-01 10:30] elbotho opened #926 "courses with /toc unsupported"
I don't know where they come from, but there are course-links that end with `/toc` that are not supported in the frontend.

e.g.
https://de.serlo.org/entity/view/58362/toc

[2021-03-03 19:32] Entkenntnis opened #929 "Remaining 500 errors"
This is the current list of ids that are not available:

- [x] Error Code 500 { id: '1605', converted: false }
- [x] Error Code 500 { id: '1631', converted: true }
- [x] Error Code 500 { id: '1641', converted: false }
- [x] Error Code 500 { id: '1649', converted: false }
- [x] Error Code 500 { id: '1885', converted: false }
- [x] Error Code 500 { id: '1963', converted: false }
- [x] Error Code 500

[2021-03-04 09:15] Entkenntnis commented on #915
See #929

[2021-03-04 09:15] #915 closed, assigned to nobody

[2021-03-04 09:20] Entkenntnis commented on #853
For the time being, we will stick with 1s revalidation and reload content after mutations or use vercel swr. This is probably the simplest solution for this issue atm.

[2021-03-04 09:20] #853 closed, assigned to nobody

[2021-03-04 09:24] Entkenntnis opened #930 "History view for solutions"
The history view is currently not implemented for solutions: https://frontend.serlo.org/entity/repository/history/195107

[2021-03-04 09:26] Entkenntnis commented on #930
Shouldn't be to hard to add, though.

[2021-03-04 09:27] Entkenntnis commented on #885
Follow up: #930

[2021-03-04 09:27] #885 closed, assigned to nobody

[2021-03-04 09:29] Entkenntnis opened #931 "course icon not supported"
In the legacy system, courses has an additional icon property for every course page, e.g. explanation, exercise, etc.

This is currently not supported in the frontend. Do we want to include this feature? I'm not quite sure, because it's something barely noticable.

[2021-03-04 09:29] Entkenntnis commented on #926
interesting feature - never seen it before

[2021-03-04 09:32] Entkenntnis commented on #916
After resave this is resolved.

[2021-03-04 09:32] #916 closed, assigned to nobody

[2021-03-04 09:35] elbotho commented on #931
what do you mean by "additional icon property"? Could you add a screenshot?

[2021-03-04 09:39] Entkenntnis commented on #930
Added a clearification about solution support in our wiki page: https://github.com/serlo/frontend/wiki/Schema

[2021-03-04 09:40] Entkenntnis commented on #931
https://de.serlo-staging.dev/mathe/43180/%C3%BCbersicht

![grafik](https://user-images.githubusercontent.com/13507950/109943977-0560af00-7cd6-11eb-8cd9-7e0f8c9d558e.png)

[2021-03-04 09:46] Entkenntnis commented on #882
Some background info: Injections are using the same data fetching method as entity pages. This way, if we change the behaviour of a normal page view, injections will change in sync.

So the proposed change would be not to load a subexercise of a cohesive exercise (if accessed by id), but load the whole exercise instead. This can be achieved by a change in https://github.com/serlo/frontend/blob/sta

[2021-03-04 18:36] elbotho commented on #931
ah thanks!
always found that feature confusing in the old design tbh.
I'd leave it out.

[2021-03-05 15:38] inyono commented on #929
All fixed.

[2021-03-05 15:38] #929 closed, assigned to nobody

[2021-03-05 15:50] inyono opened #932 "sentry: add id to errors"
When there is an invalid `null` cache value, we throw a generic `500: Error while fetching data: Cannot read property '__typename' of null` error. To actually be able to track those errors, it would be helpful to add an identifier to the message (i.e. id or alias) so that those errors don't get combined.

[2021-03-05 17:44] LinaMaria-ES commented on #904
Thank you, it looks amazing!
- Lina

[2021-03-06 17:58] Entkenntnis commented on #929
Wow, very nice :rocket:

[2021-03-08 17:21] kulla commented on #882
Actually when an exercise group is injected, always the full exercise with all sub exercises are injected. Thus we do not have to change anything :tada:

[2021-03-08 17:21] #882 closed, assigned to kulla

[2021-03-08 17:44] kulla opened #935 "Implement new mockup for user profiles"
# Todos:

## Frontend
- [x] Add motivation:
    - [x] Add edit button
    - [x] Add edit button also when user has no motivation text
- [x] Implement profile pic:
- [x] Edit link: https://community.serlo.org/account/profile
- [x] Add link to chat
- [x] Fix link for not logged in user
- [x] Check whether user has a rocket chat link
- [x] Add "logined since"
- [x] Add header
- [x] Link Badges to: ht

[2021-03-09 12:16] inyono commented on #932
Nevermind, we have at least a Sentry tag for the URL.

[2021-03-09 12:16] #932 closed, assigned to nobody

[2021-03-11 13:16] jakobwes opened #937 "In several language versions when clicking on the top right menu I get rerouted to the english-pages"
Eg. in fr.serlo.org when clicking on the top-right menu I am still in the french version, but the english /serlo-page is shown, instead of the french one (https://fr.serlo.org/serlo). Same behavior in ~hi.serlo.org~ and ta.serlo.org (there it is maybe okay), but not in Spanish as far as I know.

[2021-03-15 11:30] jakobwes opened #938 "https://de.serlo.org/biologie/26201/kompetenzen-in-der-biologie is linked at several places, but clicking on it gives error"
Eg. in https://de.serlo.org/biologie/71166/aufgaben-richtig-bearbeiten if one clicks on the taxonomy-tree or here: https://de.serlo.org/biologie/23362/biologie if one clicks on the item

[2021-03-15 15:58] kathongi opened #939 "Highlight solution strategy in exercises"
For pupils there is no destinction between solution strategy and the solution itself in exercise solutions. This leads to some strange wording and repeating solutions e.g https://de.serlo.org/69128

We need some kind of highlighting for the solution strategy. I thought of a box around the strategy and a small title "Lösungsstrategie". But maybe Botho has a better idea.

[2021-03-16 14:22] jakobwes opened #941 "https://de.serlo.org/mathe/146870/schlau-werkstatt can't be shown in new frontend"
I get redirected to the old one.

[2021-03-16 15:15] elbotho commented on #939
Sorry, I don't get it. In this example – what is the solution and what the solution strategy?
And is that a technical distinction or one created by the authors according to the guidelines?

[2021-03-16 15:22] elbotho commented on #941
works for me, could you check again?
Maybe in a new private window to make sure you are not logged in or have a cookie set?

[2021-03-16 15:29] elbotho commented on #938
Also works for me, maybe cache issue.
 Does it work for you now?

[2021-03-16 15:36] elbotho commented on #937
@jakobwes This can easily be changed.
The French menu in defined here:
https://github.com/serlo/frontend/blob/staging/src/data/fr/menu-data.ts

Currently it's supposed to use the english version.
You can send me a list of links that have versions in the target language and I'll update them, or you have a go at editing this yourself :)

Other language files: https://github.com/serlo/frontend/tree/s

[2021-03-16 17:37] kathongi commented on #939
Click "edit" and you'll see it.

![image](https://user-images.githubusercontent.com/44167220/111353010-22599280-8685-11eb-9334-83c9a512b95b.png)

Authors have the possibility to write a solution strategy in an extra field above the solution itself. In this example the strategy is "Versuche das Vieleck in Formen zu zerlegen, deren Flächeninhalt du leicht berechnen kannst." and the solution starts b

[2021-03-17 20:39] jakobwes commented on #937
Oh I didn't know about these config-files. I thought the menu was still done via the backend.

I just created three PRs updating the ids/links in different language-versions. When merged then everything should be up-to-date (maybe only in Hindi some translations were added to the Crowdin-files, so we could also update those). Hope I made no mistake/misunderstodd no parameter :)

[2021-03-17 20:43] jakobwes commented on #941
Super weird. I checked in a private tab, but when rechecking now it works again. I also had a similar encounter in es.serlo.org today and on some other Serlo-pages in the last days, where some links give an error sometimes, but then when reloading/when checking after some time the page it is there. Nothing that seems systematic yet, but maybe something to observe,

[2021-03-17 20:44] jakobwes commented on #938
Hmm weird now it works for me again. Maybe really cache.

[2021-03-17 20:44] #938 closed, assigned to nobody

[2021-03-17 21:51] elbotho commented on #941
thanks for reporting, feel free to post links if it occurs again.
might be related to a bug we have with the new database layer. closing this for now since there is nothing we can do about it in the frontend for now.

[2021-03-17 21:51] #941 closed, assigned to nobody

[2021-03-17 22:02] elbotho commented on #937
@jakobwes Thank you very much! Just merged your PRs, looked good.
Feel free to suggest changes to those files any time.

This means it should be testable on http://serlo-staging.dev/
Next deployment to production will probably be on Monday.

Translations should be up to date (This happend semi-automatic).
 Are you missing something that happened more than a few hours ago?

[2021-03-17 22:02] #937 closed, assigned to elbotho

[2021-03-18 07:58] Entkenntnis commented on #937
@jakobwes Welcome to the frontend :grinning:

[2021-03-21 09:52] Knorrke opened #947 "Syntax highlighting in code missing"
The edtr.io code plugin did have syntax highlighting but it's missing in the new frontend.
see e.g. https://de.serlo.org/59135

Legacy System:
![working syntax highlighting](https://user-images.githubusercontent.com/11499926/111900384-a23f7e00-8a32-11eb-8210-e16551c94145.png)

New Frontend:
![Missing syntax highlighting ](https://user-images.githubusercontent.com/11499926/111900416-c4390080-8a32-1

[2021-03-22 08:50] Entkenntnis commented on #931
Decision was to leave them out.

[2021-03-22 08:50] #931 closed, assigned to nobody

[2021-03-22 18:48] jakobwes opened #948 "Error on https://de.serlo.org/mathe/54253/doppelbruch"
I get the following error on https://de.serlo.org/mathe/54253/doppelbruch:

![Screenshot from 2021-03-22 18-45-08](https://user-images.githubusercontent.com/13718882/112042205-2aab4500-8b3f-11eb-819d-3b9f74f63ce0.png)

[2021-03-23 08:09] Entkenntnis commented on #948
we are working on it!

[2021-03-25 11:04] kathongi opened #950 "Embedding of subject channels from community.serlo.org into serlo.org"
At the moment authors have problems finding specific subject channels in the community chat like [#mathe](https://community.serlo.org/channel/mathe) or [#nachhaltigkeit](https://community.serlo.org/channel/nachhaltigkeit). After several positive feedback from our community we want to test a new feature. We want to test if more authors will join our chat and/or specific channels in the community ch

[2021-03-27 14:46] inyono commented on #947
Looking at https://github.com/serlo/frontend/blob/545e906bc3170574188face5bd24c849520a1ada/src/components/content/code.tsx, it seems like the frontend implementation doesn't have syntax highlighting yet.

[2021-03-29 09:49] elbotho commented on #950
I will have a look at this.
@kathongi should I direct questions at you or at kulla?
Ah and I probably need access to the rocket chat settings.

[2021-03-29 11:20] kulla commented on #950
Technical questions to me. Questions about the implementations to @kathongi

[2021-03-29 12:28] kulla commented on #950
@kathongi: we will only implement this feature in the new design. Thus, currently only not logged in user would see this. Is this okay for the test or is it necessary that also logged in user see the chat?

[2021-03-29 14:29] elbotho commented on #950
@kathongi okay first test is up (mathe only):
https://frontend-git-chat-integration-mockup-serlo.vercel.app/mathe/chat

[2021-03-30 12:54] kathongi commented on #950
We don't need to implement the feature in the old design. But for our test it's also important that users can write in the chat and that is only possible if you are logged in with your serlo account. Therefore we test what is possible and for the rest we wait for the new frontend for logged in users.

I also tested the first implementation:

1. I had a problem if I'm not logged in and wanted to jo

[2021-03-30 19:00] Entkenntnis opened #952 "Add noindex meta-tag for content in "Sandkasten""
Avoid google indexing unfinished or unpolished content of the playground by adding a noindex meta-tag.

[2021-03-31 07:49] elbotho commented on #952
I think it would be easier. to add it to robots.txt instead.
atm. still part of serlo.org repo:
https://github.com/serlo/serlo.org/blob/master/packages/public/server/src/public/robots.txt

[2021-03-31 08:18] Entkenntnis commented on #952
In principle, yes, but with the new alias system, we can't tell if a path is within the sandkasten or not, because they all belong to "/community/"

[2021-03-31 13:28] elbotho commented on #952
I see!

[2021-04-08 16:58] kulla opened #953 "Add activity log for content sites"
After https://github.com/serlo/serlo.org-database-layer/issues/84 and https://github.com/serlo/api.serlo.org/pull/299 got merged / closed: The activity log for content site can be implemented. You can use one the endpoint `AbstractUuid.events` for this https://github.com/serlo/api.serlo.org/blob/21670a88749e3b62dd1c5896d92ca3f8bf441bc3/src/schema/uuid/abstract-uuid/types.graphql#L5-L12

Current ex

[2021-04-08 17:01] kulla opened #954 "Add page with last activities (event log)"
After serlo/serlo.org-database-layer#84 and serlo/api.serlo.org#299 got merged / closed: The page with the last activities (currently https://de.serlo.org/event/history ) can be implemented. Here you can use the endpoint https://github.com/serlo/api.serlo.org/blob/21670a88749e3b62dd1c5896d92ca3f8bf441bc3/src/schema/notification/types.graphql#L16-L24

![2021-04-08-190051_999x804_scrot](https://user