[2017-07-06 17:29] Knorrke opened #1003 "replace mathjax with katex"
In the new editor we'll be using [KaTeX ](https://github.com/Khan/KaTeX) for rendering math formulas, so it makes sense to get rid of mathjax altogether. Also we should check if the server side rendering to HTML by KaTeX is an option.

[2017-11-24 13:55] simonkoehl opened #269 "license in solutions below comment section"
https://de.serlo.org/mathe/deutschland/bayern/realschule/jahrgangsstufentest-6-klasse/2017/88000

The license looks as if it is part of the solution. And the license is not important. Could you pls put it below the comment section?

[2018-10-05 15:57] Knorrke opened #1001 "Mobile shortcut icon"
Define an icon for mobile homescreen shortcut. Maybe also add a popup on mobile devices with instructions on creating such a shortcut.

Maybe this helps: https://developer.chrome.com/multidevice/android/installtohomescreen

[2019-10-22 12:23] Knorrke opened #1002 "Resolve injections server side"
Problems with the current approach:
- Longer loading times and more data
- Google Analytics get's confused and measures this as (really early) switch to another site
- iframe resizing does work, but it's not as clean as the actual content (e.g. collapse animations of spoilers)

So instead of resolving the injections using an `iframe` and the content-API (as implemented in `@edtr-io/plugin-serlo-in

[2020-01-20 05:55] inyono opened #204 "Integrate compilation of patch into toolchain"
Currently, we commit both `patch/next/dist/index.tsx` and `patch/next/dist/index.js`. Instead, we should commit only `patch/next/dist/index.tsx` and compile that webpack, too.

[2020-01-20 06:02] inyono opened #203 "RFC: remove initialProps"
I propose to remove the `getInitialProps` from our pages in frontend for a couple of reasons:
- It mixes fixtures for testing purposes with production code
- It hides some potential issues (namely when you don't pass required props and it the default value is used instead)

Instead, I'd rather move fixtures (intended for testing purposes) into the storybook. This way, we have one location for our

[2020-03-06 15:01] Entkenntnis opened #2 "missing pieces?"
What pieces are missing from existing templates?

[2020-03-06 16:04] Entkenntnis opened #3 "page header"

[2020-03-11 18:15] kulla opened #4 "breadcrumbs (from redesign)"
Definition of breadcrumbs in the redesign prototype: https://github.com/serlo/serlo.org/blob/17a3847a6666a4f9d82790d2c1babc7585c6a9b5/packages/public/frontend/src/breadcrumb.component.tsx

Prototype in action: https://athene2-blue-gum.netlify.com/?path=/story/example-page--test

[2020-03-11 18:41] kulla opened #5 "Tools for logged in users"
In the current dropdown menu the following items are missing:

* Subscribe
* History
* Log
* Manage related items

These are only relevant for logged in users. Where shall we add them?

![2020-03-11-193725_208x247_scrot](https://user-images.githubusercontent.com/1327215/76451695-1848e800-63d0-11ea-9c72-70ca44c9c85e.png)

[2020-03-11 18:54] kulla commented on #2
I have checked again. I have only found #5 ...

[2020-03-11 18:54] #2 closed

[2020-03-11 18:55] kulla opened #6 "Secondary navigation"
![2020-03-11-195454_221x456_scrot](https://user-images.githubusercontent.com/1327215/76453039-63fc9100-63d2-11ea-99c1-9bb1f7db284a.png)

[2020-03-11 18:55] kulla opened #7 "remove "Zugehörige Themen"?"
![2020-03-11-195445_222x407_scrot](https://user-images.githubusercontent.com/1327215/76453069-6e1e8f80-63d2-11ea-932c-c0feb2b0d5bf.png)

[2020-03-18 17:47] kulla opened #9 "horizon"

[2020-03-18 20:29] Entkenntnis opened #10 "breadcrumbs styling current item"
The last item should not be a link
compare this:
![grafik](https://user-images.githubusercontent.com/13507950/76997107-024ca180-6953-11ea-8868-5bfff90f53f2.png)
to our version:
![grafik](https://user-images.githubusercontent.com/13507950/76997146-16909e80-6953-11ea-96fe-de640baaa542.png)
And the back button should point to the second last item:
![grafik](https://user-images.githubusercontent.com/1

[2020-03-18 20:34] Entkenntnis opened #11 "breadcrumbs styling when path is very long"
![grafik](https://user-images.githubusercontent.com/13507950/77004933-367a8f00-6960-11ea-9dea-2a69344edf9b.png)

Ideas how to prevent this?

[2020-03-18 20:36] Entkenntnis commented on #4
#10
#11

[2020-03-22 23:11] kulla opened #13 "Feedback Footer"
### Mobile

- [ ] Slogan, Logo, Infobox und Content auf eine Linie:
![image1](https://user-images.githubusercontent.com/1327215/77263886-9000f780-6c99-11ea-8009-7b01a319cee3.png)
* Sucheinstellungsicon:
     - [ ] Hellblau statt grau
     - [ ] klein bisschen mehr abstand nach links
     - [ ] bzw: Wie wichtig sind die Einstellungen, wäre es auch denkbar, dass die erst angezeigt werden, wenn die S

[2020-03-22 23:12] kulla commented on #3
## Feedback of Botho

### Mobile

- [ ] Slogan, Logo, Infobox und Content auf eine Linie:
![image1](https://user-images.githubusercontent.com/1327215/77263886-9000f780-6c99-11ea-8009-7b01a319cee3.png)
* Sucheinstellungsicon:
     - [ ] Hellblau statt grau
     - [ ] klein bisschen mehr abstand nach links
     - [ ] bzw: Wie wichtig sind die Einstellungen, wäre es auch denkbar, dass die erst angeze

[2020-03-22 23:12] kulla commented on #13
Moved into https://github.com/serlo/frontend/issues/3#issuecomment-602291575 (better place for the feedback)

[2020-03-22 23:12] #13 closed

[2020-03-22 23:14] kulla opened #14 "footer (from redesign)"

[2020-03-22 23:15] kulla opened #15 "Sharing menu"

[2020-03-22 23:42] kulla commented on #14
## Feedback Botho
### Mobile

- [ ] Bisschen mehr Platz:

[code]

- [ ] Link-Hover hat ein anderes Blau als die Button-Links unten.
![image1](https://user-images.githubusercontent.com/1327215/77266155-f4728580-6c9e-11ea-895a-4bdf8713b165.png)

### Desktop

- [ ] früher auf 50% spalten wechseln
![image2](https://user-images.githubusercontent.com/1327215/77266194-0fdd9080-6c9f-11ea-8297-ae483187001f

[2020-03-22 23:49] kulla commented on #15
## Feedback Botho
### Mobile

- [ ] Versteh ich als normaler User nicht:
![image1](https://user-images.githubusercontent.com/1327215/77266453-c3468500-6c9f-11ea-907a-009d66b8b2a4.png)
- [ ] visuals__ToolLineButton
[code]
![image2](https://user-images.githubusercontent.com/1327215/77266483-d48f9180-6c9f-11ea-8561-54908d9e78d8.png)
- [ ] Bearbeiten Button nicht anzeigen auf Mobile
- [ ] Allgemein Bu

[2020-03-25 09:19] Entkenntnis commented on #3
Sucheinstellungen haben low prio, sind momentan mehr nur eine Idee

[2020-03-25 17:08] Entkenntnis commented on #14
Horizon ist momentan auf Mobile noch zu fett, vielleicht nur eins von drei anzeigen oder als Karussel?

[2020-03-25 17:10] Entkenntnis commented on #11
Idea: Use a dropdown to show hierarchy

[2020-03-25 17:10] #4 closed

[2020-03-25 17:11] Entkenntnis commented on #3
Button-Hover für Menü einheitlich zu anderen Buttons

[2020-03-27 13:54] elbotho commented on #14
Feedback implemented in #22

There are strings/content in `Footer.tsx` that need to come from athene

[2020-03-27 14:03] elbotho commented on #9
#22 also affects Horizon

[2020-03-27 14:42] kulla commented on #3
Heißt, dass die Sucheinstellungen erst einmal raus können?

[2020-03-27 14:42] kulla commented on #3
Was meinst du damit?

[2020-03-27 16:10] elbotho commented on #3
@kulla fyi: in e2231f5800257ce5e0f222346bc1c911e17e896f I changed the default paddings.
you can now use the same paddings via the csshelper `${makeResponsivePadding}` or get the value directly via `props.theme.defaults.sideSpacingMobile` or `props.theme.defaults.sideSpacingLg`

PR will be merged soonish.

[2020-03-27 16:23] elbotho commented on #11
With the current approach we already remove two of the items (always).
While we could offer a dropdown/other was of showing all content I'm pretty sure it's not helping the users – just too much information to process.

So I'd suggest to just hide the least relevant parts:
- Always display the first (subject) and the last item (next higher order).
- if there are more than e.g. 3 items hide some it

[2020-03-27 16:37] elbotho commented on #9
I'd suggest using real headers instead of styling an `<p>` as an header.
[code]

also the text should not be included in the link imho.

[2020-03-27 16:37] Entkenntnis commented on #11
Sounds good to me, lets try it

[2020-03-27 16:41] elbotho commented on #7
There is a design draft for that area, but with Simon we decided to skip implementation until there is a better concept for how these get populated.
So yes, vote to remove.

![image](https://user-images.githubusercontent.com/1258870/77779077-3a8a6900-7052-11ea-93ca-3869d54f9157.png)

[2020-03-27 17:04] elbotho commented on #5
I'd planed one something like this:
![image](https://user-images.githubusercontent.com/1258870/77779568-0794a500-7053-11ea-9d50-1b1b59d59243.png)

A small menu only visible for logged-in users on larger screens below the header to the right of the content.
But now that I think about it:
Another button below "Teilen!" it would probably be nicer and way easier to implement.
Something like "Tools" th

[2020-03-27 17:13] elbotho commented on #15
Very nice positioning at the bottom, love it!

[2020-03-27 18:26] kulla opened #26 "Notifications"
Goal: Components for a page containing all notifications, like https://github.com/notifications/beta Current version:

![2020-03-27-192742_617x399_scrot](https://user-images.githubusercontent.com/1327215/77788183-15512700-7061-11ea-9c8e-74e088d7b97a.png)

[2020-03-27 19:54] Entkenntnis commented on #3
@kulla Sucheinstellungen kannst du wieder raustun, bei dem Hover geht es darum, auch beim Menü ein Hover mit rundem Kasten wie bei den Button zu implementieren

[2020-03-29 09:51] theMetalkate commented on #9
Hey, thanks for your feedback. I changed the headline to a h4 tag (not higher so it will not interrupt with the more important SEO tags).
With the second part I do not agree. Users are used to it that a big area is linked (also the whole area is linked at the moment on the live platform). It is also easier to click on it but I agree that it wasn't clear that it is a link because some UX was missin

[2020-03-29 10:41] elbotho commented on #9
@theMetalkate nice, way better. good enough for now.
Details if you feel like it:
- make sure the first box starts on the same line as the content (might need some negative margin because of the hover-shadow)
- Personally I'd like a little more space between the boxes (on desktop)

[2020-03-29 11:11] elbotho opened #29 "Content wrapper markup"
Suggestion:
Use a `<div>` in place of the current `<main>` element to create the column and use the `<main>` to only wrap the actual content (no warning, no horizon).
Breadcrumbs can actually be inside, because they are individual to the site, but I'll wrap them inside a `<nav>`.
-> better markup, accessibility and seo.

[2020-03-29 16:09] theMetalkate commented on #9
@elbotho the max width of the content is 800px right? Maybe I should also reduce the max size to 800px than with the changes you mentioned

[2020-03-29 16:23] elbotho commented on #9
@theMetalkate not completely sure if I understand, but I'd say no, let the parent decide the width.

[2020-03-30 05:56] #11 closed

[2020-03-30 08:35] kulla opened #31 "content & design"

[2020-03-30 08:36] kulla opened #32 "legacy content"

[2020-03-30 08:41] elbotho commented on #6
Designentwurf – Mobile:
![image](https://user-images.githubusercontent.com/1258870/77892409-e0b4b980-7272-11ea-8c10-85d873127ee0.png)

Sobald genug Platz:
![image](https://user-images.githubusercontent.com/1258870/77892305-b5ca6580-7272-11ea-9701-4da39936b361.png)

[2020-03-30 18:40] elbotho opened #35 "translations (i18n)"
There are strings/content in footer, header and probably other components that need to come from athene instead of being hardcoded (for translations etc).

[2020-03-30 18:40] #14 closed

[2020-03-30 20:23] Entkenntnis commented on #35
i18n will be added soon.

[2020-03-30 20:27] #7 closed

[2020-03-30 20:28] Entkenntnis commented on #9
PR merged

[2020-03-30 20:28] #9 closed

[2020-03-30 20:28] Entkenntnis commented on #10
PR merged

[2020-03-30 20:28] #10 closed

[2020-03-30 20:30] Entkenntnis commented on #31
work on this is mostly done

[2020-03-30 20:30] #31 closed

[2020-03-30 20:31] Entkenntnis commented on #32
converting legacy content works good enough

[2020-03-30 20:31] #32 closed

[2020-03-30 20:32] Entkenntnis opened #36 "Implementation of GraphQL backend"
Using graphql to load content and breadcrumbs

https://api.serlo.org/___graphql

[2020-03-30 20:34] Entkenntnis opened #37 "rendering tables"
some articles (1565, 1553) contain tables that should be rendered

[2020-03-30 20:34] Entkenntnis opened #38 "rendering injections"
this one needs some more time to implement

[2020-03-30 20:37] Entkenntnis opened #39 "Startpage"
implementing start page.

Subjects: https://athene2-blue-gum.netlify.com/?path=/story/misc-components--landing-subjects and https://github.com/serlo/athene2-blue-gum/tree/master/src/landing

The remaining parts can be copied from https://de.serlo.org/

[2020-03-31 08:52] Entkenntnis commented on #39
@theMetalkate are you interested in taking a look at this?

[2020-03-31 08:54] Entkenntnis commented on #35
@inyono Do you have an opinion about where to implement i18n? On the backend server or within the frontend?

[2020-03-31 10:16] #3 closed

[2020-03-31 10:55] elbotho commented on #15
`position:sticky` solution broken in current chrome/chromium :(

[2020-03-31 11:18] Entkenntnis commented on #15
should be working in theory: https://codepen.io/corysimmons/pen/QyBMXN?editors=1100
needs some investigation

[2020-03-31 13:06] elbotho commented on #15
Okay, found the solution. It's expected behaviour if a parent has `overflow:hidden` or `overflow:auto`.
is the `overflow: hidden` on `<StyledMain>` necessary?

[2020-03-31 16:33] Entkenntnis commented on #15
tested it again, `overflow:hidden` looks unnecessary now. You can fix it in #42

[2020-03-31 19:21] inyono commented on #35
Definitely in the frontend repo.I recommend i18next it fits with our Crowdin Workflow. You can check out [my PR that adds i18next to the serlo.org client](https://github.com/serlo/serlo.org/pull/302)

[2020-04-01 06:54] #15 closed

[2020-04-01 08:44] #37 closed

[2020-04-01 09:19] elbotho opened #44 "Don't show breadcrumbs on meta pages"

[2020-04-01 10:11] elbotho commented on #44
on mobile it actually might make sense…
@Entkenntnis what do you think?

[2020-04-01 10:37] Entkenntnis commented on #44
on mobile, it would be quite useful to hide breadcrumbs on meta-pages, let's try this out.

[2020-04-01 10:51] kulla opened #45 "Extend color scheme / colorful headings"

[2020-04-01 18:20] elbotho opened #48 "Table weirdness?"
![image](https://user-images.githubusercontent.com/1258870/78172277-1665c800-7456-11ea-95fc-b5a323477575.png)

This is a content problem right?

Source: https://frontend.dal123.now.sh/1565

[2020-04-01 19:03] Entkenntnis commented on #48
Yeah, it's written this way in the content. Hopefully, this can be fixes there.

[2020-04-01 19:03] #48 closed

[2020-04-02 06:34] #6 closed

[2020-04-02 06:34] #29 closed

[2020-04-02 06:34] #44 closed

[2020-04-03 08:19] #39 closed

[2020-04-03 08:35] Entkenntnis opened #53 "Consistent exports and types"
Some components have inconsistent types / exports.

[2020-04-03 17:47] Entkenntnis opened #55 "Taxonomy Topic"
https://de.serlo.org/mathe/geometrie/satzgruppe-pythagoras

![grafik](https://user-images.githubusercontent.com/13507950/78389875-ce74ab80-75e3-11ea-8372-de7646b39274.png)

Props:

title: string
description: ReactComponent
courses: Link[]
article: Link[]
...

Link has title und url

[2020-04-03 17:51] Entkenntnis commented on #55
The same component should also be able to be displayed in "compat mode" like here https://de.serlo.org/mathe/geometrie:

![grafik](https://user-images.githubusercontent.com/13507950/78390196-77bba180-75e4-11ea-9d41-adb45bccf0ff.png)

[2020-04-03 17:53] Entkenntnis commented on #55
The categories are: course, article, video, applet, exercise and folder (see image below):

![grafik](https://user-images.githubusercontent.com/13507950/78390393-c5380e80-75e4-11ea-8b89-aee658f945e7.png)

[2020-04-03 17:58] Entkenntnis commented on #55
Here my draft how the input might could like:

[code]

[2020-04-03 20:59] #26 closed

[2020-04-03 21:06] #53 closed

[2020-04-04 09:43] theMetalkate commented on #55
cool thanks for the overview 👍

[2020-04-05 19:41] kulla opened #59 "Secondary menu: Arrows to small"
In the last Lama-meeting I got the feedback that the arrows in the secondary menu are to small in order to comfortably click on them on a mobile phone:

![2020-04-05-213906_659x525_scrot](https://user-images.githubusercontent.com/1327215/78508316-3236da00-7786-11ea-9f16-ad1bfd1b150a.png)

[2020-04-06 06:20] Entkenntnis commented on #59
Did someone try to actually scroll the whole menu? The arrrows should be a hint that this is possible. Probably not that obvious ...

[2020-04-06 09:02] elbotho opened #61 "Google Custom Search"
**With Google Custom Search.**

Overview over different implementation options:
https://support.google.com/customsearch/answer/9069107?hl=en&ctx=topic

**Full control** solution is a paid version of GCS with JSON-API access:
https://developers.google.com/custom-search/v1/site_restricted_api
(5 Dollar per 1000 Searches)
This way we could style everything ourselves, use components, [add autocomplete

[2020-04-06 10:41] kulla commented on #59
I got this hint by Jakob, maybe you can ask him -> I guess, it is not clear enough that the arrows are actually hints...

[2020-04-06 11:04] kulla commented on #5
Yes, another button below "teilen" would be the best solution, I guess... :-)

[2020-04-06 11:58] #55 closed

[2020-04-06 13:24] jakobwes commented on #59
I tried. It feels like you are supposed to click on the arrows to scroll through the menu, but they are too small to do this comfortably. I would switch to another visualization, if they are more meant as hints to scroll (maybe some sort of scrollbar), or make them bigger to comfortably click through the menu (like in a classical scroll-gallery)

[2020-04-06 14:13] kulla opened #63 "Add schema.org"
schema.org ( https://schema.org/ ) is a way to add metadata to html (which can be used by search engines to understand an article). For example we have the following markup for an article:

[code]

The attributes `itemprop`, `itemtype` and `itemscope` give a more detailed semantic structure for the HTML element.

[2020-04-06 14:29] kulla opened #64 "Discussion: What else should we implement from serlo.org?"
In this issue I list the features which are currently missing in the frontend project but which are implemented at serlo.org

- [ ] Support for Hotjar (we might want to discuss this issue)
- [ ] Popup for the email newsletter https://github.com/serlo/serlo.org/blob/6983e369dff10dadd6b3832bf9be489f4619435d/packages/public/server/src/module/Ui/templates/layout/partials/popup.phtml
- [ ] The followin

[2020-04-06 15:44] Entkenntnis commented on #64
The cookie consent banner is alos missing?

[2020-04-06 15:51] kulla commented on #64
Yes, that's right :-)

[2020-04-06 15:53] kulla commented on #64
What I need to check:

- [ ] https://github.com/serlo/serlo.org/tree/master/packages/public/client
- [ ] https://github.com/serlo/serlo.org/tree/master/packages/public/server/src/module/Ui/templates/layout

[2020-04-06 16:46] Entkenntnis opened #65 "cookie consent banner"
add a cookie consent banner similiar to existing one on serlo.org:

![grafik](https://user-images.githubusercontent.com/13507950/78583215-cfe9e200-7836-11ea-944e-cf53f022d18e.png)

maybe a bit more compact and optimized for mobile.

[2020-04-06 16:47] Entkenntnis commented on #64
see #65

[2020-04-09 08:44] elbotho commented on #59
Being an expert on this (after about 10 UX blogs on horizontal scrolling ;) I come to the conclusion that almost nobody uses arrows/offers an clickable interface at all.
On touch devices it's seems to be enough to make sure there is always a part of the next item visible (works better if they have a box / background).
To help some add starting animations or a "see all" link next to it.

This curre

[2020-04-10 07:39] Entkenntnis commented on #61
Working implementation is merged

[2020-04-10 07:59] elbotho commented on #61
Technically working, but this needs a revisit at some point.
Currently the Placeholder is the word "Placeholder" ;)

[2020-04-10 08:25] elbotho opened #71 "<title> should not be used in _document.js's <Head>"
new warning in yarn dev:
`<title> should not be used in _document.js's <Head>`
see https://github.com/zeit/next.js/blob/master/errors/no-document-title.md

[2020-04-10 08:45] Entkenntnis opened #72 "Implement Taxonomy"
The new API now supports querying taxonomy. Implement fetcher and use existing component.

[2020-04-10 08:57] Entkenntnis commented on #61
Let's keep this open atm, things todo:

- [ ] Add Placeholder
- [ ] Review implementation
- [ ] Review Data Privacy Statement
- [ ] Find a place to document this feature

[2020-04-10 12:39] #72 closed

[2020-04-10 12:39] #36 closed

[2020-04-10 12:39] #71 closed

[2020-04-14 08:17] inyono commented on #64
- [ ] Sentry

[2020-04-14 08:21] inyono commented on #64
- [ ] Add custom tag to Google Analytics so that we can filter between old & redesign

[2020-04-14 08:39] elbotho opened #77 "Analytics"
- [ ] Add Google Analytics tracking code
- [x] Check if a tag is a good way to filter old & redesign
- [x] Add custom tag

[2020-04-14 08:40] elbotho commented on #64
@inyono could you elaborate or point to a person that can implement that? :)

[2020-04-14 08:51] elbotho opened #78 "cloudflare-worker: splitting traffic"

[2020-04-14 10:38] elbotho opened #79 "content to wide at /abc"
![image](https://user-images.githubusercontent.com/1258870/79216021-c66f0400-7e4c-11ea-8405-a9da5a333a83.png)

see:
https://frontend.dal123.now.sh/abc

[2020-04-14 11:51] elbotho opened #81 "Browser Testing"
We should do some browser testing,
I think we have Chrome and Firefox covered, which leaves all time favourites like
IE, Safari and div. mobile browser.

### Quick checks desktop:
- 🟢current **Chrome/Firefox** on mac
- 🟢relatively current **Safari** on mac (after #83 is done)
- 🟢current **Edge** on Mac: Thankfully it's basically Chrome.
- 🟠 **IE11** on Win: Inconsistencies but usable
- 🟢**Firefox/

[2020-04-14 12:13] elbotho opened #82 "Use keys in <Topic__Wrapper>."
[code]

[2020-04-14 12:14] elbotho opened #83 "🦟Safari"
Safari 13.0.4 on OSX 10.15.2
(not the newest but unfortunately not terribly old)

Landing Page, font not loading in SVG
![image](https://user-images.githubusercontent.com/1258870/79223210-2ec3e280-7e59-11ea-9ca6-88c2121d0789.png)

Searchinput (GCS) hides text
![image](https://user-images.githubusercontent.com/1258870/79223256-41d6b280-7e59-11ea-854e-24fa55ee225a.png)

Scarry images again
![image](

[2020-04-14 12:16] elbotho opened #84 "Visible scrollbar on formula"
![image](https://user-images.githubusercontent.com/1258870/79223808-51a2c680-7e5a-11ea-921f-d1c1e5928c24.png)

Source: https://frontend.dal123.now.sh/mathe/terme-gleichungen/gleichungen/gleichungen-allgemein/%C3%84quivalenzumformungen

Not sure if content or css problem.

[2020-04-14 12:21] elbotho opened #85 "Content: ids for headers"
All headers (h1 to at least h4) should get an id automatically so they can be linked to directly.

This is not a very common feature, but at least some internal links make use of that, so we should make sure to create the same ids as currently.

Example here: https://de.serlo.org/nachhaltigkeit/anbau/anzucht-aussaat/pflanzzeiten

[2020-04-14 12:29] elbotho opened #86 "Review Privacy Policy"
Things that might change (please add):

- [x] Google Web Fonts (self hosting is probably preferred and necessary for karmilla atm, Keep it for now!)
- [x] Matamo
- [x] Vercel
- [x] Cloudflare
- [x] GCS Integration

Who has experience with that? Who worked on it so far?

[2020-04-14 15:28] Entkenntnis commented on #85
yup, I will implement this - all existing ids should be working in the frontend.

[2020-04-14 16:20] inyono commented on #86
Apart from ZEIT Now, we already have everything in the privacy policy.

[2020-04-14 16:25] elbotho commented on #85
I can also try if you're still busy with the content types. Sounds doable :)

[2020-04-14 17:10] elbotho commented on #77
okay, setting up a custom dimension to track calls from redesign was the easy part.
But overall I did not get the pageviews to register.
This might be because it's not registering calls from localhost ([it should](https://stackoverflow.com/questions/4375447/can-you-test-google-analytics-on-a-localhost-address#comment56428014_10644663)) or something else is wrong.

Almost all current examples use t

[2020-04-14 17:19] kulla commented on #86
I can help with updating the privacy policy.

[2020-04-14 17:21] kulla commented on #81
Which kind of tests do you want to perform? That the site loads in each browser or that each component renders the same in each browser?

[2020-04-14 18:07] elbotho opened #87 "Lighthouse audit notes"
just a super quick summary. not complete.

---

**SEO**
should be enough:
- [x] increase footer tap target size: aim for 48x48px
- [x] [robots.txt](https://de.serlo.org/robots.txt)
- [ ] meta and graph tags ( see #64)

---

**Performance**
- i think biggest problem by far are images. Solutions: different sizes(!), maybe webp, and of course lots of svgs :)
- less dom elements! I think Katex is the

[2020-04-14 18:26] elbotho commented on #64
`<meta robot` probably not useful. [See here](https://webmasters.stackexchange.com/questions/48153/what-does-all-mean-in-meta-robots-tag)
I opted to add our robots.txt but not include this <meta tag

[2020-04-14 18:38] elbotho commented on #64
favicon can also be omitted if it's in the default location. (memo to self: check if we should switch to PNG and offer bigger sizes as well)

[2020-04-14 18:41] elbotho opened #88 "Support Opensearch"
Sweet feature, unfortunately needs more work with the current search implementation.

_header:_
`<link href="/opensearch.de.xml" rel="search" type="application/opensearchdescription+xml" title="Serlo (de)">`

_opensearch.de.xml:_
[code]

[2020-04-14 18:42] elbotho commented on #64
Moved opensearch to backlog (#88) because it would need changes in the current search implementation.

[2020-04-14 20:53] elbotho commented on #81
Dreaded browser inconsistencies and bugs.

[2020-04-14 20:56] elbotho commented on #86
@inyono Do you know that cloudflare and google custom search don't need to be there?
Couldn't find them.

[2020-04-14 21:12] elbotho commented on #64
**Content Types:**

`<meta name="content_type" content="article">`
I'm working on a rough implementation, but we probably need some normalizing.

these should be the strings we need to match:
`course, course-page, topic-folder, text-exercise-group, text-exercise, curriculum-topic-folder, applet
topic, curriculum-topic, topic-folder …`

[2020-04-15 04:49] inyono commented on #85
This is only true for content created with the legacy editor, though. Content created with the new editor does not have auto-generated ids (intentionally, since we have the anchor plugin for that)

[2020-04-15 04:50] inyono commented on #86
You're right, they are missing. So yeah, we need those, too.

[2020-04-15 07:15] elbotho commented on #85
So what you're saying is that we could/should just not add it to the redesign?
Or how is the conversion going? :)

[2020-04-15 07:27] Entkenntnis commented on #85
I will add this to the converter that parses the legacy state, this will lead to same behaviour on serlo.org

[2020-04-15 10:04] Entkenntnis commented on #59
https://github.com/serlo/frontend/blob/c97700ff64c996a771764fe1cd11d95d05305645/src/components/navigation/MobileMetaMenu.tsx

[2020-04-15 19:26] simonkoehl opened #91 "show secondary menu on static/taxonomy pages"
include subject sub menu in
- taxonomy views
- static pages within subjects

don't include it in any content page

[2020-04-15 19:30] simonkoehl opened #92 "highlight first taxonomy "parent" more"
on mobile screen size the first taxonomy "parent" already is highlighted as a kind of button

it should also be highlighted on bigger screen sizes where we show the complet taxonomy.

An content pages we could additionally communicate the role of the first taxonomy "parent" e.g. like this:

"Zur Themenübersicht: _taxonomy title_"

[2020-04-16 16:36] #38 closed

[2020-04-16 16:36] #85 closed

[2020-04-16 21:40] elbotho commented on #83
okay. should be solved in #89 and #80

[2020-04-16 23:31] elbotho opened #93 "Accessibility review"
Simple guide to get started:
https://developers.google.com/web/fundamentals/accessibility/how-to-review?utm_source=lighthouse&utm_medium=devtools

Tool:
https://chrome.google.com/webstore/detail/axe-coconut-web-accessibi/iobddmbdndbbbfjopjdgadphaoihpojp

[2020-04-17 09:01] #82 closed

[2020-04-17 09:25] Entkenntnis commented on #81
I will take a look on IE 11

[2020-04-17 09:29] #83 closed

[2020-04-17 09:33] elbotho commented on #84
remove width:0;

[2020-04-17 09:49] Entkenntnis commented on #93
https://developer.mozilla.org/en-US/docs/Learn/Accessibility

[2020-04-17 09:54] elbotho commented on #93
https://developer.mozilla.org/en-US/docs/Learn/CSS/Styling_text/Styling_links

[2020-04-17 10:27] elbotho opened #94 "Meta tags"
Status: Currently dependent ~~on #100 and~~ #95

**SEO meta tags**
~~`<meta name="content_type" content="article">`~~
`<meta name="description" content="Beim… :`

**og meta tags**
`<meta property="og:image" content="https://packages.serlo.org/serlo-org-static-assets@1/de/meta/mathematik.jpg">`
`<meta property="og:description" content="Beim Faktorisieren wird ein Term, der zunächst eine Summe oder

[2020-04-17 10:27] elbotho opened #95 "Meta fields from API"
We need the following meta fields from the API to complete #94:
- description (for all uuids that support it)
- image (for og:meta tag, for all uuids that support it)

[2020-04-17 10:30] elbotho opened #96 "Add Sentry"
old implementation:
https://github.com/serlo/serlo.org/blob/master/packages/public/client/src/frontend/modules/sentry.ts

[2020-04-17 10:32] elbotho opened #97 "Favicon: PNG and sizes"
We should consider adding our Favicon in bigger sizes as png and add the relevant meta tags.

[2020-04-17 10:33] elbotho commented on #94
-> Plan is to write some code to export the old meta tags for now.

[2020-04-17 11:05] elbotho opened #98 "a course page fails to load"
Error:
http://localhost:3000/36755/uebersicht

500 on master:
https://frontend.dal123.now.sh/36755/uebersicht

[code]

[2020-04-17 11:34] elbotho opened #99 "Show breadcrumb when showing standalone video, applet, course"
Show breadcrumbs in standalone view:

e.g.
https://frontend.dal123.now.sh/mathe/zahlen-gr%C3%B6%C3%9Fen/proportionalit%C3%A4t-dreisatz/direkte-proportionalit%C3%A4t---mathematisch,-bananisch

[2020-04-17 11:36] Entkenntnis commented on #98
sometimes, pages don't have a currentRevision, which means that they are stale ...

@elbotho this is not difficult to fix, at this line:

https://github.com/serlo/frontend/blob/560c213266cbf7babb222a3be3a94fb0a8a1b9c7/src/fetcher/serlo-api.tsx#L542

we can filter `reqData.uuid.course.pages` and only output pages with a currentRevision

[2020-04-17 11:39] elbotho opened #100 "Content type for collection of exercises?"
Collection of exercises should have an extra contentType if possible.
@Entkenntnis you said you could add that, or do we need to change the API for that?

Currently they show as `TaxonomyTerm`:
[Example](https://frontend.dal123.now.sh/mathe/zahlen-gr%C3%B6%C3%9Fen/grundrechenarten/addition/aufgaben-schriftlichen-addition-nat%C3%BCrlicher-zahlen
)

[2020-04-17 12:32] kulla commented on #81
Okay, I see. I thought you meant e2e tests :-)

[2020-04-17 13:26] elbotho commented on #98
okay!

[2020-04-17 13:42] elbotho commented on #99
Tried to solve, but no breadcrumb-entries coming from API for those types.
@Entkenntnis do you know if they are just not exported or if we don't save them?

[2020-04-17 14:48] elbotho opened #101 "Unknown paths turn into 500 instead of 404"
e.g. https://frontend.dal123.now.sh/woah!

[2020-04-17 15:44] inyono commented on #101
API-wise, this should already work. For the 10% phase, this will probably be handled via Cloudflare Worker (since we also need to catch legacy backend routes), but we need an appropriate 404 in the future, of course.

[2020-04-17 20:13] Entkenntnis commented on #100
the type is currently not exposed yet, but you can add it, look at this lines:

https://github.com/serlo/frontend/blob/560c213266cbf7babb222a3be3a94fb0a8a1b9c7/src/fetcher/serlo-api.tsx#L456-L464

add `data.type = reqData.uuid.type` - now you have an additional field on `data` for the type of the taxonomy term and it should appear here: https://frontend.dal123.now.sh/api/mathe/zahlen-gr%C3%B6%C3%9

[2020-04-17 23:11] elbotho opened #102 "Curious: Tax Link without href"
At this [site](http://localhost:3000/mathe/zahlen-gr%C3%B6%C3%9Fen/grundrechenarten/addition) the link to _"Aufgaben Rechengesetze und Rechentricks der Addition"_ does not have a href.

[2020-04-17 23:23] elbotho commented on #100
Thanks!

[2020-04-18 08:39] elbotho commented on #59
@jakobwes could you try the new custom search: https://frontend.dal123.now.sh/ on mobile and tell me how the refinements filter (Alle Artikel, Videos …) works for you in this regard?
![image](https://user-images.githubusercontent.com/1258870/79632621-cb8bc600-8160-11ea-93a5-bf2d022f5012.png)

Thanks!

[2020-04-18 10:52] jakobwes commented on #59
@elbotho this works really well for me! In my feeling the options are a bit small compared to the other text (this could also a personal aesthetical thing which shouldn't matter), but it is intuitive that you are supposed to scroll to see the other options. Also I think the underscore helps to understand, that the focused option is one option among others and you can/are supposed to switch it.

[2020-04-18 16:48] elbotho commented on #79
It seems other content types can also do damage here (e.g. tables) so I guess we need to find a more robust solutions or fix all the the cases.

[2020-04-20 07:43] #79 closed

[2020-04-20 07:43] #84 closed

[2020-04-20 07:43] #98 closed

[2020-04-20 07:43] #100 closed

[2020-04-20 07:44] Entkenntnis commented on #99
will take a look!

[2020-04-20 07:54] elbotho commented on #61
Finally we have NGO-Status again 🎉

[2020-04-20 07:54] #61 closed

[2020-04-20 08:16] inyono commented on #86
* Matomo

[2020-04-20 09:48] #96 closed

[2020-04-20 10:02] elbotho commented on #96
Thanks for keeping that in mind!

This comment and onward discuss solutions to reduce size:
https://github.com/getsentry/sentry-javascript/issues/1552#issuecomment-457800641

[2020-04-20 10:26] Entkenntnis opened #107 "Load sentry only on error"
as pointed out here:

This comment and onward discuss solutions to reduce size:
getsentry/sentry-javascript#1552 (comment)

[2020-04-20 10:32] Entkenntnis opened #108 "Show license notice"
![grafik](https://user-images.githubusercontent.com/13507950/79742176-b9498d80-8302-11ea-930a-76a345b5b4b6.png)

It's probably not necessary to show the notice on every entity.

I would prefer to add a license notice cc-by-4.0 to the whole page and only show additional notices if the content is not cc-by-4.0. Any opinions?

[2020-04-20 11:51] inyono commented on #108
Please do the same as on Serlo.org so that users that care about the license find them in the same place. If we want to change that, we need to discuss that in detail and also validate legal requirements etc., so I wouldn’t touch that right now.

You already get all needed license information via the API for entities

[2020-04-20 11:53] Entkenntnis commented on #108
@yolo-bird are you working on this currently?

[2020-04-20 11:55] inyono commented on #107
That’s fine for now. I’d rather have some small overhead here and have consistent data (Sentry already takes care about catching errors so that errors get tracked even when JS would fail otherwise, we’d need to implement that ourselves).

[2020-04-20 12:25] #65 closed

[2020-04-20 13:33] yolo-bird commented on #108
Not exactly on this. My scope is to reduce the number of licences that are more closed than our standard licence.

I do not know the legal requirements, so I can't help you there. But on the other hand you can have a look how we handle licences for Aufgabenangaben right now. There the licence is hidden in the menu.
![Screenshot_2020-04-20 Aufgaben zu Kreisen und Kreisteilen](https://user-images.gi

[2020-04-20 14:57] Entkenntnis commented on #101
Is #111 enough for now?

[2020-04-20 15:24] inyono opened #112 "Track server errors with sentry"
see title. Errors should instead be tracked via Sentry and the user should see a general error page (404 / server error)

[2020-04-20 15:26] inyono commented on #101
Follow up from my side: #112

[2020-04-20 15:30] inyono opened #113 "Add sourcemaps"
Since we don't need to obscure our production code, we should add sourcemaps for easier debugging.

[2020-04-20 15:35] inyono opened #114 "sentry: append github commit hash to release version"
Since we probably want to use the auto-deploy process of ZEIT Now, we should add the git commit hash to the sentry release number so that we can easily find the corresponding git commit (even if we didn't increment the version). Now exposes this via `NOW_GITHUB_COMMIT_SHA` environment variable.

[2020-04-20 15:38] inyono commented on #99
The API exposes the breadcrumbs via `taxonomyTerms.path`, e.g.
[code]
In the next API release, this will also contain the navigation

[2020-04-20 15:45] inyono opened #115 "refine TypeScript types"

[2020-04-20 15:50] inyono opened #116 "move into Serlo Vercel team"

[2020-04-21 07:26] #101 closed

[2020-04-21 07:41] #99 closed

[2020-04-22 13:53] elbotho commented on #102
@Entkenntnis What do you think?
Quickfix filter empty href's in frontend, or do you have an Idea where the problem could come from?

[2020-04-22 13:59] elbotho opened #120 "Replace analytics tracking id"
Update GA_TRACKING_ID to the main Serlo one or build logic to use the real one in production

[2020-04-22 14:00] inyono commented on #120
Should only be active in production anyways. We could use an environment variable for that.

[2020-04-22 14:04] inyono opened #121 "Sharing menu doesn't use available space"
![image](https://user-images.githubusercontent.com/1508477/79991690-e0df5800-84b2-11ea-8be5-a5d2f9411f94.png)

[2020-04-22 14:04] elbotho commented on #120
Right, would  `process.env.NODE_ENV === 'production'` be enough?

[2020-04-22 14:05] inyono opened #122 "Hide "Inhalt überarbeiten" on Pages"
- [ ] Is not a link but a weird click handler
- [ ] Doesn't open the correct page

[2020-04-22 14:07] inyono commented on #120
Nah, staging deployments fulfill the same property. We should use `process.env.GA_tRACKING_ID` (or similar name) instead and only include the GA stuff if this environment variable is set

[2020-04-22 14:11] elbotho commented on #120
I use that already, but set it in `next.config.js` so it's always there.
If you feel like educating me :) Where is the place to put a condition?

[2020-04-22 15:15] inyono commented on #120
We can set it in the ~ZEIT Now~ Vercel dashboard instead. So just assume that there might be such an environment variable and check `process.env.GA_tRACKING_ID !== undefined`

[2020-04-22 16:44] elbotho commented on #120
Noice! make GA_TRACKING_ID and we have a deal :)
@inyono Should we use the same approach the sentry dsn?

[2020-04-22 16:53] elbotho opened #123 "Polish/Design new content type implentations"
- [ ] Statische und Interaktive Aufgaben (Mathe) (some collections at https://frontend.dal123.now.sh/mathe )
- [ ] Aufgaben mit Teilaufgaben (e.g. https://frontend.dal123.now.sh/30560)
- [x] Taxonomy
- [x] Video
- [x] Courses

ui this is more than I thought 😅

[2020-04-22 17:00] elbotho commented on #123
### Taxonomy
- [ ] no icons and title for exercises:
![image](https://user-images.githubusercontent.com/1258870/80010408-a97ca580-84ca-11ea-8e74-627aadfdaaa5.png)
- [ ] maybe inline icons on mobile:
![image](https://user-images.githubusercontent.com/1258870/80010667-0e380000-84cb-11ea-8d7f-051ae34ce462.png)
- [ ] increase space below header: ([source](https://frontend.dal123.now.sh/mathe/zahlen-gr

[2020-04-22 17:06] elbotho opened #124 "Improve video injection"
Replace with placeholder that once activated loads the video embed in an overlay.

[2020-04-22 17:07] elbotho commented on #123
### Video
- [ ] maybe add textlink to video below embed

[2020-04-22 17:14] elbotho commented on #123
### Courses

- [ ] implement design draft:
![image](https://user-images.githubusercontent.com/1258870/80012289-61ab4d80-84cd-11ea-9bf6-027939b1a668.png)
![image](https://user-images.githubusercontent.com/1258870/80012303-67089800-84cd-11ea-9c33-6031b491bf38.png)
![image](https://user-images.githubusercontent.com/1258870/80012313-6c65e280-84cd-11ea-98bb-b0881035c912.png)
![image](https://user-image

[2020-04-22 17:17] elbotho commented on #123
### Exercises and Collection

- [ ] make design draft

[2020-04-22 20:03] #108 closed

[2020-04-22 20:09] Entkenntnis commented on #102
very good catch - in this case, the alias is missing, but we can fallback to id

[2020-04-22 20:11] #102 closed

[2020-04-22 20:22] Entkenntnis opened #126 "disable sentry in development mode"
well, let's try and err':

![grafik](https://user-images.githubusercontent.com/13507950/80029888-bd82d000-84e7-11ea-8518-86f4affa4ac0.png)

[2020-04-23 17:33] Entkenntnis opened #128 "retrieve and show course title"

[2020-04-23 18:40] #128 closed

[2020-04-23 21:50] elbotho commented on #126
what do you think, would [that](https://github.com/serlo/frontend/issues/120#issuecomment-617896231) work for this issue as well?

[2020-04-24 08:31] elbotho opened #130 "Different styling for LicenseNotice on injected Elements"
Example: An video appears inside an article.
I want to display the video inside a `<figure>` with the `<figcaption>` containing a simple link to the License.

relates to #124

[2020-04-24 09:17] Entkenntnis commented on #126
Yes, this would work here very well.

[2020-04-24 14:55] #77 closed

[2020-04-24 14:55] #120 closed

[2020-04-24 14:55] #126 closed

[2020-04-25 14:44] elbotho opened #132 "TypeError: Cannot read property 'text' of undefined"
Found [here](https://frontend.dal123.now.sh/mathe/funktionen/wichtige-funktionstypen-eigenschaften/lineare-funktionen---geraden/aufgaben-berechnung-schnittpunkten-geraden)

[code]
![image](https://user-images.githubusercontent.com/1258870/80282853-fd2dff80-8713-11ea-8ebe-0e7bf900ddd6.png)

[2020-04-25 15:47] elbotho commented on #123
- Sometimes no feedback messages: https://frontend.dal123.now.sh/mathe/stochastik/kombinatorik/aufgaben-kombinatorik-typischen-sinn

[2020-04-25 15:47] elbotho commented on #123
- implement some feedback colors (backlog for now)

[2020-04-27 02:08] inyono commented on #116
Frontend is now deployed to https://frontend.serlo.now.sh. Deployment logs are now public. Let me know if you need access to the team for some reason (cc @Entkenntnis)

[2020-04-27 02:08] #116 closed

[2020-04-27 02:11] inyono opened #133 "redirect old alias"
- [x] `/:id` should redirect to `/:alias`, i.e. https://frontend.serlo.now.sh/1855 should redirect to https://frontend.serlo.now.sh/mathe/funktionen/wichtige-funktionstypen-eigenschaften/quadratische-funktionen---parabeln/funktionsterm-quadratischen-funktion/parabel
- [ ] /:old-alias should redirect to /:alias

[2020-04-27 02:12] inyono opened #134 "Review breadcrumbs"
Seems like the default breadcrumbs picked by the algorithm aren't the expected ones, see e.g. https://frontend.serlo.now.sh/mathe/funktionen/wichtige-funktionstypen-eigenschaften/quadratische-funktionen---parabeln/funktionsterm-quadratischen-funktion/parabel (Picks some curriculum over the taxonomoy)

[2020-04-27 02:15] inyono commented on #95
Meta Fields created by the author can now be queried via the API:
[code]

We still need to move the Normalizer / Adapter logic down to the frontend (which uses the meta fields and other revision fields to generate the actual meta data, and chooses an image by tag). Since this is specific to the web client used (and the meta tags desired), I'd rather let the frontend handle that themselves. Does th

[2020-04-27 02:54] #113 closed

[2020-04-27 03:01] #114 closed

[2020-04-27 03:49] inyono commented on #91
The API exposes the navigation data (of the active "subject") now via `navigation.data` on TaxonomyTerm as serialized JSON, e.g.
[code]

[2020-04-27 04:01] inyono opened #136 "improve GraphQL debugging experience"
If the GraphQL query fails for some reason (e.g. has an `error` property), there's just some generic 404 error. At least in Dev (and probably also in production with Sentry), we should expose the errors to the developer for a better debugging experience.

[2020-04-27 09:45] Entkenntnis commented on #5
closing this for the moment, because features for logged in users are very low prio now

[2020-04-27 09:45] #5 closed

[2020-04-27 09:50] Entkenntnis commented on #63
looks quite straight forward to add

[2020-04-27 10:03] #107 closed

[2020-04-27 10:25] Entkenntnis opened #140 "update fetcher to newest API version"
- [x] fetch meta descriptions
- [x] fetch video content
- [x] fetch navigation
- [x] process api data
- [x] refactor code

[2020-04-27 15:34] kulla commented on #86
@elbotho There is currently a section with "Google Web Fonts". Did you mean in your first post to change it?

[2020-04-27 16:43] Entkenntnis opened #142 "redirect old alias"
- [ ] `/:old-alias` should redirect to `/:alias`

In which situations does this occur?

[2020-04-27 16:46] Entkenntnis commented on #136
you can access the `/api` route directly to see the error message, which is a bit hidden, but works quite fine:

https://frontend.serlo.now.sh/api/woah

[2020-04-27 16:52] Entkenntnis commented on #134
sometimes, the curriculum paths are short-circuit and missing some entries. #141 will detect theses short-circuits and avoid them which solves this issue.

[2020-04-27 16:54] Entkenntnis commented on #132
should be fixed by #141

[2020-04-27 18:35] Entkenntnis opened #143 "add meta tags"
Articles and Applets now have `metaTitle` and `metaDescription` available, so we can add them as meta tags to the page. Need some more logic, though. (see discussion in #95 )

[2020-04-27 18:35] #91 closed

[2020-04-27 18:35] #140 closed

[2020-04-27 18:35] #132 closed

[2020-04-27 18:35] #134 closed

[2020-04-27 19:36] elbotho commented on #86
@kulla in the redesign we will probably not use Google Fonts any more, but since we still use it's more of an backlog thing that we might remove it at some point.

[2020-04-27 19:39] Entkenntnis opened #144 "handle /ggt injections"
This page is using a injection containing `/ggt`:

https://frontend.serlo.now.sh/mathe/sonstiges/interessantes/besonders-interessante-applets

This is not loading, because the url is rewritten:

https://github.com/serlo/serlo.org/blob/24016f347ffdcd7a1073ffd7435e6f77ca44791c/packages/public/server/src/public/.htaccess#L15

one possible way of solving this is to detect these urls and rewrite them h

[2020-04-27 19:42] Entkenntnis commented on #115
most part of the code is already typed, but there are some places where we need some tweaking and polishing

[2020-04-27 19:43] Entkenntnis opened #145 "add eslint"
support coding best practices by adding eslint, I would start with recommended settings: https://eslint.org/docs/rules/

[2020-04-28 09:37] #136 closed

[2020-04-28 09:38] #144 closed

[2020-04-28 19:02] inyono commented on #136
Should be fine for now. Doesn't cover production, yet, though.

[2020-04-28 19:05] inyono commented on #133
This

[2020-04-28 19:11] inyono commented on #122
Still broken for pages

[2020-04-28 19:14] inyono commented on #134
What do you mean by that? Is that a bug in the API? Please provide an example.

[2020-04-28 19:18] inyono commented on #115
At least the API fetching seemed like a big `any` (haven't looked too much into other stuff yet). I strongly recommend to add `strict: true` to the tsconfig so that any places using `any` need to be explicit about them (and therefore indicate that one needs to watch out or refine the types).

[2020-04-28 19:18] inyono commented on #142
See #133

[2020-04-28 19:24] inyono opened #149 "navigation: handle dropdowns"
The current frontend implementation seems to flatten the navigation entries, see e.g. the difference between `https://de.serlo.org/informatik` and `https://frontend.serlo.now.sh/informatik` (Neu hier? and Papierkorb should be grouped into `Bei Serlo-Informatik mitarbeiten`.

[2020-04-28 20:28] simonkoehl commented on #92
@Entkenntnis I put some more thought into this:
A) the only important and may be frequent use case for "walking up" the taxonomy is from learning content on step up to the "topic overview"
B) Generally I think it will offer orientation to our users if they can differentiate between taxonomy and content pages.

Thus imo we should highlight the next taxonomy parent only in case of A and then we shou

[2020-04-29 09:22] Entkenntnis commented on #122
On serlo.org, if you are not logged in you don't see the edit pen. Should we follow this approach and hide "Inhalte überarbeiten" on Pages?

[2020-04-29 09:36] inyono commented on #122
Fine by me until we add user authentication to the frontend

[2020-04-29 09:37] Entkenntnis commented on #134
Here:
![grafik](https://user-images.githubusercontent.com/13507950/80581606-af641080-8a0d-11ea-8270-9ce668968983.png)

FOS & BOS is not a child of Mathematik, but is shown this way in the path.

[2020-04-29 09:40] Entkenntnis commented on #133
see #142

[2020-04-29 09:47] Entkenntnis commented on #149
had some discussion with botho earlier about that and we silently agreed to leave out these dropdowns. The reason was, that the desktop implementation would be fine, but the mobile experience would be bad and we had no good idea how to make these entries visible on mobile (in addition to all the other levels of navigation)

[2020-04-29 15:56] elbotho commented on #121
@Entkenntnis the url should use the shortform with the id. (`/143602`) how would I get that? (did not find it in api response)

[2020-04-29 16:45] elbotho commented on #95
@inyono thats fine, could you maybe help me out with a link to the relevant file in serlo.org?
I get lost down there :)
I only found [this](https://github.com/serlo/serlo.org/blob/master/packages/public/server/src/module/Normalizer/src/Entity/Metadata.php) but that's about it.

[2020-04-29 17:02] inyono commented on #95
- [Adapters](https://github.com/serlo/serlo.org/tree/master/packages/public/server/src/module/Normalizer/src/Adapter) contain the implementation for the specific types
- [NormalizeViewHelper](https://github.com/serlo/serlo.org/blob/master/packages/public/server/src/module/Normalizer/src/View/Helper/Normalize.php) contains the actual logic for adding meta tags

[2020-04-29 21:18] #123 closed

[2020-04-29 21:26] Entkenntnis opened #150 "pass uuid to frontend"
fetch uuid from backend and make it available to the frontend, useful for #121

[2020-04-29 21:26] Entkenntnis commented on #121
see #150

[2020-04-29 21:27] #142 closed

[2020-04-29 21:28] #145 closed

[2020-04-29 21:31] Entkenntnis commented on #95
closing this in favour of #143

[2020-04-29 21:31] #95 closed

[2020-04-29 21:40] Entkenntnis opened #151 "remove 'Mitglied werden'"
this part of the page should be removed:

![grafik](https://user-images.githubusercontent.com/13507950/80649624-b2451c80-8a72-11ea-924f-5454503818eb.png)

[2020-05-04 08:43] elbotho commented on #151
Asked Unit Excom for more input.

[2020-05-04 10:44] #143 closed

[2020-05-04 10:53] Entkenntnis commented on #81
here are some screenshots

ex1:

![grafik](https://user-images.githubusercontent.com/13507950/80958603-98566180-8e05-11ea-94bd-db8dce41191c.png)

ex2:

![grafik](https://user-images.githubusercontent.com/13507950/80958716-b754f380-8e05-11ea-91b9-5948bba516b6.png)

ex3:

![grafik](https://user-images.githubusercontent.com/13507950/80958928-19adf400-8e06-11ea-9725-867dfcf45eb3.png)

Main problems ar

[2020-05-04 11:38] #94 closed

[2020-05-04 19:58] Entkenntnis opened #153 "GCS: some autocompletions missing that were working days ago"
Update: The form itself is working fine, the real issue is that some phrases are just missing, like "satz des pythagoras" and I am sure that they worked some days ago :question:

![grafik](https://user-images.githubusercontent.com/13507950/81007846-396b0980-8e52-11ea-9ec1-a17a60d9aa7d.png)

But results are available:

![grafik](https://user-images.githubusercontent.com/13507950/81046336-7538ba00-8

[2020-05-04 22:45] Entkenntnis commented on #86
Vercel Privacy Policy:

![grafik](https://user-images.githubusercontent.com/13507950/81020682-a4740a80-8e69-11ea-8740-76907256501b.png)

[2020-05-04 23:26] #122 closed

[2020-05-04 23:26] #133 closed

[2020-05-05 10:07] elbotho commented on #81
@Entkenntnis Thanks for the screenshot, set up an VM and I think by now I got the worst of it. Good enough for me. Maybe you can check again:
- https://github.com/serlo/frontend/pull/155
- https://frontend-git-browser-fixes.serlo.now.sh/

[2020-05-05 10:25] #81 closed

[2020-05-05 12:26] elbotho opened #157 "/serlo-geschichte not loading -> update splish-me content to edtr-io"
silently loads blank page:
https://frontend.serlo.now.sh/

[2020-05-05 13:13] Entkenntnis commented on #157
"The last of its kind". This is a page in splish-me format, which the frontend does not support (and probably will not)

@yolo-bird Can somebody edit or convert this page?

[2020-05-05 13:24] inyono commented on #157
Content composed using the Splish Editor will automatically be converted into Edtr.io State when editing / rendering (so it only needs a blank save to update the state in the Database). I can do query over the database before release so that we can find the remaining ones.

[2020-05-05 13:52] elbotho commented on #59
@jakobwes Want to try this one again? https://frontend-git-mobilemetanav-alternative.serlo.now.sh/serlo

[2020-05-05 15:27] jakobwes commented on #59
I really like it, especially on mobile where the scroll bar then disappears :)

Maybe just one point. On small desktops I feel the always visible scrollbar puts a lot of focus on the menu (the scrollbar does not fit perfectly to the other design elements I feel, because it is the only place where you see this tone of grey and the grey has more "energy" than most of the other colors). So one idea c

[2020-05-05 21:02] Entkenntnis commented on #157
yeah, lets do it this way

[2020-05-06 15:29] elbotho opened #159 "Font options"
Karmilla is in some ways not ideal:
- letter spacing is quite big, kerning not perfect
- there should be a new release of Karla at some point, but it' still not here -> development is not very active
- not many weight options

_It's a great os font with readability and some character but we might consider switching to a more professional font._

#### my options:

---

**Version 1: [System Font Sta

[2020-05-06 15:33] elbotho opened #160 "Color Accessibility"
Currently we have some areas (mainly buttons) where the contrast is a bit low according to the WCAG 2.0 AA standard.

[2020-05-06 15:41] elbotho opened #161 "Feedback: Exercises and groups"
_by wolfgang, kathi and mike(?)_ ([source](https://www.loom.com/share/8adc3091bed64ec9b14dd8c56c5e566f))

- [x] lacks structure, clearer separation between exercises
- [x] also clearer separation to solution
- [x] maybe solution more like in the editor currently (e.g. change text to "lösung einklappen")
- [x] exercise explanation should not have a colored background
- [ ] maybe reintroduce numbers

[2020-05-06 15:49] elbotho opened #162 "Feeback: iPhone usertest simon"
_by @simonkoehl, checked on iPhone_

generally smooth experience

---

- [x] **maybe align sharing button left or put it next to the headline**
Headlines might be longer than that and I's like to keep it out of the flow of the content.
Now displays next to headline on larger screens.
---

- [x] **white overlay over arrow in mobile meta navigation**

---

- [x] **No distinction between line break a

[2020-05-06 15:57] simonkoehl commented on #162
Thx @elbotho ! One remark regarding "distinction between line break and next link": I wouldn't say bullet points are my preferred solution. But in the screeshot with the bullet points there is a different distance distinction between line break and next link.

[2020-05-06 16:48] elbotho commented on #59
@jakobwes Thanks for your thorough feedback again.
The small desktop problem is actually what led to the first iteration with clickable arrows etc. so we will have to make a choice for now and improve on it going forward. I'd go with the best mobile experience for now.
@Entkenntnis what do you think?
@simonkoehl want wo check out the meta-nav on iOS https://frontend-git-mobilemetanav-alternative.s

[2020-05-06 18:38] kulla commented on #159
Reminder: The privacy revision might need to be updated (the section for the Google Web Fonts might be deleted).

[2020-05-06 18:41] Entkenntnis commented on #59
I tried the new design on firefox mobile and it works quite well except page width:

![Screenshot_2020-05-06-20-39-54](https://user-images.githubusercontent.com/13507950/81215635-eb810d80-8fd9-11ea-9ef2-c8e3177f47cb.png)

[2020-05-06 18:54] simonkoehl commented on #59
It works quite well on iOS. How about getting rid of the frame:

![Neue Sub-Navi](https://user-images.githubusercontent.com/3379377/81216810-d1e0c580-8fdb-11ea-8658-5e19114097b9.png)

[2020-05-06 20:06] elbotho commented on #59
@Entkenntnis oh no it's back again :) I'm afraid it's unrelated, but actually caused by the horizon ie11 fix.
will add a commit to solve this.

@simonkoehl Look better no question, but I'd go with the more obvious solution for now.

**For small desktops**: any great ideas? I consider a fallback, basically an unfolded no scroll version for non-touch devices (probably not super pretty but usable) or

[2020-05-06 20:37] simonkoehl commented on #59
@elbotho are you sure it is more obvious with the frame? My first intuition with the frame was "button". The fade out effect at the right hand side is the only thing that indicates the slider. And this effect is weaker with the frame imo. But I can do some testing with 3-5 people here in the house to disprove that, if you provide me with a link?

[2020-05-07 03:25] inyono opened #164 "Handle legacy backend routes correctly"
There are a couple of routes that are handled by the legacy backend instead of the aliasing, including:
- [x] de.serlo.org/spenden
- [ ] ...

We should either handle those via the Cloudflare Worker or add own pages in the frontend (which we definitely need to do in the long-term)

[2020-05-07 03:26] inyono opened #165 "Footer inconsistencies"
There are a couple of inconsistencies compared to the current footer:
- [x] GitHub link in footer should be `https://github.com/serlo`
- [x] Github -> GitHub
- [x] Mitmachen and Spenden links are swapped
- [ ] Add Twitter
- [ ] Add Facebook

[2020-05-07 03:32] inyono opened #166 "Horizon broken"
The links in the horizon at e.g. https://de.serlo-development.dev/community don't work

[2020-05-07 03:33] inyono opened #167 "Search: null in header"
The header of the search results included the string "null" after the Google logo

[2020-05-07 07:24] elbotho commented on #165
Thanks for thorough checking! 👍
I think we left out facebook and twitter because they are not actively maintained atm.
Could you elaborate on the "Mitmachen and Spenden links are swapped"?

[2020-05-07 07:40] elbotho commented on #166
I would quickfix this with hardcoded links, any objections @Entkenntnis ?

[2020-05-07 08:59] elbotho commented on #59
Okay, sind the feedback was rather positive, I merged this into the current metamenu, since there is not much difference between markup/logic now. this way we save code and markup.
I also did some changes to the layout so we can display the full menu starting from the `md` breakpoint (at 1024) which should work for most small desktops.
@Entkenntnis would you review this for me?
https://github.com/

[2020-05-07 09:02] elbotho opened #169 "Test visual design of meta menu"
from @simonkoehl (moved this here so we can close the old issue)

![Neue Sub-Navi](https://user-images.githubusercontent.com/3379377/81216810-d1e0c580-8fdb-11ea-8658-5e19114097b9.png)

[2020-05-07 09:03] elbotho commented on #59
@simonkoehl I moved your suggestion to a new issue #169 and will address after https://github.com/serlo/frontend/milestone/1

[2020-05-07 09:04] simonkoehl commented on #59
perfect, thanks!

[2020-05-07 12:08] Entkenntnis commented on #164
I would be happy if the cloudflare worker could take care of this for the moment (or maybe deleting the obsolete alias /spenden so that the worker will not recognize it as a uuid path?) What do you think?

I'll open a new issue for the donation page.

[2020-05-07 12:09] Entkenntnis opened #170 "Donation page"
The existing donation page https://de.serlo.org/spenden is coded as a standalone page. Move it into the frontend.

[2020-05-07 12:10] Entkenntnis commented on #166
hardcoding is fine for the moment

[2020-05-07 12:42] inyono commented on #165
The Mitmachen icon links to /spenden, the Spenden Icon links to /mitmachen

[2020-05-07 12:44] elbotho commented on #165
Thanks :D

[2020-05-07 14:29] elbotho commented on #162
@simonkoehl about the animation issue, you mean that touching&scrolling does not trigger the animation, the animation is only visible if you keep your finger still on the link?
If yes that is expected behaviour since there is no hover on most touch devices it only triggers on a click.

[2020-05-07 18:53] #59 closed

[2020-05-07 19:35] #165 closed

[2020-05-07 19:35] #121 closed

[2020-05-07 19:35] #150 closed

[2020-05-07 19:35] #162 closed

[2020-05-07 19:35] #166 closed

[2020-05-07 19:35] #167 closed

[2020-05-08 13:29] elbotho opened #172 "Some Exercise-Collection don't load"
e.g.
https://frontend.serlo.now.sh/mathe/funktionen/wichtige-funktionstypen-eigenschaften/exponential--logarithmusfunktion/aufgaben-exponentialfunktionen

Api returns:
[code]

[2020-05-08 13:33] elbotho opened #173 "Some formulas don't render"
e.g.
https://frontend.serlo.now.sh/mathe/zahlen-gr%C3%B6%C3%9Fen/zahlenmengen,-rechenausdr%C3%BCcke-allgemeine-rechengesetze/zahlen/gro%C3%9Fe-zahlen/aufgaben-runden-absch%C3%A4tzen-nat%C3%BCrlicher-zahlen

and
https://frontend.serlo.now.sh/mathe/zahlen-gr%C3%B6%C3%9Fen/quersumme,-durchschnitt-betrag/durchschnitt/aufgaben-berechnung-durchschnitts

[code]

[2020-05-08 13:36] elbotho opened #174 "&amp; does not display as &"
http://frontend.serlo.now.sh/mathe/zahlen-groessen/grundrechenarten/rechnen-negativen-zahlen/addition-subtraktion-ganzer-zahlen

Headline displays as **Addition &amp; Subtraktion**

[2020-05-08 13:38] elbotho opened #175 "Some formulas render partially"
![image](https://user-images.githubusercontent.com/1258870/81410908-d2936c00-9141-11ea-96fa-6ea4c4d9eab2.png)

` \pmatrix and \pmatrix` appear unexpectedly.

e.g.
https://frontend.serlo.now.sh/mathe/geometrie/analytische-geometrie/grundbegriffe-vektorrechnung/vektorbegriff/vektor

[2020-05-08 15:58] #161 closed

[2020-05-08 16:08] elbotho commented on #172
(not caused by #171 but might be caused by my meta-stuff)

[2020-05-08 18:36] #172 closed

[2020-05-10 15:49] kulla opened #177 "Use HTTP header X-SERLO-API"
With https://github.com/serlo/serlo.org-cloudflare-worker/pull/11 the cloudflare worker sends the HTTP-header `X-SERLO-API` which points to the graphql endpoint which shall be used. The frontend client should use this variable to determine the endpoint. The possible values are:

* `https://api.serlo-development.dev/graphql`
* `https://api.serlo-staging.dev/graphql`
* `https://api.serlo.org/graphql

[2020-05-11 03:05] #78 closed

[2020-05-11 07:55] Entkenntnis commented on #177
Thank you for passing down the api endpoint! Can you give me some pointers in which situations this distinction is important? This would affect how I would implement this.

[2020-05-11 08:26] inyono commented on #177
You should use the X-SERLO-API header value pretty much everywhere, where you currently use api.serlo.org (possibly using a fallback when it is not defined). With that, we can handle breaking changes in the API correctly. Furthermore, this is important in the future when we have API requests that make changes to the database. Current behaviour:
- de.serlo-development.dev has X-SERLO-API value api.

[2020-05-11 15:59] kulla commented on #164
Sorry, wrongly linked fix in https://github.com/serlo/serlo.org-cloudflare-worker/pull/16...

[2020-05-11 16:17] Entkenntnis commented on #164
should be fine closing this issue! #170 is the follow up

[2020-05-11 16:17] #164 closed

[2020-05-11 20:11] Entkenntnis opened #180 "Should we implement hotjar?"
The current system has support for hotjar, which I didn't got in touch much.

Can somebody maybe explain, for what we use hotjar and how much effort it would be to include it into the frontend? Is hotjar still relevant (e.g. compared to Matamo?)

[2020-05-11 20:14] Entkenntnis opened #181 "Newsletter-Popup"
While surfing the site, at some points a popup for the newsletter will pop up:

https://github.com/serlo/serlo.org/blob/6983e369dff10dadd6b3832bf9be489f4619435d/packages/public/server/src/module/Ui/templates/layout/partials/popup.phtml

This is currently missing in the frontend.

[2020-05-11 20:16] Entkenntnis commented on #64
As we move away from MathJax, th extensions will not be implemented, but if the features are needed probably with a matching KaTex-Extension.

Followup-Issues for the other two points: #180 #181

[2020-05-11 20:17] #64 closed

[2020-05-11 20:20] Entkenntnis opened #182 "Improve Page Performance"
Some notes from Lighthouse Audits by elbotho:

**Ideas**
- ~~Images: Different sizes, webp~~ (moved to #253)
- ~~Images: Encourage SVGs (guidelines, extra editor plugin, …?)~~
- Amount of DOM elements: Do we lazy load formulas currently? (Maybe even defer katex-font loading with rel="prefetch")
- Main thread work: Any ideas?
- TTFB sometimes quite long?

[2020-05-11 20:21] Entkenntnis commented on #87
Follow up for performance: #182, the remaining points are already handled in other issues, so closing this one

[2020-05-11 20:21] #87 closed

[2020-05-11 20:27] Entkenntnis opened #183 "Images loaded as injections should still load"
There a some articles that has warnings about images using injections. The current convert should handle these cases and show the image anyway.

Example: https://de.serlo.org/mathe/funktionen/grenzwerte-stetigkeit-differenzierbarkeit/stetigkeit/zwischenwertsatz

[2020-05-11 20:54] #183 closed

[2020-05-12 08:01] Entkenntnis opened #186 "Fix subtle react warnings"
~~`<div>` within `<p>`:~~

~~http://localhost:3000/mathe/funktionen/wichtige-funktionstypen-eigenschaften/quadratische-funktionen---parabeln/scheitelpunkt/aufgaben-berechnung-scheitelpunktes~~

Missing key prop:

http://localhost:3000/mathe/zahlen-groessen/grundrechenarten/rechnen-negativen-zahlen/addition-subtraktion-ganzer-zahlen

http://localhost:3000/mathe/zahlen-gr%C3%B6%C3%9Fen/prozent--zins

[2020-05-12 08:10] Entkenntnis opened #188 "Integrate i18next into the frontend"
This will take some careful copy-pasting from various sources and ensuring that everything works fine in our SSR/serverless context.

See #225 for a first try

[2020-05-12 08:11] Entkenntnis commented on #35
this is getting some motion in #188

[2020-05-12 08:11] #35 closed

[2020-05-12 08:14] #174 closed

[2020-05-12 08:29] elbotho opened #189 "Don't show empty course displays in Taxonomy"
Last course on this page ("Parameterdarstellung einer Ebene") does not have any pages but is still displayed here:
http://frontend.serlo.now.sh/mathe/geometrie/analytische-geometrie

[2020-05-12 08:32] elbotho opened #190 "Bug: Special characters don't show correctly"
example from [this page](https://frontend.serlo.now.sh/mathe/zahlen-gr%C3%B6%C3%9Fen/prozent--zinsrechnung/aufgaben-grundwert,-prozentwert-prozentsatz)

`8 &#128; von 4 &#128; ?` should be renders as  `8 € von 4 € ?`

probably related to #174 and needs a solution for all unicode characters (others also used `&#132;` `&#147;` e.g.)

[2020-05-12 08:44] elbotho opened #192 "Bug: 500 Element type is invalid on ex collection"
**Page**
https://frontend.serlo.now.sh/mathe/zahlen-gr%C3%B6%C3%9Fen/gr%C3%B6%C3%9Fen-einheiten/aufgaben-umrechnen-zeiteinheiten
http://localhost:3000/mathe/zahlen-gr%C3%B6%C3%9Fen/gr%C3%B6%C3%9Fen-einheiten/aufgaben-umrechnen-zeiteinheiten

**Message**

[2020-05-12 08:46] elbotho opened #193 "Collection with MC Exercises"
Just a memo for future me:
https://frontend.serlo.now.sh/mathe/zahlen-gr%C3%B6%C3%9Fen/prozent--zinsrechnung/aufgaben-grundwert,-prozentwert-prozentsatz
https://frontend.serlo.now.sh/mathe/zahlen-gr%C3%B6%C3%9Fen/gr%C3%B6%C3%9Fen-einheiten/aufgaben-umrechnen-l%C3%A4ngeneinheiten

[2020-05-12 08:46] #193 closed

[2020-05-12 09:02] elbotho opened #194 "Use readable hrefs for links"
Currently the links use the content id in the hrefs.
I'd prefer the longer full links.
@Entkenntnis Is there an elegant way to add that to the articleRenderer?
https://github.com/serlo/frontend/blob/b8460970768e23223f2176729cc4417be188ba67/src/schema/articleRenderer.tsx#L148

[2020-05-12 09:04] elbotho opened #195 "Missing Feature: Lightbox"
serlo.org has a simple lightbox to enlarge small images: [Example](https://de.serlo.org/nachhaltigkeit/anbau/gelaende-anbauplanung/pflanzenfamilien)

[2020-05-12 09:09] Entkenntnis commented on #194
unfortunately, the links are only stored as ids in the database, so the frontend is not able to do much about it (at least without doing some requests to the backend ...)

[2020-05-12 09:43] elbotho opened #197 "Use Placeholder for Video injections."
Lazy load videos by using a placeholder that replaces itself with the actual iframe on activation.

[2020-05-12 09:45] elbotho opened #198 "Bug: Exercises don't load"
First Ex loads, rest not.
http://frontend.serlo.now.sh/nachhaltigkeit/gartenkurs/anzucht-aussaat/57185

[2020-05-12 09:53] Entkenntnis commented on #189
This behaviour also appears on the existing page, its probably "intended" and can be fixes by changing the content.

[2020-05-12 10:08] Entkenntnis commented on #198
The first and last exercises show up correctly, but the remaining exercises are fetches as legacy content - which it should not, as all exercises appear as edtr-io content an the existing page. :/

Needs some more investigation ...

[2020-05-12 10:10] #192 closed

[2020-05-12 10:10] #190 closed

[2020-05-12 10:27] elbotho opened #200 "Feedback: Exercise groups"
From wolfgang und kathi:

- [x] Über Aufgabengruppen steht in blau "Aufgabengruppe", das sollte weg.
- [x] Uns beiden gefällt der hellblaue strich links nicht
- [x] Bei Aufgabengruppen würden wir die horizontaelen Striche wegmachen und statt dessen ganz - traditionell mit a,b,c, nummerieren. Das aktuell schaut schon iwie fancy aus, aber wir finden es nicht übersichtlich
- [x] Um die Nummerierung 1

[2020-05-12 10:43] elbotho commented on #189
Vote to keep open as question since this is irritating an unexpected for users.

[2020-05-12 11:22] jakobwes opened #201 "Events don't load"
On https://de.serlo.org/community/veranstaltungen/veranstaltungs%C3%BCbersicht and I think everywhere else where events are integrated, they are not displayed in the new design

[2020-05-12 11:50] Entkenntnis commented on #201
Thank you for reporting this issue! This will be implemented soon!

[2020-05-12 12:41] Entkenntnis commented on #201
This is how it looks like: https://frontend-git-fetch-events.serlo.now.sh/community/veranstaltungen/veranstaltungs%C3%BCbersicht

[2020-05-12 14:22] kulla commented on #204
@Entkenntnis I moved this issue to the frontend repository. Is this still an issue or can it be closed?

[2020-05-12 14:22] kulla commented on #203
@Entkenntnis I moved this issue to the frontend repository. Is this still an issue or can it be closed?

[2020-05-12 16:59] #201 closed

[2020-05-12 17:00] Entkenntnis commented on #203
This is related to our previous setup and can be safely closed

[2020-05-12 17:00] #203 closed

[2020-05-12 17:00] Entkenntnis commented on #204
Fortunately, we don't need to patch next.js anymore

[2020-05-12 17:00] #204 closed

[2020-05-12 17:05] Entkenntnis opened #205 "Polishing Sharing Menu"
There are two remaining issues with the sharing menu:

- [x] Mebis-Link is broken. Anyway: I do somehow remember, that there is no link, but you have to just copy the link over to mebis? Maybe disable this button as long as its not functional
- [x] Is it useful to show the sharing menu also on taxonomy pages? Any opionions? Does not look like a blocker.

[2020-05-12 18:01] jakobwes opened #206 "Exercises aren't displayed on "Lehrplan"-path in taxonomy"
See for an example here: https://de.serlo.org/mathe/deutschland/bayern/mittelschule/klasse-5/koordinatensystem-achsenspiegelung
This happens also on some other taxonomy pages, that you access via the "Lehrpläne"

[2020-05-12 18:03] jakobwes commented on #206
Remarked it first on "Lehrplan"-pages (don't want to exclude that it could happen somewhere else). But is also not always the case for example here displaying the "Aufgaben" works:
https://de.serlo.org/mathe/deutschland/bayern/gymnasium/klasse-5/nat%C3%BCrliche-zahlen

[2020-05-12 18:21] Entkenntnis commented on #206
Thank you for reporting this pages! There is definitively something wrong with the presentation.

[2020-05-12 18:23] kulla opened #207 "Missing white space after bold text"
At the site https://de.serlo.org/mathe/funktionen/ableitung-funktionen/ableitung-allgemein/ableitung there is after a bold text the whitespace missing (seen with chromium):

![2020-05-12-201311_384x176_scrot](https://user-images.githubusercontent.com/1327215/81730618-1b268e80-948e-11ea-9897-57076cc2b118.png)

The bug is that the whitespace is missing after the `<b>` tag:

![2020-05-12-202223_134x7

[2020-05-12 18:32] Entkenntnis commented on #206
@jakobwes Could you check again:

https://frontend-git-fix-curriculumfolder.serlo.now.sh/mathe/deutschland/bayern/mittelschule/klasse-5/koordinatensystem-achsenspiegelung

and

https://frontend-git-fix-curriculumfolder.serlo.now.sh/mathe/deutschland/bayern/gymnasium/klasse-5/nat%C3%BCrliche-zahlen

[2020-05-12 18:39] Entkenntnis commented on #207
Thank you, @kulla! This is indeed a bug in our legacy handler, nice catch.

[2020-05-12 18:42] Entkenntnis commented on #205
See #210

[2020-05-12 19:15] jakobwes commented on #206
Now it is displayed, but I see it two times (one time as folders, one time as tasks):

![Screenshot from 2020-05-12 21-10-07](https://user-images.githubusercontent.com/13718882/81735250-0f8a9600-9495-11ea-8853-957eee1efa22.png)

And this is a bit weird:

![Screenshot from 2020-05-12 21-11-10](https://user-images.githubusercontent.com/13718882/81735287-1fa27580-9495-11ea-90be-aaea4d681380.png)

But

[2020-05-12 19:25] jakobwes opened #211 "Too many share-buttons"
For example on the https://de.serlo.org/jobs page there are three-share-buttons: this seems a bit much (one on top, one sticky and one below)

[2020-05-12 19:27] Entkenntnis commented on #186
@elbotho The last warning is caused by this line:

https://github.com/serlo/frontend/blob/a78a9adb25e5a80e377d78c51d77856df5a13358/src/components/content/ScMcExercise.tsx#L34

I see what you are trying to accomplish and this actually rely on random numbers ... well, needs some thoughts, but is not critical atm

[2020-05-12 19:29] jakobwes opened #212 "/History-Page doesn't load"
https://de.serlo.org/serlo-geschichte
--> is it because it was developed in the old-new-editor? Should probably convert these pages before 10% phase (is really bad, when potential partners, people that wanna know about serlo-history... could see them)

[2020-05-12 19:29] Entkenntnis commented on #212
see #157

[2020-05-12 20:01] jakobwes opened #213 "Side-menu on topics"
For some reason for example in https://de.serlo.org/informatik the "Papierkorb" and "Taxonomy Bearbeiten" are displayed in the side-menu (while they are not in the old design). Not all users have access to these pages, so they shouldn't be displayed.
Also in /biologie the side-menu is far longer than in the old design (probably also is the case for some other topics)

[2020-05-12 21:06] Entkenntnis commented on #213
See #149, these entries are hidden behind a dropdown and are now flatten out as a quick solution:

![grafik](https://user-images.githubusercontent.com/13507950/81745294-dbb76c80-94a4-11ea-986d-c85b96571889.png)

You can even go two levels down:

![grafik](https://user-images.githubusercontent.com/13507950/81745392-0dc8ce80-94a5-11ea-9581-97b80f15e66b.png)

I honestly don't know if or how to organi

[2020-05-12 21:13] elbotho commented on #186
jup, was a quick fix at that point, now that I know that this annoys next and we forward the ex numbers I can find a different solution.

[2020-05-12 21:24] elbotho commented on #213
Can only speak for Nachhaltigkeit but there it's not important and badly maintained.
A page titled "Bei Serlo-Nachhaltigkeit mitmachen" that links to the other parts in the content might actually be better.

[2020-05-12 21:26] elbotho commented on #213
And everything that is only useful for authors (e.g. Papierkorb) should def. only display for logged-in users.

[2020-05-13 06:32] Entkenntnis commented on #213
Who is actually maintaining this part of Serlo? It would be cool if this person could look into this and clean this up a bit...

[2020-05-13 07:46] Entkenntnis commented on #206
Thank you for checking again! The empty exerciseGroup is stored this way in the db (and is also displayed on the old page), so not related to this issue (still hope that some author could fix this). And yes, the new order is intended, as articles and exercises are the most often used entities in the lab school.

[2020-05-13 07:47] #207 closed

[2020-05-13 07:50] #206 closed

[2020-05-13 07:51] Entkenntnis commented on #212
Closing this in favor of #157

[2020-05-13 07:51] #212 closed

[2020-05-13 08:29] Entkenntnis commented on #186
The first warning will be fixed by #214

[2020-05-13 11:59] simonkoehl opened #215 "broken link"
on https://de.serlo.org/mathe/zahlen-gr%C3%B6%C3%9Fen/grundrechenarten the link "Aufgaben Rechengesetze und Rechentricks der Addition" is broken

[2020-05-13 12:00] simonkoehl commented on #215
may be it has nothing to do with the redesign - but important never the less

[2020-05-13 12:15] simonkoehl opened #216 "improve sharing menu"
![image](https://user-images.githubusercontent.com/3379377/81811066-55db0600-9524-11ea-888a-30538849c595.png)

Suggestion for improvement:

![image](https://user-images.githubusercontent.com/3379377/81811463-f3363a00-9524-11ea-9983-2cf5ae7718a9.png)

And btw. you could do the distance between icon and text with margin instead of blank character ;)

[2020-05-13 12:43] simonkoehl opened #217 "suggestion for course page"
imo this is to much button salad and the most important one "Weiter" is not highligthed enough

My suggestion:

![image](https://user-images.githubusercontent.com/3379377/81819939-3ea21580-9530-11ea-8abd-e491ec6803f6.png)

[2020-05-13 12:51] simonkoehl opened #218 "suggestion: improve user orientation with icons"
![image](https://user-images.githubusercontent.com/3379377/81814586-40b4a600-9529-11ea-9294-0564b10cd7ff.png)

... and respective with
- Exercises
- Videos
- Courses
- Appletts

imo that would help to better distinguish between:
a) taxonomy and content
b) articles and course pages

[2020-05-13 12:58] simonkoehl opened #219 "imo we can find better icons for our types of content"
... may be even custom designs from vasiliki like the new community badges

[2020-05-13 13:06] simonkoehl opened #220 "broken solution button"
Windows 10, Brave

![image](https://user-images.githubusercontent.com/3379377/81816229-575bfc80-952b-11ea-964b-97619527cc48.png)

[2020-05-13 13:11] elbotho commented on #215
broken in serlo.org, returns blank taxonomy.

[2020-05-13 13:12] simonkoehl opened #221 "missing margin"
![image](https://user-images.githubusercontent.com/3379377/81816867-36e07200-952c-11ea-8e3c-8a37e60f5604.png)

[2020-05-13 13:13] elbotho commented on #218
Part of original design draft, so I like it ;)

[2020-05-13 13:16] elbotho commented on #221
never seen this before, could you add a link?

[2020-05-13 13:17] elbotho commented on #220
please add links.

[2020-05-13 13:19] elbotho commented on #216
Where and why?

[2020-05-13 13:20] elbotho commented on #217
Missing screenshot?

[2020-05-13 13:37] simonkoehl commented on #221
https://de.serlo.org/mathe/geometrie/dreiecke,-vierecke,-kreise-andere-ebene-figuren/kreise-kreisteile/aufgaben-kreisen-kreisteilen

2a) and type in anything in the input field

[2020-05-13 13:43] simonkoehl commented on #217
jep, now updated

[2020-05-13 13:48] simonkoehl commented on #216
The string is "[ ]Kopieren" and there seams to be no margin between text and icon

![image](https://user-images.githubusercontent.com/3379377/81820686-39919600-9531-11ea-92e3-63d67af0448c.png)

[2020-05-13 13:52] elbotho commented on #216
Okay, and why is that a problem?

[2020-05-13 13:53] simonkoehl commented on #220
in my browser this is with every solution button, e.g. on https://de.serlo.org/mathe/geometrie/satzgruppe-pythagoras/aufgaben-satzgruppe-pythagoras

[2020-05-13 13:55] simonkoehl commented on #216
May be it's not. I just noticed it is different with the other buttons and thought it might become a problem with translations if the translater misses the blank character.

[2020-05-13 16:52] elbotho commented on #221
@simonkoehl thanks! will be fixed soon.

[2020-05-13 16:57] elbotho commented on #220
super weird, can't reproduce in any browser on mac (even brave).
do you have the current version?
can anyone else reproduce?

[2020-05-14 06:30] #216 closed

[2020-05-14 06:30] #221 closed

[2020-05-14 07:54] #186 closed

[2020-05-14 08:16] elbotho commented on #157
@simonkoehl could you just open and save the https://de.serlo.org/serlo-geschichte page?
(I don't have the privileges)
Then we can move this issue out of the Milestone. Thanks!

[2020-05-14 08:17] elbotho commented on #157
@inyono If you send me a list I can take care of the conversion

[2020-05-14 08:32] elbotho opened #224 "Missing spaces after links"
![image](https://user-images.githubusercontent.com/1258870/81911827-18cb4e00-95ce-11ea-97bb-5bd5dee4635c.png)

from:
https://de.serlo.org/37455/uebersicht

[2020-05-14 08:35] elbotho commented on #205
added simple mebis logic in #222
and you added sharing to the tax pages: I like it.
Vote to close 👍

[2020-05-14 08:40] elbotho commented on #213
@Entkenntnis I **think** it's maintained by the Redaktion.
@yolo-bird could you take a look here?
I think we need a quick fix and a long term solution :)

[2020-05-14 08:41] elbotho commented on #215
@yolo-bird could you investigate?

[2020-05-14 08:45] elbotho commented on #194
@inyono would it be an option to store both the id and the full version of the hrefs in the db?

@Entkenntnis would it be an option to request the full version of the link for each link while building the page?

[2020-05-14 08:45] yolo-bird commented on #213
Quite a nice conicidence. Yesterday @jakobwes  and I hat a look at this topic and decided to solve it this way: https://de.serlo.org/biologie
So basically on the side menu there will be the taxonomy, curricula (if existent) and on button "bei Fach xy mitmachen".

We will take this approach to all other subjects next weel, so that the second level of the side navigation will be completely vanish.

[2020-05-14 08:47] elbotho commented on #194
Related Note: we should also probably add a [canonical link tag](https://de.wikipedia.org/wiki/Canonical_Link).

[2020-05-14 08:49] yolo-bird commented on #215
@elbotho works in the old design.
Yet, the topic-folder ist empty. Does this pose any problems in the redesign?

[2020-05-14 08:50] elbotho commented on #180
@yolo-bird Question to you: Is hotjar still relevant for you?

[2020-05-14 08:52] yolo-bird commented on #157
Just converted serlo.org/serlo-geschichte. -> One Issue less... :D

[2020-05-14 08:54] yolo-bird commented on #180
Hotjar is still relevant as it is used for surveys, heatmaps and other stuff. So it has features that Analytics and Matamo do not offer. However priority is quite low (unless you wanna use it to collect feedback for the redesign). This could in fact be nicely done with hotjar.

[2020-05-14 09:06] elbotho commented on #153
hmmm, still not working.
not sure what to do here, because we don't really mess with the imported script.

Public test (no custom code) shows same behaviour:
https://cse.google.com/cse?cx=016022363195733463411:78jhtkzhbhc

since the results are all there, the main setup seems to be okay too (is also basically the same as  the old version).

We have the option to manually add suggestions (and synon

[2020-05-14 09:13] elbotho commented on #213
(changes by @yolo-bird currently not visible in the new frontend for some reason)
Nice! Looks great.
Let's see if changes will be updated soon and what happens with "Papierkorb" und "Taxonomie bearbeiten".

[2020-05-14 09:16] elbotho commented on #189
@yolo-bird what do you say, is that intended?
Should we only show empty courses for logged in users or with a special label?

[2020-05-14 09:17] elbotho commented on #181
@simonkoehl how high would you prioritise this?

[2020-05-14 09:18] elbotho commented on #153
(also there is an option to integrate GCS with analytics a bit more which we don't use atm)

[2020-05-14 09:20] simonkoehl commented on #215
@yolo-bird its not related to the redesign but there seams to be a problem never the less: Have a look at the link URL, it is structured different to other taxonomy links

[2020-05-14 09:21] simonkoehl commented on #181
post release, but important

[2020-05-14 09:22] yolo-bird commented on #189
Maybe with the exception of the sandbox I would vote that it should not be possible to save empty content (articles, course, etc), as it only irritates the user.

There should be at least one sentence like "Dieser Kurs ist noch in Bearbeitung".

I just deleted the course. But good catch @elbotho

[2020-05-14 09:24] elbotho commented on #198
So how is it not a bug?
Can this be solved by updating the content?

[2020-05-14 09:29] elbotho commented on #157
Thank you @yolo-bird !

[2020-05-14 09:32] elbotho commented on #215
Like with #189 it's confusing for most users.
@yolo-bird would it be okay to not show empty folders?
Or will editors then have a problem?

[2020-05-14 09:33] yolo-bird commented on #215
@simonkoehl you're right. Also in the history certain events are missing: https://de.serlo.org/event/history/160961.
To be honest I have no idea, as in the taxonomy it has been created correctly as a topic folder.
@kulla do you have any ideas here?

[2020-05-14 09:37] yolo-bird commented on #215
When you create a curriculum you normale create empty folders first and fill them only afterwards. So it kind of makes sense to be able to create emtpy folders.

Would be more sensible for authors to have some best practices how to use the description text if an empty folder is created.

[2020-05-14 09:44] Entkenntnis commented on #198
Some investigation: take the second exercise of the group, "Tagetes", [ID 57201](https://de.serlo.org/entities/57201?format=json), requested from legacy system results (correctly) in edtr-io content:

![grafik](https://user-images.githubusercontent.com/13507950/81919178-c98a1b00-95d7-11ea-9209-695369b048fb.png)

Doing the same request through graphql results in legacy content:

![grafik](https://u

[2020-05-14 09:49] inyono commented on #198
Yep, created an issue for that: https://github.com/serlo/api.serlo.org/issues/11

[2020-05-14 09:54] inyono commented on #213
@elbotho: created an issue for that: https://github.com/serlo/api.serlo.org/issues/12

[2020-05-14 09:54] Entkenntnis commented on #173
In this two cases, the author has written latex formulas in plain text using `%% ... %%`. This is working on the existing system, because we have MathJax installed and it wiill render this formulas.

These formulas should be written using the "math"-mode in the new edtr-io

[2020-05-14 10:05] inyono commented on #194
Nope, since the alias could change (when changing the title or by moving it in the taxonomy). Instead, we should use the API for that. You can query multiple alias with one request, e.g.
[code]
If needed, we might also add that to the api itself, so that there are two content fields (one for the editor with the raw data, one for rendering with pretty urls) that one can choose between.

Shouldn't b

[2020-05-14 11:20] #86 closed

[2020-05-14 11:22] elbotho commented on #215
@yolo-bird so could we decide that empty folders only display for logged in users?

[2020-05-14 11:24] elbotho commented on #198
Thanks for investigating @Entkenntnis  and @inyono  👍

[2020-05-14 11:30] elbotho commented on #173
@yolo-bird is that something that the Convo-Team does currently?

[2020-05-14 11:36] kulla commented on #200
- [x] In der mobilen Ansicht wünsche ich mir auch Nummern neben den Aufgaben, damit andere leichter darüber reden können -> Lehrer sagt: "Löse Aufgabe XY auf der Seite ..."

[2020-05-14 12:29] Entkenntnis opened #226 "implementation of non-german instances"
Adding support for other language instances will need unexpectedly more things to be considered than I anticipated, including:

- missing i18n know-how on my part
- some complexities of the frontend (serverless deployment) and the legacy system (stretched across php and database)
- unfamiliarity with other language versions of serlo

Therefore I suggest to postpone the implementation, as we have a

[2020-05-14 13:08] simonkoehl opened #228 "sharing menu would also make sense for taxonomy pages"

[2020-05-14 14:18] yolo-bird opened #229 "Input-exercise: check out with enter"
To see whether your answer is right or wrong, you have to click with the mouse on "Stimmts".
Would be nice to use enter as well.

[2020-05-14 14:19] yolo-bird commented on #173
This behaviour is known in the Convo-team and we will fix it when we convert these entities.

[2020-05-14 14:26] elbotho opened #230 "old assets?"
Currently we use this src for the partner logos on landing:
`https://packages.serlo.org/serlo-org-static-assets@1/de/home/logo-beisheim.png`
Is that safe or should we move them into this repo?

[2020-05-14 14:34] elbotho opened #231 "Too many breadcrumb items"
![image](https://user-images.githubusercontent.com/1258870/81947328-b5a6df00-9600-11ea-90ff-2e96042b572b.png)

[2020-05-14 14:37] elbotho commented on #173
Okay, will close this, because it's a known problem and should not be fixed in the frontend.

[2020-05-14 14:37] #173 closed

[2020-05-14 14:43] elbotho commented on #175
This also breaks in the new editor, so I guess this will be solved by the Convo-Team.
@yolo-bird could you confirm?

**Editor Screenshots**
![image](https://user-images.githubusercontent.com/1258870/81948359-efc4b080-9601-11ea-9fea-b1e00fd63b64.png)
![image](https://user-images.githubusercontent.com/1258870/81948343-eb989300-9601-11ea-9eff-73c2ef4d7b67.png)

[2020-05-14 15:13] elbotho opened #233 "Applet title and text not loading"
**Examples:**
https://de.serlo.org/mathe/geometrie/satzgruppe-pythagoras/satz-pythagoras---zusammenhang-fl%C3%A4chen-seiten
http://localhost:3000/mathe/geometrie/konstruktion-geometrischen-objekten/konstruktion-regul%C3%A4ren-sechsecks

[2020-05-14 15:14] elbotho opened #234 "title attribute on FontAwesomeIcon results in warning"
[code]

how could I solve this?

[2020-05-14 15:25] kathongi commented on #175
Hey botho, we'll fix such problems in the convo project. There we find weird LaTeX Code quite often :D \pmatrix works. But changing the font doesn't.

[2020-05-14 16:01] yolo-bird commented on #213
For all main subjects the side navi has been reduced to one level now.

[2020-05-14 17:09] simonkoehl opened #236 "missing description for sub-topic"
Like with videos imo sub-folders should have a description, too. e.g. "Themen" or may be better "Teilbereiche"

![image](https://user-images.githubusercontent.com/3379377/81965488-65d41200-9618-11ea-91b1-7086e7dd2352.png)

[2020-05-15 07:16] elbotho commented on #236
How about "Bereiche"?

[2020-05-15 08:05] elbotho commented on #175
@kathongi nice! But could you confirm that \pmatrix does work?
In the editor (and the new frontend) I see the `\pmatrix` code in red. Maybe there is still a bug hidden somewhere?

[2020-05-15 09:06] kathongi commented on #175
pmatrix is used wrong here. To create a vector or matrix you use \begin{pmatrix}...\end{pmatrix}. That was the problem.

[2020-05-15 12:30] elbotho commented on #175
thank you @kathongi and convo heroes

[2020-05-15 12:30] #175 closed

[2020-05-15 12:57] elbotho commented on #228
@Entkenntnis working on this (over here https://github.com/serlo/frontend/pull/232/commits/b622a28b6994b2f166b5ebcd07f57835fa1a3913) I cannot get the ID for the taxonomy pages, so I'm falling back to the `window.location.href`.
Works for now. But that's an API thing, right?

[2020-05-15 14:07] #170 closed

[2020-05-15 14:40] Entkenntnis commented on #234
Ok, fontawesomeicon is also creating random ids that are not stable across server and client - and is only using them when you add a title ...

Would it suffice to wrap the icon in a span and add the title to the span?

[2020-05-15 15:21] simonkoehl commented on #236
yes!

[2020-05-15 15:27] simonkoehl opened #237 "differentiate learning content from sub-folders in taxonomy"
For user orientation it might help to differentiate how
a) learning content
b) sub-folders
are designed within the taxonomy, so that user can tell them appart more easily.

Unfortunately I have no suggestion, how to do that..

[2020-05-15 17:03] elbotho commented on #234
prefect quickfix, thank you!

[2020-05-15 17:03] #234 closed

[2020-05-16 20:24] #211 closed

[2020-05-16 20:24] #228 closed

[2020-05-16 20:24] #229 closed

[2020-05-16 20:24] #231 closed

[2020-05-16 20:24] #236 closed

[2020-05-16 20:28] Entkenntnis commented on #188
Closed because of #226

[2020-05-16 20:28] #188 closed

[2020-05-16 20:45] Entkenntnis commented on #233
Huch :grin:, will take a look at this

[2020-05-16 20:47] Entkenntnis commented on #224
interesting, will investigate this

[2020-05-16 20:50] Entkenntnis commented on #205
should be done by now

[2020-05-16 20:50] #205 closed

[2020-05-18 11:13] Entkenntnis opened #238 "Features for authenticated users (overview)"
Here is an overview of additional features that are necessary to support authenticated users in the frontend:

- Authentification itself can be handled by the legacy system, but the frontend needs to know which permissions it has, so it can show/hide the appropriate menu entries.

- The header menu needs a additional notification icon, profil entry and "anmelden" should turn to "abmelden": (and ch

[2020-05-18 11:26] elbotho commented on #238
What about the notifications?

[2020-05-18 11:58] Entkenntnis commented on #238
@inyono Do you have some ideas how we would handle this? Or can you estimate how much effort it would be to support these two features?

[2020-05-18 15:05] inyono commented on #238
Basically the same approach for all user-specific features:
- Generate a OAuth Token via Hydra (Anna and I can implement the basic workflow and someone else can make it pretty)
- Include the token when talking to the API, add specific queries / mutations (eg notifications, createRevision, ...). We need a prioritized list of desires features that we can implement one after another

[2020-05-18 15:08] inyono commented on #226
We shouldn’t underestimate the effort to add i18n support to an app that wasn’t build with i18n in mind. It is going to get only more complicated for every feature we add without i18n support. So I wouldn’t push this too far into the future.

[2020-05-18 19:02] Entkenntnis commented on #226
That's very true. So it'll be worthwhile to start with some architectural thoughts ...

Whats bugging me a bit at the moment is that the current system has many different levels of translations:

1. php gettext and the .po files (ui strings)
2. The different landing pages (de, en, default) with hardcoded strings
3. Translations from the database (menus, content)
4. This file: [src/config/autload/g

[2020-05-18 19:12] Entkenntnis commented on #233
Very good catch, the title and the content were indeed missing in the fetcher.

[2020-05-18 19:13] Entkenntnis commented on #224
Never be lazy and take shortcuts :grinning: , is fixed now

[2020-05-18 19:51] inyono commented on #226
TL;DR: just ignore the legacy system since you don't work with that (you have the API for this)

You can ignore that completely since the frontend replaces the old Ui.

Again, just do whatever you currently do in the redesign. In the legacy system, we had basically a default fallback landing page that could be customized if you wanted something special. Might need the same behavior in the redesign

[2020-05-19 08:05] elbotho opened #240 "GCS does not alter history so back navigation does not work"
navigating away from search results makes it impossible to back to them. super annoying.

[2020-05-19 09:00] Entkenntnis commented on #226
Thank you for the comments on the legacy system. The meaning of "ignore it" in this context basically means "rebuild it from scratch"? I was hoping to take over at least some part of the existing architecture ... (and not having to rebuild everything)

This issue now comes down to designing a new i18n system for serlo.org. This is more challenging, but that's OK. I will start to make some plans an

[2020-05-19 09:37] elbotho commented on #195
@yolo-bird can you confirm, that this is not working with new-editor content anymore at the moment?
(I mean in the old design)

[2020-05-19 09:49] inyono commented on #226
Pretty much, yeah. There's not much architecture you can take over since the current architecture (except i18next) is tied to PHP. Furthermore, there is not much architecture to take over, anyway, since most of the integration is just declaring strings as translatable (and this is completely dependent on which strings you use in your UI).

Not sure what you mean by designing. We need to integrate

[2020-05-19 12:17] elbotho commented on #149
closing this in favour of #213

[2020-05-19 12:17] #149 closed

[2020-05-20 08:49] elbotho commented on #194
@inyono what solution do you prefer?
- a call to the api for the links in the content
- or adding the readable urls to the api?

[2020-05-20 08:50] inyono commented on #157
@elbotho Okay, just run a database migration that automated most of the conversions for entities (did forget pages, though, sorry about that. Going to add that in the next update). Remaining entities:
- /124741 needs to be updated once
- /132698 uses some features that the new Editor doesn't support (namely inline code). Can't do too much about that at the moment :/
- There are a couple of older r

[2020-05-20 08:54] elbotho commented on #157
@inyono Nice, thank you! 👍
I'll check the pages and then close this issue.

[2020-05-20 08:56] inyono commented on #194
Depends:
- If you need the functionality in other places, too (e.g. to prettify the URLs from the navigation or other places where you just have the id), we should probably do it in the frontend with a dedicated Link component that is able to handle this stuff (so we can just use them whenever we need pretty URLs).
- If not, and it's really only the content, I don't care too much. Probably still n

[2020-05-20 09:21] elbotho opened #245 "Code is not displaying, Informatik somewhat unusable"
Subject Informatik uses code-blocks from the old editor, e.g.
https://de.serlo.org/informatik/algorithmen/robot-karol/wiederholungen

Currently those are not displayed in the new design, which makes a lot of content currently unusable.
@yolo-bird do you know if and when those will be converted?

---

Also there is a course that uses inline-code, which is currently not supported in the new editor:

[2020-05-20 09:22] elbotho commented on #157
small follow up in #245
rest is okay for now imo.

[2020-05-20 09:22] #157 closed

[2020-05-20 09:30] elbotho commented on #63
@kulla do you have experience with this?
what other attributes would make sense?

[2020-05-20 09:31] elbotho commented on #151
stale, will open new issue when decision is clear

[2020-05-20 09:31] #151 closed

[2020-05-20 10:23] kathongi commented on #245
We are converting codes in the convo project one by one depending on the content type. At the moment we're only converting exercises and exercise groups. Following that, we will focus on articles and later courses. So it can take some time until we have converted all code boxes.

Today I converted https://de.serlo.org/73016 which contains code blocks. But even this code doesn't display correctly i

[2020-05-20 12:52] Entkenntnis commented on #245
Code blocks are indeed missing, I will add them soon

[2020-05-20 14:49] elbotho commented on #245
@Entkenntnis tell me when I can support.

[2020-05-22 08:42] #224 closed

[2020-05-22 08:42] #233 closed

[2020-05-22 08:50] #181 closed

[2020-05-22 09:19] #88 closed

[2020-05-22 09:19] #153 closed

[2020-05-22 09:19] #240 closed

[2020-05-22 09:25] Entkenntnis opened #248 "Forward `/search` to frontend"
The frontend also provides a separate search page now, also on `/search`

@kulla Once again :grinning: : Could you please add this route to the cloudflare worker? Thanks!

[2020-05-22 09:38] Entkenntnis opened #249 "edtr-io converter wraps ul in paragraph"
This happens on the page http://localhost:3000/jobs at "Praktikum für (Lehramt-) ..." and results in a react dom validation warning

[2020-05-22 09:42] Entkenntnis opened #250 "implementation of equations plugin"
A new equation plugin arrived:

https://de.serlo.org/2327
https://de.serlo.org/2369
https://de.serlo.org/2589
https://de.serlo.org/7073

~~Will add the basic scaffolding for it (https://github.com/serlo/serlo.org/blob/master/packages/private/edtr-io/src/plugins/equations/renderer.tsx)~~ done

[2020-05-22 09:54] Entkenntnis commented on #213
Thank you all for working on this! This looks resolved now.

[2020-05-22 09:54] #213 closed

[2020-05-22 10:22] #197 closed

[2020-05-22 11:12] inyono commented on #249
This seems to be a Frontend-only issue, https://de.serlo.org/jobs works fine.

[2020-05-22 11:32] Entkenntnis commented on #249
it can be reproduced on serlo.org:

![grafik](https://user-images.githubusercontent.com/13507950/82663718-83b10080-9c30-11ea-9b8c-3bb22662a3fb.png)

A list is wrapped in a paragraph, causing dom validation warning - but it's visually not noticable

[2020-05-22 11:59] Entkenntnis commented on #250
Ok, the basic implementation is done, previews:

https://frontend-git-equations-plugin.serlo.now.sh/2327
https://frontend-git-equations-plugin.serlo.now.sh/2369
https://frontend-git-equations-plugin.serlo.now.sh/2589
https://frontend-git-equations-plugin.serlo.now.sh/7073

2327:

![grafik](https://user-images.githubusercontent.com/13507950/82665446-1901c400-9c34-11ea-86b1-e161bf1f4f91.png)

2369:

[2020-05-22 12:17] elbotho opened #253 "Performance: Responsive Image sizes, webp support"
Imo we need at least 1-2 optimized "thumbnail"-sizes and webp support to have good performance.

My idea to make it as easy as possible for us is to use some combination of cloudflares [image resizing](https://developers.cloudflare.com/images/) and [Polish(image optimization)](https://support.cloudflare.com/hc/en-us/articles/360000607372-Using-Cloudflare-Polish-to-compress-images) to provide the i

[2020-05-22 12:21] elbotho commented on #182
@yolo-bird are SVGs explicitly encouraged in the guidelines atm?

[2020-05-22 12:25] Entkenntnis commented on #245
@elbotho Do you want to take over #254?

[2020-05-22 12:26] yolo-bird commented on #182
Not at the moment. Is the technical reason for preferring SVG's that they adapt better to different screen sizes and resolutions? Or why are the better than the other image formats?

[2020-05-22 12:31] elbotho commented on #250
@Entkenntnis okay! Could you write 1-2 sentences what I should do here?

[2020-05-22 12:32] elbotho commented on #245
jup! (and thanks for saving informatics :) )

[2020-05-22 12:37] elbotho commented on #182
For Images that are exported from vector-graphic software (e.g. inkscape) and all images that mostly consist of shapes, lines, color-areas and text SVGs are vastly superior:
- Smaller file size
- only one file needed for all screen sizes (lossless scaling)
- resulting file is still editable and could be improved/translated by another author

[2020-05-22 12:49] Entkenntnis commented on #250
I would envision something like this (taken from KA):

![grafik](https://user-images.githubusercontent.com/13507950/82668969-d8f20f80-9c3a-11ea-96a3-77a8fe0480f5.png)

For the start, some more horizontal space is probably all we can do...

[2020-05-22 13:00] Entkenntnis commented on #250
@yolo-bird @kathongi Do you have ideas or drafts how to improve the equations-plugin?

[2020-05-22 13:11] yolo-bird commented on #182
Habe das in die Richtlinie aufgenommen: https://de.serlo.org/community/hilfe-bearbeitung/richtlinien-inhalten/bilder-grafiken

Passt das so? (Der Absatz ist ganz oben im Bereich Bilder auf serlo.org einbinden)

[2020-05-22 13:18] yolo-bird commented on #250
@Entkenntnis We will have a session in the first week of june to discuss further improvements of the equations-plugin. Currently there is a poll in p_convo on slack for the exact date. So feel free to join if you are interested.
To avoid unnecessary work I think you should postpone further work until the session takes place.

[2020-05-22 13:20] yolo-bird commented on #195
@elbotho Currently there is no plugin that allows to to put two or more images next to each other.
Does that solve your question?

[2020-05-22 14:45] inyono commented on #253
Not feasible right now, since Business is already at 200$/month/domain.

Probably need to handle that ourselves for now (e.g. API route that gets the original image and uploads original + some optimized variants)

[2020-05-22 15:07] inyono commented on #249
I don't get a validation warning on https://de.serlo.org/jobs, also `p ul` gets no match.

[2020-05-22 17:43] elbotho commented on #195
Ahh, very good point @yolo-bird :)

[2020-05-22 17:44] elbotho commented on #250
Okay I will only add some spacing for now.

[2020-05-22 17:46] elbotho commented on #182
@yolo-bird thank you! I like it, only one concern: now it sound like it's always a good idea to use SVG, but e.g. for photos it's a terrible choice.

**Very Simplified:**
Photos: JPEG
Vectors: SVG
In-between: PNG

[2020-05-22 17:50] elbotho commented on #253
@inyono Thanks for checking, was not sure what tier we were on.

Then we could start with Polish for lossy and webp image optim. That would be a very good start and should be available to us:
https://support.cloudflare.com/hc/en-us/articles/360000607372-Using-Cloudflare-Polish-to-compress-images

[2020-05-22 17:54] elbotho commented on #253
@inyono you are def. right about the timeline.
That's why I was exploring things were I could do most of the work. I will investigate polish and check if we can have webp support with little work.

For sizes there are also options with the Google Cloud, that we could look into but a bit more involved so something for the future for sure.

Starting points for that approach: [1](https://blog.albert-

[2020-05-22 18:16] elbotho opened #255 "Informatic community page does not load"
check:
https://de.serlo.org/informatik-community-neu-hier

No content visible:
![image](https://user-images.githubusercontent.com/1258870/82697402-27b69e00-9c69-11ea-919f-38c637829f7f.png)

[2020-05-22 18:32] elbotho commented on #253
Okay! Polish is indeed active. Nice.

@inyono Now if you find the time you could also flip the switch for webp support.
https://support.cloudflare.com/hc/en-us/articles/360000607372-Using-Cloudflare-Polish-to-compress-images#12345685
(by default only for browser that support it, no changes in the old or new frontend should be needed)
should be super easy only there is a warning I don't fully under

[2020-05-22 18:36] elbotho commented on #195
Closed until there is support for image columns in the new editor.

[2020-05-22 18:36] #195 closed

[2020-05-22 19:08] inyono commented on #253
@elbotho was already enabled. This is only active for `serlo.org` though, since this is the only domain we have on a Pro plan.

[2020-05-22 19:34] elbotho commented on #253
@inyono thanks for checking.
Weird! The only pages where I could find webp images being served were static pages on serlo.org old frontend (landing page/donations page, just the partner logos) and the icons that are loaded via jquery in the profile MVP (e.g. [this](https://packages.serlo.org/serlo-org-static-assets@2/feature-prototypes/donation-profiles/reviewers.png))

One (weak) theory: The cach

[2020-05-22 19:41] elbotho commented on #253
Okay found the problem:

([source](https://support.cloudflare.com/hc/en-us/articles/360000607372-Using-Cloudflare-Polish-to-compress-images#12345685))

[2020-05-22 21:28] elbotho commented on #250
Looks okay for me.
@Entkenntnis can't reproduce the bugs in your screenshots (other ID's I guess)

[2020-05-23 08:07] Entkenntnis commented on #255
@yolo-bird This page is splish-me. Can you open it in the editor once and convert it?

[2020-05-25 08:27] yolo-bird commented on #255
Converted @elbotho

[2020-05-25 08:39] elbotho commented on #255
Thank you both!
Nice, works now.

[2020-05-25 08:39] #255 closed

[2020-05-25 09:50] Entkenntnis opened #256 "gendering on landing page"
Two small gender fixes for the landing page:

LehrerInnern -> Lehrkräfte
AutorInnen -> Autor*innen

[2020-05-25 11:51] Entkenntnis opened #257 "upgrade next.js to version 9.4"
so far no breaking changes, but we can use some new features:

- built-in fetch (replacing isomorphic-unfetch)
- absolute imports and aliases
- new environment variable features

[2020-05-25 12:04] Entkenntnis opened #258 "simplify intermediate frontend content format"
the current format used by converter and render has some features regarding slate compatibility that are not relevant anymore, especially empty text nodes or empty children arrays.

The intermediate format is mainly used for compatibility with legacy content and can be further simplified (or removed) when all legacy content is converted.

[2020-05-25 12:21] Entkenntnis opened #259 "client side navigation"
It's probably worth to give client side navigation another try and test performance and UX, especially as we have a new infrastructure and cache mechanisms

[2020-05-25 12:26] Entkenntnis opened #260 "review sentry integration"
There are no sentry events with the new frontend. It's maybe worth reviewing the sentry integration.

[2020-05-25 12:36] Entkenntnis opened #261 "complete input exercise implementation"
Some bits are missing from input exercises:

- normalize input
- InputExpressionEqualMatchChallenge (algebra.js)

https://github.com/edtr-io/edtr-io/blob/master/packages/plugins/input-exercise/src/renderer.tsx

[2020-05-25 13:29] inyono commented on #198
Will be fixed in the next server update.

[2020-05-25 13:29] #198 closed

[2020-05-25 13:31] inyono commented on #213
FYI: we decided to handle the purging of the navigation cache manually for now (since we don't have updates very often and the changes are small, so annoying to cache). Let me know if I should reset the cache.

[2020-05-25 13:34] Entkenntnis opened #262 "course broken"
Reported by Nish:

Not all pages of the course "Vektoren" https://de.serlo.org/43174 are loading.

More explizit, the pages:

Was ist ein Vektor? (1/4) (https://de.serlo.org/mathe/geometrie/analytische-geometrie/grundbegriffe-vektorrechnung/vektorbegriff/einf%C3%BChrung-vektorbegriff-(vektoren-ebene-)/vektor?-(1/4))
Was ist ein Vektor? (2/4) (https://de.serlo.org/mathe/geometrie/analytische-geomet

[2020-05-26 07:28] #248 closed

[2020-05-26 09:23] yolo-bird commented on #213
Resetting the cache would be quite nice, as I altered the side navi of 5+ subjects. Thanks!

[2020-05-26 09:56] Entkenntnis opened #263 "Simplification of role management: How shall it be?"
what is the current state of the role management? Do we want to simplify it, especially in regard of implementation in the new frontend?

[2020-05-26 09:58] Entkenntnis opened #264 "horizon maintainance"
The horizon is currently hard-coded, and some entries are missing. Should be complete it or are there other plans for the space below pages?

[2020-05-26 12:35] elbotho commented on #263
Current roles.
https://de.serlo.org/107863

@yolo-bird any opinion from the redaktion?

[2020-05-26 12:41] elbotho commented on #262
There is a `?` in the url that is not escaped.
(potential security issue?)
`/vektor?-(1/4)` should be `vektor%3F-(1/4)`

Could that be a bug in the API @inyono ?

Also the URLs are a mess anyway :)

[2020-05-26 12:44] elbotho commented on #189
okay closed in favour of https://github.com/serlo/serlo.org/issues/420 than, thank you @yolo-bird !

[2020-05-26 12:44] #189 closed

[2020-05-26 13:20] kulla commented on #63
@elbotho Yes I have some experience with schema.org and I can help with this issue.

[2020-05-26 13:26] yolo-bird commented on #263
Already talked about this with @kulla half an hour ago. We want to simplify it, in the sense that we are going to reduce the number of roles and make them more modular. We will talk about it in the next meeting of u-begleitung in three weeks and then can come to you with more concrete ideas. Does this suit your plans?

[2020-05-26 13:49] kulla commented on #263
@Entkenntnis @inyono An addition to the comment by @yolo-bird: The current idea for the new role system is

![roles](https://user-images.githubusercontent.com/1327215/82908418-3b634c80-9f68-11ea-95d9-921fb9d5a986.png)

This is only a first idea and it is probable that it changes in the next meeting by U Begleitung. However now we have an idea how the new role system might be. Note that the roles i

[2020-05-27 07:59] inyono opened #266 "Don't remove license of exercises"
see https://github.com/serlo/frontend/blob/master/src/fetcher/createLicense.tsx#L1

This won't work since the exercise license might be different to the license of the solution. In fact, this is pretty much the only place where we won't have CC BY-SA for everything (e.g. exercise itself has a custom license because it's an exam exercise, solution is CC BY-SA because it was created by us).

[2020-05-27 08:11] Entkenntnis commented on #266
Oh, this line has some context that is unfortunately not explained there: The default behaviour for injections is to render a license if present. Because exercises render license by themself, the fetcher exludes the license so that the page is not showing the license twice.

[2020-05-27 08:12] #249 closed

[2020-05-27 08:24] #250 closed

[2020-05-27 08:30] Entkenntnis commented on #177
This issue is stale and can be closed.

[2020-05-27 08:30] #177 closed

[2020-05-27 08:32] #245 closed

[2020-05-27 11:36] yolo-bird commented on #182
@elbotho
Thanks for the feedback! Do you mind editing the guideline yourself? Your technical understanding is more profound than mine. Also a practical and simplified approach as above is probably the best for authors.

[2020-05-27 11:37] inyono commented on #266
Okay, makes sense :)

[2020-05-27 11:37] #266 closed

[2020-05-28 10:24] simonkoehl commented on #218
suggestion: put icon behind the title?

![image](https://user-images.githubusercontent.com/3379377/83130153-2b6d7900-a0de-11ea-8416-d6600d0f0d84.png)

[2020-05-28 10:31] simonkoehl commented on #218
And two issues regarding the taxonomy icon:
1) the titel "Zahlen und Größen" seams to have the wrong icon. It's thw one for topic-folders, but it should be the one for "Bereiche"
2) Logically "Grundrechenarten" should have an icon. too. But imo we should get rid of icons for topics - which also helps to distinguish them from learning content. That would als solve 1)

![image](https://user-images.g

[2020-05-28 10:41] simonkoehl commented on #218
consequently, this

![image](https://user-images.githubusercontent.com/3379377/83131532-404b0c00-a0e0-11ea-8d4a-1ee76752b4d5.png)

would look like this:

![image](https://user-images.githubusercontent.com/3379377/83131686-843e1100-a0e0-11ea-8b6b-61220d8a108f.png)

[2020-05-28 10:53] elbotho commented on #218
@simonkoehl d'ac­cord with smaller icons, check out:
https://frontend-git-content-type-icons-minor.serlo.now.sh/mathe/zahlen-gr%C3%B6%C3%9Fen/prozent--zinsrechnung
https://frontend-git-content-type-icons-minor.serlo.now.sh/mathe/zahlen-gr%C3%B6%C3%9Fen/prozent--zinsrechnung/prozent

[2020-05-28 11:03] simonkoehl commented on #218
looks goo! (realy cool, how fast you we can build these live previews now)

except one thing: The topic folder (Aufgaben) icon should also be behind the title. e.g.: https://frontend-git-content-type-icons-minor.serlo.now.sh/mathe/zahlen-gr%C3%B6%C3%9Fen/quersumme,-durchschnitt-betrag/durchschnitt/aufgaben-berechnung-durchschnitts

[2020-05-29 07:52] yolo-bird commented on #182
Just gave it anonther shot myself @elbotho
-> https://de.serlo.org/community/hilfe-bearbeitung/richtlinien-inhalten/bilder-grafiken

[2020-05-29 08:38] elbotho commented on #182
Thank you @yolo-bird I like it!

[2020-05-29 08:47] elbotho opened #271 "x-robots-tag: noindex"
Currently Vercel (I guess) sends out a `x-robots-tag: noindex` for the redesign, even on `serlo.org`
@Entkenntnis Is that on purpose? When should we change that?

[2020-05-29 09:05] inyono commented on #271
That's not intended. Seems like `frontend.serlo.now.sh` is not considered as the production domain. I'm gonna add `frontend.serlo.org` as the production domain (which will not add the custom header)

[2020-05-29 09:14] inyono commented on #271
Fixed

[2020-05-29 09:14] #271 closed

[2020-05-29 09:31] elbotho opened #272 "Weird: wrong images get loaded"
In this table the colors are different from the same table in the old design:
https://de.serlo.org/community/hilfe-bearbeitung/richtlinien-inhalten/bilder-grafiken#SerloFarben

[2020-05-29 09:33] elbotho commented on #271
Nice!
@inyono You are awarded with a nice 💯SEO!
![image](https://user-images.githubusercontent.com/1258870/83244852-3852a100-a1a0-11ea-8128-9ad715ef4fb0.png)

[2020-05-29 10:07] inyono commented on #272
Seems like SSR is okay, but something is wrong on the client side (or caching, who knows): If I make a hard reload, I notice that the correct colors are shown shortly and then change to the wrong colors.

[2020-05-29 10:08] inyono commented on #272
Yep, deactivating JS has the same effect.

[2020-05-29 11:57] inyono commented on #271
cc https://github.com/serlo/serlo.org-cloudflare-worker/issues/22

[2020-05-29 14:44] inyono opened #273 "Interactive exercises don't show feedback"
See e.g. the first exercise on de.serlo.org/mathe (sc-mc exercise). Might also be the case for input exercises.

[2020-05-30 08:04] #194 closed

[2020-06-02 08:16] elbotho commented on #230
inyono: does not really matter

[2020-06-02 08:16] #230 closed

[2020-06-02 09:38] #218 closed

[2020-06-02 09:39] #97 closed

[2020-06-03 07:57] inyono commented on #260
There are now some events in Sentry.

[2020-06-03 07:57] #260 closed

[2020-06-03 08:00] inyono commented on #256
Reopened since there are still a couple of mis-gendered nouns. (LehrerInnen, MitherausgeberIn, SchülerInnen, AutorIn)

[2020-06-03 12:44] #257 closed

[2020-06-04 07:04] Entkenntnis opened #277 "Error while loading articles"
Trying to load articles on localhost results in this error message:

![grafik](https://user-images.githubusercontent.com/13507950/83725333-0cbd3400-a642-11ea-806a-6ff88bfe0a78.png)

It happens with any article, e.g.

http://localhost:3000/1627

[2020-06-04 07:07] elbotho commented on #277
Linked to https://github.com/serlo/api.serlo.org/issues/17
@inyono will take a look at it

[2020-06-04 07:08] elbotho commented on #277
(but you can too obviously :) )

[2020-06-04 07:08] Entkenntnis opened #278 "Multimedia plugin should respect width-setting"
Due to some history reasons, the multimedia is not respecting the width setting, but now this should be easy to add:

![grafik](https://user-images.githubusercontent.com/13507950/83725859-ee0b6d00-a642-11ea-9039-286f21321706.png)

This image should be 50% instead of the hard-coded 25%

[2020-06-04 08:11] inyono commented on #277
Was a problem with the cache in staging. Still: we should probably handle such errors more gracefully and don't fail completely.

[2020-06-04 08:15] sentry-io[bot] opened #279 "Error: SecurityError: Failed to read the 'localStorage' property from 'Window': Access is denied for thi..."
We should handle the case when local storage is not available (e.g. private mode).

Sentry Issue: [FRONTEND-12](https://sentry.io/organizations/serlo/issues/1706906978/?referrer=github_integration)

[code]

[2020-06-04 09:21] kulla opened #280 "Complete the horizon data"
In the file https://github.com/serlo/frontend/blob/master/src/data/horizon.tsx all the current horizon ads of Serlo need to be added.

[2020-06-04 09:23] kulla commented on #264
I have got the following feedback from the lama meeting: The horizon shall stay. It might be the case the place will be used differently (for example to make the community more visible in the project community upgrade). However, this will be discussed in the projects and is nothing we have to care about yet. Also the horizon can be hard coded in the frontend. A management tool is not necessary. Fo

[2020-06-04 09:23] #264 closed

[2020-06-04 10:33] Entkenntnis commented on #278
Fixed in #281

@inyono Is it possible, that the content of serlo-staging.dev differs from our live data? Because I am getting different content on localhost for `/jobs`

[2020-06-04 10:37] inyono commented on #278
Yes, see serlo-staging.dev. Data is reset nightly to an anonymizes version of the production data. I probably need to also reset the cache nightly, then (which isn’t done yet)

[2020-06-04 10:39] inyono commented on #278
cc https://github.com/serlo/api.serlo.org/issues/18

[2020-06-04 12:09] Entkenntnis opened #282 "Provide canonical element to avoid google indexing props"
Mirror of https://github.com/serlo/serlo.org/issues/274, will be relevant for the frontend as well.

[2020-06-04 12:13] Entkenntnis commented on #262
@inyono Is it intended that an alias is allowed to contain question marks? If this is the case, I would look through the api fetcher and add proper escaping. (I hope, slashes are forbidden :eyes:  )

[2020-06-04 12:28] inyono commented on #282
We don't use any query params in the frontend so far. When we add some, this will be revelant.

[2020-06-04 12:32] inyono commented on #262
That's currently possible, yes. Seems like we don't handle that correctly in the API so far, we should probably url-encode the alias.

[2020-06-04 12:33] inyono commented on #262
cc https://github.com/serlo/api.serlo.org/issues/19

[2020-06-04 12:47] inyono commented on #262
Okay, just checked: `document.location` also reports the url-encoded path. Is it fine for you, if I expect the url-encoded alias as input & output the url-encoded alias, always?

[2020-06-04 12:57] #278 closed

[2020-06-04 19:57] Entkenntnis commented on #262
This would be fine! (Just to clearify: this means the graphql request will expect the alias to be url-encoded and will only output the alias as url-encoded?)

[2020-06-04 20:05] Entkenntnis commented on #273
ok, I made a mistake while copy-pasting, is fixed in #285

preview: https://frontend-git-fix-missing-feedback.serlo.now.sh/mathe

[2020-06-04 20:10] Entkenntnis commented on #272
Interestingly, this does not happen when you open the page directly in the frontend.

correct: https://frontend.serlo.now.sh/community/hilfe-bearbeitung/richtlinien-inhalten/bilder-grafiken#SerloFarben

![grafik](https://user-images.githubusercontent.com/13507950/83805376-0fef0900-a6b0-11ea-8b15-2186105d7155.png)

wrong (frontend enabled): https://de.serlo.org/community/hilfe-bearbeitung/richtlini

[2020-06-04 22:25] elbotho opened #287 "All links to exercise collections broken in taxonomy"
in the taxonomy e.g. https://de.serlo.org/mathe/terme-gleichungen/gleichungen all links to exercise collections have an `undefined` at the end of their hrefs -> breakage.

[2020-06-05 07:19] #287 closed

[2020-06-05 07:26] inyono commented on #272
You need to check https://frontend.serlo.org/community/hilfe-bearbeitung/richtlinien-inhalten/bilder-grafiken#SerloFarben since that is the production domain (frontend.serlo.now.sh uses staging). But still the same behavior ^^

[2020-06-05 07:30] #273 closed

[2020-06-05 10:34] inyono commented on #262
Fixed, API can work both with url-encoded and non-url-encoded stuff, so this needs no changes to frontend at all :)

[2020-06-05 10:34] #262 closed

[2020-06-05 10:57] Entkenntnis commented on #282
Ups, that's right, we can close this for now and reopen it in the future ...

[2020-06-05 10:57] #282 closed

[2020-06-05 10:58] Entkenntnis commented on #277
the issue itself is resolved now

[2020-06-05 10:58] #277 closed

[2020-06-05 14:40] Entkenntnis commented on #63
tags on legacy system:

- body -> `itemscope itemtype="http://schema.org/WebPage"`
- breadcrumb ul -> `itemscope itemtype="http://data-vocabulary.org/Breadcrumb"`, and depending on location: `itemprop="url"`, `itemprop="title"`, `itemprop="child"` (nested breadcrumb ...)
- article -> `itemscope itemtype="http://schema.org/Article"`
  - h1 -> `itemprop="name"`
  - section -> `itemprop="articleBody"

[2020-06-05 14:44] Entkenntnis commented on #112
@inyono Do you think we should add this to the upcoming milestone? Or do you have time to look into this a little bit?

[2020-06-05 14:46] Entkenntnis commented on #93
We should probably define subgoals, like: ensure keyboard navigation works, or: tests frontend with screenreader software, ...

[2020-06-05 14:48] Entkenntnis commented on #115
this issue looks stale, there has been a lot of changes in the meantime, therefore closing this

[2020-06-05 14:48] #115 closed

[2020-06-05 14:56] inyono commented on #115
As long as we gradually resolve the current type issues, I'm fine with closing this.

[2020-06-05 14:58] Entkenntnis opened #289 "add notification page and load notifications on the client"
Anna is working on the notifications-API and we will soon be able to show them in the frontend. The current idea is to add a separate page that fetches the notifications on the client and displays them to the user, a draft component already exists.

We can work in this as soon as the API is ready and authentification works.

[2020-06-05 15:01] Entkenntnis opened #290 "show logged-in state in the menu"
For regular users, show: Anmelden
For logged-in users, show: Notification-Icon and Abmelden

We want to use some kind of "two-pass-rendering" to show this on the client without affecting ssr too much. We can start working on this when #289 is in progress.

[2020-06-05 15:03] Entkenntnis commented on #238
The plan is to implement #289 and then #290

[2020-06-05 15:03] #238 closed

[2020-06-05 15:16] Entkenntnis commented on #220
I can reproduce it on win10 brave, chrome and firefox

related to the font (cambria math) and word-wrap: break-word...

I would suggest to use &nbsp; in https://github.com/serlo/frontend/blob/b38760947f897f3d955ee10f49516d386a39aec1/src/components/content/exercise.tsx#L97

[2020-06-05 16:55] #220 closed

[2020-06-05 16:57] inyono commented on #112
Isn't too urgent :)

[2020-06-05 20:06] elbotho opened #292 "broken urls"
escaped urls break everything for me, e.g.:
https://de.serlo.org/mathe/zahlen-gr%25C3%25B6%25C3%259Fen

[2020-06-05 20:40] inyono commented on #292
Were did you get that url?

[2020-06-05 20:41] inyono commented on #292
nvm, found one... Gonna check that out

[2020-06-05 21:01] inyono commented on #292
Reverted the API changes in production for now, going to look into that tomorrow in detail...

[2020-06-08 08:21] #112 closed

[2020-06-08 08:34] Entkenntnis commented on #226
this is now in the roadmap after #289, #290 and #263

[2020-06-08 08:43] elbotho opened #295 "Where should we show the horizon?"
At old serlo.org the horizon does not show in the taxonomy for example, currently we show it everywhere.

@yolo-bird what do you think, should we remove it from the taxonomy here as well?

[2020-06-08 08:43] #295 closed

[2020-06-08 08:44] elbotho commented on #295
I spoke to quick, it shows everywhere, my bad.

[2020-06-08 08:48] elbotho opened #296 "Custom links in horizon data"
In the horizon we use links like:
https://de.serlo.org/horizon/34/out

@inyono This is so we can easily track clicks here, I guess?
Can I use them in the frontend as well?

[2020-06-08 08:57] inyono commented on #296
Nope, since we indent do remove the horizon backend. Since we need no tracking anyway, you can just use the URL that the out link redirects to.

[2020-06-08 08:58] elbotho commented on #296
okay! Thanks.
Also: Do they use some kind of probability? If yes, could you kindly point me to that values?

[2020-06-08 09:38] #296 closed

[2020-06-08 13:44] elbotho commented on #272
I think it's curious that it's the only render function in `article-renderer.tsx` that explicitly sets the key:

[code]

@Entkenntnis  do you think this would make sense to test?
I don't see what attributes would need to go to tbody anyway.
(currently attributes only contains the key)
[code]

[2020-06-08 13:47] elbotho commented on #272
PR here: #272

[2020-06-08 15:27] elbotho commented on #259
added the simplest version of https://github.com/rstacruz/nprogress following [this example](https://github.com/vercel/next.js/tree/canary/examples/with-loading).
I'd say #286 is pretty usable now!

[2020-06-08 15:28] inyono opened #299 "sc-mc-exercise broken"
see https://de.serlo.org/162177

[2020-06-08 15:35] elbotho commented on #272
Okay, so strange. I'm out out of ideas.

[2020-06-08 15:38] inyono commented on #272
Mh... for one thing: we don't let React handle stuff but rather do it ourselves (e.g. we create JSX nodes ourselves instead of rendering react components; also passing down keys ourselves). This looks like an anti-pattern to me...

[2020-06-08 15:59] Entkenntnis commented on #299
These are legacy sc-mc-exercises, converting them will make them visible in the frontend.

[2020-06-08 16:30] inyono commented on #299
Check

[2020-06-08 16:30] #299 closed

[2020-06-08 16:56] Entkenntnis commented on #272
I found a possible cause: Diffing the HTML obtained from frontend.serlo.org and de.serlo.org reveals that Cloudflare cleans up the HTML and especially removes all comments.

These comments are there to help react to hydrate the page (see https://github.com/facebook/react/issues/14725), because the comments are missing, the hydrating leads to dom mutations (which it shouldn't!) and a corrupt dom.

[2020-06-08 17:05] inyono commented on #272
Nice catch! This seems to be the problem, indeed. I deactivated the Minifier from Cloudflare and purged the cache for that page. Seems to work now.

[2020-06-08 17:05] #272 closed

[2020-06-08 17:24] elbotho commented on #272
nice!

[2020-06-08 20:18] Entkenntnis commented on #292
So we are back at the original issue, that these two pages are not loading:

Was ist ein Vektor? (1/4) (https://de.serlo.org/mathe/geometrie/analytische-geometrie/grundbegriffe-vektorrechnung/vektorbegriff/einf%C3%BChrung-vektorbegriff-(vektoren-ebene-)/vektor?-(1/4))
Was ist ein Vektor? (2/4) (https://de.serlo.org/mathe/geometrie/analytische-geometrie/grundbegriffe-vektorrechnung/vektorbegriff/ei

[2020-06-08 20:33] Entkenntnis opened #301 "add pretty links to injections"
loading injections are not using pretty links yet, but the data is already there and just need an additional react context.

[2020-06-09 11:10] inyono commented on #292
Yeah, I'm aware, it's on my list 👍

[2020-06-09 20:23] #256 closed

[2020-06-09 22:06] #280 closed

[2020-06-10 08:11] Entkenntnis commented on #182
the remaining points are getting less important as we will have client-side-navigation soon :tada:

[2020-06-10 08:13] #182 closed

[2020-06-10 08:15] Entkenntnis commented on #253
Is there an update on this? Do I understand correctly that the aim is to let cloudflare convert images into webp?

[2020-06-10 10:48] #279 closed

[2020-06-10 10:58] inyono commented on #253
Seconding this: what is the plan (since I'm apparently assigned ^^)?

[2020-06-10 11:02] elbotho commented on #253
We should have WebP images already, but they don't get delivered. I'm pretty sure I found the problem ([see here](https://github.com/serlo/frontend/issues/253#issuecomment-632884343)) but I have now idea what that actually means for us :) @inyono maybe you can tell me if that is something we can change?

[2020-06-10 18:46] Entkenntnis opened #305 "react validateDOMWarning"
another minor react warning on this page: http://localhost:3000/mathe/zahlen-groessen/sonstiges/stellenwertsysteme

Warning: validateDOMNesting(...): Whitespace text nodes cannot appear as a child of <tr>. Make sure you don't have any extra whitespace between tags on each line of your source code.

[2020-06-12 09:54] #259 closed

[2020-06-12 10:07] Entkenntnis commented on #292
I have fixed some bugs in the frontend regarding url-encoding, now the frontend is expecting the API to return alias as url-encoded (and is not doing any additional encoding) (details: https://github.com/serlo/frontend/pull/286/commits/f54209f27e542eaa3521fdee7f406b45b5a9a9c6)

Maybe we can test this on staging again?

[2020-06-12 10:38] #258 closed

[2020-06-12 10:49] inyono commented on #292
Wait, so the URL-encoding was actually fine from API side (i.e. it works with staging now)? ^^'

[2020-06-12 11:03] Entkenntnis commented on #292
Jup 😁

[2020-06-12 11:04] inyono commented on #292
Oh nice. Then I'll go over that in detail (we might have the same problem at Cloudflare Worker level). When everything works, I push that to production again :)

[2020-06-12 11:10] Entkenntnis opened #307 "link to API in footer is broken"
The link redirects to `https://de.serlo.org/community/technology-and-development/content-api`, resulting in a 404 in the legacy system.

This seems to be an issue with the lang-instance, because th article is on en.serlo.org.

Idea: Hardcode the link as `https://en.{domain}/community/technology-and-development/content-api`?

[2020-06-12 11:23] inyono commented on #307
Yep, makes sense for now :)

[2020-06-15 07:26] Entkenntnis opened #308 "add client-side-navigation to menus"
Client-side-navigation is not yet implemented for:

- main menu
- secondary menu
- course menu
- footer

Not all links there should be routed client-side, though (like legacy-links ...)

[2020-06-15 07:40] Entkenntnis opened #309 "page with 500"
This page is not loading in the new frontend: https://de.serlo.org/mathe/funktionen/wichtige-funktionstypen-eigenschaften and results in an internal server error:

![grafik](https://user-images.githubusercontent.com/13507950/84630413-2f760500-aeec-11ea-9600-275fe3ebfdc7.png)

[2020-06-15 08:14] elbotho opened #310 "another page with 500"
might be related to #309
https://de.serlo.org/mathe/terme-gleichungen/terme-variablen

[2020-06-15 08:29] elbotho commented on #261
https://github.com/edtr-io/edtr-io/blob/3a848b2717849585650bc5246a48b391c54b3964/packages/plugins/input-exercise/src/renderer.tsx#L46

[2020-06-15 09:08] Entkenntnis opened #312 "client-side-navigation struggles with special characters (%, ?)"
https://de.serlo.org/mathe/funktionen/wichtige-funktionstypen-eigenschaften

![grafik](https://user-images.githubusercontent.com/13507950/84639256-6a7e3580-aef8-11ea-90c8-077131ef6766.png)

'%' is breaking client-side-navigation

Also page 2 and 3 of this course: https://de.serlo.org/43180/uebersicht

Will have to lookup how next router expect the url to be (decoded or not, etc...) and change it t

[2020-06-15 10:08] inyono commented on #312
ping #292

[2020-06-15 10:22] #309 closed

[2020-06-15 10:22] #310 closed

[2020-06-15 12:42] #307 closed

[2020-06-15 17:49] elbotho commented on #308
maybe not exclusive, but here are some of the urls that we should not be using client side navigation for:
https://github.com/serlo/serlo.org-cloudflare-worker/blob/master/src/static-pages/config.ts
https://github.com/serlo/serlo.org-cloudflare-worker/blob/master/src/frontend-proxy.ts
https://github.com/serlo/serlo.org-cloudflare-worker/blob/master/src/index.ts

[2020-06-16 08:31] inyono commented on #308
Possible approaches:
- We wrap the API call in the Cloudflare Worker and possibly pass the info that this should be handled via legacy system.
- We expose the logic in the Cloudflare Worker as an npm package and import that in the frontend (problem: need to keep that package up-to-date)
- Duplicate the logic from Cloudflare Worker (meh)

I'd prefer the first approach to be honest. This way, we'd o

[2020-06-16 10:02] elbotho commented on #308
@Entkenntnis and @kulla what do you think?

[2020-06-16 10:12] elbotho commented on #261
@Entkenntnis did you find some examples to test that maybe?

[2020-06-16 10:13] elbotho commented on #261
or @yolo-bird can you think of some input-ex collections that might use advanced stuff?

[2020-06-16 10:18] #301 closed

[2020-06-16 11:19] yolo-bird commented on #261
there are some @elbotho, but I can't remember any out of the top of my head. Maybe you could ask the crowd in #u_begleitung.

[2020-06-16 11:39] kulla commented on #63
Here an overview, what we currently is implemented:

* Course and course page -> http://schema.org/Article
* Applet -> http://schema.org/VideoObject
* Event -> http://schema.org/Event
* Article -> http://schema.org/Article
    * See
* Video -> http://schema.org/VideoObject
    * See https://github.com/serlo/serlo.org/blob/master/packages/public/server/src/module/Ui/templates/entity/page/video.twig

[2020-06-16 14:41] inyono opened #316 "Fix Sentry release"
`process.env.VERCEL_GITHUB_COMMIT_SHA` is undefined in the client. Reason / fix:

E.g. in .env.production:
[code]

[2020-06-16 19:55] Entkenntnis commented on #308
We can split this issue into two parts: static and dynamic links. For static links, we can set manually set the navigation state and this would work for menu and footer (a first attempt here: #317)

For dynamic links (secondary nav, course nav), another possibility would be to use the same logic as the pretty link part and only add client-side-navigation to the links that can be prettyfied.

[2020-06-18 07:32] Entkenntnis commented on #63
Thank you @kulla

I have added the basic schema for now. If this feature gets more relevant, we can reopen this.

[2020-06-18 07:36] Entkenntnis commented on #292
One thing I noticed: Some urls in the secondary menu that are not using ID have a trailing 'undefined':

![grafik](https://user-images.githubusercontent.com/13507950/84991638-1917b580-b147-11ea-8da0-f3a65fed2688.png)

Found here: https://frontend-git-menu-routing.serlo.vercel.app/community/neue-f%C3%A4cher-themen

[2020-06-18 09:02] Entkenntnis opened #320 "prettify urls of secondary navigation and add client-side-navigation"
The secondary navigation is mostly using ids. They should be prettified and then they should support client-side-navigation

[2020-06-18 09:03] Entkenntnis commented on #308
#317 and #319 add client-side-navigation to header, footer and courses.

Only remaining menu is secondary navigation, this has a separate issue now: #320

[2020-06-18 15:49] kulla commented on #308
@inyono How would the first solution look like? Can we talk about this next monday?

[2020-06-19 09:56] #63 closed

[2020-06-19 09:56] #305 closed

[2020-06-19 11:16] #316 closed

[2020-06-19 13:03] inyono opened #327 "Add storybook for Components that are annoying to test otherwise"
E.g. OAuth workflow needs running Hydra at the moment (which needs a running serlo.org instance). Would be nice to have a storybook to test components with different states (e.g. logged in / as guest) without needing the server structure.

[2020-06-19 15:46] inyono commented on #308
@kulla. Actually, I consider this a good learning opportunity since you are already quite familiar with the Cloudflare Worker: I'd prefer it if you try to sketch a solution / alternative for the first approach :)

[2020-06-19 15:47] inyono commented on #308
Reopened since I'd still like to keep Cloudflare Worker & Frontend in sync. Or do you want a seperate issue for that @Entkenntnis?

[2020-06-19 15:52] Entkenntnis commented on #308
@inyono A new issue would be great! This issue is somewhat overloaded ...

[2020-06-19 15:59] inyono opened #328 "Routing configuration: problems, approaches, etc."
See #308:

Possible approaches:
- We wrap the API call in the Cloudflare Worker and possibly pass the info that this should be handled via legacy system.
- We expose the logic in the Cloudflare Worker as an npm package and import that in the frontend (problem: need to keep that package up-to-date)
- Duplicate the logic from Cloudflare Worker (meh)

I'd prefer the first approach to be honest. This

[2020-06-19 15:59] inyono commented on #308
Okay, discussion continued in #328

[2020-06-19 15:59] #308 closed

[2020-06-20 08:16] elbotho opened #329 "Refactor Links"
We now have some duplication and slightly different implementations of links for content and the different menus.

I'd love a smart Link component that handles PrettyLinks and can decide if a link should be routed client-side or with reload.
Related: #320, #308, #328 …

[2020-06-21 17:15] inyono commented on #292
Seems to work fine, production API is now at latest version, too :)

[2020-06-21 17:15] #292 closed

[2020-06-22 06:30] Entkenntnis commented on #329
Love this idea very much!

[2020-06-22 09:00] #320 closed

[2020-06-22 09:07] elbotho commented on #329
Discussion with @Entkenntnis

Todo:
- Also check for absolute links in content (`de.serlo.org/[id]`) and use CSR for them
- Check error handling if a CSR fails (could it be fixes with a redirect?)

Currently there are following exceptions to client-side-routing:
- external links
- legacy pages (like auth and privacy)
- frontend pages that are not using `[...slug]` (index, search, donations)

Resul

[2020-06-22 11:32] elbotho opened #333 "Another URL Problem"
follow up of #292
(sorry to continue this 😓)

**Problem:**
https://de.serlo.org/mathe/zahlen-gr%25C3%25B6%25C3%259Fen

**Steps to reproduce:**
Navigate to https://de.serlo.org/mathe using the new frontend.
Click on the "Zahlen und Größen" image.
tries to navigate to https://de.serlo.org/1385 comes out at https://de.serlo.org/mathe/zahlen-gr%25C3%25B6%25C3%259Fen

- [ ] Obviously Image links should

[2020-06-22 11:39] inyono commented on #333
This seems to be a problem in the frontend itself, API responds with the correct alias. Going to look into that.

[2020-06-22 12:02] elbotho commented on #329
this is currently the result when I try client side routing with an absolute link
![image](https://user-images.githubusercontent.com/1258870/85285202-c44ea480-b490-11ea-9daa-676b79009ecd.png)

[2020-06-22 12:19] #333 closed

[2020-06-22 13:46] elbotho opened #335 "https://serlo.org/community results in 404"
https://serlo.org/community is still or again unaccessible,
API request returns:
```{"error":"Error while fetching data: Expected type Int, found NaN.: {\"response\":{\"errors\":[{\"message\":\"Expected type Int, found NaN.\",\"locations\":[{\"line\":74,\"column\":22}],\"extensions\":{\"code\":\"GRAPHQL_VALIDATION_FAILED\"}},{\"message\":\"Expected type Int, found NaN.\",\"locations\":[{\"line\":8

[2020-06-22 14:02] elbotho opened #336 "Menu: Tippy should close after click on submenu link"
![image](https://user-images.githubusercontent.com/1258870/85296392-9a51ae00-b4a1-11ea-9846-03a3e6079b17.png)
After a click on e.g. `Mathe` Tippy (the popover) should close.
(was no problem before, but now with client side routing it keeps open)

[2020-06-22 14:07] inyono commented on #335
I'd look at the pretty link fetching:
[code]
Seems like you try to fetch the pretty alias of something that isn't a number.

[2020-06-22 14:15] elbotho opened #337 "Add prettylinks to linked images"
On https://de.serlo.org/mathe are images used to link to content (e.g. "Zahlen und Größen")
![image](https://user-images.githubusercontent.com/1258870/85297428-054fb480-b4a3-11ea-88d9-8803e831fdf9.png)

```{"type":"img","src":"https://assets.serlo.org/legacy/55533eeeb56b8_8b7ea5f93ff53cab80557b4d4a9ab4c250e30789.png","alt":"Zahlen und Größen","href":"/1385"}```

currently those don't get the prett

[2020-06-22 14:16] elbotho commented on #335
Will investigate 🔍
Thanks 👍

[2020-06-22 15:03] inyono commented on #337
Currently, we already specify the rendering completely, so you should be able to use a `PrettyLink` component in the image renderer (if we implement #328). If you want to handle it at state level, you probably need to go over all possible plugins with links (and I think that images are the only other case compared to richt text, IIRC)

[2020-06-22 15:59] #335 closed

[2020-06-22 16:11] Entkenntnis commented on #337
As images are the only other type with href (currently) I would include it in extractLinks.

[2020-06-22 21:14] elbotho commented on #329
result when I force CSR to (`/auth/login`)
[code]

CSR to `/impressum` etc actually load the content in the redesign.

[2020-06-22 21:15] elbotho commented on #329
I found a `ref/21654` link that breaks. What's the deal with those, how should we handle them?

[2020-06-23 16:26] inyono commented on #329
`ref/<id>` is equivalent to `/<id>`. We don't really use them anymore (and while there probably was a reason for the ref links at some point, we encourage users to use `/</id`).

[2020-06-24 11:47] jakobwes opened #340 "The "Serlo in other languages-link" is broken in the new frontend"
The link in the footer redirects to "en.serlo.org.org/global" instead of "serlo.org/global". Don't know if this is also the case for other links between language-versions of serlo.

[2020-06-24 11:56] jakobwes commented on #340
The Api-link, which links also to an English-page works, so this is probably a singular problem

[2020-06-24 20:58] Entkenntnis commented on #340
Thank you for reporting this, a fix is on the way! (#339 should solve this)

[2020-06-25 10:01] inyono commented on #340
I commented in the PR. There is a double .org because serloDomain already contains .org.

[2020-06-25 15:38] elbotho commented on #337
Should be fixed in #339

[2020-06-25 19:18] Entkenntnis opened #341 "replace ts-expect-error with any?"
In `src/content/exercise.tsx`, we have two ts-expect-error that show up as warnings. Can we use `as any` here to avoid the warnings?

Or is the warning expected here?

[2020-06-25 19:32] Entkenntnis opened #343 "cache injections"
Injections can use also use session storage to cache api requests, improving page performance further.

[2020-06-25 21:31] elbotho commented on #341
My understanding: We use `@ts-expect-error` instead of `any` because those lines are actually missing correct types, so the warnings are a good reminder of that :)

[2020-06-25 21:32] elbotho commented on #341
I see @inyono already commented.

[2020-06-26 07:27] Entkenntnis commented on #341
Well, is there a rule where to use which? Because in other places (schema, fetcher) we are using any with an TODO annotation

[2020-06-26 08:06] Entkenntnis opened #344 "article 1885 has no alias"
requesting the alias of `1885` results in null. @inyono So we have entities without alias?

Found here: https://frontend-git-fix-eslint-warning.serlo.vercel.app/mathe/zahlen-groessen/bruchrechnen-dezimalzahlen/umformen-bruechen-dezimalbrueche/umrechnen-bruechen-dezimalzahlen
(Link Zehnerpotenz)

See: https://de.serlo.org/1885

Nothing to do here, just wondering ...

[2020-06-26 08:26] inyono commented on #344
There are definitely UUIDs without alias (e.g. users). Entities should probably have an alias, maybe old ones don’t have it. Re-Saving should generate one. Still: you shouldn’t rely on it to be defined :)

[2020-06-26 08:29] inyono commented on #341
Basically: if there are no types yet, we use any. If we have types and they result in an error, we use ts-expect-error. If a specific location is really hard to type or it’s hard to get TS to understand why the typing works, we can use something like foo as unknown as CorrectType. This is a last resort, though.

[2020-06-26 13:47] Entkenntnis commented on #344
Thank you for the clarification!

[2020-06-26 14:48] elbotho commented on #344
the reworked link component (#339) should still route those links client side, so this can be closed?

[2020-06-26 14:48] #344 closed

[2020-06-28 09:40] #329 closed

[2020-06-28 09:40] #336 closed

[2020-06-28 09:40] #337 closed

[2020-06-28 09:40] #340 closed

[2020-06-28 09:41] #341 closed

[2020-06-29 08:16] elbotho commented on #343
maybe refactor current logic for that

[2020-06-29 10:09] elbotho opened #347 "Idea: Use service worker for caching"
This might actually be a useful thing (offline access etc) and would be a big step towards PWA.

[2020-06-29 12:46] elbotho opened #349 "Long inline formula should break"
e.g.
https://de.serlo.org/mathe/stochastik/grundbegriffe-methoden/ergebnisraeume/ergebnismenge

[2020-06-29 12:53] elbotho commented on #349
[code]

[2020-06-29 13:12] elbotho commented on #349
Build a test case here:
https://de.serlo.org/community/sandkasten/dev:-edge-cases

Quickfix: put into boxes

[2020-06-29 14:37] elbotho opened #350 "Search stops working"
when I use the search, then use client side routing (e.g. click in the menu) the searchbar does not respond any more.

**Steps:**
- navigate to any page (e.g. https://de.serlo.org/serlo)
- enter term in search bar (search results load)
- now click on e.g. the logo (client side routing to https://de.serlo.org/ happens)
- now I enter another term into the search bar
-> url changes, but results don't

[2020-06-29 14:39] elbotho opened #351 "Use client side routing for search results"
We could catch clicks on the search results and then use next router to redirect

[2020-06-29 14:50] elbotho commented on #312
https://github.com/vercel/next.js/issues/10080

[2020-06-29 15:02] elbotho commented on #347
Might be relevant:
https://github.com/shadowwalker/next-pwa/

[2020-06-29 15:11] elbotho commented on #312
Puh, this might go way upstream. [Next.js Bug](https://github.com/vercel/next.js/issues/12145), [related PR](https://github.com/vercel/next.js/pull/12154) that might fix it and [a node bug](https://github.com/nodejs/node/issues/33892).

[2020-06-29 16:53] Entkenntnis commented on #350
Can not reproduce yet, can you describe the steps?

[2020-06-30 10:38] elbotho commented on #350
added them above

[2020-06-30 11:11] inyono opened #354 "RFC: add staging environment to frontend"
Currently, the frontend gets redeployed on any push to master. A redeployment also purges the cache from Vercel-side. IMHO: we should add another stage so that we can bundle a couple of changes and deploy them together and possibly delay deployment of commits that aren't critical so that we don't purge the cache every couple of hours. E.g., we could do something like:
- `staging` branch which woul

[2020-06-30 11:14] inyono commented on #312
Okay, how do we approach this? Is there an easy way for us to disable client-side navigation for urls containing those characters?

[2020-06-30 11:17] inyono commented on #347
Good idea. Would put that into the backlog for now, though, since this adds more complexity and I'd rather get client-side routing / other critical features working before we add this. Might also be nice to have a testing suite before that. What's your opinion on that?

[2020-06-30 11:21] inyono commented on #349
Might want to look into the Edtr.io implementation since I'm pretty sure we handled that already in the legacy system. We even render block formulas as KaTeX inline formulas so that they are responsive (which we'll opt-out in the equations plugin because it doesn't work well for this use case).

[2020-06-30 11:25] elbotho commented on #347
Jup, backlog is good. 100% is more important than new (experimental) features.
The "session-cache" works surprisingly well.

[2020-06-30 11:26] elbotho commented on #312
Maybe @Entkenntnis could take a look if we can fix it on our end somehow.
But then yes: Not using CSR for those urls is easy, we might even fall back to the id for those urls and still use CSR.

[2020-06-30 13:13] elbotho commented on #253
@inyono will contact CF support, let's see.

[2020-06-30 21:26] elbotho opened #355 "How to handle the session-cache for logged-in users"
Just to keep track of this:

We should probably
- skip the local "session-cache" for people who are editing and reviewing just to make sure content-edits are actually visible
- or find a smart way to decide when to skip and when to use the cache
- or use cached and check for changes in the background

[2020-07-01 04:27] inyono commented on #253
Works now. I hope that deactivating CORS doesn't break stuff ^^'

[2020-07-01 04:27] #253 closed

[2020-07-01 06:19] Entkenntnis commented on #354
If github supports this workflow (PR are on staging on default, ...), then I think this would be a improvement, especially the serlo-staging.dev part.

Note: I have merged #348 and #352, because they are quite small, but I thing we can start with staging in future PRs.

[2020-07-01 08:23] #343 closed

[2020-07-01 09:40] inyono commented on #354
Yes, that works. Basically `staging` will become Git’s default branch and `production` will become Vercel’s production branch. I can set that up in the next days :)

[2020-07-01 19:23] Entkenntnis opened #357 "idea: mock auth on env=development"
I understand that oauth quite an involved protocol and setting it up requires the current serlo.org dev environment.

Nevertheless it would be cool to be able to test auth ui features in development. So my question: Do we want to create a mock auth implementation that is only availabe for development environments? (e.g. localhost)

It would create a "dummy" token, where you can decide which user a

[2020-07-01 23:04] elbotho commented on #357
relates to #327

[2020-07-02 06:27] inyono commented on #354
Okay, seems like I missed something: Vercel seems to also use the default branch for production deployments (instead of another one we could configure). So in this case, production needs to be the default branch, and staging would be just a "special" branch that PRs are based onto. So basically:
- Devs creating a PR need to specify staging as the base branch for the PR
- If they forget that, someo

[2020-07-02 08:06] elbotho opened #358 "Add licence info to images (and more?)"
Waiting for the changes in the Image plugin for this, but I'm exited for that :)

Tutorial
https://developers.google.com/search/docs/data-types/image-license-metadata#microdata_1

Testtool:
https://search.google.com/test/rich-results

[2020-07-02 09:02] inyono commented on #358
ping @kulla regarding "Quellen-Plugin"

[2020-07-02 10:11] sentry[bot] opened #359 "Investigate AbortError on search"
Our most common error on sentry…
No idea what this is about.

Sentry Issue: [FRONTEND-6](https://sentry.io/organizations/serlo/issues/1622777622/?referrer=github_integration)

[code]

[2020-07-02 10:15] inyono commented on #359
A couple of the errors on Sentry occur when you navigate before the request is finished (e.g. the "/privacy/json" request gets aborted when you navigate before its done and throwing an error). Not sure if this is also the case for the search. For the others: we could catch those errors (i.e. wrap requests in a try/catch and possibly decide what to do if it fails. Maybe we can ignore failures for n

[2020-07-02 11:13] inyono commented on #359
For the search it might be the autocomplete when you type that might be aborted when you press enter or type something else.

[2020-07-02 16:27] Entkenntnis commented on #354
I'm fine with doing this in 2 phases:

1. Create the staging branch, let serlo-staging.dev point to it, base all PR to this branch manually and deploy manually to master as necessary.

2. Evaluate this workflow and decide how well this works out and where we would need automation or something.

The staging-environment would be a valuable addition and optimally we would want to test every PR on sta

[2020-07-02 16:38] Entkenntnis opened #360 "catch-all option will become stable"
https://github.com/vercel/next.js/pull/14687

Keep this issue as a small reminder when we update next.js the next time to remove the catch-all experimental flag.

[2020-07-02 16:52] inyono commented on #354
Agreed. Will implement that, then :)

[2020-07-02 19:18] Entkenntnis commented on #351
This would be a very nice feature - would this also work for search results on local dev server?

[2020-07-02 19:45] Entkenntnis opened #362 "secondary navigation missing in preview deployments (staging api)"
The secondary menu is missing in preview deployments, probably related to the staging backend server:

![grafik](https://user-images.githubusercontent.com/13507950/86403069-41f28b80-bcad-11ea-862b-3a1a079915bb.png)

[2020-07-02 19:50] Entkenntnis commented on #347
I will close this issue as we already have an issue for this topic in product management: https://github.com/serlo/serlo.org-rfcs/issues/39

[2020-07-02 19:50] #347 closed

[2020-07-03 10:56] inyono commented on #362
Hm... Staging is down at the moment (together with some other pods). Seems like some node replacement failed. Going to look into that later.

[2020-07-03 10:58] inyono commented on #362
That's definitely weird. We had that problem recently and I purged the cache for the navigation. Somehow, it is set to `null` again (although we don't have any logic in place to update the cache value of the navigation). Have to look into that, not sure what's causing this.

[2020-07-03 11:52] sentry[bot] opened #363 "Error: The provided `as` value (null) is incompatible with the `href` value (/[[...slug]]). Read more: h..."
Sentry Issue: [FRONTEND-2D](https://sentry.io/organizations/serlo/issues/1759885551/?referrer=github_integration)

[code]

Occurs on /informatik. There are definitely some failing user links (see https://github.com/serlo/serlo.org-cloudflare-worker/issues/29) but there also might be another issue in some link(s).

[2020-07-03 12:00] inyono commented on #357
As we can only mock the UI anyways (since the API would require a real token), I'd prefer the Storybook route (#327) since
- It forces us to decouple the components from the actual token implementation.
- "Mock" code is not part of the production code, w/o us having to watch out for that.
- We could also use the stories for unit / e2e tests.

I'm not entirely sure how we are going to handle local

[2020-07-03 12:21] Entkenntnis opened #364 "login via staging hydra on localhost:3000"
Real login in development. Is this possible?

[2020-07-03 12:22] Entkenntnis commented on #357
Your last remarks sound like a very interesting option: So is it technically possible to use the staging hydra server to log in on `localhost:3000`? This would mean we can have *real* log-in in development, I'm opening a new issue for this: #364

Otherwise, I think we can close this and keep the discussion in #327.

[2020-07-03 12:22] #357 closed, assigned to nobody

[2020-07-03 12:23] Entkenntnis commented on #327
Some advantages of the storybook (by inyono):

- It forces us to decouple the components from the actual token implementation.
- "Mock" code is not part of the production code, w/o us having to watch out for that.
- We could also use the stories for unit / e2e tests.

[2020-07-03 12:26] inyono commented on #364
Should be possible as long as the dev server is always started on port 3000

[2020-07-03 12:38] Entkenntnis opened #365 "Language subdomains and subfolders"
Serlo.org is currently using subdomains to distinguish between languages. Unfortunately, our next.js-setup is not able to use different subdomains (easily), so we have to use subfolders (e.g `/de/...` or `/en/...`) instead.

This is not the 100% clean solution, but should work out for our system. Some thoughts:

1. The frontend only looks at the subfolder to decide with language to use. If no subf

[2020-07-03 12:50] inyono commented on #365
We can ignore 1. (except maybe for dev) because the Cloudflare Worker already handles `serlo.org` correctly (by redirecting to de.serlo.org, which we could later change to some language-detection or something).

[2020-07-03 14:08] inyono commented on #354
Looks good so far.

- [x] `staging` is the new (protected) branch that PRs should be based onto.
- [x] `production` is the new default branch. It is also protected and requires a PR + Code Review before merging.
- [x] Use `frontend-git-staging.serlo.vercel.app` for staging environment.
- [x] Add PR template that tells users to specify `staging` as the base branch.

[2020-07-03 14:39] inyono commented on #362
Navigation cache is correct again (for now). Still need to look into what causes this.

[2020-07-03 14:50] inyono commented on #354
Done :)

[2020-07-03 14:50] #354 closed

[2020-07-05 09:53] Entkenntnis commented on #362
The first time this issue happened to me was when I tried to load a page in another language instance, tamil. Can this cause the navigation cache to break?

[2020-07-05 23:58] #362 closed, assigned to nobody

[2020-07-05 23:59] inyono commented on #362
That pointed me in the right direction, thanks!

[2020-07-07 13:23] Entkenntnis opened #371 "Code block causes horizontal scroll"
https://frontend.serlo.org/informatik/informatik,-mensch-gesellschaft/verschl%C3%BCsselung/caesar-verschl%C3%BCsselung-48121

Overlong code blocks should probably scroll (instead of overflowing the page).

[2020-07-08 08:48] inyono commented on #355
We could also take a look at https://swr.vercel.app/ which solves some of this issues and also has good Next.js support.

[2020-07-09 04:48] inyono commented on #364
Closed via #374

[2020-07-09 04:48] #364 closed, assigned to inyono

[2020-07-09 15:56] Entkenntnis opened #375 "Donation and Participation page in other languages missing"
https://en.serlo.org/mitmachen and https://en.serlo.org/spenden do not exist, the same for all other language instances. Is this a bug or are these pages simply missing?

Also missing: https://en.serlo.org/donate, https://en.serlo.org/jobs. The only page existing is https://en.serlo.org/get-involved

[2020-07-09 16:02] Entkenntnis opened #376 "Footer: Elements misaligned"
![grafik](https://user-images.githubusercontent.com/13507950/87063194-4dded000-c20e-11ea-961e-72bd7c987682.png)

I think that it's intended that "Mitmachen" and "Spenden" are centered?

[2020-07-09 16:03] Entkenntnis opened #377 "Breadcrumbs are missing"
Breadcrumbs are missing from articles. Strange, will investigate.

[2020-07-09 16:05] Entkenntnis opened #378 ""Mehr erfahren" has underline"
![grafik](https://user-images.githubusercontent.com/13507950/87063478-b928a200-c20e-11ea-9e5e-d67947f50c13.png)

The button has a underline (landing page).

[2020-07-09 16:05] inyono commented on #375
Yes, they don't exist. Seems like we currently have the bug in the legacy system, too. Probably should link to de.serlo.org/spenden for now or remove the icons.

[2020-07-10 10:38] Entkenntnis commented on #377
fixed in #379

[2020-07-10 15:08] Entkenntnis opened #380 "Landing page: links are misaligned"
![grafik](https://user-images.githubusercontent.com/13507950/87169240-f3a64380-c2cf-11ea-9339-af1928f03ee3.png)

This does not look intended this way.

[2020-07-13 10:11] #312 closed

[2020-07-13 10:24] #290 closed

[2020-07-13 10:36] Entkenntnis commented on #349
An interesting edge case, the frontend implementation is currently 1:1 to edtr.io, so this is a problem happens even with KaTeX inline formulas. The legacy system uses mathjax and breaks the formula correctly...

For the moment, the quickfix of making the formula a block-formula (instead of inline) would make the most sense, as changing KaTeX css could result in unexpected side effects.

Edit: It

[2020-07-13 10:52] Entkenntnis opened #382 "Types for the fetcher"
Finally, everything is ready to fully type the fetcher code: The incoming api data is typed as `QueryResponse` and the return value of the fetcher is `PageData`.

[2020-07-13 10:57] Entkenntnis opened #383 "Idea: Use swr cache for frontend html response"
With our two-pass rendering approach, we can actually completely cache the frontend html response with stale-with-revalidation, bringing subsequent page load times down by factor of 3-4x.

[2020-07-13 10:57] #377 closed, assigned to nobody

[2020-07-13 11:43] inyono commented on #383
I'd also consider [Relay](https://relay.dev). I heard good things about Relay and they also handle pagination (via GraphQL cursors) quite well. I can compare the approaches when implementing notifications, since we definitely want pagination there.

[2020-07-13 11:49] inyono opened #385 "RFC: Add graphql playground to frontend"
I'd like to add a graphql playground (similarly to https://api.serlo.org/___graphql) to the frontend. This way, testing out user-specific queries using your token would be easier (Log in to frontend and open ___graphql).

[2020-07-13 12:37] inyono commented on #383
Wait. Why do we want to cache the **HTML**? Isn't Next.js CSR working on the API response? And SSR is already covered by Vercel's Edge Caching.

[2020-07-13 12:43] Entkenntnis commented on #383
The SSR html response is not cached yet by Vercel, it's currently rerender for every request (we haven't set any cache headers).

So this issue is not about CSR (these are cached already), but requests to the frontend. I think, it would make sense to set the same headers also to `[[...slug]].tsx`:

https://github.com/serlo/frontend/blob/7389ab2128fda4999994e620643bb6780657cda3/src/pages/api/fronte

[2020-07-13 14:26] inyono commented on #383
Okay, I completely misunderstood the issue xD. Gonna move my comments somewhere else later.

[2020-07-14 07:47] Entkenntnis opened #389 "Lazy Load exercise solutions"
In the current code, exercise solution are rendered, no matter whether the toggle is open or closed:

https://github.com/serlo/frontend/blob/7389ab2128fda4999994e620643bb6780657cda3/src/components/content/exercise.tsx#L110-L117

Adding the lazy component here will improve page performance.

[2020-07-14 11:00] elbotho commented on #378
Meta: @inyono this will be automatically closed once it's actually merged into production, right?

[2020-07-14 11:26] inyono commented on #378
Yep.

[2020-07-17 13:25] elbotho commented on #382
wow!

[2020-07-20 09:24] sentry[bot] opened #400 "TypeError: Cannot read property 'kind' of undefined"
Sentry Issue: [FRONTEND-2K](https://sentry.io/organizations/serlo/issues/1795518700/?referrer=github_integration)

[code]

[2020-07-20 09:31] Entkenntnis commented on #400
More precisely: https://frontend.serlo.org/api/frontend/66186 is failing with: "Error while fetching data: content.forEach is not a function"

[2020-07-20 09:32] #378 closed, assigned to nobody

[2020-07-20 09:32] #351 closed

[2020-07-20 09:32] #389 closed, assigned to elbotho

[2020-07-20 09:35] Entkenntnis commented on #363
hopefully resolved

[2020-07-20 09:35] #363 closed, assigned to nobody

[2020-07-20 09:35] #383 closed, assigned to nobody

[2020-07-20 18:11] jakobwes commented on #375
Just saw this issue. The /mitmachen-Seite is currently a normal static page with a different url in every language-version (/get-involved in en.serlo.org, fr.serlo.org and ta.serlo.org and /participa in es.serlo.org). We want the url to be humanly readable, therefore we named the pages like this.
For the jobs and the donate-page: these pages existed as static pages in the english language-version

[2020-07-21 18:35] #385 closed, assigned to nobody

[2020-07-22 07:10] Entkenntnis commented on #350
@elbotho Could you check if you are still encoutering this issue?

[2020-07-22 08:18] elbotho commented on #350
Nope, works fine here now.

[2020-07-22 08:18] #350 closed

[2020-07-22 13:55] elbotho opened #401 "Tests for fetcher"
@inyono suggested to first have some tests in place before refactoring and finishing types in those places.

(follow up of #382)

[2020-07-22 14:01] elbotho opened #402 "This taxonomy page is not loading"
https://de.serlo.org/mathe/zahlen-und-groessen/grundrechenarten/
results in `Error while fetching data: Cannot read property 'path' of null`
([source](https://de.serlo.org/api/frontend/mathe/zahlen-und-groessen/grundrechenarten/))

[2020-07-22 15:14] Entkenntnis commented on #402
https://de.serlo.org/mathe/zahlen-gr%C3%B6%C3%9Fen/grundrechenarten is loading. Where have you found the link?

And this is also loading: https://de.serlo.org/mathe/zahlen-groessen/grundrechenarten

[2020-07-22 15:17] Entkenntnis commented on #402
Edit: ~~Ok, but it is definitively also a bug in the fetcher~~

[2020-07-22 22:14] elbotho opened #403 "Differentiate error types [api]"
Always failing with 404 is misleading for users and possibly search engines.

[2020-07-22 22:38] elbotho commented on #402
@Entkenntnis woah, interesting! Just clicked on it somewhere in the content. Unfortunately can't find the article again. Damn I thought the taxonomy entry itself was the problem. So probably an error in the content, but I will keep this open for the fetcher bug?

[2020-07-22 23:04] inyono commented on #401
IMHO, in this order:
- [ ] Add unit tests for all supported page types.
- [ ] Add unit tests for all compat cases.
- [ ] Refactor fetcher types (using @serlo/api + concrete types for every supported page type).

[2020-07-22 23:05] inyono opened #404 "Tests and types for convert-edtr-io-state"
Follow up of #382.

IMHO, in this order:
- [x] Add unit tests for all supported plugins / frontend nodes.
- [x] Add unit tests for all compat cases.
- [ ] Refactor types (using Edtr.io types).
- [x] Refactor types (use concrete types for every supported frontend node)

[2020-07-22 23:07] #382 closed, assigned to elbotho

[2020-07-22 23:12] inyono opened #2041 "edtr-io: persist last working state in localStorage"
Seems like there currently is an issue where one can't input changes (sometimes, possibly after long edit sessions... Could be any uncaught error, though). We should persist the last working state always in localStorage (not only when saving fails) so that one can restore that.

[2020-07-27 09:34] elbotho opened #407 "Simplify exercise editing"
**Discussion with Wolfgang und David:**

- always open complete exercise collections in editor
- (only have one edit link)

**Thinks to consider/change:**
- maybe offer the option to fold/unfold subexercises in the editor
- how to we merge the activity log etc?
- does the new diff view work well enough to handle collections with long answers or many subexercises?

[2020-07-27 09:36] Entkenntnis opened #408 "International Landing Pages"
Follow the spanish landing page (es.serlo.org) and build a separate component for our international instances.

[2020-07-27 09:37] Entkenntnis opened #409 "Extend User Tools"
For logged in user, the user tools should show more options (and adapt to the entity type)

[2020-07-27 09:38] Entkenntnis opened #410 "Link to Exercise in topicFolder"
Allow users in a topic folder to view an exercise separately.

[2020-07-27 09:39] elbotho opened #411 "Courses: SEO and other considerations"
Course pages should maybe not appear in the internal search results.
Also they currently have a high bounce rate for users coming from search engines: We could solve this by redirecting to page one or adding a info box for users that at least links to the first page or even displays an introduction to the course?

[2020-07-27 09:43] inyono commented on #411
How about combining the courses into one page? This way, Google indexes only the one thing together and we can handle the slides on client-side. Page aliases would redirect to the course and add the correct page to the url.

[2020-07-27 09:44] inyono commented on #410
What's the reasoning behind this?

[2020-07-27 09:49] Entkenntnis commented on #410
With this one addition, users can share single exercises with our existing share modal.

[2020-07-27 09:49] elbotho commented on #410
we try to have as little hidden submenus as possible and want to try to only offer editing/sharing options for exes in "single view"

[2020-07-27 12:35] Entkenntnis opened #414 "Add settings icon to exercises"
For logged in users, a settings icon should be visible for exercise-group, exercise and solution

[2020-07-27 14:08] Entkenntnis opened #415 "Improve breadcrumbs"
As suggested in https://github.com/serlo/frontend/issues/92#issuecomment-620837363, there are two possible improvements to the breadcrumbs:

- [x] Don't highlight parent element in breadcrumbs on taxonomy page.
- [x] Highlight breadcrumbs on content page more: Put into new line and add back arrow icon:

![grafik](https://user-images.githubusercontent.com/13507950/88551495-36cc1a80-d023-11ea-9949-7

[2020-07-27 14:08] Entkenntnis commented on #92
moved to #415

[2020-07-27 14:08] #92 closed

[2020-07-27 14:22] Entkenntnis opened #416 "Ensure keyboard navigation"
Make the frontend accessible with keyboard: Check that every interactive element has a tabindex and the action can be triggered with the keyboard (enter key down). Also make sure that outline is visible.

Issues:

- [x] User Tools are not accessible (mobile and desktop version)
- [ ] 'hide solution' button has no outline
- [x] check share menu
- [x] check all content types

[2020-07-27 14:23] Entkenntnis commented on #93
One follow up issue: #416. Otherwise, this issue is quite general and can be closed.

[2020-07-27 14:23] #93 closed

[2020-07-27 14:29] Entkenntnis commented on #159
At the current point, we have more or less settled with version 2 and fallback to version 1 for other language fonts.

[2020-07-27 14:33] Entkenntnis commented on #180
We can implement hotjar into the frontend as the need arises.

[2020-07-27 14:33] #180 closed

[2020-07-27 14:36] Entkenntnis commented on #226
Ok, the i18n implementation is on its way (finally), so this issue can be closed, current step is #365

[2020-07-27 14:36] #226 closed

[2020-07-27 14:39] Entkenntnis commented on #263
There is a draft for the new role management, but it needs to be implemented on the backend first. The frontend will stick with the current implementation of the role system and try to adapt to it as much as possible.

[2020-07-27 14:39] #263 closed

[2020-07-27 14:48] Entkenntnis commented on #261
Ok, here is an example (edtr-io): https://de.serlo.org/63833

Solution is `0.5*(x-1)^2+1`, but you can type any equivalent mathematical expression, e.g. `0.5*x^2-x+1.5`.

[2020-07-27 14:52] Entkenntnis commented on #327
The biggest issue with hydra is solved now, so we will not implement this for the upcoming milestone.

[2020-07-27 14:52] #327 closed

[2020-07-27 14:58] Entkenntnis commented on #328
One thing we should keep in mind with the first approach are possible performance implications, e.g. possible loading times. Wrapping calls with cloudflare is unfortunately not "free", but it can be solved with proper caching ...

[2020-07-27 15:19] Entkenntnis commented on #375
In #412, we solve this issue by removing all links that are not present.

[2020-07-27 15:25] Entkenntnis commented on #355
A good next step would be to add reproducable steps for unwanted behaviour of this issue.

[2020-07-27 15:27] Entkenntnis commented on #359
An error while navigation away is harmless, but we should check the bugs for any cases where the error is breaking the page (with reproducable steps)

[2020-07-27 15:30] Entkenntnis commented on #403
@elbotho Could you give same example of possible other error codes? The only error code I know is 500.

[2020-07-27 15:34] Entkenntnis commented on #411
@inyono Would this mean that the second page of a course would have something like `&page=2` in the url (instead of it's own alias?)?

[2020-07-27 23:05] inyono commented on #411
There are a couple of ways to implement this. Probably something like:
- Add URI fragment (so that Google doesn't index it) that tells the current page.
- Redirect page aliases to the alias of the first page + URI fragment (permanent redirect).
- Handle content on client-side (e.g. ssr the whole course and render a slider or something on the client).

[2020-07-27 23:09] inyono commented on #403
Off the top of my head (feel free to extend):
- 404 only if the page really doesn't exist
- 500 if renderer throws an unexpected error (+ log via Sentry)
- 301 if we redirected (e.g. stale alias, or /:id)
- 401 resp. 403 in the future when the user is required to be logged in / hasn't the needed rights.

[2020-07-27 23:12] inyono commented on #359
We probably still want to catch those AbortErrors and do some sanity checks (e.g. is the the component still mounted? If not, this is fine and can be ignored. If yes, this is a possible error that we should handle in the future, possibly add some context before sending it to Sentry). This way, we can investigate if there are actual errors.

[2020-07-27 23:13] inyono commented on #355
Not sure what you mean here.

[2020-07-27 23:16] inyono commented on #328
Not necessarily. Note that every request to the API (even the one that is cached via Vercel) goes through the Cloudflare worker. So we can easily wrap those responses without additional overhead (except a slightly larger body including a boolean or something).

[2020-07-27 23:33] elbotho commented on #403
If we want more: https://de.wikipedia.org/wiki/HTTP-Statuscode#4xx_%E2%80%93_Client-Fehler

But I think the most important distinction for the users are:
client:
- Is the content not there? (404)
- Is the content not available for me? (401/403)
server:
- Is the server having a (probably) temporary problem (eg. api unresponsive)? (502/503/504)
- Is there an error that probably takes some time to fi

[2020-07-28 07:46] Entkenntnis commented on #403
OK, this sounds good. The first step useful step would be to separate 404 errors from 50X errors. Would need some investigation how to detect this from the API-Response, but it's doable.

[2020-07-28 08:27] Entkenntnis opened #417 "Missing entry in taxonomy"
On this page: http://localhost:3000/mathe/deutschland/bayern/gymnasium/jahrgangsstufentest-8.-klasse---bmt-8

The old design contains the folder 2019, but this is missing in the new frontend. The API request is also showing no entry for it.

[2020-07-28 08:31] Entkenntnis commented on #402
After some investigation, the error happens already on API side.

[2020-07-28 08:48] Entkenntnis commented on #403
#419 is an attempt to improve this.

[2020-07-28 09:18] #400 closed, assigned to Entkenntnis

[2020-07-28 09:21] #375 closed, assigned to nobody

[2020-07-28 09:21] #408 closed, assigned to elbotho

[2020-07-28 11:53] Entkenntnis opened #421 "Author Hover Menu Links"
Build logic to generate links for authors: Pass data to components and construct hrefs.

[2020-07-28 11:54] #409 closed, assigned to nobody

[2020-07-28 11:54] #414 closed, assigned to nobody

[2020-07-28 12:41] Entkenntnis commented on #417
@inyono Maybe this is caching related?

[2020-07-28 13:39] inyono commented on #417
Already tracked: https://github.com/serlo/serlo.org/issues/465

[2020-07-28 13:46] inyono commented on #402
Namely?

[2020-07-28 14:43] Entkenntnis commented on #402
It results in this error message: https://github.com/serlo/frontend/pull/420#discussion_r461637014

[2020-07-28 17:23] jakobwes opened #424 "serlo.org/beitreten does not render if visited from homepage."
If you are on the homepage and click on the button "Mitglied werden" you get forwarded to https://de.serlo.org/beitreten. This site does forward to the google-survey if visited directly, but gives a 404-error if visited via the button on the homepage.

[2020-07-28 17:46] inyono commented on #424
@Entkenntnis Probably need to disable CSR for that URL.

[2020-07-28 18:43] #424 closed, assigned to nobody

[2020-07-28 18:43] elbotho commented on #424
@jakobwes thank you for reporting, fix will be online soon!

[2020-07-29 11:49] Entkenntnis commented on #365
implemented in #423

[2020-07-29 11:49] #365 closed, assigned to Entkenntnis

[2020-07-29 12:07] Entkenntnis commented on #360
Fixed in https://github.com/serlo/frontend/commit/af73d1b4d964826d925944d3af59c612a9521144

[2020-07-29 12:07] #360 closed, assigned to nobody

[2020-07-29 12:47] Entkenntnis opened #427 "Plan Comment System"
The current milestone includes the comment system as a goal. Here we can start planning this feature.

[2020-07-29 14:48] Entkenntnis opened #428 "Cookie Banner needs two clicks to disappear"
Accepting the cookie banner takes two clicks.

[2020-07-29 16:27] elbotho commented on #428
I def. had this, but can't reproduce now.
Can you reproduce it right now?

[2020-07-29 17:21] Entkenntnis commented on #428
I'll try to document the steps if I encounter this the next time (or if you see it again). Its weird because its not always happening ...

[2020-07-30 08:20] elbotho commented on #416
we should use `tabindex` only when it's really necessary to change to default order.

[2020-07-30 08:22] elbotho commented on #415
@Entkenntnis didn't you do something here in the last days?

[2020-07-30 08:46] Entkenntnis commented on #415
I've refactored some code, but haven't added this feature.

[2020-07-30 08:49] Entkenntnis commented on #416
But it's ok to use `tabIndex={0}` to add elements into the tab order, right? (e.g. spans that are used as buttons).

[2020-07-30 08:52] elbotho commented on #416
Right!
Even though we should try to avoid that and use an `<button>` instead :)

[2020-07-30 08:56] elbotho commented on #416
Some docs:
- https://developer.mozilla.org/en-US/docs/Learn/Accessibility/HTML#Building_keyboard_accessibility_back_in
- https://developer.mozilla.org/en-US/docs/Learn/Accessibility/CSS_and_JavaScript

[2020-07-30 16:29] elbotho commented on #376
They only are centered on the smaller layouts. This is intended behaviour.

[2020-07-30 16:29] #376 closed, assigned to elbotho

[2020-07-30 17:21] elbotho commented on #415
Implemented with some other changes in #431.
Opted not to put the Button in a new line, because imo it's harder to understand the structure this way.

[2020-07-30 17:37] #380 closed, assigned to elbotho

[2020-07-30 18:14] elbotho commented on #416
@Entkenntnis

Can't reproduce, got a link/screenshot?

[2020-07-31 07:57] #371 closed, assigned to nobody

[2020-07-31 08:14] elbotho commented on #349
@Entkenntnis so your conclusion is, that it's basically a content problem?
I added a fix in #433 that seems to work quite well.
Could you verify that this works? :)

[2020-07-31 13:40] #217 closed

[2020-07-31 14:34] Entkenntnis commented on #428
My steps to reproduce this: Delete consent from localstorage, start dev server and visit landing page. Then it takes to clicks to close the cookie banner.

Is not happening in #428 anymore.

[2020-07-31 14:34] #428 closed, assigned to elbotho

[2020-07-31 14:36] #415 closed, assigned to elbotho

[2020-07-31 14:40] Entkenntnis commented on #416
Ok, the hid solution button has a outline now in #432

[2020-07-31 14:48] #416 closed, assigned to elbotho

[2020-07-31 16:44] #349 closed

[2020-07-31 16:58] Entkenntnis opened #434 "Complete Translations"
Every language has one file with all its strings (https://github.com/serlo/frontend/tree/staging/src/data). The strings are splitted into four types:

- loaded for every page of the instance (instance data)
- loaded only for the landing page (landing data)
- loaded only for logged in users (logged in data)
- loaded only on the server (server data)

For the current milestone, it would be enough if

[2020-07-31 17:00] Entkenntnis commented on #421
Tackling this after roll out of i18n ...

[2020-08-02 13:37] kulla commented on #328
How about the following solution? We move the logic to decide which resource the frontend can handle to `api.serlo.org`. There we add the following endpoint:

[code]

In the cloudflare worker we need to access the api anyways so that we can query for the current alias and the type name of the resource. The frontend can use the above endpoint next to `uuid(...)` when it wants to access the content

[2020-08-02 16:43] Entkenntnis commented on #328
This would take some effort to implement in the frontend, because it expects the data to be static. It would be easier to have the data in the frontend and let the cloudflare worker make a query to the frontend to get this information.

[2020-08-02 16:45] Entkenntnis commented on #328
It could be a single API endpoint with a list of all urls that the frontend can't handle.

[2020-08-02 17:09] Entkenntnis opened #435 "Don't show CC icon for license if entity is not creative commons"
We currently always show a cc icon for the license, but we have many entities that are not creative commons. We need to show another icon in these cases.

[2020-08-03 06:32] inyono commented on #404
Grabbing this as a potential issue for Caro (at least the unit tests).

[2020-08-03 06:32] inyono commented on #401
Grabbing this as a potential issue for Caro (at least the unit tests).

[2020-08-03 06:42] inyono commented on #328
We should really handle the logic in the Cloudflare Worker or API. Otherwise, we introduce a request flow that goes against our API / services approach, which makes reasoning about the behavior more annoying.

Can't we do something like Kulla suggests and handle the logic in our fetcher? Namely something like:
- We handle every route `*.serlo.org*` route in the frontend.
- In the Page component, w

[2020-08-03 07:15] Entkenntnis commented on #328
Another possibility would be to resolve all links in the fetcher (like our prettylinks) and decide while fetching where to route each page. This would allow data to be fetched from the API and keep the low latency.

Tthere is an advantage of knowing before-hand how to route a page: If we know its a frontend page, we can directly access the frontend and use the Vercel cache. We have performed some

[2020-08-03 07:19] Entkenntnis commented on #401
There is some work going on in #429, maybe Caro likes to take this over?

[2020-08-03 07:59] inyono commented on #328
How do you avoid the Cloudflare Worker? Even `frontend.serlo.org` goes through the Cloudflare Worker.

Furthermore: since you get the information via the API, it doesn't matter if the request goes through the Cloudflare Worker or not.

[2020-08-03 08:06] inyono commented on #401
We'll see. But as far as I understood #429, you didn't want to write tests in this PR, right?

[2020-08-03 08:19] elbotho commented on #435
Will add another icon but also consider our current way to display licenses generally as an interim solution :)

[2020-08-03 09:10] elbotho commented on #328
I vote to implement whatever is easiest, because this is a temporary fix anyway, right?

[2020-08-03 09:26] elbotho opened #436 "RFC: Just don't show default license for exercises and injections"
### Suggestion:

**Default case:** We only show license information at the bottom of an entity.
![image](https://user-images.githubusercontent.com/1258870/89166946-121ff780-d57b-11ea-9c33-03ec90f9a0dc.png)

So we don't display it for embedded exercises, solutions, exercise groups, images and injections…
We might need to change the text to something like "Wenn nicht anders angegeben…"

---

**Excep

[2020-08-03 09:41] Entkenntnis commented on #436
Previous discussion: https://github.com/serlo/frontend/issues/108

[2020-08-03 10:03] Entkenntnis commented on #328
Let's go back to the root issue. We have two pieces of code, on is in the frontend:

https://github.com/serlo/frontend/blob/30932a666f07d4e2b339798a20c351f9c82d5ba8/src/components/content/link.tsx#L17-L34

These links are not routed with CSR, and it's a static set of links that rarely change.

Then we have a similar code in the cloudflare worker:

![grafik](https://user-images.githubusercontent.co

[2020-08-03 14:52] ghost commented on #436
So just to give you a few facts. Currently there are 2184 entities licensed not under the CC-BY-SA 4.0:
- 2160 instructions of text exercises and text-excercise groups (the solutions are all under  CC-BY-SA 4.0)
- 24 videos

In the unit begleitung we would like to reduce the number of entitites under our standard license. We expect to reduce the number of videos to 2, so here we could just write t

[2020-08-03 15:04] inyono commented on #328
Not too sure about that. While it is rather simple at the moment, it will change over time:
- Currently, we show the profiles in the old system since we don't have a view for Users yet.
- There will be more (dynamic!) routes that need to be handled by the legacy system: e.g. creating a new revision, etc.. And these will change over (a long) time, as we reimplement the views in the frontend.

Espec

[2020-08-03 15:20] Entkenntnis commented on #328
Can we agree that we can achieve the current milestone without this feature, but we will need to solve this issue for upcoming features? Your points are 100% valid and show that implementing this needs thought and time.

I would like to focus our current energy on the 100% roll out.

[2020-08-03 15:35] inyono commented on #328
Yep, sure, I don't care much about when we do it (although it would need the changes regarding URLs we add to the hover menus e.g.). Was more a counter point to @elbotho and your comments regarding that it won't matter in the future. 😄 We still should do it sometime because there is quite some error-potential here when we don't keep them in sync.

[2020-08-03 16:15] elbotho commented on #434
Branch is here: https://github.com/serlo/frontend/tree/crowdin-integration

It's not as pretty as I hoped it would be.
I had to move the menu data to a second file, because it is not structured the same way across languages.
we need upload those independently to use crowdin for those.

but now the rest of the strings can be edited and crowdin exports valid ts files back.

TODO:
- [x] There is a bu

[2020-08-04 08:36] Entkenntnis commented on #417
fixed in serlo.org

[2020-08-04 08:36] #417 closed, assigned to nobody

[2020-08-04 11:24] inyono commented on #417
Still not live, though. But yeah, will get deployed in the upcoming days.

[2020-08-04 14:33] elbotho commented on #355
Two scenarios I can think of right now:
- I edit/accept an article and want to see the changes
- Somebody just accepted a revision and wants to show me the changes

in both cases I could end up seeing the old version.

[2020-08-04 14:35] elbotho commented on #358
@kulla what is the status this plugin, is it being worked on atm.?

[2020-08-05 07:28] kulla commented on #358
We have made a mock and we have a general idea how it shall work. However I haven't started the implementation yet. I will do it after I have finished https://github.com/serlo/serlo.org/issues/400

[2020-08-05 08:14] inyono opened #444 "SessionStorage broken after loggin in"
After logging in, Next.js throws an error (at least locally).
To reproduce:

- Open http://localhost:3000
- Clear Cookies & Session Storage for good measure ;)
- Reload http://localhost:3000
- Log in
- Notice that Next.js throws an error:
[code]
- Notice that `___loggedInData_de` in Session Storage has a non-serialized value: "[object Object]" which is causing the error.

[2020-08-05 08:16] inyono commented on #444
More specifically: This line https://github.com/serlo/frontend/blob/5582d3acc88d3e4b9c72292c82766a4ca0e9bd8a/src/pages/%5B%5B...slug%5D%5D.tsx#L145 is setting the session storage in an incorrect way.

[2020-08-05 08:19] elbotho commented on #444
Oha, that is new :)

[2020-08-05 08:19] Entkenntnis commented on #444
fixed

[2020-08-05 08:20] inyono commented on #444
Wow, that was a fast hotfix 🎉. Agile AF!!! 😄

[2020-08-05 08:21] inyono commented on #444
Fixed via c56a6fbff079581b3d63f7296fe46afa836653c6

[2020-08-05 08:21] #444 closed, assigned to nobody

[2020-08-05 12:34] ghost opened #447 "Do not show video description for injections"
When you embed a video into other serlo content, the video description is not useful. Thus it should not be displayed. Example article with an embedded video: https://frontend.serlo.org/mathe/zahlen-groessen/bruchrechnen-dezimalzahlen/dezimalbrueche/addition-subtraktion-dezimalbruechen

[2020-08-05 14:08] kulla commented on #447
@yolo-bird Is this something which also need to be implemented in legacy content? Is it okay to only implement it in the new frontend?

[2020-08-05 14:11] ghost commented on #447
Only needs to be implemented in the new frontend.

[2020-08-07 10:34] elbotho commented on #269
closing this in favour of #436

[2020-08-07 10:34] #269 closed

[2020-08-07 10:43] elbotho commented on #402
closing this, works now and problem is tracked here: https://github.com/serlo/api.serlo.org/issues/50
Thanks guys!

[2020-08-07 10:43] #402 closed, assigned to Entkenntnis

[2020-08-08 08:23] #435 closed, assigned to elbotho

[2020-08-08 08:23] #447 closed, assigned to elbotho

[2020-08-11 08:26] inyono opened #452 "Video injections broken"
See https://de.serlo-staging.dev/mathe/zahlen-groessen/bruchrechnen-dezimalzahlen/brueche/brueche:

<img width="812" alt="image" src="https://user-images.githubusercontent.com/1508477/89875111-1c667500-dbbd-11ea-8cb0-da583d08cd70.png">

(btw: the other two injections are math puzzles and it's currently fine that they fail)

[2020-08-11 10:17] inyono opened #453 "Review assets"
Importing from `public/_assets` doesn't make sense since imports will be handled by Webpack. So either add assets to `public/_assets` and use them via absolute url or import them from somewhere in `src/`

Also: especially small SVGs can be React components (so we don't have the overhead of another HTTP request), see e.g. https://github.com/gregberge/svgr.

[2020-08-11 10:19] inyono opened #454 "Review meta images"
Doesn't seem like we return the correct meta image at the moment. E.g. https://frontend.serlo.org/api/frontend/1855 returns the global serlo meta image (instead of math meta image) although the article is in subject math. According to our tests in https://github.com/serlo/frontend/blob/8031617813237d9cc8a7bb797e7db776c9c473b6/__tests__/serlo-api.ts, it seems like only `Course` is handled correctly

[2020-08-11 10:42] Entkenntnis commented on #454
can confirm, this is a bug in the fetcher: https://github.com/serlo/frontend/blob/0a7cccbcc83d79ffd2c9d931122ba095dce62464/src/fetcher/fetch-page-data.ts#L71

`alias` -> `uuid.alias`

(also affects the cache key two lines above)

[2020-08-11 10:42] kulla opened #455 "Error while loading /62758"
The site with uuid 62758 cannot be loaded in the new frontend. URLs:

* dev: https://de.serlo-development.dev/mathe/geometrie/dreiecke,-vierecke,-kreise-andere-ebene-figuren/kreise-kreisteile/aufgaben-umfang-fl%C3%A4che-kreises
* frontend: https://frontend.serlo.org/mathe/geometrie/dreiecke,-vierecke,-kreise-andere-ebene-figuren/kreise-kreisteile/aufgaben-umfang-fl%C3%A4che-kreises
* production: h

[2020-08-11 10:44] Entkenntnis commented on #453
yes, mainly svg files

[2020-08-11 11:33] inyono opened #456 "Error while loading /informatik/baustelle/datenbanken-datenbanksysteme/anomalien-datenbanken/%22-umgezogen%22"
API request works:
[code]

[2020-08-11 15:15] Entkenntnis opened #458 "Check if user has subscribed content [api]"
The author menu needs to know if a user has subscribed an entity or not, this would be a separate API request.

Do we already have something for that?

[2020-08-11 15:16] Entkenntnis opened #459 "Use mutations to trash/restore content [api]"
Currently, the trash menu entry is a form that makes a POST request. Should we replace this button with a graphql mutation?

[2020-08-11 15:19] inyono commented on #459
Yep, definitely.

[2020-08-11 15:20] inyono commented on #458
Nope, subscriptions aren't exposed via api.serlo.org, yet.

[2020-08-11 15:21] inyono commented on #459
https://github.com/serlo/api.serlo.org/issues/53

[2020-08-11 15:21] inyono commented on #458
https://github.com/serlo/api.serlo.org/issues/54

[2020-08-11 15:21] Entkenntnis opened #461 "Add roles and translations to author hover menus"
The current implementation is a first draft. Some remaining tasks are:

- [ ] Check for user roles and only show available entries
- [x] Refactor code and avoid duplicates
- [ ] Add translations

[2020-08-11 15:40] Entkenntnis commented on #421
See #458 #459 and #461

[2020-08-11 15:41] #421 closed, assigned to Entkenntnis

[2020-08-12 09:44] Entkenntnis commented on #452
Traced the problem down to this:

![grafik](https://user-images.githubusercontent.com/13507950/90000943-1641c880-dc91-11ea-8b54-11fc78ac27f9.png)

On production, I get the correct url.

[2020-08-12 09:49] Entkenntnis commented on #454
fixed by https://github.com/serlo/frontend/commit/dff06423c99d09710666df1c42d8b012d86b9e1b

[2020-08-12 09:49] #454 closed, assigned to nobody

[2020-08-13 06:07] Entkenntnis commented on #456
damn, we need to escape double quotes, because they are breaking our graphql query :eyes:

A good reason to use graphql variables, this is fixed in staging.

[2020-08-13 06:07] #456 closed, assigned to nobody

[2020-08-13 06:12] #455 closed, assigned to nobody

[2020-08-13 06:39] Entkenntnis commented on #427
Some notes about the current comment system:

You can attach discussions to: articles, course-pages, users, text-solutions, text-exercise-groups, videos, taxonomy (topic, etc..).

A discussion can contain replies. A discussion can be open or closed. Discussions contain a link to the entity, and the type of it. Every comment has a text, a username and a time ago value.

You can start a new discussi

[2020-08-13 06:54] Entkenntnis commented on #427
[code]

A possible graphql query. We get an array of discussions. The `status` is either open or closed (or maybe flagged?), `upvotes` is a number, `entity` is the references entity. `question` is the starting comment of a discussion, `replies` is an array of the remaining comments.

[2020-08-13 07:38] Entkenntnis commented on #427
The current frontend types:

https://github.com/serlo/frontend/blob/66fbdfdc7ce0425f4fbc54715119f68f9003a2dc/src/components/comments/comments.tsx#L8-L29

[2020-08-13 07:46] Entkenntnis opened #466 "Adapt Design Template for Comments"
We have a design template located here: https://github.com/serlo/athene2-blue-gum/tree/master/src/comments

There is a rough prototype for comments in the frontend, you can view it e.g. here: https://frontend-git-comments-ui.serlo.vercel.app/physik

It would be great if we can extract the relevant styles and implement them in the frontend.

[2020-08-13 08:20] Entkenntnis opened #468 "Changes in "Sandkasten" only visible after reload"
1. Visit https://de.serlo-staging.dev/community/sandkasten/test
2. Login
3. Edit something, save.
4. You still see old content.
5. Reload
6. New content is available.